[2020-05-25 08:21] pengdafu commented on #1690
I have the same problem

[2020-05-26 04:04] niftylettuce commented on #1021
What was the resolution?

[2020-05-26 04:15] niftylettuce opened #1749 "deleted"

[2020-05-26 04:20] #1749 closed

[2020-05-26 06:11] niftylettuce commented on #1239
You should close this issue, as this is pretty easily possible:

[code]

[2020-05-26 06:12] niftylettuce commented on #1239
Also for anyone interested, I have a pretty advanced queue setup with Bull in https://forwardemail.net source code at https://github.com/forwardemail/forwardemail.net (based off my work with https://lad.js.org and https://github.com/ladjs/bull).

[2020-05-26 06:28] manast commented on #1749
I could read this message in the email notification. Seems to me like you feel a bit frustrated for some reason I do not understand. Bull is being used by thousands of people in production, but it is important to understand what guarantees and limitations you will get from Bull and Redis. All solutions will have different sets of guarantees and limitations and you need to work your way around that

[2020-05-26 06:34] niftylettuce commented on #1749
I appreciate your prompt reply, it is comforting 😄

[2020-05-26 10:10] HugoPoi commented on #1239
Can you elaborate your response to the problem ? And please don't post ads on issues.

[2020-05-26 10:51] rodrigosegatto opened #1750 "Name job add __default__"
What named field 'name' on job add?

my tasks are like __default__

[2020-05-26 12:35] matomesc commented on #1657
I'm having the same issue with `bull@3.13.0`. Some delayed jobs that are retrieved via `queue.getDelayed()` are `null`. All of these delayed jobs were created by a repeatable job.

[2020-05-26 22:37] omar-dulaimi commented on #1507
Thank you @manast

[2020-05-26 22:37] #1507 closed

[2020-05-26 23:16] #1750 closed

[2020-05-26 23:17] rodrigosegatto commented on #1750
add('name',data)
process('name',handle)

[2020-05-27 04:29] niftylettuce commented on #1239
It's not an ad, it's literally a link to how we solved this.  Look at the source code for Forward Email:

https://github.com/forwardemail/forwardemail.net/blob/master/bull.js#L44-L52

Here you can see we have a recurring job that properly is emptied on boot, then added as a recurring job, and then added as a normal job through the code I shared here https://github.com/OptimalBits/bull/issues/1239#

[2020-05-27 12:49] atullal opened #1752 "Sequential parallel queues - Question"
## Implementing many sequential queue which are parallel to each other
Hi,
For my use case I need to implement many parallel queue which will contain jobs which needs to run in sequence. The jobs would be small and not very resource intensive, what is the best way to implement this with bull.js and if it is even possible.

![Screenshot 2020-05-27 at 6 08 09 PM](https://user-images.githubuserconten

[2020-05-28 07:49] schwarmco commented on #1657
So, i finally figured it out - and i hope it helps y'all too

**Problem**

Because i haven't used `removeOnComplete` nor `clean()` on a "high-traffic" queue, the `Completed` Jobs piled up and **Redis' hit the `maxmemory` limit**.

The `maxmemory policy` was set to `allkeys-lfu` (drop least frequently used keys), which is a sane setting for Caching but fatal when dealing with jobs.

This caused the

[2020-05-28 12:15] gaganshera commented on #1701
Ran into same issue. @manast any update about a fix for this? This is preventing usage of bull as a cron-job manager in multi-clustered environments.

[2020-05-28 13:20] gcox commented on #1053
@manast Is this bug present in BullMQ or is it somehow addressed there?

[2020-05-28 13:23] matomesc commented on #1657
In my case:

- `maxmemory` not hit (usage is ~10%)
- `removeOnComplete` and `removeOnFail` set to 500
- `noeviction` policy

[2020-05-28 23:28] fraywing commented on #1111
Any update on this? Is there a way to remove a repeatable by jobId?

[2020-05-29 09:33] gcox commented on #1053
Here is a full test case that can be added to the `test_rate_limiter` test suite to demonstrate the problem:
[code]

[2020-05-29 13:40] sundowndev opened #1754 "What's the proper way to get job's results using micro services ?"
Hi, I've been working on a implementation of Bull in one of my projects and I was wondering, when the worker service lives on another machine than the API in a micro service architecture, what's the proper way to get job's result from the API ?

Is it the event pattern ? How does it work when scaling ?
Is it HTTP call from the worker to API ?

Thanks

[2020-05-29 15:08] DavideViolante opened #1755 "Jobs with attempts > 0 have different priority?"
## Description
I noticed the following in our app:
1. there are X+Y jobs in waiting queue: X jobs have priority 50 and attemps 0, Y jobs have priority 25 and attemps > 0
2. the jobs with priority 50 go into the active queue BEFORE the jobs with priority 25

I was expecting that jobs with priority 25 go before the other ones with priority 50, even if the ones with priority 25 have attempted once or

[2020-05-30 03:49] nsfilho commented on #1745
Hi! You need use a `child_process` `fork` to create a "killable" process. Because of that, for use sandbox, you will need to use a `queue.process("filename.js")` or even a typescript file (.ts).

In the main page of Bull.js show a example of this.

[2020-05-30 04:58] EmanuelAguilar74 opened #1756 "Creating queues dynamically feels kinda wrong..."
## Description
Im trying to implement a queue to handle sending of messages to whatsapp, so i need to create this queues dinamically so i cant await for the whatsapp status callback before sending the next message. Also this need to work concurrently...

I've used this code to reuses the connections.

![image](https://user-images.githubusercontent.com/11521955/83319874-7c818800-a218-11ea-8f46-2762

[2020-05-30 10:17] fjeddy commented on #1745
Right, but how does that prevent the job from stalling? Will bull terminate the process if it's not responding after a certain amount of time?

[2020-05-30 10:44] fjeddy commented on #1756
Why do you need to make new dynamic queues?

[2020-05-30 16:15] EmanuelAguilar74 commented on #1756
If $phone1 sends 3 consecutives messages, its ok to send one and  await for its status callback, for then send the next one.
But $phone2 or $phone3 should not wait...
The real problem here is that the whatsapp brokers dont have a queue of messages and messages are sent simultaneously, so they arrive in the wrong order.

[2020-05-31 01:42] EmanuelAguilar74 commented on #1754
the API initialize the worker or something?
your api is awaiting for a response? if so maybe you dont need a queue, you should try this https://threads.js.org/

[2020-05-31 15:02] seanharr11 commented on #789
I had an exception in the `on('complete', (job, result) => {...})` callback, and the exception was masquerading as `Missing lock for job` ... unsure what the reason is, but fixing the handler fixed the problem.

[2020-05-31 15:24] sundowndev commented on #1754
@EmanuelAguilar74 Yes the API initialize the worker's API in order to add jobs to queues. Queues are defined by the worker itself. So the API is the producer, the worker service is the consumer. But sometimes the API needs the job's response in order to perform some actions, and the worker does not lives in the same repository, it doesn't have access to the DB ORM.

- Is it recommended to put the

[2020-05-31 19:37] manast commented on #1754
@sundowndev the most robust way is to use another queue for passing back the results to the api, call it for example "response" queue. The api can define workers listening to this response queue and act accordingly.
https://github.com/OptimalBits/bull/blob/develop/PATTERNS.md#returning-job-completions

[2020-05-31 19:37] #1754 closed

[2020-05-31 19:43] manast commented on #1745
@fjeddy jobs stall if they are very CPU intensive and nodejs event loop is too busy to be able to renew the job lock. Since sandboxed processes run in a separate process they do not block nodejs master process event loop.

[2020-05-31 19:43] #1745 closed

[2020-05-31 19:47] manast commented on #1755
It probably has not do with the number of attempts, but rather with the retry. I found an issue in the retry script that is moving jobs back to the wait queue but ignoring the priority.

[2020-05-31 20:11] fjeddy commented on #1745
So what it does is prevent the master process from stalling (Which is quite obvious), it does not prevent the job itself from stalling, like the description claims.

[2020-05-31 20:14] manast commented on #1752
There is nothing fundamentally wrong in scaling queues horizontally as in your diagram, however it may be complicated to handle from admin point of view if you have an unbound number of queues. It will also be difficult to visualize with current UIs. Finally it may be problematic if "n" becomes too large since you may run out of connections to redis.

[2020-06-01 05:45] atullal commented on #1752
Thanks for the reply, I plan to create queues on demand and destroy queue when it is drained of jobs. Having an overlord queue to manage creation and deletion of queue as well as managing the number of queues "n" could be a solution here. This type of implementation should be okay with bull, right?

[2020-06-01 07:10] manast commented on #1745
no, it prevents the job from stalling which in bull terms means that no other worker will pick up that same job at the same time.

[2020-06-02 05:39] priya0607jain commented on #1648
I am trying to process a job at specific date and time. But it does not seems to work even after setting up the delay option. The job run immediately. Can you help out with the solution?

[2020-06-02 05:42] priya0607jain opened #1757 "Job scheduling not executing on a specified date and time"
In my Node-Express application, I need to schedule the jobs (connect with LinkedIn profiles) based on the user's selection of start time-date and end time-date from the calendar available on UI. The job is scheduled to execute on few selected batch of data until the date-time requirements are matched.

I am using npm package Bull to handle the job queues and scheduling but it doesn't seem to work.

[2020-06-02 06:31] manast commented on #1757
For Q&A and support I recommend using stackoverflow, bull gitter(https://gitter.im/OptimalBits/bull) or other similar places.

[2020-06-02 06:31] #1757 closed

[2020-06-02 08:18] priya0607jain commented on #1757
@manast I have tried reaching out there already but got no answers that's why I posted my issue here

[2020-06-02 08:20] priya0607jain commented on #1743
@mamax2015 Hi. Did you solved your issue? I am also facing the same.

[2020-06-02 08:28] Divine1 commented on #1648
@priya0607jain  if you are using mongodb in backend, i would recommend checking out [agenda npm module](https://www.npmjs.com/package/agenda), its easy to use imo.

[2020-06-02 08:35] priya0607jain commented on #1648
@Divine1 Does it support start and end date-time?

[2020-06-02 09:05] manast commented on #1757
These issues are mostly for bugs and feature requests. For support there are other channels.

[2020-06-02 11:53] alexmic opened #1758 "Trailing slash in Redis URL causes invalid db number"
## Description
When running tests on Heroku CI, the in-dyno Redis URL environment variable is set as `redis://h:xxx@localhost:6379/`. The trailing slash causes this error: `ReplyError: ERR invalid DB index`, I presume because the url parser does not check if the `/` split actually yields a valid database number https://github.com/OptimalBits/bull/blob/1898b5a5b2a8e70d3bc5aaa85097cdf521b52bc9/lib/q

[2020-06-02 15:51] rd67 commented on #1356
Same Case Here. My mongoose model imported is set as undefined. Any other method than using mongodb native package?

[2020-06-02 16:42] joebowbeer commented on #758
@manast Does this mean bull is incompatible with a Redis cluster-mode-enabled cluster? Until ioredis is enhanced? Is there no workaround?

In the meantime, can you update the Patterns doc, which provides a (broken?) example of how to use Redis Cluster?

https://github.com/OptimalBits/bull/blob/develop/PATTERNS.md#redis-cluster

[2020-06-02 16:42] rd67 commented on #1356
Got it, it was because of circular dependency somewhere in my code. If someone else faces the same situation.

[2020-06-03 03:48] yury-kozlov opened #1759 "How to lock queue between several node.js processes?"
Hi, I'm new here, and I'm trying to figure out how to set up bull, so that a repeated job of the same queue can be executed only on one instance of nodejs application at a time. Meaning if I run 2 instances of node.js app, when a job is being handled by app1, the second app will not start processing a new job from the same queue.
1) Is it possible to define some kind of distributed lock between mu

[2020-06-03 11:04] manast commented on #1759
If you have more than one worker then they can run jobs in parallel. If it is a repeatable job, the same instance of the job will only run in parallel if the time it takes to process the job is longer than the repetion interval.

[2020-06-03 14:55] jakubka opened #1760 "Ability to group jobs?"
I am wondering if bull would work for me.

In our software user has an option to modify multiple (up to 100k) entities at once. Modifying one entity means making one HTTP call, but that's an implementation detail. We need to have a queueing system for managing those jobs as they can take quite a long time.

`bull` looks super promising, but I didn't find an option to group jobs to achieve two thin

[2020-06-03 18:54] yury-kozlov commented on #1759
Do I understand right that if repetition is 10 sec, and job is being handled on app1 for say 12 sec (and haven't yet completed), then app2 will start this job in parallel ?
Is it possible to prevent this ?
I only need one job at the same time, even if it takes longer to process it.

[2020-06-03 20:59] manast commented on #1759
then you need to implement a separate mechanism on top of bull.

[2020-06-03 21:16] #1759 closed

[2020-06-03 21:32] DmitryOlkhovoi opened #1761 "Not all jobs go into queue"
## Description

I add jobs like that
[code]
This results in adding one job with the first one item as data.

If I remove this setting
[code]
- all jobs are creating

Is it a bug? How I can add several repeatable jobs?

## Bull version
latest
## Additional information

[2020-06-04 07:33] DmitryOlkhovoi commented on #1731
Looks like similar bug https://github.com/OptimalBits/bull/issues/1761

[2020-06-04 08:56] manast commented on #1761
you can only have 1 repeatable job with a given ```every``` parameter, it is a current limitation in bull.

[2020-06-04 08:59] DmitryOlkhovoi commented on #1761
@manast within a particular queue? Can I have multiple repeatable jobs in different queues?

[2020-06-04 10:05] manast commented on #1761
yes

[2020-06-04 10:09] #1761 closed

[2020-06-04 11:24] DavideViolante commented on #1755
Is there a date when this is going to be addressed?
Is there a previous version that is not affected? If not, is there a way to force programmatically the waiting jobs priority 25 attempts>0 to go into active queue before others?
Thanks

[2020-06-04 16:36] sundowndev opened #1762 "Builtin backoff strategies not explained in documentation"
## Description

Builtin backoff strategies "fixed" and "exponential" are mentioned in the docs but not explained, what those strategies are doing ? Can it be combined with `attempts` option ?

Thanks

[2020-06-04 18:23] epechuzal commented on #1731
I also want to add that `addBulk` does not work with jobs that repeat with a cron expression, e.g.
[code]
If you have code like this, then two unexpected issues will happen:
- the jobs will execute immediately rather than wait until the designated cron time
- the jobs will also never repeat, as mentioned by @jtassin above

Solution would be to either add support for bulk adding repeatable jobs to

[2020-06-04 18:37] cjancsar commented on #1334
Any way to fix this?

[2020-06-04 19:36] manast commented on #1755
I cannot give a date. But PRs are welcome of course.
I do not think this is a regression because the code for it is missing, likewise the unit tests.

[2020-06-04 19:37] manast commented on #1762
yes attempts can be used with backoff strategies.

[2020-06-04 19:40] manast commented on #1731
addBulk does not support repeatable jobs, and I do not think it is worth implementing. The idea of addBulk is to remove overhead when adding huge amounts of jobs, it does not make so much sense for repeatable jobs which usually are not so many.

[2020-06-04 19:43] epechuzal commented on #1731
Makes sense to me - might be worth adding some kind of type check to stop jobs being added like this, or at least adding to declaration or documentation that it is not supported

[2020-06-04 19:59] DavideViolante commented on #1755
Ok thanks.
Do you think using the `delay` field applied to the X jobs (priority 50) can be a good workaround to prioritize the Y jobs (priority 25)?

[2020-06-04 20:05] thelinuxlich commented on #1373
that would be very cool, also support for Elixir!

[2020-06-04 20:06] manast commented on #1755
maybe works for your use case, there may be edge cases where it does not work as you expect.

[2020-06-06 02:40] jellohouse opened #1763 "Returning Promise.resolve() inside async.series"
I have a queue with a separate process defined like this:
[code]

And my `./processes/upload.js` file is structured like this:

[code]

For some reason the promise does not resolve anywhere inside the async series.. nor in the series functions or its final function. The code will keep going properly all the way down until i return the Promise.resolve(), and at that point it seems to just stop and

[2020-06-06 07:38] damcorp commented on #1690
I have the same problem too. sometimes it just stuck when I add thousands of jobs. it just stuck until i restart them

[2020-06-06 11:02] manast commented on #1690
This code is incorrect:
[code]

Basically when you throw an exception you will just log the error but never finish the processing, therefore the worker will be busy forever doing nothing.

[2020-06-06 11:02] manast commented on #1690
@pengdafu & @damcorp please provide code that reproduces the issue. There is no known issue in Bull where jobs gets "stuck", this is most probably a problem in your own code.

[2020-06-06 11:03] #1690 closed

[2020-06-06 16:17] jellohouse commented on #1763
For some reason it worked by structuring like this... kinda ugly though
[code]

[2020-06-06 16:17] #1763 closed

[2020-06-06 16:43] jellohouse opened #1764 "Correct way to return a server response when a job is complete"
What is the correct way to return a response when on a POST request a job is added to a queue and it should return the response with a result from the job when it is completed?

When I return a res for express routing, it only does for the first job in the queue but after that for second job it only does the logs before the return.

[code]

And I can't put `myQ.on('completed', function(job, result

[2020-06-06 20:05] jaschaio commented on #962
Trying to use @prithvin suggested solition using `ioredis-mock` but with `bull:v3`. If I add a job with options like `queue.add( 'name', {}, { delay: 900000 } )` I get a weird error:

[code]

[2020-06-06 23:25] jellohouse commented on #1764
Structuring like in this comment really helped me out :)

https://github.com/OptimalBits/bull/issues/1452#issuecomment-527220729

[2020-06-06 23:25] #1764 closed

[2020-06-07 03:37] jellohouse opened #1765 "Express middleware function to queue a whole API request"
I got very close to an elegant solution like this:

[code]

However this only worked when I hit this endpoint once, if I hit it again I got an error from bull saying that you cannot redefine the process... how unfortunate eh!

This would really be a nice way to queue entire requests to a rest API.

Anyone has or sees a solution for something like this?

[2020-06-07 14:01] manast commented on #1763
@jellohouse you need to revisit what promises are and how they work in order to understand why your code above does not work.

[2020-06-07 15:24] jellohouse commented on #1765
You can't redefine the q process but you can redefine the q 'on' progress.
So I solved by doing a something like this:
[code]

[2020-06-07 19:09] manast commented on #1765
registering a listener for every call is going to end bad...

[2020-06-08 09:58] theo-lubert commented on #789
We also have this issue, but without any specific configuration (just `host` and `port`), no custom redis client, and no prefix.
We have as simple winston log on workers `completed` event, no exception and no long running task in the event handler.

[code]

[2020-06-08 15:12] jellohouse commented on #1765
Yes you are absolutely right!
I put a console log inside the on('progress') event, and every time I hit that endpoint the there's one more log than the previous time..
So I will move things around for now and implement my queue later in the code.

The reason I want it right from the start is that I'm using the multer middleware for uploading files, and I would like my queue to start before multer

[2020-06-09 10:14] amtdevops opened #1766 "Jobs stuck in the active queue"
Hi,
I am adding running a crawler process to fetch some data from the internet and save it in a file. Everything working for me but when the process executes in a long time, I can see some of my jobs are stuck in an active state, it's not completing/failing. I tried with 'timeout' but didn't work for me. Also noticed when I restart my workers, the jobs in the active state doubled say if it '3000'

[2020-06-09 15:02] tnolet commented on #1762
Trying to figure out too how backoff's work. They do not seem to do anything.
The code below just does two attempts right after each other. No backoff.
[code]

[2020-06-09 15:26] manast commented on #1762
Until the documentation is up to date I recommend you to check the tests for reference: https://github.com/taskforcesh/bullmq/blob/master/src/test/test_worker.ts#L1058

[2020-06-09 15:27] sundowndev commented on #1762
@tnolet I currently use fixed backoff with delay in production and it works well:

[code]

5 attempts with 30sec between each try. I still don't know what's the difference between fixed and exponential tho.

[2020-06-09 15:31] manast commented on #1766
you should not use "done" and return a promise, either use the done callback or return the promise but not both.

[2020-06-09 17:01] SEdilson opened #1767 "Running Bull on Production environment"
I'm trying to run bull at AWS Elastic Beanstalk but I'm getting the following error:

[code]

Here's the code I used to run bull:

[code]

When I run at dev environment it works but once I try to run at production doesn't work. What can I do to make it work on production environment?

[2020-06-09 20:10] manast commented on #1767
Please refer to beanstalk documentation since this issue is not bull related.

[2020-06-09 20:10] #1767 closed

[2020-06-10 00:31] meetbryce commented on #1098
Any chance this feature is still on the cards?

[2020-06-10 03:52] amtdevops commented on #1766
Thanks for the response, edited my code, it was copy/paste mistake.  I am only using promise, not using done(). Am I doing anything wrong in implementation?
@manast

[2020-06-10 07:02] manast commented on #1766
You can simplify the code much more. You don't need to create a new wrapper promise since the rest of the code is already promise based, you don't need to try/catch since you can just return a promise and the try/catch is handled by bull, etc. I also recommend you use async/await which will make the code much easier to follow and help you spot the bug.

[2020-06-10 10:35] amtdevops commented on #1766
@manast Thanks for your suggestion. I will try that way.

Let me know your thoughts about stuck jobs in the 'active' state. Some jobs in the active state are processed (ie 'processedOn' timestamp) on a long time ago but never finished.

I am running my application with minimum Redis server, so I am running a watcher function in the background to check the number of jobs in Redis, if the job counts

[2020-06-11 06:47] bitrecipe commented on #1765
@jellohouse rather than saving whole request object inside the queue, you can save request in an object as key value pair such as { randomJobId: requestObject },
I dont know whether it is usefull for you, below sample snippet
[code]
remeber reqRes is in the current process memory, so don't let it grow indefinitely it will eat up your memory

[2020-06-11 07:39] stigvanbrabant commented on #962
Someone that got this to work with bull v3? For some reason when i try @prithvin solution my test suite gets stuck (without any errors getting thrown).

[2020-06-11 09:42] jaschaio commented on #962
@stigvanbrabant I didn’t and ended up switching to bullmq and just starting a Docker container with redis before running the test suite.

[2020-06-11 10:10] DavideViolante commented on #1755
I tried it and it seems it doesn't work with delay either.
Waiting for a fix.

[2020-06-11 10:16] DavideViolante opened #1768 "removeJobs function returns redis error"
## Description
Not sure if Bull bug or something else.
I'm trying to call `queue.removeJobs(pattern)` with `pattern = "12345*"` but it returns:

[code]

## Bull version
v3.14.0

[2020-06-11 10:21] EthanOrange commented on #1760
Look like is cluster mode?

[2020-06-11 12:11] manast commented on #1768
hmm, that strange, are you running in a master-slave setup?

[2020-06-11 14:49] DavideViolante commented on #1768
No

[2020-06-11 15:06] sundowndev commented on #1760
Why would you wait for the request to finish then ? The concept of background job is... to run tasks in the background. I'd probably use HTTP to create the task, then refresh items periodically. Using a worker to keep making things sync is non-sense to me.

[2020-06-11 15:39] jakubka commented on #1760
Yeah we'd run the queues in cluster mode to increase throughput, but still I think the feature to group jobs is not there.

[2020-06-11 15:40] jakubka commented on #1760
I didn't not phrase this well. What I wanted to say is that one job would be making one HTTP call. But that doesn't matter much as bull is generic. We can do whatever we want inside the job.

This is exactly how we plan to do it.

[2020-06-11 15:46] manast commented on #1768
can you provide a complete example that reproduces the issue?

[2020-06-11 16:11] sundowndev commented on #1760
What you can also do is just create a queue to delete N items. The queue takes an array of IDs, your client make an HTTP call to your backend with N IDs as data, backend creates one task in this queue.

To follow progress, you can create a route on backend that'll retrieve the job's UUID inside Redis and check for the progress. But I think this feature is pointless.

[2020-06-11 18:48] jakubka commented on #1760
N can be 100k. Would bull handle it well if we had a task to process 100k items which can take tens of minutes? Hmm it doesn't sound like it was built for this. Every item should be one job/task in the queue I'd say.

[2020-06-11 18:49] jakubka commented on #1760
What about dynamically creating a queue for every bulk action? Is that something which bull would handle well? We'd most likely need to store the list of queues somewhere else, but that's easily doable.

[2020-06-11 19:10] sundowndev commented on #1760
Yes you're right, 100k is a lot, forget this solution then.

I don't know but I think Bull is based on Redis pub/sub. You can do your own benchmark, see this discussion about pub/sub performances: https://groups.google.com/forum/#!topic/redis-db/R09u__3Jzfk

[2020-06-11 19:44] bymartinez commented on #1747
I have this same issue, any updates with this issue?

[2020-06-12 04:03] ejarnutowski commented on #1603
@tvedtorama, could you please provide an example of code that worked for you?  Just running into this issue now.

[2020-06-12 14:39] rmzoni commented on #1739
I am facing the same problem. At some point the delay counter is negative and the repeatable job is no longer scheduled.

[2020-06-12 17:07] ejarnutowski commented on #316
What's the outcome of this?  Is `attemptsMade` treated as if it were `failedAttemptsMade`?

[2020-06-12 18:10] sriramr98 opened #1769 "Repeatable jobs creates a new ID after each execution"
## Description
When a repeatable job is scheduled with a cron, we get an ID with the pattern `repeat:`. This ID changes every time the job gets processed regardless of it being a success or failure.
Moreover, if we pass a custom ID to `jobOpts` when creating the job, the ID for the job is not being replaced but still getting the default `repeat:` formatted ID.

## Minimal, Working Test code to rep

[2020-06-13 15:58] mseshachalam commented on #1739
One observation: if the current run didnt handle any jobs, restarting the worker process picks them up.

[2020-06-14 14:33] manast commented on #1760
@jakubka

| jobs from different groups would be processed in parallel - so that one customer doesn't block other.. they just slow each other down

Although not exactly the same, we are working in a new function that allows you to rate limit based on a job data key (https://github.com/OptimalBits/bull/pull/1753). This means you could put a limit on how many jobs a given "group" may be able to proce

[2020-06-14 14:41] manast commented on #316
yeah, unfortunately this mistaken was done and as been kept like this for several versions.

[2020-06-14 14:41] #316 closed

[2020-06-15 07:01] jakubka commented on #1760
Nice 👍 I started watching #1753. Parent-child relationship sounds like they might do it. Is there any page with more details about this feature so I can check if it would fit?

[2020-06-15 14:28] gabegorelick commented on #1747
I think this is correct. Existing Redis connections may be used by others, so it's not safe for Bull to close them on queue close. Using this behavior to pool connections between Bull and other clients is very common.

The blocking client cannot be used by others, since it blocks. In other words, Bull completely owns it. So it's safe for Bull to close.

So I'm not sure there's much of a bug here.

[2020-06-15 14:40] gabegorelick commented on #1707
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/BigInt

That being said, Bull could probably handle this if it's a common request.

[2020-06-15 14:45] gabegorelick commented on #1665
If you look at the implementation of `Queue.prototype.process`, you can see it calls [`setHandler`](https://github.com/OptimalBits/bull/blob/0b7a73a6de028a27c1888bd7c8b7aa6b5ab19312/lib/queue.js#L625). This tracks processors in a `handlers` object. So `Object.values(queue.handlers).length` should give you the number of processors for `queue`.

[2020-06-15 14:47] gabegorelick commented on #1644
Returning a rejected Promise definitely works. Can you provide your full code?

[2020-06-15 16:35] dobesv commented on #1747
Maybe the documentation just needs to be updated to make this clearer.

[2020-06-19 02:48] Saulolxx opened #1771 "Run queue groups [Question]"
I am developing an application that needs to make several HTTP calls asynchronously, and then I need to take the result of those calls and perform a processing. I was wondering if the bull could be useful for this task, how can I process several jobs and then get the result of all to do the processing.

[2020-06-19 15:53] sjovanovic commented on #1577
I can confirm this - can't get rid of an active job.
Example Job that reproduces issue for me (next is not called):

[code]

[2020-06-19 22:33] gabegorelick commented on #1747
It mentions some of this in [PATTERNS.md](https://github.com/OptimalBits/bull/blob/fa3b557e32581712e8f84a2c9982ec88adf4eb95/PATTERNS.md#reusing-redis-connections), but it could be clearer:

I don't think `createClient` is documented in https://github.com/OptimalBits/bull/blob/develop/REFERENCE.md so there's definitely room for improvement.

[2020-06-20 16:19] manast commented on #1771
This is a duplicate of this one: https://github.com/OptimalBits/bull/issues/340

[2020-06-20 16:19] #1771 closed

[2020-06-21 04:23] felinto-dev opened #1772 "How to use Bull with Typescript"
Do you have any example code for use Bull with Typescript?

I'm trying the code below but I'm getting some errors.

[code]
[code]

[2020-06-21 15:50] suchakraborty commented on #1655
There is a log method within the job.
**Documentation:**
* https://github.com/OptimalBits/bull/blob/develop/REFERENCE.md#joblog
* How to access it from the queue https://github.com/OptimalBits/bull/blob/develop/REFERENCE.md#queuegetjoblogs
* Behaviour: https://github.com/OptimalBits/bull/blob/1898b5a5b2a8e70d3bc5aaa85097cdf521b52bc9/test/test_job.js#L511-L528 shows that the job logs are available

[2020-06-22 06:45] tvedtorama commented on #1772
I use this import statement:
[code]

The just:
[code]

[2020-06-22 08:34] tvedtorama commented on #1769
I'm having a similar problem.  I create the repeatable job with an id, and then find a regular job with another id in the queue.

The job in the queue seems to be created from the repeat-spec each time the repeat is processed. Then the payload etc is copied from the last instance into the new.

The repeatable job, found with `getRepeatableJobs` holds our id, but not the payload.

I try to correlat

[2020-06-23 01:55] dbronin commented on #1746
@manast @dobesv @tnolet Any movement on this? This is a bit scary in production. I am almost ready to fork just to fix this; an infinite loop is not okay (I ran into it and it was not pretty). Thanks

[2020-06-23 05:36] dobesv commented on #1746
We just stopped sharing redis connections, it seems to be a bit problematic in general.  We don't have a ton of workers and queues right now, though.

[2020-06-23 09:57] SokratisVidros opened #1773 "Replace ioredis with redis package"
## Description

Has any tried to use redis package instead of ioredis with Bull.js? I am facing some weird connectivity issues between Redis and our K8s apps so I thought I could give it a try.

Thanks.

[2020-06-23 09:57] sherifelkelesh commented on #1637
@manast I'm trying to use getJobs() using this
`await this.queue.add('bull-auto-clean', { queue: this.queue }); // run once a day at 22:00
      const jobs = await this.queue.getJobs(['acitve']);`
and I always get an empty array? any thoughts?

[2020-06-23 10:05] manast commented on #1773
redis was replaced by ioredis some years ago since it was better maintained. If you can find a connectivity issue depending on ioredis I am quite positive the team at ioredis will look into it.

[2020-06-23 10:33] SokratisVidros commented on #1773
Thanks a lot @manast

[2020-06-23 17:08] dbronin commented on #1746
@dobesv Does that resolve the infinite loop problem completely? Thanks.

[2020-06-23 17:26] dobesv commented on #1746
It does resolve it.  This is because you will no longer close the redis client separately from the queue shutting down, and the queue's normal shutdown process does not cause the infinite loop but does close the redis connection if it created it.  Note that you must provide redis connection options rather than a `createClient` function as well, otherwise you will have to close the redis connection

[2020-06-23 17:37] dbronin commented on #1746
I see; thank you. I'll have to play with it now as the code heavily relied on reusing connections.

[2020-06-24 07:04] vietvu-nguyen opened #1774 "queue.add: unable to pass a function as a property in data"
## Description
I am trying to pass a function as property in data when adding a job to my queue, but it is always `undefined` in `queue.process`. I guess because of [this](https://github.com/OptimalBits/bull/blob/0b7a73a6de028a27c1888bd7c8b7aa6b5ab19312/lib/job.js#L167), the function is removed. One solution is to pass `myFn` as a global variable into `anotherFn`, but I would like to limit the use

[2020-06-24 08:04] vietvu-nguyen commented on #1774
passing`myFn` as a global variable into `anotherFn` seems to be the only option for now

[2020-06-24 08:04] #1774 closed

[2020-06-24 09:42] tnolet commented on #1746
@dbronin @dobesv @manast there is no progress on this and it is a very high risk on production. My initial PR is not good enough because we cannot get clarity on what "introducing a delay" means or what it impacts.  https://github.com/OptimalBits/bull/pull/1674

[2020-06-24 12:29] aramix commented on #1760
@jakubka we are using bull for processing a queue with a couple of millions records and it seems to be able to handle them ok enough.

[2020-06-24 16:24] pruhstal commented on #1772
`import { Queue } from 'bull'`

[2020-06-25 08:48] mythio commented on #1762
Suppose your worker throws error, and the job fails, does removeOnFail: false, keep the job in the queue?
I have
[code]
It removes the jobs whatsoever.

[2020-06-25 20:13] dbronin commented on #1746
@tnolet That is unfortunate.

@dobesv @manast In case this helps anyone, I ended up passing the reconnectOnError function in the redis options and looking for err.message to include "OOM command". Once it hits, I set all bull clients' and subscribers' options (autoResendUnfulfilledCommands to false and maxRetriesPerRequest to 0) and disconnect all clients, subscribers, and close all bull queues.

[2020-06-25 20:49] TayfunCesur commented on #1577
Same here, it seems `removeRepeatable` doesn't work. Repeatable job still triggers `process` function and logs the time.
Any ideas?

**package.json**
[code]

**index.js**
[code]

I already looked at this https://github.com/OptimalBits/bull/blob/develop/test/test_repeat.js#L362

[2020-06-25 21:02] TayfunCesur commented on #1680
It seems issue still has not any fix. I am facing same issue with removeRepeatable method also.
Please have a look : https://github.com/OptimalBits/bull/issues/1577#issuecomment-649810226

[2020-06-25 21:12] manast commented on #1577
The code above is wrong, starting with this line
[code]

Since ```conf``` is not a valid option.

[2020-06-25 23:11] TayfunCesur commented on #1577
Hello @manast , thanks for you answer. Actually I didn't understand why it is not valid option because job is working as expected. `conf` has all the needed keys, repeat for `JobOptions` and every for `EveryRepeatOptions`.

Can you give me an insight about the mistake please?

[2020-06-26 07:20] StephRicardo commented on #1769
I am also experiencing this issue, and it has made it challenging to remove repeatable jobs without emptying the queue.

[2020-06-26 09:03] fdbdr1 opened #1775 "Priorities do not work"
## Description

We use Bull for the handling of tasks that would cause load spikes on our database and to tackle concurrency issues.
Priorities were a major pro of Bull but it seems that they are not functional.

While it could work with few jobs as tested in the repo, it doesn't in our case.

We have 5 different priorities and in one batch, 15k single jobs are created with one of the 5 priorities

[2020-06-26 21:47] mythio opened #1776 "Detach .process listener"
1. How to detach `Queue.process()` listener? I want to process n jobs, and then detach. Once I trigger this operation, the operation should resume. However due to lack of (unupdated) docs, this has been really hard to figure out.
2. What happened to Queue.getNextJob()??

[2020-06-27 07:59] sriramr98 commented on #1769
The workaround I figured out to clear out jobs is something like this.

When I create a job, depending on the job type, I add a prefix `repeated::` or `delayed::`. You can pass in this ID when creating a Job in JobOpts (This still won't override the autogenerated repeatable job ID. I'll get to that).

When you need to cancel a job if it's a repeatable job (Remember you added `repeated::` prefix),

[2020-06-27 09:01] manast commented on #1762
@mythio please do not ask unrelated questions in the issues. You have already asked the same thing in three different places.

[2020-06-27 09:11] dattp opened #1777 "Can't set port when using redis."
#### I cannot set port when using redis.
* code
`
const userQueue = new Queue(CONSTANT.QUEUE_NHA_TRUONG, {
  redis: {
    host: localhost,
    port: 10779
  }
})
`

* I want to set the `port = 10779` but when I start the server I get the error `Error: Redis connection to localhost: 6379 failed`

* Why does the log say that port `6379` is not port `10779` as I have configured!
* thankyou!

[2020-06-27 09:44] manast commented on #1777
I am not sure what you are doing but specifying the port works. In your code above your specification of localhost is not valid syntax.

[2020-06-27 09:52] #1777 closed

[2020-06-28 00:28] aberba opened #1778 "Trigger a job from a difference server"
I would like to implement bull job queue using two server instances, an app server and a jobs server. I'm not sure how its possible to trigger a job from the jobs server using Bull. Can you please show the API for doing something like that?

Also how do I schedule a job to be executed at a future time? I can't find such an API. Maybe I'm missing something.

I've been using Agenda so its why I'm as

[2020-06-28 09:36] felinto-dev commented on #1772
I'm getting errors using the two ways:
![Screenshot_262](https://user-images.githubusercontent.com/32253743/85943909-824ab600-b909-11ea-8a01-f1f0a699bd2d.png)
![Screenshot_263](https://user-images.githubusercontent.com/32253743/85943921-a4dccf00-b909-11ea-9273-60814c5047f7.png)

[2020-06-28 18:12] gcleaves opened #1779 "Delays, concurrency, limiters, oh my! (question)"
Hello. My goal is to run multiple jobs concurrently but staggering each job launch because start up is resource intensive. I thought I could use the Rate Limiter or Delay to accomplish this, but I am not able to.

I have job processors spread across multiple servers. Multiple jobs are added to the queue at the same time by a single server. I want each job processor to run multiple jobs concurrentl

[2020-06-29 21:17] #1274 closed

[2020-06-30 23:22] theoephraim commented on #1546
+1 - this is very necessary to handle more complex rate limiting scenarios.

@chris72205 - did you ever find a better workaround?

[2020-07-01 00:24] jmif commented on #1202
We ran into this as well just recently on 3.10.  Reading through the process child code it looks like sub processes used to execute jobs are only cleaned up when the queue itself is cleaned up.  Because child processes are never killed we can get into a situation where a significant number of idle processes are consuming memory.  I haven't been able to identify specific steps to repro but an initi

[2020-07-01 00:57] chris72205 commented on #1546
@theoephraim yes and no... the workaround I settled on is a bit hacky but ultimately worked.  I ended up adding an "internal" property to our jobs that we use to store some meta info about the job itself (number of retries, previous errors, etc) and do a check on the jobs when they emit a [`failed` event](https://github.com/OptimalBits/bull/blob/develop/REFERENCE.md#events) to determine if the job

[2020-07-01 03:02] pruhstal commented on #1772
Ah, my bad. Thought this was the bullMQ repo (TS-based).

You can import like so: `import Queue from 'bull';`

[2020-07-01 06:50] amit777 opened #1783 "Adding job from another language (php,perl,Ruby etc)"
We rolled our own simple queue system with Redis and have components in different languages that can push jobs into the queue. Is there a documented or recommended way to do this with bull?

[2020-07-01 08:06] manast commented on #1783
The easiest way right now is to pick the "addJob" lua script and try to use it from the other languages...

[2020-07-01 08:30] manast commented on #1546
Do you think this will help in resolving this issue? https://github.com/OptimalBits/bull/pull/1753

[2020-07-01 14:43] theoephraim commented on #1546
@manast - that could help some for some simple scenarios where jobs can be bucketed easily.

In my case, I have several different rate limits that need to be checked (per user, per org, and then per api token being used), so a single bucket doesn't work. Additionally, I may make an api request and get back a "youve been rate limited" response. In any of these cases, I just want to retry the job af

[2020-07-01 14:45] theoephraim commented on #1546
@chris72205 thanks for taking the time to explain your solution - very helpful. I already have a wrapper around each job handler, so was able to do something similar and re-enqueue a new job, but I'll see if hooking into the backoff strategies or error event handler may simplify some things. Cheers!

[2020-07-01 17:02] jmif commented on #1202
@manast makes sense, I haven't been able to find a code path that could be a likely cause but I can definitely say deploying that cleanup code (no other changes went out with it) has completely resolved our memory issues.  We're also using rate limiting on many of our queues and we set a concurrency limit (usually between 1 to 3).  We're also running about 30 different queues from the same master

[2020-07-01 17:52] meammeiam opened #1784 "Retrying active jobs after power failure"
## Description

I am using bullmq.

If a job is being processed and there is a power failure or if the worker process is shutdown while processing a job, when power is restored or the worker process is restarted then the job gets stuck as active. It never fails if there is a power failure and is never retried when power is restored. I tried using the timeout option, but that didn't fail the job af

[2020-07-01 19:37] DavideViolante commented on #1202
@manast I would recommend you to [check again the changes between these 2 versions](https://github.com/OptimalBits/bull/compare/v3.4.8...v3.5.2), because at the time I tested I was 100% sure that the memory leak is present in v3.5.2 and not present in v3.4.8.
Summarizing all the info from the people that reported the memory increases:
- it happens after v3.4.8
- it happens with many queues and man

[2020-07-02 13:11] ronnn commented on #1739
Maybe this is fixed by 10a9eae35abb7ac8af952182409db3f83b9ff474 since version 3.14.0+?

[2020-07-02 14:23] amitpareek49 opened #1785 "Retry a failed job until the job completes successfully or number of attempts made has exceeded."
#939  Description
I am trying to use run a job and insert it to the queue. In certain cases if the job fails, then is it possible to retry immediately (before processing the new messages in the queue) until the job completes successfully?

When i try to retry a failed job, the job runs but if there are messages added to the queue they are processed before the current job is complete. I am not sure

[2020-07-03 01:40] dbettini commented on #1743
Yes, `startDate` does nothing for me. I basically have the same example as @mamax2015 , and put `startDate` 5 minutes in the future, but the job starts immediately and gets repeated every minute.

[2020-07-03 02:14] dbettini opened #1786 "Neither `startDate` nor `delay` works for starting a repeatable job sometime in the future"
## Description

The idea is to start a repeatable job sometime in the future, defined by a provided date. After that moment, the job should execute and keep repeating according to the provided cron.

## Minimal, Working Test code to reproduce the issue.
I have tried two approaches, using `startDate` and `delay`:
[code]
In both cases, the job runs immediately at the start of the next minute and rep

[2020-07-03 02:16] suchakraborty commented on #1779
I am new to bull but I am enjoying using it, so, let me take a stab at this. I am sure somebody with more experience will correct me if I am wrong.

job processors themselves do not run things in parallel, but you can ask Bull to have up to n job processors. If you notice the method signature of a processor it gets 1 job in argument.

To make things a little easier to talk about, let me change you

[2020-07-03 02:33] suchakraborty commented on #1783
I was using express and bull-master - so my solution was to expose an API by adding an endpoint in each queue `/<queue>/add` that takes the JSON from POST body as job data to that queue. So as long as I can form a JSON and send an HTTP POST - I can add a job.

[2020-07-03 08:05] mseshachalam commented on #1739
Tried with "bull": "^3.15.0", seems not fixed

[2020-07-03 09:02] manast commented on #1785
It is adding it to the front of the queue, however the retry is not atomical so some job may lurk in before it manages to reprocess the failed job.

[2020-07-03 09:14] manast commented on #1779
@suchakraborty thanks for answering. Regarding rate-limiter, it is not per bull instance, it is for the queue globally, that allows you to have as many processors as you want and still being able to define a global limiter. A PR that is in the works will allow to have different rate limiters per queue based on a job data field though: https://github.com/OptimalBits/bull/pull/1753

[2020-07-03 11:39] dienhoa opened #1787 "Uncaught TypeError: uuid is not a function"
###  Description
I got error **Uncaught TypeError: uuid is not a function** when create a new Bull. I found in bull/lib/queue.js import and use uuid as below

[code]
Which I think it is a deprecated version of uuid.

In the current documentation of uuid, I found we should include the version when calling. https://github.com/uuidjs/uuid . For example:

[code]

This issue is reported elsewhere you c

[2020-07-03 12:01] manast commented on #1786
If you test that exact code in a brand new queue, does it still not work? Because I am seeing this behaviour on existing queues, where startDate was already set to some value, and since you currently cannot update a given repeatable job options it will not work as you expect.

[2020-07-03 12:16] dbettini commented on #1786
Hm. I tried manually deleting all bull records bound to this queue from Redis, and it does indeed work correctly. However, I don't understand why it didn't work before, because before I ran the code shown above I always did:
[code]
Also, I tried ``await jobs.map(j=>j.remove())`, but for some reason it says `j.remove is not a function`, although it is documented [here](https://github.com/OptimalBit

[2020-07-03 12:58] manast commented on #1786
yes, the text is correct, but the signature is incorrect, it does not return jobs, it returns the configurations.

[2020-07-03 13:03] manast commented on #1786
I am aware it is a bit confusing that the startDate does not get updated when you add the exact same repeatable job, this happens because if the repeatable job already exists then it is not replaced by the new one just ignored, not sure how to solve this without some large changes in the design.

[2020-07-03 13:43] dbettini commented on #1786
I am aware of that, but if I use `removeRepeatableByKey` and remove all repeatable jobs, shouldn't adding it with a new `startDate` to the queue after that work as expected?

[2020-07-03 15:01] manast commented on #1786
yes, that should work.

[2020-07-03 17:33] dbettini commented on #1786
It does not. After removing everything from Redis manually and starting the script, everything works fine. However, if a job was scheduled, restarting the script (which clears all repeatable jobs before adding) results in jobs firing immediately, as if the previous job was not removed. Looking at their ids, here's what I found by logging all job lists at startup, after using `removeRepeatableByKey

[2020-07-03 19:05] manast commented on #1786
Regarding:

I recall having fixed an issue where the jobs where not removed from the delay set, I will look into it again.

[2020-07-03 19:41] joebowbeer commented on #1787
Bull depends on uuid@3.4.0

[2020-07-03 19:48] joebowbeer commented on #1747
The documentation should mention that the connections created by `createClient` are not managed: the provider is responsible for these.

In practice, that means the provider needs to maintain a collection of clients per queue, and disconnect them after the queue is closed.

[2020-07-03 20:12] dobesv commented on #1747
I've created a couple of PRs to the documentation to help people avoid this problem.

[2020-07-04 09:43] manast commented on #1787
I am not sure I understand what is the issue here. You are importing uuid in your own application and get an error, how is that related to bull?

[2020-07-04 11:01] dienhoa commented on #1787
I think I misunderstand how the dependencies in TypeScript works. I think each dependency control their own dependency. I will try to downgrade uuid and check if my code works. Thanks for your help :D

[2020-07-05 15:24] amitpareek49 commented on #1785
Thanks @manast for your response. Do you suggest any alternative solution for handling the above use case?

[2020-07-06 11:57] niftylettuce commented on #1659
@manast can you make a PR and publish a new version with this?  I would gladly sponsor your efforts on GitHub and/or send you a PayPal tip!

[2020-07-06 13:40] ronnn commented on #1739
We're using Bull for repeated jobs only. About 1-2 weeks ago I saw the behavior you described. Jobs were working fine for some time but suddenly processing stopped. Since we upgraded to 3.15.0 we didn't see this behavior anymore.

I set up a minimal example with your code, Node 12.18.1 and version 3.15.0 of Bull locally. Until now (about 3 hours) everything is working fine. How long do you usually

[2020-07-06 16:48] adisakshya commented on #1733
Hey, @pshaddel did you find some solution for this issue yet?

[2020-07-06 17:29] pshaddel commented on #1733
Hey, @adisakshya
No, I didn't find any solution other than removing and adding the job.

[2020-07-07 03:48] mseshachalam commented on #1739
The issue I observed is not about "jobs not running after sometime". I am facing an issue where if I restart the worker process, it will not pick up any jobs to process. So each start of the worker process behaves differently. Hope I am clear. Let me know your thoughts.

[2020-07-07 06:26] niftylettuce opened #1792 "queue.empty() does not seem to be working"
I have a script that does `queue.empty()` followed by `queue.add()` in serial for a job that is recurring.

For some reason, the queue is not actually emptied, and all previous recurring jobs are still there (possibly locked/stalled).

This causes major issues obviously as the queue cannot complete and no jobs can be processed.

Source: https://github.com/forwardemail/forwardemail.net/blob/master/

[2020-07-07 06:35] niftylettuce commented on #1739
Same issue here, I also experience this issue (related to repeated jobs, where I try to clear the queue of them before adding https://github.com/OptimalBits/bull/issues/1792).

[2020-07-07 13:02] oavanruiten commented on #1786
If possible, try using removeRepeatable.

removeRepeatableByKey does not delete delayed job at the moment as mentioned here:
https://github.com/OptimalBits/bull/issues/1277#issuecomment-534939664

Maybe it should, as the difference in behaviour is not expected...

[2020-07-07 13:16] dbettini commented on #1786
@oavanruiten thanks! I definitely expected those two methods to have the same behavior, so I didn't even test it. It does seem like it should be the case. I hope that, if authors decide to do it for consistency, they keep `removeRepeatable` behavior. @manast any thoughts on that?
Also, looking at [removeRepeatable](https://github.com/OptimalBits/bull/blob/develop/REFERENCE.md#queueremoverepeatable

[2020-07-07 13:25] oavanruiten commented on #1786
@dbettini You are right about the repeatOpts. I store these opts to remove the repeatable job later on. Looping over the getRepeatableJobs should work, but is indeed far from ideal.

[2020-07-07 14:31] james-siteclick commented on #1768
I get the same issue.  Here is an example script:

[code]

On my local machine this works, however on AWS with Elasticache I get the error described above.

[2020-07-07 15:07] DavideViolante commented on #1768
We are also using AWS Elasticache.

[2020-07-08 01:55] suchakraborty commented on #1779
Wow Thanks @manast This is great!

[2020-07-08 13:17] #1787 closed

[2020-07-08 13:18] dienhoa commented on #1787
Sorry for bothering, I downgrade uuid in my own application that fix the problem

[2020-07-08 14:16] igortupini opened #1793 "How to work separate process path with TS file extension?"
## Description
When I set a path like `../jobs/foo.ts` when working with **ts-node** everything works just fine.
But after compiling with TSC the TS extension is not valid anymore.

I could make conditional paths for production build and development but that doesn't seem appropriate.
I did a workaround exporting the `__filename` variable from the job file and using it as a path on the process.

##

[2020-07-08 15:30] DimosthenisK commented on #1760
@jakubka any updates on this? Did you manage to do it somehow? I practically have the same use case and I am completely lost right now.

[2020-07-08 16:10] jakubka commented on #1760
@DimosthenisK We didn't go any further with this. We still have the need, but postponed the implementation in favour of other stuff and will get back to this later. Sorry!

[2020-07-08 16:29] niftylettuce commented on #1739
I have created `bree` as an alternative https://github.com/breejs/bree.

[2020-07-08 16:29] niftylettuce commented on #1792
I have created `bree` as an alternative https://github.com/breejs/bree.

[2020-07-08 16:29] #1792 closed

[2020-07-08 16:29] niftylettuce commented on #1659
I have created `bree` as an alternative https://github.com/breejs/bree.

[2020-07-08 16:29] #1659 closed

[2020-07-08 17:45] #1775 closed

[2020-07-08 18:47] manico commented on #1772
You can import both Bull and Queue like:
`import Bull, { Queue } from 'bull';`

[2020-07-09 20:57] abdatta commented on #1134
Any updates on this bug? I'm facing issue with this :(

[2020-07-09 21:30] spasecadet opened #1795 "Default backoff/attempts not working"
#939  Description
We're building a NestJS service that uses Bull Queue to process jobs.  I have found that setting the default backoff/attempts for the queue doesn't seem to work, but if I set the same properties on the job itself then they work just fine.  Am I missing something or is there a bug?

## Minimal, Working Test code to reproduce the issue.
// S Module
[code]

// B Module
[code]

// SP

[2020-07-10 22:03] tommyc38 commented on #1104
So is the correct way to move a job to failed to return an error from the job process function?  I wasn't clear either on exactly how to move jobs to the failed state and was trying to do it by calling `moveToFailed`.

[2020-07-11 04:16] akhil-karat commented on #758
@manast - I am facing same problem. Works with local redis instance. But in our int and prod we use Redis cluster. When a job is added to queue process fails with error 'Sending custom commands in pipeline is not supported in Cluster mode'. Then job stalls. Is there a work around for this issue? It is really urgent for us. Kindly help.

[2020-07-13 02:01] animir commented on #1389
New `failed_attempt` event would be really useful.

[2020-07-13 12:59] akirilyuk opened #1798 "[BUG] Redis connection leak"
## Description

We have a use case where we have distributed jobs running on multiple pods. Each of the jobs opens a dedicated queue and if the job fails, we want to close the Redis connections. However it seems that this is not working. As a result we are seeing a connection leak on Redis.

The issue can also be reproduced by creating multiple bull queues, then quit them and check the number of r

[2020-07-13 13:24] Bahramibh opened #1799 "orders in reate limit"
when im using rate limit , the orders ignored , and for example if i have 1 to 100 (id of jobs) ,when rate limit is active,
its process like this   (in the middle of process : ) = 44,46,89,1,56,57,58

[2020-07-14 03:54] aldoalprak commented on #841
Hello @Equals182, actually I also have the same issue as you. So, I'm using re-use connection, and when I close the queue it doesn't remove the connection from Redis. How do you remove it?

this is the minimum working code:
`const Queue = require("bull");
const Redis = require("ioredis")
const redisInfo = {
  port: process.env.REDIS_PORT,
  host: process.env.REDIS_HOST,
}
const client = new Redis(

[2020-07-14 06:40] Bahramibh commented on #1799
i read all issueds about rate limit problem
i think its bull bad pattern
bull add random delay time , or a invalid delay time for jobs (get rate limit)
and some of them never process (never means they process after a time : delay time + process new jobs (grows) + ....)
why bull dont get jobs from redis by time they created ?

[2020-07-14 06:40] Bahramibh commented on #1799
`const Bull = require("bull");
const express = require("express");
const { setQueues, UI, createQueues } = require("bull-board");
console.log(new Date());
const app = express();

let count = 1;
const myFirstQueue = new Bull("my-first-queue", {
	limiter: {
		max: 3,
		duration: 1000,
		bounceBack: false,
	},
	// settings: {
	// 	stalledInterval: 500,
	// },
});

// myFirstQueue.on("completed", () =

[2020-07-15 10:06] Bahramibh opened #1801 "Cannot read property 'id' of null"
TypeError: Cannot read property 'id' of null
    at formatJob (/home/me/Desktop/nodetest/node_modules/bull-board/routes/getDataForQeues.js:27:13)
    at Array.map (<anonymous>)
    at /home/me/Desktop/nodetest/node_modules/bull-board/routes/getDataForQeues.js:73:20
    at runMicrotasks (<anonymous>)
    at processTicksAndRejections (internal/process/task_queues.js:97:5)
    at async Promise.all (i

[2020-07-15 10:08] Bahramibh commented on #1801
index :
[code]

feed :
[code]

and simple queue :
[code]

[2020-07-15 10:09] Bahramibh commented on #1801
throw error 3 times
``

[2020-07-15 10:09] Bahramibh commented on #1801
{ c: 4065 }
{ c: 4066 }
{ c: 4067 }
{ c: 4068 }
{ c: 4069 }
{ c: 4070 }
-----
{ c: 4071 }
TypeError: Cannot read property 'id' of null
    at formatJob (/home/amir/Desktop/nodetest/node_modules/bull-board/routes/getDataForQeues.js:27:13)
    at Array.map (<anonymous>)
    at /home/amir/Desktop/nodetest/node_modules/bull-board/routes/getDataForQeues.js:73:20
    at runMicrotasks (<anonymous>)
    a

[2020-07-15 10:10] Bahramibh commented on #1801
throw error 3 times in :
[code]

[2020-07-15 10:22] Bahramibh commented on #1801
this error throw when main file (job processor ) stop , then restart.
but feed , send job to queue

[2020-07-15 16:31] manast commented on #1801
The error comes from one of your source files, "getDataForQeues", please review.

[2020-07-15 16:31] #1801 closed

[2020-07-15 17:28] manast commented on #1799
I am closing this because there is not a clear reproducible bug.

[2020-07-15 17:28] #1799 closed

[2020-07-16 16:00] DominikSerafin commented on #1577
@TayfunCesur you've used object property value shorthand in job options, so the repeat key is actually nested inside `conf` object.

This should fix it: `myFirstQueue.add('remove', {foo: 'bar'}, conf);`

Or this: `myFirstQueue.add('remove', {foo: 'bar'}, {...conf});`

[2020-07-17 06:05] KumarAbhirup commented on #867
@Tin-Nguyen It would be really helpful if I get to know how you achieved it!

[2020-07-17 09:57] TayfunCesur commented on #1577
@DominikSerafin Thank you so much for your help.
I will try it ASAP :)

[2020-07-17 12:23] fspoettel commented on #1739
Ran into this issue as well, `every` as well as `repeatable` options are completely unusable due to this imo. Had to resort to using my own scheduler with a `job-in-queue` check :confused:

[2020-07-17 19:55] SqueezedLight commented on #1104
@tommyc38 i think yes. Something like that:
[code]

This will move the job to the failed queue.

[2020-07-17 21:43] manast commented on #1739
@fspoettel can you be more explicit, what is "completely unusable" ? can you provide a code example that reproduces the issue?

[2020-07-17 21:44] manast commented on #1739
Guys, If you can provide some use case that reproduces the issue I can look into it, as this issue stands currently it is not reproducible. Also note that repeatable jobs are working fine for many people, so this must be some edge case or something. I will love to look into it, but need some code I can use for reproduce it.

[2020-07-17 21:51] manast commented on #1795
Could you provide code that reproduces this issue without Nestjs code? as far as I know this works in Bull, it could be an issue with Nestjs too.

[2020-07-17 21:54] #1104 closed

[2020-07-17 21:57] manast commented on #1577
Will close this since original code was not correct. Please open new issue with working code if necessary.

[2020-07-17 21:57] #1577 closed

[2020-07-17 21:57] manast commented on #1798
Thanks will look into this.

[2020-07-17 23:40] fspoettel commented on #1739
Yes, I can produce a test case for this, give me some time to isolate it from the project I'm using bull in. I'll try to provide a repo with an isolated example.

I ran into this problem not too long ago. It boils down to the queue not respecting the order of repeatable tasks when a number of tasks are registered in a very short time frame. Some tasks are executed multiple times in a row while oth

[2020-07-18 07:43] manast commented on #1739
Great, I will look into it as soon as you provide the test case.

[2020-07-18 07:58] manast commented on #1798
Ok. I did study this issue and my conclusion is that it is working as designed. The reason you are seeing a QUIT followed by a connect is because in close we use "local pause" (so you do not need to explicitly use pause in your code above). For blocking connections (such as bclient), we need to break the blocking connection when pausing (otherwise it would try to fetch the next job in the queue),

[2020-07-18 14:43] denysaw commented on #1768
Same thing here :(
![image](https://user-images.githubusercontent.com/5720101/87854772-76548180-c914-11ea-9a91-928133a575ed.png)

[code]

Redis is used ONLY for `Bull`.

[2020-07-18 15:42] denysaw commented on #1768
Oh, easily removed with `job.remove()`. So I don't need any help, but if you wish you still could solve this issue.

[2020-07-19 08:02] manast commented on #1768
Which version of elasticache are you using? I use remove with pattern in elasticache without any issues so far.

[2020-07-19 08:04] manast commented on #1768
@james-siteclick is your intent to delete all the jobs in a queue with the above pattern? Can you try with
[code]
instead? you do not need to specify the "prefix" of the queue.

[2020-07-19 08:07] manast commented on #1768
@denysaw did you get the above error locally also or only on elasticache?

[2020-07-19 10:46] denysaw commented on #1768
Locally. Today also tried to remove all jobs on start (as `empty()` does nothing): `await queue.removeJobs('*');` getting same error.

[2020-07-19 10:55] denysaw commented on #1768
Thank God, I thought of such workaround:
[code]

Worx.

[2020-07-19 14:26] manast commented on #1768
@denysaw ```empty``` works just fine, removes all the jobs that are waiting or delayed.

[2020-07-19 14:27] manast commented on #1768
@denysaw whats your version of redis?

[2020-07-19 14:28] denysaw commented on #1768
Strange. I started today with `empty()`, but `getJobs()` shown me job I started yesterday :)
Redis is 3.0.504

[2020-07-19 14:33] manast commented on #1768
Can you try with redis 5.0.3 instead? 3.x is pretty old actually, could be an issue with redis itself.

[2020-07-19 17:32] denysaw commented on #1768
Can't right now. Will try in some days only. Gonna let you know ;)

[2020-07-20 06:06] mseshachalam commented on #1739
@manast hi, thanks for this library. Hope this issue is clear to you. I have provided the sample code to reproduce this issue at the [first comment](https://github.com/OptimalBits/bull/issues/1739#issue-619542007).

[2020-07-20 08:49] fspoettel commented on #1739
@manast this is a minimal example of what I ran into. Not sure if it's the same problem OP is seeing.
[code]

Output:
[code]

[2020-07-20 08:58] fspoettel commented on #1739
@manast This is a minimal example of what I ran into:
[code]

If I comment out the `foo` task, it prints:
[code]

If I comment out the `bar` task, it prints:
[code]
When both are present, it prints:
[code]

while it should print `foo` and `bar` in alternating fashion

[2020-07-20 10:13] manast commented on #1792
@brunnerlivio for the record, there are no PRs that do not get merged due to personal conflicts. PRs are accepted if they are approved strictly based on its technical merits and if they fit in current codebase and design. What is not acceptable is complaining that feature X does not work (without any example code or similar), and if you do not fix it then your library is unstable and you should us

[2020-07-20 10:22] manast commented on #1739
@fspoettel ok. So this example works as designed. In order to achieve what you want you need to remove the previous repeatable job, i.e. you cannot update a given repeatable job. If you add "bar" with a different setting than every: 1000 then it would be added and you will have 2 different repeatable jobs.
For deleting a repeatable job you can either use https://github.com/OptimalBits/bull/blob/de

[2020-07-20 10:27] duxiaobu opened #1805 "queue.empty() doesn't seem to work"
I define this way, but the queue is not cleared. These tasks still exist in Reids, which leads to the unsuccessful addition of subsequent repeated tasks sometimes. I don't know if there is any problem with the code. Please help anyone who knows to answer it. Thank you very much.
This is my code:

[code]

[2020-07-20 10:33] manast commented on #1805
In order to remove repeatable jobs reliably you need to use one of these two methods:
https://github.com/OptimalBits/bull/blob/develop/REFERENCE.md#queueremoverepeatable
or https://github.com/OptimalBits/bull/blob/develop/REFERENCE.md#queueremoverepeatablebykey

[2020-07-20 10:36] manast commented on #1739
@mseshachalam regarding your issue. If the next timestamp is older than current timestamp, that means that for some reason the delayed job that is waiting for the next repetition has been removed from the delay set. Did you possibly remove the delay set or called the "empty" function (that also removes the delayed jobs and will effectively break the repetitions?)

[2020-07-20 10:38] fspoettel commented on #1739
@manast Thanks for your helpful comment. Apologies, I messed up the example and forgot to assign separate `jobId` params 🙈
The test case then works with correct ordering until I introduce a `limiter` on the queue which causes order to be lost. I updated the test case but I see that there are already tracking bugs for the limiter elsewhere. Sorry for commenting on the wrong issue, seems like my pro

[2020-07-20 10:44] manast commented on #1739
no problem!.

[2020-07-20 10:48] mseshachalam commented on #1739
Yes @manast , i have .empty called on the job queues. My code has the following structure.

customSchedulerQueue.process(async (job, done) => {})
await customSchedulerQueue.empty()
await customSchedulerQueue.add(null, { repeat: { cron: '*/2 * * * *' } })
customSchedulerQueue.on('completed', (job, result) => {
        // Job completed with output result!
        logger.log('custom event scheduling

[2020-07-20 10:50] duxiaobu commented on #1805
Thanks for the answer, but it doesn't seem to work
@Module({
  imports: [QueueModule.forRoot(QueueName.UserPortrait, options)],
  providers: [UserPortraitProcessor]
})
export class UserPortraitModule {
  constructor(@InjectQueue(QueueName.UserPortrait) private readonly queue: Queue) {
    console.log("----------------->init start");
    this.queue
      .removeRepeatable(QueueName.UserPortrait, {

[2020-07-20 10:53] duxiaobu commented on #1805
queue.clean () this method is useful, but it can only clear tasks in one state. If you want to clear all tasks, you have to call multiple times

[2020-07-20 11:02] james-siteclick commented on #1768
@manast thanks for your reply.  In our use case we have a parent job with an ID something like:

[code]

And this creates some other jobs:

[code]
We are only trying to delete only the jobs that were created by this particular parent job, so we are doing something like:

[code]

I simplified this a bit for the code example.

[2020-07-20 11:15] mseshachalam commented on #1739
@manast

Instead of emptying the queue, I am using

await customSchedulerQueue.removeRepeatable({
        cron: eventSchedulingCronExp,
        jobId: 'csq',
    });

and my process is working as expected. Thanks.

[2020-07-20 11:15] #1739 closed

[2020-07-20 14:01] manast commented on #1768
@james-siteclick that should work. Could you just verify that your elasticache in AWS is running version 5.x ? I have services in production where we use remove with pattern in AWS and it is working, so I am a bit puzzled by this. The error itself does not make so much sense, since the call is deterministic.

[2020-07-20 21:53] #1805 closed

[2020-07-20 21:58] #1779 closed

[2020-07-20 21:58] #1773 closed

[2020-07-20 21:59] #1772 closed

[2020-07-20 23:10] #1747 closed

[2020-07-21 08:17] manast commented on #1766
you do not need to do any manually moving of "stalled" jobs. By definition, as soon as they are stalled they are moved back to the "wait" input list. So in your case something else is happening, if you implement my suggestions you may spot easier the bug that is causing this.

[2020-07-21 08:23] manast commented on #1053
This finally ended on my desk, I will update you with my findings.

[2020-07-21 09:16] BrunnerLivio commented on #1792
@manast Thanks for shedding some lights from your PoV.
In my comment I was not refering to “personal conflicts”, but rather just “conflicts” from a technical space. I simply tried to summarize what I found interesting whilst doing a quick research on this topic - tried to be objective (slightly altered my comment and added a disclaimer)

With that being said the NestJS team have been very happy us

[2020-07-21 12:32] sundowndev commented on #1675
@imsergiobernal We have the same issue and ended up with this solution :

- Create the job without repeat option
[code]
- Inside the job, create a duplicate job in the queue with a delay only when needed
[code]
Just `return` to prevent another job to be created. So we can stop repeating the job as needed.

This might be an anti-pattern, but that's the only solution I've come across this far. We ne

[2020-07-21 15:17] ifokeev commented on #1355
facing the same issue after moving to default redis docker image instead of bitnami https://github.com/bitnami/bitnami-docker-redis

So it could be regarding redis config

[2020-07-22 11:04] gcox commented on #340
@gavin771

Yes, but it may not be the most reliable approach. If a job is processed and succeeds but something blows up in your `completed` event handler, your subsequent/child job(s) will never get added.

I simulate this workflow by adding new jobs in the parent job's processor. Basically, the processor does its main work and then, before reporting done/fail, adds any new jobs it needs to. If so

[2020-07-22 13:22] manast commented on #340
as a side note, idempotence can be easily achieved by combining the parent jobId with a specific child Id, since jobIds must be unique in Bull or the jobs are simply ignored.

[2020-07-22 13:40] gcox commented on #340
@manast I was referring to idempotence in terms of the side effects of the job (e.g. If the parent job charges a credit card, then fails for some reason while trying to add a new job that will send a receipt email, retrying the parent job should not charge the credit card again)

[2020-07-22 13:45] morheal opened #1806 "Redis connection pull"
## Description
We have multiple producer servers which are setting messages to AWS ElastiCache through BullJS and one consumer. Everything was working fine until we got bigger loading and, therefore, bigger queue loading. We discovered that our Redis has a lot of connections from both producer and consumer (up to 70 000) and we started to meet connection pull problem. Surely we're doing something

[2020-07-22 15:19] AntonioNtV commented on #1793
Trying using babel to compile the code.
It worked for me.

[2020-07-22 21:20] manast commented on #340
yes, so the parent job should not do anything other than adding the child jobs to be on the safe side.

[2020-07-22 21:59] manast commented on #1806
In this code:
[code]

you are actually instantiating a new Queue every time you add a job, that would increase the connection count for every new job you add to the queue.

[2020-07-22 22:03] manast commented on #1793
As there are workarounds and I feel this problem falls outside of Bull scope I will close this issue.

[2020-07-22 22:03] #1793 closed

[2020-07-23 14:41] morheal commented on #1806
Thanks for the response. Yes, I understand why we have troubles in our producer service, but consumer service causing connection problems too, last time we restarted it, it had 30 000 connection, so we're focusing on that first.

[2020-07-23 17:27] ciarans commented on #760
@tskweres did you ever find an answer for this?

[2020-07-23 19:25] manast commented on #1806
You have the same issue in the consumer service:
[code]

You are instantiating a new Queue every time you add a job to the queue...

[2020-07-24 11:49] dprentis commented on #1688
Could the method be synchronous or resolve directly?

Reason I'm asking is, typescript-eslint doesn't like ignoring the returned promise: https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/no-floating-promises.md

(Although, as a workaround, it's simple to just disable the rule in place)

[2020-07-24 12:18] Zikoel commented on #1688
Return synchronously is not a real solution maybe under the hood there is a reason for the Promise. I think you can manage the promise like my example (don't wait for it) and just don't expect to see the debug! If that sounds to you like an hack maybe we can ask another version (sync) of the `process` method... if is it possible! Something like `processSync`

[2020-07-24 13:53] dprentis commented on #1688
I guess it's really a question of API design. Currently running `process` actually does two things - it sets the handler and then starts processing the queue.

It might be more intuitive to separate that eg. specify the handler in the `Queue` constructor (or in a separate method), and have `process` without parameters just start the processing.

Currently, attaching a 'then' or 'catch' to the call

[2020-07-24 20:19] tongrow opened #1807 "How to reuse database connection in «Separate processes»?"
How to reuse MongoDB connection, when using Separate processes, e.g.

[code]

[2020-07-25 10:15] manast commented on #1807
you can't, since they are separated processes.

[2020-07-25 14:30] DemGiran opened #1808 "What's the difference between queue.process(5, '/path/to/my/processor.js'); and queue.process('/path/to/my/processor.js'); if '/path/to/my/processor.js' can have only one exported function?"
I just don't understand how concurrency is used in here? I tried to look for examples but unfortunately I couldn't find any examples that leverage sandboxed processes with concurrency

[2020-07-25 14:31] DemGiran commented on #1808
I just don't understand how concurrency is used in here? I tried to look for examples but unfortunately I couldn't find any examples that leverage sandboxed processes with concurrency

[2020-07-25 14:48] DemGiran opened #1809 "How can I execute a sandbox process repeatedly?"
Is there an example of such usecase?

[2020-07-26 11:29] #1807 closed

[2020-07-26 17:43] DemGiran commented on #1808
is this project active?

[2020-07-26 17:44] DemGiran commented on #1809
can someone help me out :(

[2020-07-27 13:19] GabrielCastro commented on #1808
Hi @DemGiran;

All the examples should be the same if you're using sandboxed processes or not.
In both scenarios the concurrency limit limits the total number of jobs from that queue that may be running at the same time. (With sandboxes that effectively is the number of processes that will be spawned). Either way each queue & job-name pair can only have 1 function.

[2020-07-27 16:18] #1806 closed

[2020-07-28 22:26] dko-slapdash opened #1810 "Is there a way to check whether Queue.add({..., jobId: ...}) added a job, or it was a no-op because if this jobId being there already?"
Hi.

I couldn't find a way to figure out if an add() call resulted into a scheduling of the new job, or it was completely skipped since a job with such jobId being in the queue already. Can it be returned or checked somehow?

One way would be to call Queue.getJob() prior to .add(), but then it would be race-prone still.

[2020-07-29 01:13] rama41222 commented on #1334
[code]
internal li says that, it will automatically assign the default if the first arg is not a string

[2020-07-29 07:55] BE-CH opened #1811 "Set failedReason on a failed job? (Question)"
## Description
Is it possible to set the failed reason, when a job fails? I am using bull-board (0.9.0) for monitoring.

I tried doing the following, but it doesn't seem to work. At least its not updated on the bull-boad.
[code]

## Bull version
3.16.0

## Additional information

[2020-07-29 09:09] manast commented on #1811
The failed reason is set when the job fails in the processor:

[code]

[2020-07-29 09:09] #1811 closed

[2020-07-29 09:12] manast commented on #1810
If it is ignored no waiting event will be emitted but I am not sure that will help you...

[2020-07-29 09:35] manast commented on #1809
Same as standard processor.

[2020-07-29 10:03] dko-slapdash commented on #1810
Yep, it will unlikely help - one can't wait on a "never emitted event". So there is no robust way then, right?

[2020-07-29 12:17] oavanruiten opened #1812 "Question regarding guardInterval documentation"
Hi,

The documentation states that "when running multiple concurrent workers with delayed tasks, the default value of guardInterval will cause spikes on network bandwidth, cpu usage and memory usage. Each concurrent worker will run the delayed job watchdog."

Does concurrent workers mean different machines that create a Queue object or are we talking about the concurrency set when using the queue.

[2020-07-30 03:57] suchakraborty opened #1813 "Pause-> Retry failed-> Resume leads to retried waiting jobs getting stuck."
I shall add details later, but these are the steps that reproduced the issue twice:

I had a queue that was processing 2 jobs at a time. There were, say 5 failed jobs and 10 jobs in 'Waiting' state.
1. Pause the queue and wait for currently processing jobs to complete.
Result:  10 jobs go from 'Waiting' to 'Paused' state.
2. Retry failed jobs
Result: 2 jobs start being processed, remaining 3 jobs

[2020-07-30 19:27] yaboi opened #1814 "[Question] Proper way to clear entire queue?"
## Description
Just curious if this is the most efficient way to clear an entire single queue of all jobs regardless of state.

It doesn't seem like `.empty()` or `removeJobs('*')` gets all jobs through my testing, but when using both it seems to consistently clear a queue. Is there a better way to doing this? Note, looping over each state and calling `clean(0, state)` didn't seem to clear all job

[2020-07-31 03:08] opti21 opened #1815 "Having issues returning result from separate processor"
## Description
I keep trying to rack my head around the separate process but can't seem to figure out how to return a result from one.
My processor works just fine

## Minimal, Working Test code to reproduce the issue.
#### (An easy to reproduce test case will dramatically decrease the resolution time.)
my code is kinda long so i'll type out what's happening:

**_main.js_**
- Event happens
- gets

[2020-07-31 07:55] manast commented on #1812
No, it is per worker not per concurrency setting. So with 3 workers the guard interval will just be run 3 times during the specified guardInterval value.

[2020-07-31 07:57] manast commented on #1813
If you could represent this issue as a test case I can look into it right away.

[2020-07-31 07:57] oavanruiten commented on #1812
Alright, thanks @manast

[2020-07-31 07:59] manast commented on #1815
it shouldn't matter at all, if you provide some code maybe I can identify the problem.

[2020-07-31 07:59] manast commented on #1815
you can also check in redis the job's "returnValue" field to see what value it holds after processing it.

[2020-07-31 08:00] #1812 closed

[2020-07-31 19:18] rhsobr commented on #1768
This error is gone after updating Redis version to 5.x.

[2020-07-31 20:37] opti21 commented on #1815
Ok, here's the code, it probably looks horrible but hey it sorta works lol

## server.js
[code]

## Processor.js
[code]

[2020-08-01 09:37] manast commented on #1815
I do not have means to study that code, is just to long and complex. I recommend you that you create a simple processor function and add functionality until it breaks, then you will find what is causing the problem.

[2020-08-01 09:39] #1768 closed

[2020-08-03 09:14] MichaelPlan commented on #1815
I guess it's because you're not using Promises correctly. Without the "return" it will not wait till the functions are solved.
Right at the beginning Promises should be returned:
` SubMysteryGift.findOne` should be` return SubMysteryGift.findOne`.
Also in the individual functions such as:
`SubMysteryGift.findByIdAndUpdate` should be `return SubMysteryGift.findByIdAndUpdate`

Functions that do not

[2020-08-05 00:02] vladgovor77771 commented on #340
@manass, Hey, I was looking for this feature, but did't find and made myself :)

I created class extends BullQueue, and made ```stateful``` version of chained queue. My concept a bit differs from yours: I'm playing inside one queue and using different processors names.

I wanted to pass jobs in queue like this:

[code]

So, to add traditional job, I will pass 1 object
[code]
Thus I changed default

[2020-08-05 15:53] vladgovor77771 commented on #340
I have read this issue https://github.com/OptimalBits/bull/issues/1113 and realised that named processors don't work as I need, so I rewrite my code and now I can use same functionality within different queues based on bullmq.

Now I can create chains like this:
[code]

Look arena source and tests here: https://gist.github.com/vladgovor77771/1e182c87b67acf5b9f6ff0fe6b7152b6

[2020-08-07 07:12] rj-david commented on #1415
We are currently experiencing this now when deploying so we need to gracefully close the existing queue

[2020-08-11 11:02] manast commented on #1053
This has been partially resolved with this PR: https://github.com/OptimalBits/bull/pull/1816
However, order will be kept in a best effort. With current design it is impossible to give guarantees about the order of rate limited jobs. If this is fixed it will require some design changes that probably will be implemented only in BullMQ, but it will not be highly priority right now since it is everyth

[2020-08-11 12:59] mrfsbDev opened #1817 "Schedule and repeat jobs"
I need to schedule jobs to be processed in the queue, in Bull it is possible to add the task to be executed after the delay, in my case there will be jobs that will be executed after 15 days and will be repeated for 5 days, what is the best way to manage this in Bull?

Can I combine the "cron" parameters with the "limit"?

In the case of adding a delay of 1296000000 (15 days) can there be a proble

[2020-08-11 16:32] mrfsbDev commented on #1817
I did a test in the cases I mentioned

- The "cron" and "limit" parameters work together
- The cron parameter already adds the delay to the job, according to the execution schedule

[2020-08-11 16:32] #1817 closed

[2020-08-13 20:56] joebowbeer commented on #758
@manast Can you confirm that this is not an issue in BullMQ?

[2020-08-14 06:48] opti21 commented on #1815
Ah that did it! thank you!

[2020-08-14 06:48] #1815 closed

[2020-08-14 08:35] manast commented on #758
@joebowbeer it is the same problem unfortunately. I was expecting ioredis to be fixed but for some reason they did not prioritize it. The alternative is to convert "moveToFailed" method in bull/bullMQ to one lua script, as you can see it is quite a bit of job, but it seems like it is the only way to solve this issue once and for all... will try to prioritize it.

[2020-08-14 08:37] manast commented on #758
@akhil-karat

Are you sure this happens when you add the job and not when the job fails?

[2020-08-14 09:17] joebowbeer commented on #758
@manast Thanks for prioritizing this! I repo'd the issue in BullMQ as well.

[2020-08-14 13:17] chaffeqa opened #1820 "Proper sandbox subprocess count"
## Description

We have x2 queues, trying to use the same Pod to listen to both with sandbox workers, code as follows:
[code]

With a single queue, we simply did `CPU cores - 1` (1 being "master" process).  However if we are listening to x2 queues, does that mean the max number of processes for the Pod needs to be a combination?

[code]

Which one of the above would result in saturation?

[2020-08-14 17:39] chaffeqa opened #1821 "blpop on read replica"
## Description

Curious if you know if we can point the `blclient` redis connection to a read only redis instance.

Specifically, we use Elasticache with read/write replica (non cluster mode), amazon says that supports pubsub onto the reader, but curious about `blpop` since its not tech a read

[2020-08-14 17:59] manast commented on #1821
we use https://redis.io/commands/brpoplpush, which requires write, so it will not work.

[2020-08-14 17:59] #1821 closed

[2020-08-14 18:53] chaffeqa commented on #1821
yep read that, sry meant ot update this, thx for the quick response!

FYI to those who may stumble on this, we **are** using the `reader` for the `subscription` client.

in looking into that implementation it looks safe since it only subscribes to pubsub, which IS supported on `reader` EC

[2020-08-15 13:44] richardyang-dev opened #1822 "delayed jobs are not picked up because of one job processing failed with error: job stalled more than allowable limit;"
Bull version  3.13.0
node version: 14.3.0
I have a few queues. One queue is holding delayed jobs. Each queue is running on its own child process But once a delayed job failed to be processed for unknown reason (got  "job stalled more than allowable limit" message), subsequent delayed jobs added into the queue would all fail with this  "job stalled more than allowable limit" message, even the syste

[2020-08-15 16:18] richardyang-dev commented on #1685
I have same problem. My issue is even worse. Once this happens to one job, all subsequent jobs that are added to the same queue will fail with the same dreadful  and mysterious "job stalled more than allowable limit".

[2020-08-15 16:44] richardyang-dev commented on #1822
I did sometimes got error from bull's code such as:

error uncaughtException: child.off is not a function
TypeError: child.off is not a function
    at ChildProcess.onMessageHandler (/app/node_modules/bull/lib/process/child-pool.js:113:15)
    at emitTwo (events.js:126:13)
    at ChildProcess.emit (events.js:214:7)
    at emit (internal/child_process.js:772:12)
    at _combinedTickCallback (intern

[2020-08-15 17:01] manast commented on #1822
Firstly I recommend you that you upgrade to latest version of Bull.
Secondly, I would figure out why the connections are increasing, maybe you are instantiating some Queue everytime a job is processed? or maybe you have dangling workers around.

Delayed jobs are processed like any other job, they are just put back into the main queue list when the time to processed them has come. If you are gettin

[2020-08-15 17:16] richardyang-dev commented on #1822
Thanks for your prompt reply. I think the increased connection is caused by some my own code outside Bull as I also have code to directly connect to the redis (not using Bull) mainly for data caching. I use ioredis and redis from npm. I don't create a new queue for each job. But when processing a job, if I get an error such as network issue,  I do generate a new job with same content into the queu

[2020-08-15 18:18] manast commented on #1822
it is not possible, something else is happening.

You should never need to change this values as they are safe for all well constructed processors. As long as you do not keep nodejs event loop busy for 30 seconds you will be fine. Since you are using sandboxed processors then it is even more irrelevant.
Do you have monitoring data for the CPUs running the queues? are they up to 100%?

That should

[2020-08-15 19:52] richardyang-dev commented on #1822
I have to make a correction regarding the Bull version I am using.
I think I am using the latest version  "3.18.0" in our testing env where this problem occurs.
In my package.json (I don't have the package-lock file checked in), I have the dependency specified as  "bull": "^3.13.0"
So the npm should have already grabbed the latest minor version 3.18. Is there is any way to print out the Bull's ver

[2020-08-15 22:09] richardyang-dev commented on #1822
I also noticed from the log that new QUEUE(...) gets called multiple times. I export the queue object and use "require" to import this queue object and I have only one nodejs server running with cluster disabled. I am not sure why the new QUEUE() get called so many times. I don't explicitly close it and that is why I have so many redis connections left over?
Do you know why it gets called so many

[2020-08-15 22:50] manast commented on #1822
your code is not correct. You are mixing promise based with callback based code and you are not handling the responses correctly.

[2020-08-15 22:55] manast commented on #1685
All the code above is basically ignoring that the methods returns promises so if the same pattern is used inside a bull processor it will not work.

[2020-08-15 22:55] #1685 closed

[2020-08-15 22:56] richardyang-dev commented on #1822
Thanks. ok, I will fix the mix of callback and promise.
Could you answer my last question about why new QUEUE() gets called everytime a job is processed? If so, is there way to share the same redis connection? How and where I should call myQueue.close()? If I close it, will it establish a new connection for the next job?

[2020-08-16 08:53] manast commented on #1822
I do not know what you mean, can you provide some code please?

[2020-08-16 09:15] manast commented on #1820
Bull will create a new process for every "subProcessCount" you specify. However I do not think you need to match the number of CPU cores with the number of processes for a number of reasons. First because in any OS processes are not guaranteed to run each in a different CPU core. But sure it also depends on what kind of process you are running, if it is very CPU intensive or more IO intensive. I r

[2020-08-16 12:42] akashwmp opened #1823 "The job is going in a waiting state after new container instance comes up"
When a single container instance is running, all the processors registered themselves to the desired channel. But if a new container instance comes up, the queue starts going into a waiting state. To resolve this issue, either we need to delete the whole queue or channel or restart the container. The issue is also the same in the scenario where we have multiple running containers and if one contai

[2020-08-16 12:49] akashwmp opened #1824 "The job get processed multiple times by a single processor registered to the channel"
We got a very weird scenario in which if we publish one job in a queue, it's getting processed multiple times with a gap of few secs between them. The expected behavior should be that once a job has been received by the consumer or subscriber, it should be gone from the channel and should be processed again. We are facing this issue when running a single server instance and got a Redis cloud servi

[2020-08-16 14:31] alexjv89 opened #1825 "Concurrency in sandboxed queue"
I have my queue processing defined as
`queue.process('crawl',1,folder_name+'/api/processors/crawl.js');`

The thing is I want this to strictly run this named process called `crawl` one at a time. I only have one server running. But I have noticed multiple times that more than one queue items become active. I cant have multiple jobs running simultaneously as the job will interfere with any other ru

[2020-08-16 14:39] alexjv89 commented on #1825
![image](https://user-images.githubusercontent.com/2733923/90336889-65268f80-dffc-11ea-9c20-dfa1ca362952.png)

[2020-08-16 17:47] smith1302 commented on #1825
I've just started messing around with this, but from what I've learned, calling "process" multiple times makes that concurrency number stack.

For example, let's say you have an API endpoint that calls `process` and adds a job when hit. If 3 clients hit that API at once, `process` will be called 3 times "horizontally" and thus 3 concurrent jobs will be active.

I have a similar requirement when I

[2020-08-16 18:37] manast commented on #1823
It would be great if you can try to explain your problem with an example because I am not really following the problem you have... Basically if you have an online redis instance your workers will just connect to it and process jobs. If the redis instance is down when you start your workers they will fail and you will have to handle this failure in your code.

[2020-08-16 18:38] manast commented on #1824
you need to provide some code that reproduces the issue so that I can help you figure out the problem.

[2020-08-16 18:39] manast commented on #1825
If you create a new instance of a Bull queue and define the processor, then that instance is in fact a new worker. The concurrency factor is per worker. If you have 3 workers with concurrency 1 then they will process in parallel following a round robin scheme.

[2020-08-16 18:47] alexjv89 commented on #1825
I have the process defined only at one place - which is called on server lift.

But I do create multiple instances of the queue in various controllers(for adding to the queue). If I dont redefine the process again, it should not count as a worker right?

[2020-08-16 18:50] alexjv89 commented on #1825
Also this is a problem that I am experiencing only with sandboxed queues. Regular queues are working fine as expected.

[2020-08-16 18:53] alexjv89 commented on #1825
this task takes 3 -10 mins and is blocking the event loop(it executes a shell script). so I tried increasing the `lockDuration` as well. The 2nd task becomes active instantly.

[2020-08-16 19:16] manast commented on #1825
Are you sure you are returning the correct promise in your processor?

[2020-08-16 19:16] manast commented on #1825
If you can write a simpler processor that reproduces the issue I can look into it.

[2020-08-16 20:23] akashwmp commented on #1824
@manast Thank you for the quick response. Here is a code snippet of our current implementation :
**Producer level or pushing a job into the queue**
`
const publishToQueue = (queueName, queueMsg, opt = { attempts: 4, backoff: { type: 'fixed', delay: 100 },removeOnComplete: true,removeOnFail:true }) => {
	let opts = {
		createClient: function () {
			return ioRedisClient;
		}
	};
	let queue = new Qu

[2020-08-16 20:42] akashwmp commented on #1823
@manast Thank you for the quick response. Here is a code snippet of our current implementation. This is the same as I used in problem #1824. Whenever new docker instances come up, the bull queue processor is not able to register to the existing queue or channel and unfortunately, queues start going into a waiting state but if I restart the container, things will start working fine.
Producer level

[2020-08-16 21:30] manast commented on #1824
I see many errors in this code:
1) you create a new queue instance everytime to add a job, this leaves dangling connections to redis and its leaking resources.
2) same problem when registering a processor, you should do this once, not everytime sombody calls subscriber.
3) you are not returning the result of ```processData(queueData)``` which I assume is an async function, so you will get jobs tha

[2020-08-16 21:32] manast commented on #1823
duplicate of #1824

[2020-08-16 21:32] #1823 closed

[2020-08-17 03:55] chaffeqa commented on #1820
Thanks a ton for the information!

Yea I think the biggest question was answered: Option `A` above will generate the `4` processes max.

As for the maxing of the CPU, completely agree that it's more of a per-use-case question.  We are using AWS ECS, so docker with a XL ec2 instance, leading to availabe 4 cores, but that doesnt me running x4 processes will saturate.  It's a really tricky question,

[2020-08-17 03:55] #1820 closed

[2020-08-17 09:43] alexjv89 commented on #1825
ok.. I am able to narrow down the problem

[code]

for the able code, my expectation is 1 task of each of the named jobs will be run at a time. What happens is 4 instances of `crawl` gets executed simultaneously.

if I change `queue.process('crawl',1,folder_name+'/api/processors/crawl.js');` - change `1` to `2`, then instead of 2 concurrent process of named job `crawl`, I get `5` concurrent jobs o

[2020-08-17 09:56] manast commented on #1825
every process definition will increase the number of workers, so in your case you will have 2 workers.
You can instead do something like this:
[code]

and insinde ```crawl.js```:
switch(job.name) {
 "crawl": return doOneThing();
  "crawl2": return doAnotherThing();
}
[code]
i.e., do not use the ```done``` callback and instead return a promise.

[2020-08-17 10:05] alexjv89 commented on #1825
I see ...

So named jobs in `sandboxed queue` does not work similar to regular named jobs?

this creates an issue where there some jobs I want to run on separate thread vs some of the jobs I want to run on the server's thread as there is server context.

[2020-08-17 10:20] alexjv89 commented on #1825
I also created a repo to replicate this issue:
https://github.com/alexjv89/bull_debug

clone it,
`npm install`
`node app.js` - starts the server  - assumes redis connection on db 1

`localhost:1337/bull/` - view all bull tasks
`localhost:1337/bull/active` - view all active tasks
`localhost:1337/bull/complete` - view all complete tasks
`localhost:1337/bull/create` - create one job - refresh this pa

[2020-08-17 10:44] manast commented on #1825
They work the same. For every defined processor you will get another worker.

[2020-08-17 10:50] manast commented on #1825
You are still not handling promises correctly in that codebase. I have no time to debug that code, but not handling promises correctly will result in all kind of weird behaviour. For example, this pattern repeats all over:
[code]

You **need** to return the promises, always:

[code]
You can also use async which makes the code cleaner:
[code]

[2020-08-17 11:36] alexjv89 commented on #1825
Got it.. thank you so much.. Will make the changes.

[2020-08-17 13:22] alexjv89 commented on #1825
This is the relevant documentation for this problem is here - https://github.com/OptimalBits/bull/blob/master/REFERENCE.md#queueprocess

A name argument can be provided so that multiple process functions can be defined per queue. A named process will only process jobs that matches the given name. However, if you define multiple named process functions in one Queue, the defined concurrency for each

[2020-08-17 13:22] #1825 closed

[2020-08-17 13:44] manast commented on #1825
just write your processor as I explained above:
[code]

[2020-08-17 19:07] yangju commented on #1822
So it turns out that running the processor as in-process instead of sandboxed fixed my issue without any other code change.
So for now I am just leaving the code running as in process.
However, even with this, I still see the redis connection going up everytime I process a job. The number of connections does not go down until I restart the app server.
I managed to test this from my localhost and I

[2020-08-17 22:17] manast commented on #1822
Connections are created when you instantiate a queue, is independent on how many jobs you process. If the connection count is increasing, then you are instantiating new queues without closing them.
Regarding sandboxed processes, you need to return promises, it does not support the "done" callback.

[2020-08-18 07:08] akashwmp commented on #1824
Hi @manast, Thanks for the valuable feedback.
As per the 3 points mentioned from your side :

1. I understood the first point regarding the new instance every time when I'm adding a new job. Maybe I need to take the opts value which I'm passing out of the publish queue function and defined it once into the global reference.

2. While registering the processor, the subscriber method called only onc

[2020-08-18 08:09] manast commented on #1824
I do not have time to comment all your points but regarding this:

If you do not return the promise, how are errors handled? If you returned a promise bull will detect the failure, and you will have the opportunity to understand the error and even retry the job if necessary.

Regarding point 4 it is most likely an issue in your current codebase.

[2020-08-18 13:27] adame21 commented on #1306
Hey, I'm back here after almost a year, and now we're trying to use Redis sentinel again.
@elucidsoft Thanks for the robust explanation, I am getting the exact same issue right now.
Did you manage to get anywhere with this issue?
Thanks

[2020-08-18 13:34] akashwmp commented on #1824
ok @manast, I will look into this again with your valuable inputs and get back to you, if i found some issue in the same.

[2020-08-18 14:20] adame21 commented on #1306
Update:
My issue was related to the organization.
I was basically given a non-sentinel Redis server and told it was a sentinel server.
After propely figuring out the connection info I needed, it works like a charm.
I'm giving a code snippet to show how I got it working:
[code]
Hopefuly someone finds this useful someday :)

[2020-08-19 09:45] manast commented on #1053
closing since no better solution will be available for some time.

[2020-08-19 09:45] #1053 closed

[2020-08-19 13:51] adame21 opened #1826 "Question: Lock duration meaning"
Hi,
I have a question about locks and specifically lock duration and renewal
I know this might be somewhat off topic, sorry, I'll be happy to get basic answers.

1. Why are locks even needed?
2. Why wont I set the lock duration to the job's timeout ? just lock it once for the duration of the process. will something bad happen from this ?
3. What will be the consequences of setting a lock renew of

[2020-08-19 15:27] kamal0808 opened #1827 "Queue doesn't throw error if Redis not found"
## Description
When you create a queue with Redis by giving a REDIS URL, it doesn't give out any error if the REDIS URL
has no valid redis connection. The only way to check if a queue is ready in such a case is by `queue.isReady()` function, which
will give an error because there's no queue to begin with.

It wouldn't be much of an issue if the process would gracefully exit in absence of a valid R

[2020-08-19 15:40] creativefctr opened #1828 "Adding a job with a previously used id will silently drop the job"
## Description

We use the database primary key as job_id, after a successful run of the queue, when we want to run it again for the next update, queue.add works but the jobs are not added back. It fails silently! Clearing redis with FLUSHALL will solve the problem.

## Minimal, Working Test code to reproduce the issue.

1. create the queue:

[code]

2. add jobs with a set id:

[code]

3. Let it c

[2020-08-19 19:59] hemantreddy opened #1829 "[Question] Is there way to remove delayed jobs from a queue using jobName/jobId?"
## Description
I am trying to remove a delayed job but don't seem to find any method for it. So far I have only come across `removeRepeatable`.

## Bull version
3.14.0

## Additional information
This is how I am adding a delayed job to an existing queue
`const newJob = await this.quizScheduleQueue.add(
                    jobName,
                   payload,
                    { delay, removeOnCo

[2020-08-19 20:12] manast commented on #1829
https://github.com/OptimalBits/bull/blob/develop/REFERENCE.md#jobremove

[2020-08-19 20:17] manast commented on #1828
This is actually not a bug but works as design. This behaviour is necessary in order to implement idempotent jobs:
https://github.com/OptimalBits/bull/blob/develop/REFERENCE.md#queueadd
![image](https://user-images.githubusercontent.com/95200/90685198-bc7d6780-e269-11ea-865d-7ac0bd0d9ca1.png)

[2020-08-19 20:17] #1828 closed

[2020-08-19 20:20] manast commented on #1827
That would be impossible since a constructor is by JS design synchronous. One wait to detect connection errors is:
[code]
you can also attach an 'error' listener to the queue to listen for all errors:
[code]

[2020-08-19 20:20] #1827 closed

[2020-08-19 20:25] manast commented on #1826
So that no other worker would work on the same job.

Not sure what you mean with this. The lock is active while the worker is processing the job. However if the worker crashes, the lock will automatically "unlock" after "lock duration", otherwise the job would be locked forever.

It is a safe enough value.

[2020-08-19 20:32] hemantreddy commented on #1829
Thank you for time!

[2020-08-19 20:43] #1829 closed

[2020-08-20 06:27] creativefctr commented on #1828
I get it but it means that all these jobs are stored in Redis? What if we add 500k per week? In a few months millions of jobs will end up in Redis. Is there an expiry setting for this?

[2020-08-20 06:29] creativefctr commented on #1828
also, is there any way to manually clear this without dropping the whole redis database?

[2020-08-20 08:49] manast commented on #1828
You normally configure the queue to just keep a safe number of completed or failed jobs:
https://github.com/OptimalBits/bull/blob/develop/REFERENCE.md#queueadd
![image](https://user-images.githubusercontent.com/95200/90748658-c25b6300-e2d2-11ea-9a29-47492ffebba9.png)

[2020-08-20 13:26] gcox commented on #1053
@manast I tried this out and am wondering about the following scenario:

1. Queue setup with rate limiter config of `{ max: 1, duration: 500 }`
2. Add 100 jobs with priority 2.
3. After some of those jobs are processed, add a new job with priority 1. In my test, I did this after 50 of the jobs were processed.

Result:
1. All the first 100 jobs are processed in the expected order, so that's great.

[2020-08-20 14:13] manast commented on #1053
that sounds a bit unexpected, could you prepare that case for me so that I can reproduce and check what is going on?

[2020-08-20 14:34] creativefctr commented on #1828
Sorry, but I am still a bit confused, I have set removeOnComplete to true as you saw, but still the jobs were not fully removed and the job id was considered duplicate. Does this mean that in order to get them fully removed, I should set a number instead of true?i?

[2020-08-20 14:36] manast commented on #1828
with that setting they should be deleted when the job completes, can you provide a test example where this does not hold true?

[2020-08-20 15:03] talkquazi commented on #1299
** SOLVED **

The fix for me was to upgrade to bull to version 3.18.0 and I made sure that the queue.process was triggered before attempting to use that same queue process to clean the namespace. So essentially you trigger the process function first then before adding any jobs to the queue you clean the queue within the scope of the process function and the error will not occur. You can then use a

[2020-08-20 16:58] lovgrandma opened #1830 "Where are you able to find the redis keys on each job object?"
## Description
I am using bull on my nodejs application and I am wondering what is the key name for me to locate the key on redis? When I run `keys *` on redis-cli it shows bull job records that are never removed even though on bull it says there are 0 jobs. I am trying to run a simple `redisclient.del(jobId)` in my application at the end of each process but I cannot find the redis key name on the

[2020-08-20 17:43] lovgrandma commented on #1830
I have discovered a solution to run at the end of a process. Can help with reducing bull job clutter on redis.

// Cleanly deletes redis record
const deleteRedisRecord = async (job) => {
    const searchQuery = "*:video transcoding:" + job.id;
    redisclient.keys(searchQuery, (err, reply) => {
        reply.forEach((el, i) => {
            redisclient.del(reply[i]);
        })
    })
}

[2020-08-20 17:49] creativefctr commented on #1828
That was the original issue. The test case is exactly the code that I have in the main issue message. As I said, they appear to be deleted (in bull-board I see zero jobs) but when I tried adding them back (more than 6 times), it did not work until I did FLUSHALL in Redis.
I should also note that I switched to many different stuff during the test, upgraded Bull from 3.12 to 18, added and removed ra

[2020-08-20 18:13] gcox commented on #1053
@manast Sure, I modified the existing skipped test to demonstrate this issue. The initial jobs that are queued have priorities 2-5. The job that is added later, after 25 jobs have processed, has a priority of 1. Every time I run this, the priority 1 job is executed last:

[code]

[2020-08-20 18:52] manast commented on #1828
yes but we have code in the tests that demonstrates that the issue does not exist, so you need to provide me one test case that reproduces what you claim.

[2020-08-20 18:53] manast commented on #1828
to be clear, a piece of code that I can run directly.

[2020-08-20 18:56] manast commented on #1830
I am not sure I understand, what is the issue you are reporting? If it is how to delete jobs there are both APIs for it, or settings to just remove all completed/failed jobs.

[2020-08-21 02:15] lovgrandma commented on #1830
The issue is that records for completed/failed jobs do not get deleted from redis when you specify (removeOnComplete: true, removeOnFail: true) as options and they still do not delete if you run moveToCompleted() or moveToFailed() on a job at the end of a process. I was trying to figure out if there was a straight forward way of deleting these unneeded redis records. The code that I use there is s

[2020-08-21 11:23] jrvidotti opened #1831 "Docs: Reference link is hidden in the guide"
[Reference](https://github.com/OptimalBits/bull/blob/master/REFERENCE.md) link should be more visible in [Guide](https://optimalbits.github.io/bull/).

[2020-08-24 06:59] #1637 closed

[2020-08-24 14:22] richardyang-dev commented on #1822
I have updated my code to use promise (not callback) for sandboxed processor. Sandboxed processor, although it seems to work fine, always throws below error for each job processed:
uncaughtException: child.off is not a function
TypeError: child.off is not a function
    at ChildProcess.onMessageHandler (/app/node_modules/bull/lib/process/child-pool.js:113:15)
    at emitTwo (events.js:126:13)

[2020-08-24 16:44] #1822 closed

[2020-08-25 02:30] zyf0330 opened #1832 "prefix option is owerwrite by keyPrefix of redis options"
## Description
Queue#prefix option is overwrite by keyPrefix in redisOpts
## Minimal, Working Test code to reproduce the issue.
#### (An easy to reproduce test case will dramatically decrease the resolution time.)
set prefix option and redis keyPrefix option at the same time, keyPrefix is effect.
## Bull version
3.14.0
## Additional information

[2020-08-25 07:16] manast commented on #1832
This works actually as design. Redis opts has a preference over standard prefix option.

[2020-08-25 07:16] #1832 closed

[2020-08-25 07:19] zyf0330 commented on #1832
Maybe it should be doced.

[2020-08-25 19:58] EndangeredMassa commented on #1287
We're investigating the possibility of changing the rate limit of a running queue.

We found this GitHub issue and were wondering if there has been progress since last year. Does BullMQ address the problem of dynamically setting the rate limit, by any chance?

We tried replacing the in-memory instance of the queue with a new one that had a different rate limit, but that didn't appear to change the

[2020-08-25 20:34] manast commented on #1287
This is not possible at the moment. Not super high priority atm since it seems quite a niche feature but this can change if many people vote for this one.

[2020-08-26 10:03] BogdanStanciu commented on #1415
Same issue. I return a empty object in process method but it always return a `Missing lock for job {id} finished`

[2020-08-26 10:17] euanmillar commented on #1772
It would help to explain the correct solution. ... A lot of the examples in blogs online says to use ```Bull.Queue```  but this is not going to work in TypeScript.  The blogs should be updated. The correct way to use Bull in TypeScript is to do this as the import:  ```import * as Bull from 'bull'``` and then  ```const queue = new Bull("YOUR_QUEUE_NAME","YOUR_REDIS_HOST")```. Bull.Queue will throw

[2020-08-26 11:04] tsebas opened #1833 "BUG: Inconsistent delay property"
## Description
When a job is created with `queue.add` with the delay param in opts, the resulting job has the `delay` property with the assigned value. However, in the queue processor, the job that comes in has the corret delay value in the opts object, whilst the delay property has 0.

## Minimal, Working Test code to reproduce the issue.
[code]

## Bull version
`"bull": "^3.14.0"`

## Additional

[2020-08-28 06:52] martnst opened #1837 "Feature Comparison with node-resque is missing"
Hi *,

I just noticed that the feature comparison table is lacking [actionhero's](https://www.actionherojs.com/) [node-resque](https://github.com/actionhero/node-resque).

Bests,
Martin

[2020-08-28 12:48] BogdanStanciu opened #1838 "Bug: Bull fails to connect to redis in docker-compose"
## Description
I have a backend develop with bull. Everything is inside a docker-compose. When start the docker with `docker-compose up`, bull can't connect to redis service and return a `ECONNREFUSED`, BUT if i create a connection with a simple: `const redis = new Redis('redis://${notifierConfig.host}:${notifierConfig.port}');` everything works fine.

Return the error:

[code]
## Minimal, Working

[2020-08-28 15:01] BogdanStanciu commented on #1838
Finding something interesting. If i console.log the configs before the createClient function these are unchanged, but inside the createClient function these change. Maybe I'm doing something wrong ?
[code]
these are
[code]
And

[code]
these are
[code]

[2020-08-28 16:05] manast commented on #1838
you cannot access redis on ```127.0.0.1``` you must use the hostname ```redis``` as your redis service name in docker compose. Gonna close this since it is not bull related.

[2020-08-28 16:05] #1838 closed

[2020-08-29 12:07] jagzmz opened #1839 "[Question] How does Bull resumes the queued tasks/jobs on process restart?"
- [x] Question

- I would like to help understand how resuming queue after a server restart works.
- Also in order to resume things do we need to re-instantiate the ```Queue()``` object with empty parameters and place the code in the startup file like ```index.js```.

Thanks.

[2020-08-29 13:41] jagzmz commented on #1839
So according to my understanding,

- Bull just retrieves queue from redis using a certain key pattern and fetches the parameters given while adding a job in a queue.

- I tried this i guess we have re-instantiate it with the queue name parameter which was previously used....but what if the queue opts were changed on the server restarts?

[2020-08-29 20:13] #1839 closed

[2020-08-30 05:23] apoorvans opened #1840 "Redis cluster Error: connect ECONNREFUSED 127.0.0.1:6379"
## Description
Seeing connection error in the logs continuously when connecting to a redis cluster running in kubernetes. I used a prefix when creating the queue.
`new Queue("thequeuename", { connection: redis(), prefix: "{myqueueprefix}" })`

where redis() is:
`import Redis from 'ioredis';
export default function redis() {
    return new Redis.Cluster(config, { enableReadyCheck: true });
}`

Don'

[2020-08-30 05:27] #1840 closed

[2020-08-30 07:44] jagzmz opened #1841 "[Question] What exactly concurrency does to the queue processors?"
Hello,

From the [docs](https://github.com/OptimalBits/bull/blob/master/REFERENCE.md#queueprocess):

[code]

What does requestProfile with 100 concurrency setting would do to the above named job?

I have watched browsed multiple issues/threads regarding concurrency some suggest to use ```0``` as concurrency to more than 1 processor for the same queue to avoid stacking up. From this I was able to f

[2020-08-31 04:25] marcodali opened #1842 "How to move job from Completed to Waiting or Failed?"
<img width="537" alt="Screen Shot 2020-08-30 at 23 22 55" src="https://user-images.githubusercontent.com/70110654/91682638-d5aecf80-eb17-11ea-992c-b7feb33234fa.png">

I have some jobs on the **Completed** state, but I need to move them to **Waiting** or **Failed** state.
How can I accomplish this?

[2020-08-31 05:11] marcodali opened #1843 "Can I add a custom state for jobs?"
For example, apart from waiting, active, completed, failed, delayed, paused...

* Phase 1
* Phase 2
* Phase 3

And then change state between them? Some function like job.moveToState('Phase 1')
Or if not, How can I acomplish this goal using this library?

[2020-08-31 07:23] manast commented on #1843
No it is not possible, states are hardcoded in the architecture and cannot be changed or new ones added.

[2020-08-31 08:56] faller commented on #1602
I have encountered the timeout issue 2 times when master crashed with Sentinel Mode

[2020-08-31 12:32] BogdanStanciu commented on #789
I have the same problem.
[code]

with failedReason: `job stalled more than allowable limit`

[2020-09-02 04:41] marceloudi commented on #789
This problem was happening here. @inn0vative1 gives the solution (2020-04-27)

[code]

[2020-09-03 02:04] nephew92 opened #1845 "Add job fail when pass repeat.endDate"
## Description

When pass `endDate` to repeat opts the job is not add and not exception is throw

## Minimal, Working Test code to reproduce the issue.

[code]

#### (An easy to reproduce test case will dramatically decrease the resolution time.)

## Bull version

3.11.0 and 3.18.0

## Additional information

[2020-09-03 21:32] alex-w0 opened #1847 "Add job at a specific position within the queue"
I've created a queue named 'my-first-queue' that contains four jobs. Is it possible to define when adding a new job at which position of the queue should it be added? All jobs have the same priority but the job 'task4' should be executed after 'task1'...
Especially useful when the same cron string is specified within the repeat options.
[code]

Another use case would be to get first a specific job

[2020-09-07 04:07] keerthij opened #1849 "Dynamically controlling job"
I'm using this bull queue to schedule jobs with delay. I'm running this job repeatedly with 1 min delay. This job notifies parents once the job is completed. The parent process schedules the same job again after 1 min delay. I'm not using repeat option provided in Bull to do this as the job execution time will vary based on the amount of data it needs to process. Now, I've a need to run that job i

[2020-09-07 13:36] JensDebergh opened #1850 "Queue delay not working properly"
Hey there!

I'm bumping into an issue while queueing tasks.

## Description

When scheduling a task to be performed from withing another task, the delay property does not work. Any idea why this is happening?

[code]

The problem here is that `sendIntakeNotifications` gets executed 2 times. Once when it is pushed on the queue and once when the delay has been passed.

Any help in the right directio

[2020-09-07 14:02] gustawdaniel commented on #845
I have the same problem

[2020-09-07 14:07] manast commented on #1850
The code for the first processor is incorrect, you should write your processors like this:
[code]

I wrote the above for clarity, but it can also be written like this since you only have 1 async call:
[code]

[2020-09-07 14:07] manast commented on #1850
Let me know if it works better

[2020-09-07 14:09] manast commented on #1849
If you know the job id you can use ```job.promote()``` to put the job back into the queue and execute it as soon as there is a free worker. Also remember that if you provide custom job ids, if there is already a job in the queue with the same id that job will not be added to the queue and just be ignored.

[2020-09-07 14:14] JensDebergh commented on #1850
@manast My original code does not have the async call.

[code]

Sending:

[code]

SENDING INTAKE NOTIFICATION is logged 2 times again. Do i have to explicitly return something from the async call? If nothing is provided a `Promise<void>` would be returned.

[2020-09-07 14:19] manast commented on #1850
you still need to return the promise.
I am quite sure this is an issue with your code, if you provide a simpler case that reproduces it that I can run easily I can look into it.

[2020-09-07 14:21] manast commented on #1850
to make it clear, you need to return the result of this call ```defaultQueue.add(JobName.SEND_INTAKE_NOTIFICATIONS, {}, { delay: 20000 }).catch(console.error);``` for two reasons:
1) Because otherwise you are not handling possible errors of that async call.
2) Because you want to wait for that async operation to complete so that when the job is complete no dangling async operations are still runni

[2020-09-07 14:30] JensDebergh commented on #1850
@manast Sorry to bother you again. But I don't seem to get why i need to return the the actual side job creation. If they fail thats ok in this instance. Can't I just return `true / false` from the main job?

<img width="1440" alt="Screenshot 2020-09-07 at 16 25 13" src="https://user-images.githubusercontent.com/6651506/92397405-12398700-f127-11ea-8295-1e348c22d74c.png">

Result:

<img width="223"

[2020-09-07 15:46] manast commented on #1850
you do not need to return the result from add, you can also await and return something else. The point is that you cannot just ignore the result from add. From the code above I cannot spot anything wrong, if you can write a simpler one file test that reproduces the issue I can look into it.

[2020-09-08 09:25] JensDebergh commented on #1850
@manast We've found the problem. The queuing indeed works properly. What you are seeing in the image above is "old queued" jobs being processed where the delay already has been passed.

That's why it seems it is instant.

Sorry for the confusion and thank you for your help!

[2020-09-08 09:25] #1850 closed

[2020-09-08 11:56] wasd171 commented on #742
This feature would be very useful for the cron jobs where we need to query something since the last task invocation, it's a pity that this doesn't work by default

[2020-09-08 19:37] RodolfoSilva commented on #340
Hi @vladgovor77771 good work.
I have a question, what happens if the server for some reason restarts during processing?

[2020-09-08 21:13] vladgovor77771 commented on #340
@RodolfoSilva, what do you mean "server restarts"? restarts task? Is this question about my code or bull?

[2020-09-08 21:24] RodolfoSilva commented on #340
If the VPS/Container restart from some reason. Whats happens with the chain jobs?
The process will continue or will be lost?
This question is about your code.

[2020-09-08 21:40] vladgovor77771 commented on #340
If the main server with running arena is alive, it will understand that the worker died (the question for bull-mq), job will be retried I think with same parameters and same jobId, so technically all will be good, but I don't really sure.

[2020-09-08 21:46] RodolfoSilva commented on #340
The behavior I expect to happen is something like this.
[code]

[2020-09-09 22:26] Rua-Yuki commented on #758
Super sorry for the excessive mentions all! (Was doing a bit of cleanup and of course GH has appended to this discussion for every instance of these commits.)

That said, if anyone urgently needs this working, a patch can be found in the [fpm-git/bull/bug/fix-#758-redis-cluster-breakage](https://github.com/fpm-git/bull/commits/bug/fix-%23758-redis-cluster-breakage) branch.

*Insert the usual "it w

[2020-09-09 22:57] tballantyne opened #1851 "TypeError: queue.getNextJob is not a function"
## Description
Getting a `TypeError: queue.getNextJob is not a function`

## Minimal, Working Test code to reproduce the issue.

    const { Queue } = require('bullmq');

    const queue = new Queue('test_case_queue');

    async function getJob(){
    	try {
    		const job = await queue.getNextJob();
    	} catch(err) {
    		console.log(err)
    	}
    }

    getJob();

## Bull version
bullmq 1

[2020-09-10 07:52] manast commented on #1851
This is the Bull repo, BullMQ does not support getNextJob().

[2020-09-10 07:52] #1851 closed

[2020-09-10 19:40] tballantyne opened #1852 "TypeError: queue.client.moveToActive is not a function using manual pattern"
###  Description
Getting a `TypeError: queue.client.moveToActive is not a function` when trying to consume a job off the queue using the manual pattern - `queue.getNextJob()`

    TypeError: queue.client.moveToActive is not a function
    at Object.moveToActive (/.../node_modules/bull/lib/scripts.js:89:25)
    at Queue.moveToActive (/.../node_modules/bull/lib/queue.js:1142:18)
    at /.../node_mod

[2020-09-10 19:42] manast commented on #1852
This will work if you wait for the queue to be ready after instantiating it:
[code]

[2020-09-10 20:18] gmcnaught commented on #875
We've seen this in a few environments - but only queues with a limiter applied.

[2020-09-10 21:01] manast commented on #875
@gmcnaught seems like there is an issue when there are a lot of rate limited jobs, will take a look.

[2020-09-10 21:01] tballantyne commented on #1852
Bingo. Yes that works! Thanks.

[2020-09-11 08:35] xrip opened #1853 "Repeatable jobs 'every': wrong behavior"
## Description
Repeatable jobs with "_every_" parameter works wrong or have confusing documentation.

When i create job with ```{ repeat: { every: 15 * 1000 } }``` params
i expect the job would be fired every 15 seconds since job created.
E.g. if it's created at 15:34:07 the job would run at 15:34:22, then 15:34:37 and so on.
But actually it would run at 15:34:15, 15:34:30, 15:34:45

## Minimal, W

[2020-09-11 09:11] tsebas opened #1854 "TypeError - child.off is not a function"
## Description
Getting type error when using the sandboxed processor.
[code]
Interestingly after the error is thrown, the job still get's processed:
[code]

After processing that one job though, queue.process seems like it resolves as the process stops. If I comment out the offending line for example, the job is processed correctly and the main process stays running.

## Minimal, Working Test code

[2020-09-11 18:51] otaviobps opened #1855 "Re-add job to the queue"
I have a third party API that process users' identity. I send them the documents and they accept or reject it. They, however, don't process the documents immediately, and they have a `pending` state.

I created a job to wait for 60 seconds and then check the API. If the `status === completed`, the job completes successfully, but if the `status === pending` (response from API is 200), then I want t

[2020-09-12 15:34] akashwmp opened #1856 "Does Bull support horizontal scaling?"
Hi @manast,
I"m using bull queue in a microservices architecture under a distributed system. So I got one query whether bull queue supports horizontal scaling because I feel if multiple instances of Nodejs instances running on different machines then they each have got their own bull queue instance. So in a pub sub-model, each bull queue consumer running on different instances will process the mes

[2020-09-12 18:06] rosslavery commented on #1856
Each worker connects to a common redis instance and claims (locks) a job to prevent the same job being claimed by multiple workers.

In our experience Bull scales very well horizontally with very little effort. We process around 200,000 jobs daily with an horizontally autoscaled worker pool.

[2020-09-13 21:32] manast commented on #1855
The first job should complete in your case, can you write a small test code that reproduces this issue?

[2020-09-14 11:29] otaviobps commented on #1855
Hi @manast, I'm not sure how to write a functional codesandbox, because I'd have to spin up a redis instance, and I don't think they have this ability.

Anyway, my queue is started this way:

[code]

And my job is this one:

[code]

What happens is that when the `truliooResponse.status !== 'complete'`, I will go directly to the last `else` and add the job again to the queue with `await Queue.add('

[2020-09-14 11:53] shubhddn01 commented on #1704
@manast  I am unable to use update function, can you just help me out? Also please let me know if i can get boolean for the requested jobId already exist. Thanks in advance.

[2020-09-14 12:04] manast commented on #1704
@shubhddn01 what is not working with the update function?
Regarding existing jobs, you can get the job and if it exists it will be returned...

[2020-09-14 12:12] manast commented on #1855
what I mean is a test example where you isolate just the problem where adding one delayed job, then another delayed job from inside the first job and where you actually can see the behaviour you are mentioning. The code above is too large and also impossible for me to run for verification.

[2020-09-14 16:32] xrip commented on #1853
Example updatet to be more relevant.

[2020-09-14 19:53] manast commented on #1853
This works as designed, here you can find some background: https://github.com/OptimalBits/bull/issues/1239

[2020-09-14 19:53] #1853 closed

[2020-09-14 20:43] otaviobps commented on #1855
Hi @manast, I've noticed that increasing the delay from 60000 to 120000 solved the issue.

[2020-09-14 20:43] #1855 closed

[2020-09-14 22:21] VakoNonikashvili opened #1857 "Update scheduled job?"
User scheduled post for tomorrow:

`postQueue.add({ postId: 1 }, { delay: 60 * 60 * 24 });`

in 2 hour he changed mind and want to reschedule this post after 3 days.

How to find this job and update with correct delay?

[2020-09-15 04:33] mararrdeveloper commented on #684
Why is this closed? It would be a nice feature

[2020-09-15 06:23] manast commented on #684
it is quite easy to do with current library, just check the timestamp field in the job and compare to now, if larger than TTL just throw an error.

[2020-09-15 06:58] manast commented on #1857
You will need to either save the jobIds in some external database, or if the amount of delayed jobs is not huge use a graphical front end such as https://taskforce.sh

[2020-09-15 09:33] kbarendrecht commented on #1688
This caught me by surprise aswell, it wasn't really clear to me that `.process()` starts processing as well as adding a processor. I started out by awaiting the `.process()` method because i didn't want the queue to start before i added a processor.

It would make it easier to grok when there are seperate methods, something like; `.setProcessor(..)`, `startProcessing(..)`

[2020-09-15 09:57] manast commented on #1688
yes. there are plans to improve the logic. In BullMQ for instance, the process is specified in the Worker constructor, so it is less confusing, however the processor starts processing directly after instantiating the worker, which is less code to type but more magic, which is not always good.

[2020-09-15 13:02] jbreckman opened #1858 "Task results get stored in redis forever"
I'm not totally positive how to show this, but my redis keeps getting clogged up with old bull messages.

[code]

There is no TTL on these messages and I can't find anything in the documentation as to how to consume them or how to make them not get created in the first place.

[2020-09-15 13:15] manast commented on #1858
Please take a look at job options ```removeOnComplete``` and ```removeOnFailed```:
https://github.com/OptimalBits/bull/blob/develop/REFERENCE.md#queueadd

[2020-09-15 14:17] jbreckman commented on #1858
@manast oh - can't believe I didn't see this.  Thank you!

[2020-09-15 14:48] adame21 opened #1859 "Closing connections when using redis-sentinel"
Hi,
So I'm using bull with redis-sentinel and I'm having trouble closing connections.

For the sake of a simple example lets say I have 3 apps

1. an API which is always connected and adds the jobs.
2. a worker that is always connected and process the jobs
3. another API to be able to do certain actions on the queue - this one is supposed to connect, do its thing, disconnect.

So heres an example

[2020-09-15 16:01] manast commented on #1859
If you create redis connections with ```ts
createClient: () => {
                    return new Redis(redisConfig)
                }
[code]

[2020-09-15 16:37] adame21 commented on #1859
I feel silly now haha

Thanks a lot.

[2020-09-15 16:37] #1859 closed

[2020-09-15 21:08] kasvith commented on #1356
thanks, just happened to me

[2020-09-16 02:00] #1858 closed

[2020-09-16 10:23] keith666666 opened #1860 "Custom options get overridden by default options when adding a job"
## Issue
Custom options get overrided by default options when adding a job(add and addBulk).

## Affected versions
- v3.18.0
- v3.17.0
- v3.16.0

## Related code
https://github.com/OptimalBits/bull/blob/db070a5908ed9b0ba8bd669205a56dc8551d3480/lib/queue.js#L690

## Related commit
https://github.com/OptimalBits/bull/commit/ac2fc51c2b8f544a150b83e5969654f5af8de5f7

![image](https://user-images.githu

[2020-09-16 20:52] gielow opened #1861 "Using Bull within ES6 module"
## Description
I have a certain repo configured as a module (type: "module" in package.json).
The application works all fine, imports, etc...

While trying to initialize/add the workers I have the following error:

`Error [ERR_REQUIRE_ESM]: Must use import to load ES Module: /some_path/processor-xxxxx.js`

## Bull version is 3.14.0

## Additional information

I setup my processors:
queue.process(<

[2020-09-18 01:58] hynra commented on #1856
Do you mean Round Robin? As long as each worker is connected to the same Redis instance, they will get a different job. That is explained in their documentation: https://docs.bullmq.io/

[2020-09-19 06:21] itsTeknas opened #1863 "[question] manual dequeue or pop instead of static process function ?"
I would like to manually pop or dequeue items from my queue depending on external events instead of having a static process function for my queue.
I couldn't find any api that just gives the next job in line and blocks it for a visibility timeout.

Is this even a use case that bull is meant to solve or should i be looking at
https://www.npmjs.com/package/rsmq or something ?

[2020-09-19 13:13] omidh28 opened #1864 "Can long delays cause problem?"
My jobs are usually need to be done in weeks, Is it good idea to use long delays such as a week? Or bull delay is designed for short times?

[2020-09-19 18:13] manast commented on #1864
There should not be any problem at all.

[2020-09-19 22:51] eperezf opened #1865 "Get jobs with jobId containing string"
## Description
Hi, I am working with an excel importing script and each row has a unique ID in the form of 12 random alphanumeric characters where the first 6 are always the same (example: ABC123XXXXXX) in that file, but different in other files. I wanted to easily associate each row with a job so I can see which rows fail to import, so I set the `jobId` the same as the ID of the row.

Because sev

[2020-09-19 22:55] eperezf commented on #1865
Maybe a temporary workaround can be creating a queue for each file, but I can have multiple files being uploaded at the same time. Would it be an issue creating and using several queues at the same time instead of just one for the same kind of job?

[2020-09-20 20:07] manast commented on #1865
Here is how I would do it. I would have one Queue for dividing the job in rows, and then one queue for the rows job. Then I would keep a counter for every excel file stored in a redis key. In the job that divides in rows I would set the counter, then in every job that process one row I will decrease the counter for that file, if the counter has reached zero I know the whole excel has been processe

[2020-09-20 21:54] zebulonj opened #1866 "Performant Priority Queues"
I've been using Bull for more than a year in a large-scale, high-performance application (1000+ jobs per minute, 24/7)... and am very happy with it. On the horizon I have the need to add priority to our queues, but O(N) performance per insert is likely going to pose a problem (I expect to be dumping upwards of a million jobs at a time into queues on a regular basis). Opening this issue because I'm

[2020-09-21 07:02] eperezf commented on #1865
I don't know if I didn't explain myself correctly or I didn't understand your response, but I'm kind of lost. English is not my first language. Also it may be that I'm a complete noob at Redis. Just been using it with Bull.

I don't see how creating multiple queues for dividing the files into jobs and then processing the jobs solves my issue.

My problem is the following:

- I save all the jobs (r

[2020-09-21 08:00] manast commented on #1865
I suggested my approach to not need to do this step:

Why would you like to do that in the first place?

[2020-09-21 08:19] manast commented on #1866
The original implementation of priority queues used a queue for every priority, but it gets messy and difficult to avoid all special cases. The current implementation is much more solid and simple so thats a really good thing.
Ideally, what we would like is to use a ZADD to store the prioritized jobs which will get us O(log(n)). However in redis we lack commands for reliably consume from a ZSET in

[2020-09-21 09:57] wiput1999 commented on #1853
I'm expecting this result too. How to config for this expected result?

[2020-09-21 12:16] papandreou opened #1867 "Question/feature request: Get time since a job was added to the queue OR manually retried?"
Hi!

In our setup we have some metrics and alerting around how long jobs spend in the queue before being processed so we can continuously fine-tune the number of workers. There's one scenario where we're having a bit of trouble coming up with the right number: A job that fails and some hours gets retried manually. In that case `processedOn` will be reset to `null` when the job gets retried, and `t

[2020-09-21 12:51] manast commented on #1863
Please check here: https://github.com/OptimalBits/bull/blob/develop/PATTERNS.md#manually-fetching-jobs

[2020-09-21 13:19] MarioFronza commented on #1356
There's no way to use mongoose? only the native driver?

[2020-09-22 07:10] rohitkhatri commented on #1666
I'm also facing the same issue, It's not overriding default attempts while adding job to the queue, any solution?

[2020-09-22 07:15] rohitkhatri commented on #1860
When this will be fixed, I'm facing issue regarding this

[2020-09-22 07:33] manast commented on #1867
No, it is not possible, we would need in that case a "retriedOn" timestamp.

[2020-09-22 13:46] papandreou commented on #1867
Thanks for the quick reply! Opened a PR with that here: https://github.com/OptimalBits/bull/pull/1868/ 🤗

[2020-09-22 14:09] eperezf commented on #1865
So the user can see which jobs failed and which ran without problem.

[2020-09-22 14:24] manast commented on #1865
coincidentally there is a PR open in BullMQ that does what you want: https://github.com/taskforcesh/bullmq/pull/277

[2020-09-24 08:34] cpu100 commented on #1415
What's the reason? Is redis overloaded?

[2020-09-24 13:52] ItayRosenTipalti commented on #1768
Getting the same error. Seems like this error happens when a pattern matches a job.
Versions:
[code]

You can replicate the error with the following code:
[code]

[2020-09-24 20:39] 0x61x opened #1870 "Job processing of all queues are stalled due to traffic in one queue"
# Description
I have multiple topics created on the fly. Jobs in each topic are very small but should be executed sequentially.

I'm trying to use Bull for this purpose but I'm facing a strange issue where if one queue has a lot of job insertion (not even a lot but continuous insertions too).
The job processing is halted not for just that queue but for all the queues like the system is in a deadlo

[2020-09-25 08:25] manast commented on #1870
I cannot see anything wrong with the code you posted, however this sounds more like an issue in your code. How much you call insert should not affect the workers that are consuming jobs, specially if they run in different processes.

[2020-09-25 08:25] manast commented on #1870
Btw, I recommend you that you cut down all the code and start with minimal example that works, then add features until you find the problem that causes your issue.

[2020-09-25 13:18] RizaHKhan commented on #1356
So you are saying you were able to use Mongoose to query the database?

[2020-09-25 13:48] manast commented on #1356
@RizaHKhan As far as I know this only happens using external sandboxed processors. And the cause must be due to some exotic thing in mongoose, bull is not doing anything special just spawning a process and running the processor inside it.

[2020-09-25 14:03] miladr0 commented on #1356
@manast maybe mongoose need some time to initialize the connection and models, I'm not using Bull right now but if had time will checking some ways like passing mongoose as a parameter to the `process` method

[2020-09-26 03:32] JSilversun commented on #138
I don't know why in this issue the options `removeOnComplete` and `removeOnFail` weren't mentioned but I leave this comment here just in case somebody needs it like me

https://github.com/OptimalBits/bull/blob/develop/REFERENCE.md#queueadd

[2020-09-26 11:57] sushilwis commented on #1351
I think you are calling the "queue.process" function twice. you can't call it twice for same queue instance.

[2020-09-26 11:58] sushilwis commented on #1470
I think you are calling the "queue.process" function twice. you can't call it twice for same queue instance.

[2020-09-26 12:08] IgorDePaula commented on #1351
Sorry @sushilwis , I migrated for another queue lib, the author of this lib not have patience for bugs. This issue is old.

[2020-09-26 12:17] manast commented on #138
@JSilversun the reason is that it is a very old issue and thats why it was not mentioned at the time. But good that you put a reference here in case somebody use the above solution without knowing the newer better way to do it.

[2020-09-26 17:31] hayanisaid commented on #1228
I have this issue also, but this only happens on Linux OS, on Mac works fine!

[2020-09-27 07:53] xrip commented on #1853
I've solve this by adding delayed job and reading new job when processing current job.
Works like i want. But it's not durable.

[2020-09-28 02:20] ahmad-punch commented on #751
Hi Guys!

I'm looking to pause / resume only selective jobs (or a batch of jobs) and not the complete Queue.
As multiple users use cases would not be implementable since if one users pauses his jobs then only functionality I've seen yet is pausing the Queue here : https://github.com/OptimalBits/bull/blob/master/REFERENCE.md#queuepause
And pausing queue would stop the complete queue, hence all user

[2020-09-28 04:02] royalpinto opened #1873 "Jobs get stuck after Redis reconnect"
##  Description
When the Redis gets disconnected and connected again, the queue doesn't pick up any jobs. (Easy To Reproduce)

## Minimal, Working Test code to reproduce the issue.
[code]

## Bull version
Bull 3.18.0
Node 12 and 14
Redis 3.2.8

## Steps to reproduce.
- Run the above script
- Bull JS start accepting and processing Jobs
- Stop Redis
- Bull JS will keep retrying
- Start Redis
- Bull

[2020-09-28 12:31] manast commented on #751
@ahmad-punch pausing only a selection of jobs in a queue is currently impossible, and I have a hard time trying to think how such functionality could be implemented with current data structures. In general what you are suggesting is a pretty hard problem to solve, at least in an efficient way.

[2020-09-28 12:36] ahmad-punch commented on #751
So How should I tackle this problem?

Maybe create a sperate queue for every user and destroy them when the jobs are completed or when user sends signal that he doesn't wanna continue with processing?

But for this the queues creation needs to be dynamic and also it could destroy per requirement.

[2020-09-28 13:34] Hikariii commented on #1629
Don't get your duh... It's completely valid to return a rejection: https://github.com/OptimalBits/bull#using-promises
This should be handled by bull imho

[2020-09-28 16:12] manast commented on #1629
@Hikariii is it not handled? I think the original code was lacking a return, therefore the "Duh.".

[2020-09-28 16:19] manast commented on #1873
I tested the code above (I just changed the timeout to be 1 second for faster testing), it is working perfectly on Mac os, I tried many times to stop the redis server and re-start it and it always continue processing as soon as the redis server is online. Is there anything else you can share in order to reproduce the issue?

[2020-09-28 16:20] Hikariii commented on #1629
Nope it is not. Throwing an error goes fine, but returning a rejected promise with an error gives an unhandled promise rejection error.

[2020-09-29 03:50] royalpinto commented on #1873
@manast It's strange only on one instance I could reproduce, but other places I could not reproduce. I will try to investigate more on this.

However, there is a similar issue we found which is reproducible everywhere. The scenario is below:
- Stop Redis Server
- Start above snippet
- The snippet will keep trying to connect
- Start the Redis server
- The snippet will eventually connect in a few se

[2020-09-29 11:46] manast commented on #1873
okok, so you mean if redis is not running when the bull starts, I will look into it.

[2020-09-29 11:55] manast commented on #751
Probably bull is not the right tool for the requirements you have, maybe you can built something on top a SQL database, where you can do more complex queries on the jobs that actually are part of a given customer (and are not paused) and so on.

[2020-09-29 13:12] cefalo-chanchal commented on #168
I am trying with

`hasThisJobInQueue.update({
          delay: delayInMiliseconds < 0 ? 0 : delayInMiliseconds,
        });`

But see the job still has the same delay from the `add`

[2020-09-30 07:55] manast commented on #168
@cefalo-chanchal but the update only allows you to update the jobs data not the options. In this case you will need to remove the job and re-add it with a different delay.

[2020-09-30 09:13] kasvith commented on #1356
@manast I found that my socket-io instance is not also shared to the spawned process. This might be the same problem with mongoose.

Globals, Variables defined in the main process does not pass to the child

[2020-09-30 09:23] mritzco opened #1874 "Queue stop when a task calls done(error)"
#  Description

Question:
Is it possible that some malformed errors cause the queue to get stalled?
Are there any rules of what an error can contain?

### Context
One of our queues, all of them running as separate processes, stops processing if any of the tasks returns  `done (err)`

- We don't know in advance the content of err.  Normally connectivity, NetSuite error or Slack error (so very rare)

[2020-09-30 09:46] manast commented on #1356
@kasvith yes, thats kind of the point of running a separate process so that you get complete isolation. But I am not sure that is the problem with mongoose though since as reported here the poster is not using a external process, just a callback, which is nothing special so I don't understand why it does not work, however I have seen very strange behaviours with mongoose in the past.

[2020-09-30 11:00] SrividhyaB opened #1875 "Issues with rate limiter"
## Description
Rate limits don't get applied properly when jobs are added to the queue at a rate greater than the rate limit of the queue continuously.
I think there is some problem with the delay with which the jobs are pushed to the delayed queue while there are many jobs also getting added to the queue.

If I run a script first to add 200 jobs to the queue with a rate limit of 50 jobs/min and t

[2020-09-30 12:45] RizaHKhan commented on #1356
My issue was resolved simply by reinitializing Mongoose under the worker process. Hope that helps anyone else that might have this issue.

PS: I found the solution based on a response by @manast on a similar post.

[2020-09-30 15:36] manast commented on #1874
If you are using a separate processor you need to return a promise instead of using the done callback. Not sure what is exactly happening in this case though, it should have thrown an exception telling that "done" is undefined. Can you share more of your processor code or similar code that would reproduce the issue?

[2020-09-30 17:01] grapevineai opened #1876 "How can I create only one producer in a kubernetes environment"
Bull's doc does a great job in explaining how to use the queues and how the workers easily connect to redis to wait for the next task.

The problem is for producer to be able to produce the job only once and make sure there is no duplicates in production especially in real cluster environment (such as kubernetes as opposed to nodejs cluster).

The problem I have is the following:

I have a listene

[2020-09-30 17:33] manast commented on #1875
Thanks for a thorough description. First, regarding the out of order. This is actually a known issue, I tried to make it as good as possible with the current design in this PR https://github.com/OptimalBits/bull/pull/1816 however it is still a best effort endeavour, we cannot guarantee the order at all times. A new design is needed for this were rate limiter is not based on delayed jobs, but I am

[2020-09-30 17:43] manast commented on #1876
If I understand your case correctly, the jobs that you add to the queue will processed only once independently on the number of consumers (workers) you have. So basically in the scenario you are describing it would just work, just add as many workers as you need to consume the job load at desired pace and everything will be processed accordingly.

[2020-09-30 18:35] grapevineai commented on #1876
Actually each job is a cron that will run periodically. I want to trigger them on start (check in my external DB to get all the jobs on startup) and continue to listen to changes of the DB if there is new job or if a job changed. It must be fault tolerant meaning that if the app restarts, it should keep all the jobs and restart listening on changes.

[2020-10-01 05:41] SrividhyaB commented on #1875
Thank you @manast for clarifying on out of order.

I mean it is processing a lesser number of jobs than the rate limit configured.

In the above data I have mentioned, let us take the trail 2: Rate limit is 5 requests/ per min.

This is the the output of job processed

[code]

Between 27:32 to 28:32, it should have processed 5 jobs.
Again it should have processed 5 jobs between 28:32 and 29:32
But

[2020-10-01 05:44] SrividhyaB commented on #1875
@manast Is there a design doc on the new approach for rate-limiting? I would also like to contribute.

[2020-10-01 07:15] manast commented on #1875
The code for rate limiting is basically this, I put extra comments in order to make it more clear:

[code]

[2020-10-01 07:17] manast commented on #1875
ultimately what I want is implement the rate limiting using a separated ZSET where all the rate limited jobs are placed and consumed in order, however this is quite challenging to introduce in current bull design, so I am exploring implementing this functionality in a Redis Module instead.

[2020-10-01 09:35] grapevineai commented on #1876
@manast Any suggestion or recommendation?

[2020-10-01 12:05] manast commented on #1876
I am not sure whats your exactly use-case here, so I do not know what to recommend 👍

[2020-10-01 15:24] ahmad-punch commented on #867
Hi guys any update on this thread?

Also:
From this github thread: https://github.com/OptimalBits/bull#queues-performance

Queues performance
Queues are cheap, so if you need many of them just create new ones with different names:
var userJohn = new Queue('john');
var userLisa = new Queue('lisa')

This is doable but I reckon this is not dynamic so to say not in happening at runtime.

[2020-10-01 19:10] SrividhyaB commented on #1875
@manast Thanks a ton for the detailed comments.

Could the issue be with the jobCounter? The jobCounter (":limiter" redis key) is incremented irrespective of whether a job is processed or rate limited.

Let us take this case:

Rate limit is set to 4 jobs/minute.

We added 8 jobs to the queue at 0th min. 4 are processed immediately and 4 are added to the "limited" set

After a minute, jobCounter is

[2020-10-02 13:14] manast commented on #1875
thanks for your well thought analysis.

That cannot really happen since the lua script is always executed atomically. However, you are right in that jobs that have been rate limited keep incrementing the jobCounter, so I think that you are right in that it can introduce some hazards like the ones you are describing, specially that it will process less jobs than it should actually be allowed to.

I

[2020-10-02 13:38] SrividhyaB commented on #1875
Ah right! I missed that lua scripts are executed automatically.
Yes, I have tested the patch and the rate limit is obeyed now.

[2020-10-02 22:34] nervouscat opened #1877 "Error handling when Redis server disconnects"
Hello all,

I would like to see if there is any way to do error handling if Redis disconnects unexpectedly. I tried to test it with the event handlers, as well as try/catch, but none have worked... the only method that came close was to add

**maxRetriesPerRequest: 0,
  enableReadyCheck: false**

[code]

But was too slow in terms of getting the result with the below scenario:

[code]

is there a w

[2020-10-03 08:34] manast commented on #1875
If you preparer a PR I will glad to merge it.

[2020-10-03 09:14] ionush opened #1878 "seperate processes structure not working"
## Description

Not sure why the seperate processes design doesn't work with me. Help would be appreciated

[code]
this doesn't work
[code]
I have tried with email.js/email.ts, doesn't seem to work. Without __dirname and processor file is not found

## Bull version
"bull": "^3.18.0"

## Additional information

[2020-10-03 09:17] rubenvereecken commented on #1769
I have the same issue and while the proposed solution would work, I really wouldn't want to iterate over a massive amount of jobs.

Especially because I'm actually using repeatable jobs for one-off tasks because it's a lot easier to schedule repeatable jobs due to the "startTime" field. I suppose I'll stop using repeatable jobs though...

[2020-10-03 09:31] ionush commented on #1878
updated comment to reflect another issue

[2020-10-03 09:54] manast commented on #1878
you should use plain javascript as your processor files.

[2020-10-03 09:55] manast commented on #1769
@rubenvereecken first you can get the repeatable jobs with https://github.com/OptimalBits/bull/blob/develop/REFERENCE.md#queuegetrepeatablejobs and then remove them using ``` Queue#removeRepeatableByKey```

[2020-10-03 09:58] manast commented on #1877
You should be able to use the "error" event, so for example:
[code]

[2020-10-03 10:10] SrividhyaB commented on #1875
Raised a [PR](https://github.com/OptimalBits/bull/pull/1879). Can you please take a look at it? @manast

[2020-10-03 10:28] #1875 closed

[2020-10-03 11:36] ionush commented on #1878
I wrote above I tried that already. For clarity, here is the code:

[code]

[2020-10-03 12:58] manast commented on #1878
when you say "it does not work", what do you mean exactly?
Here there are some passing tests that you can use as the base to build your code:
https://github.com/OptimalBits/bull/blob/develop/test/test_sandboxed_process.js

[2020-10-03 13:22] rubenvereecken commented on #1769
@manast but that's just another O(n) solution isn't it? Whereas presumably something that "gets by key" is O(1)? Though I suppose that's where my lack of Redis knowledge shows because it might well also be O(n) anyway, in which case yeah, might as well.

[2020-10-03 14:16] manast commented on #1769
I think it only returns you the jobs that have not been deleted.

[2020-10-05 06:16] mritzco commented on #1874
Sure, I'll prepare some minimal code and see if the issue actually replicates.
Thanks

[2020-10-05 18:59] mayuuh opened #1880 "Update job status from external file or API"
## Description
I am creating a queue inside API.
As soon as the job gets processed the status is changed to completed.
Event listener console logs jobID.

[code]
And in external request I am getting job Instance
`const connectedJob = await newQueue.getJob(req.body.jobId);`

I want to update the job status from the external API.
Inside external API after all, the processing is done. I want to updat

[2020-10-05 20:40] jadkins89 opened #1881 "Bug Report: Repeatable jobs first run very inconsistent when using every"
## Description
Repeatable jobs using `every` are scheduled much earlier than they are supposed to be on their initial run. The larger `every` is, the greater potential for a large discrepancy.

The bug stems from [repeatable.js](https://github.com/OptimalBits/bull/blob/develop/lib/repeatable.js). `getNextMillis` does the following when `every` is a property of `opts`.
[code]
In our use cases we so

[2020-10-05 21:27] manast commented on #1881
yes. The thing here is that repeatable jobs do not work as many people expect. The repetitions must happen at fixed points in time, the reason for it is so that we avoid duplicated jobs, since the repetition "slot" will get a determined jobId and there cannot be two identical jobIds in bull.
Anyway, I will revisit this once again to see if it is possible to use the startDate option as an anchor fo

[2020-10-05 22:10] jadkins89 commented on #1881
@manast Thank you for the reply. Is there a work around that could more accurately schedule repeat jobs or should I consider using cron strings instead? So if I'm understanding correctly, duplicate repeat jobs of the same frequency were being created previously because there weren't any defined "slots" (some range between a multiple of the `every` prop)?

[2020-10-06 06:07] manast commented on #1881
a cron expression may work better for your use case, you can check which is the current month day, X, and then say you want to repeat every X day, you can try something like this:
"0 0 0 6 * *" At 12:00 AM, on day 6 of the month (https://crontab.cronhub.io/)
You can use ```Queue#getRepeatableJobs``` and then inspect the "next" field of the repeatable job to check the next iteration is correct.

[2020-10-06 16:02] jadkins89 commented on #1881
Yeah, it works for certain situations where I want to set up a repeating job weekly / monthly but converting jobs that occur every 2 or 5 days for instance is not possible to get just right. Would something like this solve the duplicate issue? I obviously don't have a feel for your entire code base but would like to help resolve this.
[code]

[2020-10-06 16:49] mayuuh opened #1882 "Restart all queue processing on app restart"
## Description
 am creating a queue and adding a job inside my API.

I am also starting processing my job on API call.

[code]
But when I restart my app. The queue should start processing on the job schedule.

How can I restart all my queue for processing after an app restart?

Thanks

## Bull version
3.18.0

[2020-10-06 23:44] #1876 closed

[2020-10-09 10:34] omeraplak commented on #1322
@jlvallelonga I have same issue with nestjs. Did you find a solution?

[2020-10-11 03:21] zebulonj commented on #1866
I'm reading the source for the first time. It looks like you are currently [using `ZADD`](https://github.com/OptimalBits/bull/blob/develop/lib/commands/addJob-6.lua#L84). I'm I mistaken?

[2020-10-11 03:54] zebulonj commented on #1866
Would `ZPOPMIN` and `BZPOPMIN` not be effective? Mostly an academic question, since you say blocking is not important in the current design.

[2020-10-11 09:17] manast commented on #1866
@zebulonj they are not good enough because they just pop the element from the set, so if the guy popping the element dies for some reason, that job will be in a undefined state. We would need a command like "ZPOPMINLPUSH", that pops and atomically pushes the element to a list, then you can safely move a job from priority list to active list.

[2020-10-11 09:21] manast commented on #1866
but if we do not care about blocking then it is trivial, we can just have a command that consumes from ZSET and pushes in LIST atomically using lua.

[2020-10-13 11:08] ruscon commented on #1873
@royalpinto @manast yep, I have the same issue.

[2020-10-14 01:54] steveherschleb commented on #1446
@stansv if we have multiple workers listening to the queue, does this serial behavior work across all the instances?

[2020-10-16 05:08] harshamv commented on #1415
Has anyone solved this? Please share your solution.

[2020-10-16 05:18] cpu100 commented on #1415
updated to the newest bull version. seems it solved.

[2020-10-17 18:34] mbieser commented on #1873
+1

[2020-10-19 10:35] cerino-ligutom commented on #1701
Experiencing the same issue.

[2020-10-20 06:49] #1882 closed

[2020-10-20 07:37] manast commented on #1882
Not sure what you mean with "restart all my queue". The queue is persisted in redis so when you restart you app all the queued jobs will be there until you process them.

[2020-10-20 07:39] malisetti opened #1885 "Polluting redis `keys *` with repeatable cron jobs"
## Description
Adding a job like the below one keeps the hashes like below. These are the completed timestamps.

[code]

## Minimal, Working Test code to reproduce the issue.
Add a job like below
[code]
## Bull version
latest

## Additional information
How to tell bull to remove these ?

[2020-10-20 07:44] manast commented on #1701
Not sure what the issue is here. If I test with this code:
[code]

I can call this script as many times I want and the cron job will always be executed every 3 seconds, as expected...

[2020-10-20 07:48] manast commented on #1873
I marked this as an enhancement because I consider it a new requirement, i.e. being able too work when starting without an available redis connection if that connection becomes available at a later time. May require some non trivial refactoring.

[2020-10-20 08:52] manast commented on #1885
It is working, example:
[code]

Gives:
![image](https://user-images.githubusercontent.com/95200/96563547-5a210180-12c2-11eb-9963-7ea8d28b8499.png)

[2020-10-20 09:15] supriya-wal commented on #1657
I am also facing this issue. jobs are stuck in waiting queue and some times in active queue also.I have deleted redis keys using del keyname(bull:someJobQueue:active or bull:someJobQueue:failed). Then i tried again. same thing happening.
I have changed queue name then it works for some time(I know that is not a proper solution, but i tried). Again facing same issue. Someone please suggest fix for

[2020-10-20 09:20] malisetti commented on #1885
If we don't have `timeout` in job options and if the queue.process takes more time like 30seconds then we will have lot of keys in redis as mentioned.

[2020-10-20 09:21] manast commented on #1885
can you publish a test case as mine above that reproduces it?

[2020-10-20 09:46] manast commented on #1657
@supriya-wal have you checked your maxmemory policy?

[2020-10-20 09:54] supriya-wal commented on #1657
No @manast Could you please tell me how to set maxmemory policy?

[2020-10-20 10:08] malisetti commented on #1885
it works as expected. thanks. when we dont have removeOnComplete what happens to those keys in redis ?

[2020-10-20 10:18] malisetti commented on #1885
[code]

this is leaving bull:repeater:repeat:* hashes in redis.

[2020-10-20 10:22] manast commented on #1885
yes, but the jobs are failing since you are calling "done" which is not defined...

[2020-10-20 10:23] manast commented on #1885
put "removeOnFail" option if you want to get rid of the failed jobs too, although I recommend to keep them so that you can debug why they failed.

[2020-10-20 10:32] malisetti commented on #1885
added `done` to callback of process.

[2020-10-20 11:29] manast commented on #1885
ok, but since repeatable jobs have a higher frequency than the time it takes to process them they are just being queued up. So you need to have a worker that is faster than the frequency if you do not want this to happen.

[2020-10-20 11:33] manast commented on #1657
@supriya-wal this is a good starting point: https://redis.io/topics/config

[2020-10-20 11:53] supriya-wal commented on #1657
Yeah, i have added maxmemory. but still facing same. please help. @manast
<img width="1440" alt="Screenshot 2020-10-20 at 5 19 21 PM" src="https://user-images.githubusercontent.com/41358730/96582469-f49c3780-12f8-11eb-9ae3-3a88a86cb251.png">

[2020-10-20 11:55] supriya-wal commented on #1657
Yeah i made the changes in redis. but still facing the same. please help @manast
![Uploading Screenshot 2020-10-20 at 5.25.12 PM.png…]()

[2020-10-20 12:06] manast commented on #1657
@supriya-wal I can only help if I can reproduce the issue... you will need to provide me with some test code that reproduces it.

[2020-10-20 16:53] Guidanz-Kishore opened #1886 "Suggestions for horizontal scaling"
## Description
I have a queue that needs to be process using sandboxing. The job is more of CPU oriented that uses Puppeteer/headless browser to take screenshots. So, each job takes about a minute to get over. I need to know how sandboxed processors work since I am not getting enough examples. My question is if we are going for sandboxed approach, do we need to fork the process separately inorder

[2020-10-20 18:46] Prozer1 commented on #562
Hello, I still have this issue and cannot find any solutions on the README or anywhere else,
Can you develop a little bit the answer ?

(The error is exactly the same)

Thanks you very much

[2020-10-20 20:20] manast commented on #1886
The example above is not for sandoxed processors, you need to put your processor inside a separate .js file as described in the documentation. The concurrency factor will determine how many separate node processes bull will spawn to process the jobs.
You can of course scale horizontally by adding more workers in different machines, and so on.

[2020-10-20 21:54] hardnold commented on #1356
Could you please be more specific on what you did exactly and maybe link to the similar issue you're referring to?

[2020-10-20 23:11] miladr0 commented on #1356
@hardnold
I'm writing an article about using bull with mongodb, tomorrow in my timezone I can publish it. But until then you can take look the repo for that article and how I used mongoos with bull.
Cheers 🍻
https://github.com/miladr0/bull-mongo

[2020-10-21 04:31] Guidanz-Kishore commented on #1886
Wow. That was fast. Thank you so much for the reply @manast. Will check it out.

[2020-10-21 04:31] #1886 closed

[2020-10-21 04:36] 0x61x commented on #1870
Thanks for your reply @manast
I couldn't figure out the issue causing the bottleneck. I will try to figure out the issue in the future to understand more. For now, we have moved to apache Artemis, to support some other features like message-grouping as well.

[2020-10-21 04:36] #1870 closed

[2020-10-21 08:44] mayuuh opened #1887 "Move job to active state"
Is there any way we can move any job to Active state?

I want to manually move job to active state.

[2020-10-21 08:48] manast commented on #1887
You can only move the jobs to the active state that are in the tip of the queue.

[2020-10-21 08:53] mayuuh commented on #1887
I am trying to update status of that job manually.

Example:
I am calling external API in my process function. But not waiting for it to complete.
I have created another API where my job will update the status.

Like right now I am using two methods.
moveToCompleted and moveToFailed

But until I update status it should be in active status.

So is there any way?

[code]

[2020-10-21 08:56] manast commented on #1887
I am not sure I understand you use case, but you should not ignore the result of the asynchronous api call.

[2020-10-21 08:59] mayuuh commented on #1887
Is there any method like moveToActive?

[2020-10-21 09:08] #1887 closed

[2020-10-21 12:21] Guidanz-Kishore opened #1888 "Inconsistency in job removal from the bull queue"
## Description
Hi. I am trying to remove a repeatable job from my queue. But often, the scheduled job is not getting removed from the queue even after calling job.remove( ). I would like to know whether i am making any mistakes in removing the repeatable job because if failure to remove the jobs always happens, i can understand that there is some issue with my code. But, the failure case is so inc

[2020-10-21 12:25] manast commented on #1888
You must use either ```removeRepeatable``` or ```removeRepeatableByKey```, thats the only way to correctly remove a repeatable job: https://github.com/OptimalBits/bull/blob/develop/REFERENCE.md#queueremoverepeatable
You may need to use this function to get all the repeatable jobs: ```Queue#getRepeatableJobs```

[2020-10-21 12:31] Guidanz-Kishore commented on #1888
Sure. Thank you so much for the reply. Will check it out.

[2020-10-21 12:31] #1888 closed

[2020-10-21 14:18] RodolfoSilva commented on #1323
You can use the command line for this:

[code]

[2020-10-21 15:13] ada-mr0r commented on #1356
link to the tutorial: https://medium.com/better-programming/message-queue-using-bull-redis-and-mongodb-in-node-js-d7dedaa426ea

once again tnx for ur awesome library @manast

[2020-10-21 15:15] miladr0 commented on #1356
link to the tutorial: https://medium.com/better-programming/message-queue-using-bull-redis-and-mongodb-in-node-js-d7dedaa426ea

once again tnx for your awesome library @manast

[2020-10-21 16:38] hardnold commented on #1356
Thanks. Nice Article. Didn't help to fix my problem though 😉  (I didn't get the OP's described Type Error, instead just nothing happened).
What actually solved my Problem was to open a new DB-Connection for the processor (which is in a separate File).

[2020-10-21 19:04] jmargieh opened #1889 "Any reason why takeLock() / releaseLock() is not part of bull documentation?"

[2020-10-21 20:52] manast commented on #1889
Because they are private methods.

[2020-10-21 21:10] GabrielLaTorre opened #1890 ".process() and .addJob() at the same time ???"
## .process() and .addJob() at the same time ???

#### I am using Bull in a Sails project. I am going to require some services that perform external tasks and that is why I use the queues.
Testing, I managed to build a function which creates the .process () and performs the addJob () at the same time.
Will this affect the performance of my app? is there any downside to having "multiple processes"?

[2020-10-22 06:57] jmargieh commented on #1889
@manast Thanks for the quick answer.
So If I'm running multiple nodeJS instances and I'd like to be certain that only one worker and no other queue worker can process it, how do I do that?

Thanks in advance.

[2020-10-22 07:47] manast commented on #1889
@jmargieh that is handled automatically by the library. Every worker will lock the job and keep it locked until it completes (or fails).

[2020-10-22 07:48] manast commented on #1890
I am surprised that code works at all since bull throws an exception if you define the process function more than once. So, no, the process function should not be defined every time a job is added.

[2020-10-22 08:33] jmargieh commented on #1889
Great, thank you so much!

[2020-10-22 08:33] #1889 closed

[2020-10-22 08:45] mistory commented on #1876
@grapevineai I encountered the same problem, do you have a good solution

[2020-10-22 08:49] manast commented on #1876
@mistory what problem did you encounter exactly?

[2020-10-22 08:53] grapevineai commented on #1876
@mistory I have decided to use warlock (https://www.npmjs.com/package/node-redis-warlock) to lock only one instance to be the producer. You can give the lock a lifetime value so if the machine dies, another can take catch the lock.

[2020-10-22 09:02] manast commented on #1876
@grapevineai it is funny because according to the warlock's author (https://www.gosquared.com/blog/distributed-locks-using-redis) the lock mechanism he uses is exactly the same as Bull uses.

[2020-10-22 10:59] grapevineai commented on #1876
@manast yes but unfortunately Bull doesn’t integrate this feature with a timeout which compromises any use for this purpose. If your only producer dies, nothing can be done on Bull side to detect that.

[2020-10-22 11:04] manast commented on #1876
What do you mean your producer dies? Not sure what scenario is this, normally you control the producers, you add jobs to the queue and then the workers or consumers consumes the jobs. If a worker dies while processing a job then automatically another worker will pick that job up as soon as the lock on that job expires.

[2020-10-22 12:15] #1890 closed

[2020-10-22 17:30] tudorconstantin commented on #1322
I managed to get rid of those bull `BRPOPLPUSH ReplyError: MOVED` errors by **building an ioredis connection and reusing it**:

[code]

And then, instantiate your queue like `const myQueue = new Queue('myQueue', __getConnOpts(redisOpts))`

Hope this helps!

[2020-10-23 15:50] joebowbeer commented on #758
@manast I think the ioredis [issue](https://github.com/luin/ioredis/issues/536) is [fixed](https://github.com/luin/ioredis/pull/1201) (but not yet released)

[2020-10-23 17:59] smecnarowski opened #1891 "Issues with some UUID jobId's"
## I'm adding tasks to queue in loop using users UUID as jobId to prevent duplicates.
[code]
Because I ran into errors I started to debug. What I Was found you can see below. Found 18 users, added 18 times to Queue but queue runs only 11 jobs. After changing to use normal id (integer) all 18 jobs were processed.
[code]

## UUID's that din't work
[code]

[2020-10-23 21:27] manast commented on #1891
please provide a complete but minimal test case that reproduces the issue. In your code above, btw, you should not ignore the result of calling .add on the queue.

[2020-10-24 16:50] rronalddas commented on #1689
@stigvanbrabant I guess its not possible right?

[2020-10-24 22:45] shivajikewat commented on #1387
once a job is getting completed in queue.process

later on I am trying to take a instance of queue by job id

now I am trying to move the job to failed (moveToFailed) but the same jobid is reflecting in both completed and failed (in arena)

can you suggest me what should i do so that jobid will removed from completed and will only reflect in failed?

[2020-10-25 14:24] Guidanz-Kishore commented on #1676
Does that mean the job will repeat again? I also tried using removeRepeatableByKey and in the bull dashboard, i can still see the job in "Delayed" list.

[2020-10-26 07:53] manast commented on #1676
@Guidanz-Kishore which version are you using? when deleting with removeRepeatableByKey, assuming you provided the correct key, it will delete both the meta and the current delayed job that has not yet been executed.

[2020-10-26 08:32] psychonetic commented on #890
@adogor Does not work for me.  (3.10.0).
I get another error: connect ETIMEDOUT when my application tries to add new jobs. Before it was the connection refused error.

Are there any updates on this?

[2020-10-26 10:36] manast commented on #890
@psychonetic if you have a specific use-case where your problem is reproduced I recommend you to post that, because most issues in this thread are obsolete or user-code specific.

[2020-10-26 10:50] #1644 closed

[2020-10-26 11:36] Guidanz-Kishore commented on #1676
Bull version - 3.18.0
bull-board version - 0.9.0
Redis version - 6.0.8
I am using getRepeatableJobs() to get the list of repeatable jobs. From that, i am getting the key that needs to be passed as parameter to removeRepeatableByKey(). But even after that. the job is still shown in the bull dashboard. Here is the code snippet for the function. Kindly let me know if you want any further details.

co

[2020-10-26 12:20] manast commented on #1676
@Guidanz-Kishore can you provide a screenshot from the dashboard where you see the repeatable job?

[2020-10-26 12:52] Guidanz-Kishore commented on #1676
![Screenshot from 2020-10-26 18-21-47](https://user-images.githubusercontent.com/54881818/97174509-34ab6080-17b8-11eb-8738-1a25c05056e6.png)

[2020-10-26 12:55] Guidanz-Kishore commented on #1676
This is taken after i removed the job using removeRepeatableByKey(). I used to remove the job from bull using job.remove() previously. But the issue i am facing is that, it is really inconsistent in removing the job. Sometimes it is getting successfully removed and sometimes it is not. Let me know if you want any additional information. Thanks...

[2020-10-27 03:31] #1885 closed

[2020-10-27 11:30] rohitkhatri commented on #1573
I'm also trying to understand how to repeat a job until certain time, but it doesn't seem to be clear, can anyone help?

[2020-10-27 11:45] Guidanz-Kishore commented on #1676
@manast did I miss anything from my end?

[2020-10-27 12:46] manast commented on #1676
@Guidanz-Kishore no, there was an issue, it is fixed in the PR above. I will release soon.

[2020-10-27 12:50] Guidanz-Kishore commented on #1676
Great. Thank you very much for the support @manast.

[2020-10-27 12:52] manast commented on #1676
@Guidanz-Kishore please check the new release 3.18.1.

[2020-10-27 12:54] manast commented on #1573
@rohitkhatri is endDate not working for you?

[2020-10-27 12:55] Guidanz-Kishore commented on #1676
Sure. Will check it out. Thanks

[2020-10-27 12:59] rohitkhatri commented on #1573
Yes, It's not working in conjunction with repeat, here's what I'm trying:

Below is the code I'm trying, but It doesn't stop after 1 minute, It keeps running

[code]

[2020-10-27 17:35] Zikoel commented on #1881
If I understand well the job id is related to the repeat value? Why not find another way to create a deterministic id and why we need a deterministic id ?

[2020-10-27 18:41] gustawdaniel commented on #1778
I am trying to do the same scenario. I finished with:

[code]

[2020-10-27 21:06] manast commented on #1881
@Zikoel because we want to avoid duplicated jobs for a given repetition, there could be hundreds of workers concurrently and this is a mechanism that avoids duplication... I am open for solutions that are better than this if anyone can come up with one.

[2020-10-28 08:47] amit-gshe opened #1893 "updateDelaySet may cause very high redis cpu usage"
We have a very large queue which has about several millions of delay jobs. And our queue has tens of workers(pods) in k8s cluster and even double or triple more pods when the business peak time. We have encountered an issue that bull can lead high redis cpu usage and the redis gets slow then stop prosessing jobs. It's a pain last for several months. Finally we find that the updateDelaySet get trig

[2020-10-28 10:54] manast commented on #1893
Before I dig more into this issue, could you tell me more about your queue setup? for instance why do you have so many delayed jobs, and what is the average delay for these jobs? are you using rate limiting?

[2020-10-28 10:56] manast commented on #1893
also, are you using priorities or just normal jobs?

[2020-10-28 10:59] amit-gshe commented on #1893
My queue config: `new Queue('FOOD_DIGEST_JOB', { redis: { host, port }, limiter: { max: 1000, duration: 1000 } })`. We have millions of users and they can feed fish and every fish has a delay job in our setting. we use normal jobs.

[2020-10-28 11:08] manast commented on #1893
ok, so you have both delayed jobs and rate limited to 1000 jobs per second right?

[2020-10-28 11:09] amit-gshe commented on #1893
yes exactly

[2020-10-28 11:09] manast commented on #1893
and where are you running your redis instances?

[2020-10-28 11:10] amit-gshe commented on #1893
we run our redis instance on aws elastic cache redis.

[2020-10-28 11:12] manast commented on #1893
did you consider upgrading the instance type to a faster one? I know in aws is wasteful since larger instances also has more cores but redis will only use one.

[2020-10-28 11:14] manast commented on #1893
I assume you are using last bull version 3.18.1 right?

[2020-10-28 11:16] amit-gshe commented on #1893
yes we tried upgrading our instance but nothing difference. The queue can run a period of time but this issue will occur occasionally.

[2020-10-28 11:17] manast commented on #1893
yes. Moving the delayed jobs back to wait is not very efficient, specially in this case when your queues are always full of jobs. I think I can implement a solution for this, but it may take a couple of days before it is ready (if everything goes well).

[2020-10-29 15:39] stevenjmarsh opened #1895 "Queue#add timeout option not failing a timed-out job"
## Description

I am using bull to manage handling requests for image processing. The processes are CPU intensive, and can take up to several minutes to complete.

In some cases the process may crash, and is not able to call `done()` or throw an error. When this happens, I need the job to timeout, and have the state set to 'failed', so that I can do some clean up and keep the queue clean. The job

[2020-10-29 16:15] manast commented on #1895
I do not recommend you to modify the standard values for lock duration and stalled interval. If a job crashes, it will not be able to renew the lock and bull will consider the job stalled and move that job back to the wait list or fail it if has already stalled more than maxStalledCount (defaults to 1). So in your case just configure maxStalledCount to 0 and the job will fail instead. Btw, if your

[2020-10-29 16:50] stevenjmarsh commented on #1895
Thanks @manast , I will try those adjustments and let you know if that worked. And thanks for the fast response.

[2020-10-29 18:49] stevenjmarsh commented on #1895
setting maxStalledCount to 0 and not setting any value for stalledInterval worked, thanks!

I did need to increase the lockDuration (to 5 minutes), as my job looked as if it was timing out (even with the job timeout set  to 5 minutes).

[2020-10-29 18:49] #1895 closed

[2020-10-29 19:13] stevenjmarsh commented on #1895
That worked, I am closing the issue. Thanks!

Steven Marsh
https://www.linkedin.com/in/stevenjmarsh
sjm.atl@gmail.com
678-361-6311

[2020-10-29 20:42] donaldduy-lb commented on #1856
@rosslavery Could you provide more information on how you've set up your horizontal scaling? I'm coming into an issue where my pods are being killed before a job completes. I thought this might be fine because I expected the job to retry (I've set it to 5 retries), but these interrupted jobs are never retried.

[2020-10-29 22:40] manast commented on #1856
@donaldduy-lb if the worker dies in the middle of the processing it will be considered a stalled job. maxStalledJobs setting is 1 by default, you may want to increase that.

[2020-10-29 22:41] manast commented on #1856
Going to close this issue since it has been answered.

[2020-10-29 22:41] #1856 closed

[2020-10-30 06:07] mritzco commented on #1874
Hi,
I've been unable to prepare the case. I'll switch all code to Promises first and if the problem keeps happening I'll reopen the issue with some sample code.
Thanks a lot for your help.

[2020-10-30 06:07] #1874 closed

[2020-10-30 10:35] tructhienbui opened #1896 "Repeatable jobs very miliseconds is incorrect time"
Let say i have a job with schedule every 5 minutes, this will means that the job will run at 0/10/15/20/25... every hour.
Let say if current time is 05:23 AM, then i add a job with schedule above, then it will executed at 05:25 AM not 05:28 AM as expected.

[2020-10-30 12:40] manast commented on #1896
This has been discussed many times before. It works as designed, we cannot have a distributed repeatable job at an arbitrary time. Time is divided in slots and only at that slots the jobs will be executed.

[2020-10-30 12:41] #1896 closed

[2020-10-30 16:24] manast commented on #1893
I implemented some improvements that should reduce the CPU usage for a case like this, I wonder if you have any chance to verify it before we make a new release? https://github.com/OptimalBits/bull/pull/1897

[2020-10-31 04:07] amit-gshe commented on #1893
I tried #1897 with option `new Queue('FOOD_DIGEST_JOB', { redis: { host, port }, limiter: { max: 1000, duration: 1000 } })` this morning and I found the CPU was usage is low but the consume rate get slow at the same time which result in the delayed jobs get stacked in delay queue and not consumed in time. BTW I found the redis slow log is clean now. The redis slow log increase quickly in the befor

[2020-10-31 08:31] manast commented on #1893
ok, I will try to mimic those numbers in a synthetic test.

[2020-10-31 15:54] manast commented on #1893
I added a small fix to the above mentioned PR, would you mind to test if it works faster?

[2020-10-31 16:30] amit-gshe commented on #1893
Thx for your working. I tested again and the consume speed was very fast. And the rate is close to the rate limiter. Jobs moves to active and get consumed quickly but the redis cpu is much lower than before.

[2020-10-31 16:42] amit-gshe commented on #1893
I found the `Queue.prototype.updateDelayTimer` get called very frequently and is it normal?  I also inspect the redis slow log found logs as below:
[code]
However the slow log length was just 4 and didn't increase any more.

[2020-10-31 17:33] manast commented on #1893
yes, I think it is normal, my fix basically disables the updateDelayTimer as long as there are jobs in the queue to be processed, but sometimes when it gets rate limited it will kick again. It is very difficult to make it perfect just using LUA scripts. I am working on a redis module that solves all this problems perfectly but it will not work on AWS elasticache since it does not support modules.

[2020-11-01 11:04] RodolfoSilva commented on #1766
@manast

![image](https://user-images.githubusercontent.com/1703020/97801053-c3850680-1c18-11eb-82a6-1700c7c902af.png)

Has any way to move this jobs to failed state?

[2020-11-03 17:42] steddyman opened #1898 "Repeating jobs are not recreated"
# Description
I have a scheduler process that adds repeating jobs to a specific queue every time my service is restarted.  On restart I am trying to delete any existing Delayed jobs and then recreate them.  These are pulled from a database so I want the restart to cleanly setup all the jobs again.  I am also deletign them to get to the bottom of why when they are added, they don't always get sched

[2020-11-03 17:44] kwkr opened #1899 "Redis get wiped out when cleaning a lot of jobs at once."
## Description
When trying to clea queues with a lot of tasks (>500k) using `queue.clean(0, "completed");` it sometimes leads to wiping out the whole Redis instance. The tasks for the other queues are wiped as well. Not sure if it's a bug or I'm using it the wrong way.

## Minimal, Working Test code to reproduce the issue.

Generate a lot of tasks (>500k) to some queue and then try to clean them u

[2020-11-03 18:50] manast commented on #1899
that is quite difficult to believe, I would need a test case that reproduce this.

[2020-11-03 19:03] kwkr commented on #1899
[code]

I ran this code locally and actually got OOM while cleaning the first queue. After running the script again only to show the number of tasks in each queue, both had 0 tasks. For the redis instance I used the local docker container:
[code]

[2020-11-03 19:06] manast commented on #1899
I think you need to correct that code, all "add" calls return a promise you must handle it, if you ignore it we do not really know when you got the OOM.

[2020-11-03 19:13] kwkr commented on #1899
Sorry, you are right. Just corrected it and I'm checking if I get similar results.

[2020-11-03 19:13] manast commented on #1899
I saw you edited the code, but you missed this one:
[code]

[2020-11-03 19:14] manast commented on #1899
regarding the results, what are you getting and what do you expect?

[2020-11-03 19:21] kwkr commented on #1899
I already had a few situations when I tried to clean up "completed" tasks using this command and ended up wiping out all the other data for other queues as well. I would expect it to clean only the queue and tasks that I specify. In my scenarios it would be cleaning up the "completed" jobs. Is this an expected way to use this method?

[2020-11-03 19:36] manast commented on #1899
ok, I will look into it.

[2020-11-03 20:15] oxabz opened #1900 "The job returned by Queue.add() is not updated by progress()"
# Summary

The progress value of the Job returned by ``Queue.add()`` isn't updated. It's a surprising behavior considering that the Job objects returned by the events are.
Is it an intended behavior? If it is it should probably be added in the reference documentation

# Reproduce / Test

When executing this program :

[code]
We obtain the following traces :
[code]

[2020-11-03 20:56] AustinHatem opened #1901 "Know when job is completed (Node.js, Express, Bull, Heroku)"
I have a node server that has a convert to Mp4 feature. This process could take awhile ~20-30 seconds so im using Bull to manage this process.

I am confused on how to tell my frontend that the process is completed. My Express code looks like this:

[code]
The job will get called and the process will finish but since it takes longer than 30 seconds, heroku will time out this api call. So how can I

[2020-11-03 22:18] manast commented on #1901
The idea of using a queue for long tasks is that you post the task and then return immediately. I guess you are updating the database as last step in your job, and only use the completed event for notifying the clients. What you need to do in this case is to implement either a websocket or similar realtime communication and push the notification to relevant clients. This can become complicated so

[2020-11-03 22:54] AustinHatem commented on #1901
Ok makes sense, thank you! So to make sure I understand basically I'm just going to give the job to the queue -> respond to the user -> let the queue perform the task then post the completion to a database -> push the notification of completion to relevant clients?

Thanks again so much, I'm kind of new to queues.

[2020-11-03 23:13] ChechoCZ commented on #1661
Even running Queue.process in the index.js and setting concurrency to 1, I get the same result... It starts the second process before finishing the first one. :(

[2020-11-04 06:19] zebkailash commented on #858
Is this supported @manast.

[2020-11-04 08:26] manast commented on #1661
@ChechoCZ most likely you are not returning a correct promise in your processor function.

[2020-11-04 09:14] manast commented on #1901
@AustinHatem yeah you got it.

[2020-11-04 09:35] manast commented on #1900
I marked it as an enhancement.

[2020-11-04 09:51] pgonzaleznetwork opened #1902 "Do we really need to use done()"
## Description

The official docs state that we must use done() to signal that a job has completed. However, my app does NOT use done() and instead uses async await and simply returns a value when the job is done, for example

## Minimal, Working Test code to reproduce the issue.

[code]

This works 100% of the time and it is the example provided by Heroku as well https://github.com/heroku-example

[2020-11-04 11:05] manast commented on #1902
It does not say you MUST use done, you can use it but it is easier/better to return a promise.

[2020-11-04 11:50] #1902 closed

[2020-11-06 10:18] Able1991 commented on #1306
Hi. You have no problem with the number of open connections? does everything work well when changing master?

[2020-11-06 10:23] adame21 commented on #1306
Hi, I did run into a silly issue simply because I did not close connections properly.
I opened another issue and was directed properly here:
https://github.com/OptimalBits/bull/issues/1859
Other than that we've been running with redis-sentinel for months without problems :)
Good luck.

[2020-11-09 12:39] sontono commented on #1854
+1

[2020-11-09 21:21] peterp commented on #962
I'm not doing anything sophisticated with bull, so I created this mock that executes the job the moment a job is added, maybe someone can expand on this.

[code]

[2020-11-11 12:33] grapevineai commented on #742
@manast Will this be implemented in BullMQ as well?

[2020-11-12 04:39] kodeine commented on #1415
any updates on this i am on new version but getting the same error.

[2020-11-12 04:51] anindya-dhruba opened #1903 "Update rate limiter"
This is not an issue, it's just a question.

If I have a queue with rate limit of 6, can I update the rate limit to something else while the queue is processing the jobs?

My case is, I have multiple queues, but each queue should have the same rate limit. If a new queue is created, all the existing queues need to decrease the rate limit. If an existing queue has finished all the jobs, other queues

[2020-11-12 15:15] cpu100 commented on #1415
@kodeine
Is the CPU load too high when this error throws? If so, My solution is to read `/proc/loadavg` in the repeat process callback to determine whether the current CPU load is too high. If so, skip the processing part. Now my problem is completely solved.

[2020-11-14 22:43] otaviosoares opened #1904 "queue.add options gets overriden by defaultJobOptions"
I have a code like the following and I expected the options passed to `queue.add` to have priority over queue's `defaultJobOptions`. However, as for now, if you have an option on `defaultJobOptions` it will always override anything you have in your `add` call. This was very confusing and it took me some time to figure out why it wasn't working.

[code]

[2020-11-16 02:04] naz commented on #1476
Hey @vm2908 :wave: Was wondering if you could share the outcomes of your research and if you had any luck with worker_threads?

[2020-11-16 03:43] vm2908 commented on #1476
Hi @naz I did not try worker_threads. I ended up creating a separate service for handling the CPU intensive blocking operations. For any light-weight operations that need to run in the background, I am still using agenda.

[2020-11-17 01:07] Heartz66 opened #1906 "finished function race condition"
[code]

The code above could result in a race condition because the `finished` function will register events to detect completion/failure of a job once the `finished` function is triggered. Since the job won't enter the `completed` or `failed` state (due to `removeOnComplete` set to `true`), the script to obtain the state of the job will not do anything. If the job is completed before the events t

[2020-11-17 13:30] jasrusable opened #1907 "Local Queue.pause on a queue with multiple named .process handlers does not wait for tasks to complete"
##  Description
Issuing a local pause (`queue.pause(true)`) on a queue with multiple named `.process` handlers does not wait for tasks to complete as expected as per the documentation:
https://github.com/OptimalBits/bull/blob/develop/REFERENCE.md#queuepause
`If doNotWaitActive is true, pause will not wait for any active jobs to finish before resolving. Otherwise, pause will wait for active jobs to

[2020-11-18 01:22] rosslavery commented on #1907
May not be related but I don't believe you should be mixing completion approaches inside your job code. You're calling done and also returning a promise.

No need to call done or even have it as a param if your processor returns a promise.