[2020-11-18 21:07] lukepolo commented on #1327
Setting my limiter
[code]

Causes my delay to go negative :
![image](https://user-images.githubusercontent.com/2066668/99588101-16e8aa00-29b8-11eb-97e8-4c1eeca8e746.png)

Is there something im setting up wrong?

[2020-11-18 22:35] geniousphp commented on #1873
Actually, I can reproduce this scenario
- Run bull
- Stop Redis
- Wait for a moment and start again Redis
- Bull will not process any tasks
- Restart bull, then Bull will work normally
I think this is a bug

[2020-11-19 01:01] lukepolo opened #1908 "Delayed Job Never gets called with getNextJob"
# Description
I am using `getNextJob` and it never picks up the delayed job.

![image](https://user-images.githubusercontent.com/2066668/99606602-13651b00-29d8-11eb-9fce-c21d93a0f6b6.png)

## Minimal, Working Test code to reproduce the issue.

[code]

#### (An easy to reproduce test case will dramatically decrease the resolution time.)
Run `node test` , you should it never picks up the delayed job

[2020-11-19 09:42] bennyKY opened #1909 "Suggestion - default removeOnComplete to true"
Hi, we had a huge problem in our production systems that our Redis exploded because it was full with completed messages.
Yes, the fact that messages stays in the Redis after being processed exists in the documentation somewhere. But someone can miss it (like we did) and then the Redis was full and messages were sent and our production crushed :(.

Therefore, my suggestion is to set `removeOnComple

[2020-11-19 10:37] manast commented on #1909
I am afraid that is not possible at this point since it would be a breaking change that could also be missed by current users and delete data they are counting on. What we can do it document it better if current documentation is not explicit enough about it.

[2020-11-19 14:23] mattcollier commented on #1906
This is with bull@3.19.0 released earlier today.

Here is a minimal example that will fail in short order:  https://gist.github.com/mattcollier/3f78a3e108f29650ad2c3e97885c2cee

[2020-11-20 17:22] robolivable commented on #1712
@kenma9123 Does the `SIG` event trigger if your process is not long running?

I'm seeing a similar behavior, but in my case the `SIGTERM` event handler gets fired only after the child processor completes its work. This effectively prevents any interruption of the child process while it's working, which makes it hard to implement graceful shutdown logic.

[2020-11-20 20:48] jedspurg commented on #1111
I think the biggest issue here is that it is not easy to key the repeatable key easily without listing all jobs. Is there a simple way to get the repeatable key when creating a job?

[2020-11-21 15:19] Ritz90 opened #1913 "Unable to create Queue from Google Cloud Run Redis"
I'm trying to setup my redis bull on Google Cloud run. Locally everything works.

I use the following code when the server starts:

const client = redis.createClient('6379', '10.103.YYY.YYY');
This seems to be working. I don't receive any error on startup.

When I try to launch a job with Bull like:

             const actionQueue = new Bull(uuid(), {
                redis: {
                    p

[2020-11-22 14:06] tgreco opened #1914 "Process never fires for job"
Delete

[2020-11-22 14:39] #1914 closed

[2020-11-23 09:02] manast commented on #1913
I find highly unlikely that this setting will work, besides it is not the same as your example when you connected using the redis client directly:
[code]

[2020-11-23 16:26] smartdev10 opened #1915 "Question memory usage clutser mode , sandboxed processes"
Chank you for this great library

Can you please advise me if this is good implementation

I'm trying to processes a list of emails of 200k each on it's own process , i am using puppeteer , could be multiple Queues
I create Queues on the fly using socket.io that creates a worker_thread that create the Queue this is my code

The processor open a headless browser and preforms some operations and clo

[2020-11-24 03:07] ostar0816 commented on #1304
@manast
Can you please merge @dobesv 's PR? Or I think at least we have to swallow only `Connection is closed` error but throw others.

[2020-11-24 03:12] ostar0816 commented on #1746
@manast
Could you please merge @dobesv 's change? If you want, I will send a PR to swallow only `Connection is closed.` error. I don't think we need to have a delay when we use redis option rather than `createClient` function. So swallowing only `Connection is closed.` error and throw others will be enough.

[2020-11-24 03:50] swayam18 commented on #1904
We have the same issue. Default job options are being treated as 'mandatory' job options, which is semantically incorrect

[2020-11-24 04:10] wdh-1025 opened #1916 "Configuration defect"
defaultJobOptions overrides the opts of Queue.prototype.add

[code]

## queue.add(......)

## 3.18.0

[2020-11-24 04:17] swayam18 commented on #1904
The regression was introduced here: https://github.com/OptimalBits/bull/commit/ac2fc51c2b8f544a150b83e5969654f5af8de5f7#diff-afa7a0a70da4b0fa42349adcdb862c6f079f980b4051ca651d929290f34a29c7L706-R705

A temporary workaround is to revert back to bull 3.15.x, but you might have to deal with bugs that were fixed in newer branches

[2020-11-24 04:18] swayam18 commented on #1916
There is a PR to fix this here: https://github.com/OptimalBits/bull/issues/1904

You can use bull 3.15.x for now as a temporary workaround

[2020-11-24 09:36] #1904 closed

[2020-11-24 09:44] manast commented on #1893
Closing this since there are no more actions that I can take.

[2020-11-24 09:44] #1893 closed

[2020-11-24 09:57] #1867 closed

[2020-11-24 17:55] mrfsbDev commented on #1418
Any suggestion?
I have the same problem and I'm not using Zeit Now

[2020-11-24 17:56] mrfsbDev commented on #1424
any suggestion?
I have the same problem and I'm not using Zeit Now

[2020-11-25 10:21] mauricedoepke commented on #1034
@manast Would be great if we could get that feature.

[2020-11-25 11:03] manast commented on #1034
@mauricedoepke I am going to look into it, it was long time ago so I barely remember it anymore.

[2020-11-26 09:26] manast commented on #1034
@mauricedoepke just to make clear the requirements for this issue:
1) A job added with a debounce parameter will wait X milliseconds before starting to process.
2) If a new job is added before X milliseconds have passed from previous job then the old job is replaced by the new one.
3) If the old job has already started and a new job is added, the new job will not replace the old one, it will just

[2020-11-26 12:10] zbarinov opened #1919 "Is it possible to use same handler for different named jobs ?"
I need to implement the following scenario:

[code]

somewhere in the worker:
[code]

Is that possible ?
How do I keep just one processor running ? As I can see a different processor is run for each job type added to query, like for `job_1` and `job_2` there will be to running processes.

[2020-11-26 13:33] hosseinhojjatyar opened #1920 "bull js kubernetes pod"
hi,
i use bull js delayed job for authentication code ttl in database
if a bull js pod die, my queue(s) and data will be destroyed??
how can i prevent data loss??

[2020-11-26 13:37] #1920 closed

[2020-11-26 13:52] zbarinov commented on #1919
@manast thanks for the fast response.
job1Worker and job2Worker are implemented exactly the same as normal worker is implemented:

[code]

But in my case. I got 2 `/bull/lib/process/master.js` processes after those 2 jobs handled. And 2 processes keep running.
If there will be another `bull.add('job3', payload)` call there will be 3 processes running even after job is completed.

Is there anything

[2020-11-26 14:37] manast commented on #1919
Impossible to say if you are doing something wrong, I would need a complete example that reproduces the issue.

[2020-11-26 17:54] zbarinov commented on #1919
Got the problem! I just recognized, that I used `bull.add` in the worker, like

[code]

It causes Bull loaded twice in different processes!
And my initial question turned out into:

Is there any way to add new jobs from processor in this case ?
As I can see better way is to use events, like on `completed` event.

[2020-11-26 18:13] zbarinov commented on #1919
I have solved this by moving processors to a different module, so that they are not loaded twice.
Thank you!

[2020-11-26 18:13] #1919 closed

[2020-11-27 14:57] mauricedoepke commented on #1034
@manast Yes. Where meaning exactly the same.

[2020-11-30 13:26] rimiti opened #1922 "Horizontal scaling and concurrency"
Hello,

**Context**

My worker instance is auto-scalable (replica created automatically depending on CPU & Memory usage) to handle lots of jobs to process. For a specific queue we would like to have a concurrency of 100 STRICT processors spread out for all instances.

For example:
- If there is 1 replica (or node) is running, active jobs (concurrency: 100) should be equal to 100.
- If there are 2

[2020-11-30 17:06] manast commented on #1922
That is not possible currently, since every worker's concurrency is independent.

[2020-11-30 17:58] rimiti commented on #1922
@manast It's what I saw after doing some tests in my infrastructure.

Thank you for your confirmation.

[2020-11-30 17:58] #1922 closed

[2020-12-01 17:19] jfix opened #1923 "Please provide example in documentation for returning binary data"
I'm sure what I am trying to do is a common thing, but unfortunately I could not find any indication as to how to solve it via the documentation. I asked my question on StackOverflow (here: https://stackoverflow.com/questions/64837262/how-to-return-a-generated-image-with-bull-js-queue), but have not received a response. Hence this request to add information to the documentation.

My use case is th

[2020-12-01 21:05] manast commented on #1923
Currently you cannot store binary data in bull, only JSON objects. The best practice here is to store the image in a different store and only keep metadata in bull.

[2020-12-01 23:11] jfix commented on #1923
Thanks for the answer. Just for theory's sake: if I encoded the image (or other data) as a base64 string, would that work? Are there any size limitations for object values in Redis?

[2020-12-01 23:27] zxxc opened #1924 "setMaxListeners ignores provided value and uses default 10"
## Description
When I applying setMaxListeners on the queue
queue.setMaxListeners(24);
I still see the `(node:39480) MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 error listeners added to [Redis]. Use emitter.setMaxListeners() to increase limit`

## Minimal, Working Test code to reproduce the issue.
queue = new Bull(queueName, { redis, settings: { maxStalledCount: 2 }

[2020-12-01 23:41] zxxc commented on #1924
My workaround for this issue is to (typescript):
[code]

[2020-12-02 05:26] mathewcst commented on #1916
Is there and update on this?

I'm using v3.20.0 and this `await Queue.add('myCustomQueue',{id: 1,},{repeat: { every: 10000},})` doesn't work. It don't get the job custom opts that I'm passing on.

[2020-12-02 08:08] #1916 closed

[2020-12-02 15:41] manast commented on #1923
I think the limitation is 512Mb, so it will work.

[2020-12-02 16:37] #1923 closed

[2020-12-02 17:16] kietheros opened #1925 "Stalled job with higher priority has to wait other jobs with lower priority to being processed again."
I add jobs to bull queue with priority and only use one worker.  When the worker crashes, a job stalls. I restart workers and add many other jobs to queue. I find that this stalled job has to wait other jobs finish to be processed, although it has higher priority.
I want to ask some questions about queue with priority.

1. Worker will check stalled job after each stalledInterval seconds. If find a

[2020-12-04 08:06] t86 opened #1927 "In redis cluster mode, ‘global:completed’ cannot be triggered"
## Description
There is no problem using the stand-alone redis, but after using example to configure redis as a cluster, the global: completed event cannot be triggered
#### (An easy to reproduce test case will dramatically decrease the resolution time.)
[code]
## Bull version
3.18.1
## Additional information

[2020-12-04 18:47] majidsajadi commented on #1034
I have a question about the requirements.
by new job, you mean a job with the same name and data? or the new job can have different data? if the data is different that the old job we should replace the old one with the new one?

[2020-12-05 12:09] sokolandia opened #1928 "Error: socket hang up"
## Description
About 90% of jobs fail before even beginning with the message
[code]
## Minimal, Working Test code to reproduce the issue.
#### (An easy to reproduce test case will dramatically decrease the resolution time.)
[code]

And a job will have 15 error messages like this in its job.stacktrace. I tried different concurrencies but after a couple of minutes jobs start to fail at about 90% rat

[2020-12-07 20:28] mauricedoepke commented on #1034
@majidsajadi

I think we should define "new job" by name only. It should be able to have different data and still replace a previous job with the same name.

In my case it will be for debounce sending users notifications
This way I can have a queue named "notifications" with a job named by the userId and put all the necessary data for the notifications in the data.

This way I can insert the newes

[2020-12-08 07:58] manast commented on #1034
We will need to use the  jobId option for this, since that is the proven mechanism we have today to avoid duplicated jobs. In your case it should work since you can use userId as jobId.

[2020-12-08 21:16] rosslavery opened #1929 "Is addBulk more performant or just a convenience method?"
## Description

Subject is fairly self-explanatory, but just looking for an answer here. @manast ?

We have "parent" jobs that loop through thousands of array items and add "child" jobs. Is there an advantage to preparing an array of jobs and calling `addBulk`, or is it effectively the same thing as making individual calls to `add` as we loop?

Looked at [the source](https://github.com/OptimalBits

[2020-12-08 21:25] manast commented on #1929
I have actually not run a benchmark on bull, however I have a prototype implemented as a native redis module and surprisingly (or at least for me it was surprising) adding in batches was not much faster than adding in parallel even with 1 connection. I assume similar results can be expected by addBulk.

[2020-12-08 21:26] manast commented on #1929
speaking of which, the native redis module is insanely fast, I will release it soon...

[2020-12-08 21:28] rosslavery commented on #1929
As a follow up...

Is there any recommendations you would make around the number of simultaneous calls to `add`? Versus using something like Blurbird.map with concurrency setting to limit the number of jobs that can be added in parallel?

The native module sounds great! I'm assuming that's Redis 5.0 only and/or BullMQ only?

[2020-12-08 21:31] manast commented on #1929
In my tests more than 300 parallel calls does not improve performance, but I use only one connection, If I have time I will create a better benchmark suite that tests other more realistic scenarios with several connections running in several machines.
The redis module since it is native does not require any particular library, however I plan to implement a wrapper on top of the module so that you

[2020-12-09 00:33] rosslavery commented on #1929
Thanks for the answers, looking forward to the native module!

[2020-12-09 00:33] #1929 closed

[2020-12-09 01:33] rivernews commented on #1661
@ChechoCZ  You may want to double check and be careful when initiating the queue object (need to consider both - when running as master process, and when running as child process).

In a nut shell, every time the same `Queue.process(1, ...)` is executed in any process, as long as the processes are sharing the same redis db, the concurrency gets pile up. Are you using sandbox process, and the file

[2020-12-09 14:34] EmanuelAguilar74 commented on #1752
can you share your insights about your implementation? how scalable is this?

[2020-12-09 22:11] sfdcale opened #1930 "What is the recommended way to retrieve results from completed job?"
I am using BullMQ with express server to process jobs asynchronously but confused as how to retrieve the results from completed jobs.

What I am doing currently is to listen for job completed status event and store those results in an object with job Id as key and retrieving the results from that object whenever I need it. Is there a recommended way of doing this?

I looked at documentation but co

[2020-12-10 03:03] toriqvoxel opened #1931 "Can't add job while job is processing"
## Description
Hallo, i want create some feature which running in background, and I use bull.
I have try to code for testing the background process with express and bull, and test with some request at same time. But, I it can't accept incoming request while the recent job is still in progress. I have try to add concurrency options in the processor and it not give me the effect.
What should I do? I

[2020-12-10 09:22] samirsayyad commented on #867
Hi guys, have look here:
https://github.com/samirsayyad/bullDynamicQueue

[2020-12-10 15:44] ahmad-punch commented on #867
Any documentation / explanation would be nice.

[2020-12-10 15:59] samirsayyad commented on #867
@ahmad-punch
I updated the readme file, hope to be useful.
https://github.com/samirsayyad/bullDynamicQueue/blob/main/README.md

[2020-12-10 17:16] majidsajadi commented on #1034
In this case we can delay a job with delay option in certain amount of time w and set userId as jobId (overwrite the default id). and on creating new job just check if a job with the provided id exists. we can add an 'overwrite' option for this matter.

[2020-12-11 01:40] brianschardt commented on #1415
I still have this issue on bullmq

[2020-12-11 07:39] huxwfun commented on #758
@Rua-Yuki
Sorry to inform you:
it appears addBulk uses pipeline as well
[code]

[2020-12-11 07:55] manast commented on #758
Unfortunately the fix the did on ioredis breaks Bulls unit tests for repeatable jobs, so we cannot use that fix until we discover the reason for the breakage.

[2020-12-11 21:00] #1928 closed

[2020-12-12 06:43] Rua-Yuki commented on #758
@huxwfun Many thanks for bringing this to my attention! Our use case only demanded a quick fix for the issue raised here with `moveToFailed`, though I can definitely see about adding support for pipeline-free `addBulk` as well (potentially sometime early next week).

Alternatively, https://github.com/OptimalBits/bull/pull/1933 can be used to get the benefits of `ioredis` 4.19.0+, which I believe s

[2020-12-15 09:44] manast commented on #1930
Please let me know if the information here is enough or we need to improve the documentation https://docs.bullmq.io/guide/returning-job-data

[2020-12-15 09:54] manast commented on #867
It depends on what you mean with runtime. The only time consuming part is the connection to the redis database. However you can reuse connections (check bull documentation) to get rid of that overhead.

[2020-12-15 10:28] manast opened #1935 "Promote does not respect paused queues."
We should port the fix from here: https://github.com/taskforcesh/bullmq/pull/338

[2020-12-15 14:21] malisetti opened #1937 "How to do multiple addJob and removeJob functions in transaction?"

[2020-12-15 19:53] sfdcale commented on #1930
@manast  Thank you for pointing to me that article. It gave me some pointers on how to get result from processed job.

I have one more question as how to get job status efficiently when server receives request from client about job status.

Here in the below pseudo code, I am using `job.getState()` method but the documentation says, don't use this method as it is not efficient.

[code]

What is th

[2020-12-15 22:42] #1935 closed

[2020-12-15 23:21] rosslavery commented on #1937
For adding, there is `addBulk` which performs the operation in a pipeline/transaction. As far as I know there is no equivalent for removing.

[2020-12-16 10:05] wyozi opened #1939 "Per-priority metrics"
Hey! I would like to make a PR implementing a way to query job counts per priority. Any recommendations or ideas on the best way to proceed?

Right now I'm thinking of a `getPrioritizedJobCounts` that returns a `Record<Priority, Count>` object.

[2020-12-17 09:20] oded-regev commented on #1902
Hi @pgonzaleznetwork , I noticed that when `done()` is not called, redis gets polluted with keys (bull generates a key per job which never gets clean..). see https://github.com/OptimalBits/bull/issues/261

[2020-12-17 09:57] manast commented on #1902
@oded-regev that issue is very old and there are ways to remove jobs after completion/failure, please check the documentation. And calling "done" is definetely not needed, just make sure you return a valid promise.

[2020-12-17 10:00] oded-regev commented on #1902
thank you @manast, for some reason my redis is full with keys of type: `bull:pathways_full_import_production:1189` (something like 10k keys). I don't understand why they were not clean.. do you have any idea how I should have handle it properly?

[2020-12-17 10:23] kevin-coelho commented on #1111
Still having this issue. No good way to remove repeatable jobs, and I'm using custom jobId.

[2020-12-17 13:16] gdelory commented on #1603
I'm having a different but similar issue. I need to use a `rediss:` URL, and a `tls` option to pass to the redis client a CA certificate. I'm stuck because as long as you pass both a URL as second param of the Queue constructor, and some options as 3rd param, the redis default property overwrite everything from the URL as @JSRossiter said, so this doesn't work:

[code]
I guess the proper way is to

[2020-12-19 01:25] dyorx opened #1941 "Redis CPU spikes 100%"
We are using bull for queuing our file upload job in aws redis cache. We also store file permission in redis. Whenever there huge file upload (1000+ files) in the application, the redis engine spikes to 100% and this causes jobs/file-upload process to fail. Is there a way to fix this issue? We do have script to cleanup the old entries after the file is uploaded successfully.  We have micro-service

[2020-12-19 13:52] manast commented on #1941
I would start by upgrading bull to latest version 3.20.0.

[2020-12-22 05:49] moltar commented on #1746
Just ran into this in prod. Logging is shipped to third party, which caused a > $1K bill in just 3 days (600GB of log messages).

[2020-12-22 18:59] JVMartin commented on #1447
@rosslavery Thanks so much for letting us know how you ultimately *worked around* the issue, but this is still a major issue, why are we closing it?

[2020-12-24 05:59] Guidanz-Kishore opened #1942 "Process jobs from dynamically created queues"
## Description
I have a usecase where I need to create queues during runtime and the queue names are variables (For eg: <userId>-queue).
I would like to know how we can specify process functions for these dynamically created queues. Can you please let me know what is the recommended way of doing this?
## Minimal, Working Test code to reproduce the issue.
[code]
#### (An easy to reproduce test case

[2020-12-24 12:00] #1942 closed

[2020-12-24 12:01] manast commented on #1941
Did it improve upgrading bull version?

[2020-12-24 12:01] #1937 closed

[2020-12-26 15:37] violetzie opened #1944 "Question about separate processes"
Hello,
I wanted to ask, is there any way the sandboxed process can access the variables assigned in the top/side process?

[code]

I have noticed there is no way for this processor to reach these variables. Lets say I have a processor (repeatable) that runs some math operations on a constantly changing balance. This balance is handled and saved in a separate "library" ('lib/balance.js'), I can req

[2020-12-26 17:38] rosslavery commented on #1944
The two approaches I can imagine are calculating the balance outside the processor and then when dispatching the job, passing the value in as job data.

If that's not possible the next approach would be to calculate the balance outside the processor and store it somewhere (redis, database, etc) and then your processor reads the current value when it starts running.

[2020-12-26 20:46] yarncraft commented on #961
Dear @manast

We are working with the latest release (v1.12.2).

+1 year later and I encountered the same problem today. It seems to me this issue still needs a good patch.
When scheduling _named_ repeatable jobs together with a cron and a (distinct) UUID as JobId in the repeat opts, we observe that the first job gets scheduled but the second _or any job after that_ does not get scheduled at all.

[2020-12-27 10:27] manast commented on #961
@yarncraft I think you are being a bit unfair here. This is a project that has been maintained mainly by me, in my free time. Although I agree partly in what you say about repeat jobs, I have to prioritize the issues since I have very limited resources. You are very welcome to contribute with better documentation, creating PRs that solves the issues you are mentioning and/or providing financial ba

[2020-12-27 12:45] yarncraft commented on #961
I understand you may not have signed up for this amount of work in your free time. Open Source _indeed_ demands a whole lot of maintenance. But I got the impression that quite a lot of businesses are depending on this project so it might be of interest to do an official Request For Maintainers both on Github and possibly even on channels such as Reddit, in the hope that new developers can start wo

[2020-12-27 16:00] manast commented on #961
@yarncraft you are probably not aware that you are exhibiting a patronizing attitude here. First of all, this library has a lot of contributors and is used by thousands of users in production. The library is very stable but there are some known edge cases in repeat jobs that are not working as some people expect. Secondly the library has been in development for almost 10 years. Critiziting the way

[2020-12-27 16:09] manast commented on #961
I locked this issue because it was drifting away to an unproductive discussion. For personal or issues relating how the project is maintained please contact me via email instead.

[2020-12-28 00:33] violetzie commented on #1944
Thank you for the swift response and suggestion. Regarding the #1 option, if it's a repeatable job, would you remove the repeatable flag and just add the job "manually" in the on-complete event with this data or how would be the best way to approach this?

[2020-12-28 10:35] olivinesguerra opened #1945 "Problem on ioredis inside bull queue"
## Description

I tried connecting bull queue on ELASTIC CACHE REDIS on AWS. But it it always sending me the timeout connection error.

But when I tried using ioredis alone it works fine

1. Redis declaration -> this works fine

 const redis = new Redis({
    port: process.env.REDIS_PORT,
    host: process.env.REDIS_HOST
 });

2. Bull Queue Declaration -> this does'nt work. I think there is a prob

[2020-12-28 12:41] #1903 closed

[2020-12-28 15:30] fr1sk opened #1946 "Rate limiter (BounceBack) is not working as expected"
## Main issue:
I have a simple queue that is responsible for delegating the task from the main API to the microservice. When I use `bounceBack: true` as a rate limiter option, the job is not added to the queue if the limit is already hit.

## Reproduce:
Use those rate limiter options for any queue:
[code]
when `bounceBack` is set to false, the job is added to the delay state, which is ok. But when

[2020-12-29 11:11] manast commented on #1945
The code you are showing looks ok, there must be some issue with either your env variables that are not correct or that you do not have proper permissions to connect to your elasticache instance.

[2020-12-29 11:11] #1945 closed

[2020-12-29 11:13] manast commented on #1946
A couple of things, first we would need a complete test case (as code that we can copy/paste and run as is) that reproduces the issue, secondly you should try to reproduce it with the latest version of Bull. Thanks.

[2020-12-29 11:22] #1944 closed

[2020-12-29 11:47] olivinesguerra commented on #1945
Actually I tested the connection from elasticache using ioredis and it works. And the environment variable on both declaration is the same. But the first one works but the second declaration is not.

@manast any thoughts?

[2020-12-29 11:49] olivinesguerra commented on #1945
also why closed? based from the guideline. I checked the simpler implementation and it works and on the bull queue declaration is not. So it seems that there is a problem on the ioredis inside bull?

[2020-12-29 14:06] yogesh-webmob commented on #1341
I have encountered the exact same issue:

Here are few details/observations/debugging steps tried:

- It happens in cluster mode as stated above as well
- Exactly 3rd job is observed to be missed earliest from complete job list when cluster has 2 application workers.
- Jobs are missed regardless of the size. I've tried with 32, 64, 1000 jobs out of which, I got 25 every time.
- I've tried overridi

[2020-12-29 15:11] manast commented on #1945
@olivinesguerra no, there is no problem with ioredis inside bull sorry... there must be something else in your code environment that is wrong. It is closed because there is nothing more actionable to do here.

[2020-12-29 15:17] manast commented on #1341
@yogesh-webmob the most useful would be if you can provide a test case that actually reproduces the issue, then we can take a deep look into it.

[2020-12-29 18:53] dyorx commented on #1941
Thanks @manast for the follow up. We did tried to upgrade bull to latest version but it failed due to the clamav. Clamav is another service that we use for anti-virus. It is still a minor version upgrade. Do you think the upgrade to latest release will improve redis performance?

We also increased the redis size to 3x but it didn't help. We have tested in the lower env and can reproduce the issue.

[2020-12-30 00:59] manast commented on #1941
yes I think it can improve, 3.3.7 is really old by know and many improvements have been made in performance, not to mention bugfixes.

[2020-12-30 22:17] janober commented on #114
I have the same requirement. Was wondering why that can/should not be handled via `progress` (as @SimoneTaliercio mentioned that he did not want to use it). Setting it to `-1`, then listing on queue level for `progress` changes, and then cancel if it is the same job-id seems to work fine.
Am I overlooking something? Are there any problems to be expected?

[2020-12-31 03:22] zzuhan commented on #261
https://github.com/OptimalBits/bull/blob/develop/REFERENCE.md#queueadd

this `removeOnComplete`  solved my problem

[code]

[2020-12-31 13:03] veedeo commented on #1034
Adding a job with an existing ID will do nothing (by default), it will be great to have an option to "overwrite" the job instead.
Waiting for this feature

[2021-01-02 11:41] manast commented on #1034
@veedeo this is feasible but only if the overwrite is done before the job has actually started to be processed, it should be as easy as having an extra option "overwrite" and when active instead of ignoring it just adds the job normally (as long as the job is in the wait or delayed sets)

[2021-01-02 20:34] rturk commented on #1941
My two cents:

Given Redis Nature and designs principles is quite rare/unusual for Redis to hit CPU limits before you run out of memory, bandwidth [vide Redis doc](https://redis.io/topics/faq#redis-is-single-threaded-how-can-i-exploit-multiple-cpu--cores)

We run a complex environment with regularly with more than 10K jobs/second and we barely hit 20% cpu usage of a single Redis VCPU

So my guess

[2021-01-03 18:17] JannikZed commented on #1418
I don't fully understand the core issue here - I'm facing the same problem using Serverless with Typescript. Why is the Bull package not bundled completely?

[2021-01-03 19:00] manast commented on #1418
Cannot answer a "why" when bull is bundled perfectly. It is a matter on configure serverless correctly as @morajabi pointed out for ZEIT.

[2021-01-04 01:01] bilalesi commented on #163
hi guys, i have the same issue,
i use bull and it's worked perfectly in my machine but when i deploy to heroku, i have this error
`ReplyError: ERR max number of clients reached
2021-01-04T00:46:36.973075+00:00 app[web.1]:     at parseError (/app/node_modules/redis-parser/lib/parser.js:193:12)
2021-01-04T00:46:36.973146+00:00 app[web.1]:     at parseType (/app/node_modules/redis-parser/lib/parser.j

[2021-01-04 10:27] manast commented on #163
@bilalesi first of all, you need to understand that depending on which Heroku instance there are more or less connections available. Secondly, you should figure out how many connections you need for the amount of queues, workers, etc that you are using. Finally, you may also be able to reuse some of the connections https://github.com/OptimalBits/bull/blob/develop/PATTERNS.md#reusing-redis-connecti

[2021-01-04 10:29] bilalesi commented on #163
Thank you @manast for quick reply, how I can calculate the total number of connections,

And for reuse of connection is it the same as connection.duplicate() in bullmq??

[2021-01-05 00:39] rogereiddir opened #1947 "BRPOPLPUSH ReplyError: READONLY You can't write against a read only replica"
## Description
i get this error in the logs any one have any ideas

## Bull version
3.20.0
## Additional information

![image](https://user-images.githubusercontent.com/20645030/103593717-e1136c80-4ef6-11eb-8f8a-ab0040ff1197.png)

[2021-01-05 14:49] niksmac commented on #503
Is it in current stable release?

[2021-01-07 10:31] JannikZed commented on #1418
For everybody looking for a Solution for the serverless framework and AWS Lambda:
I could solve it by using the plugin serverless-bundle and directly adding bull as external:
[code]
https://github.com/AnomalyInnovations/serverless-bundle#package-specific-config

[2021-01-08 17:04] tsebas commented on #1881
@manast I understand having a single job per repetition. However, you don't guarantee that a single spawned job is running, correct? I.e., if I setup the job to repeat every 5 seconds, and each job takes 6 seconds to run, before the first job finished a second job will start. Unless I'm mistaken, this is the behaviour I'm seeing.

Is there a way of actually guaranteeing that only a single job runs

[2021-01-08 18:03] villasv commented on #1234
FYI future readers the actual formula is `Math.round((Math.pow(2, attemptsMade) - 1) * delay);` as shown [here](https://github.com/OptimalBits/bull/blob/master/lib/backoffs.js#L14).

[2021-01-08 20:36] stephanoparaskeva opened #1949 "How do I retrieve a queue created in another file to add a job? (Without polluting global namespace)"
### Incorrect:
[code]

### Desired
[code]

[2021-01-11 11:03] fib-at-isobar commented on #1909
Hello @manast,
we've run into the exactly same issue.
Could you maybe create a separate section in the docs regarding this? To show few strategies maybe with code examples?

Currently I've changed the queue following:
[code]
But I can see over 60K jobs in the Queue - is this to be expected?

[2021-01-11 13:26] LeoRuspini opened #1950 "Killing processes"
## Description

Hi all,
thanks for these great work.
I been researching the killing of waiting and active jobs (#114, #1098, #812, #1432). I see the need for a killing method and there is several suggested "solutions", however, none of them seems to work properly plus they involved a lot of extra code (connection to ioredis, broadcast, etc). So in same setup as #1432, after discard and moveToFaile

[2021-01-12 01:44] rosslavery commented on #1909
We simply have a scheduled job that runs daily that purges completed jobs older than a certain number of days.

[2021-01-12 09:38] fib-at-isobar commented on #1909
Hello @rosslavery,
but this is something you've set up yourselves (but a good one!). I was thinking about inbuilt solutions :)

[2021-01-12 10:07] cjdell opened #1951 "Detect if code is running in a Bull process or not?"
Is there a reliable way to detect whether the code is running in the main thread or in a Bull process?

I want to use this to avoid making unnecessary requires when the code is running in Bull to keep the process size down.

Thanks

[2021-01-12 17:01] cjdell commented on #1951
This is what I've gone with for now:
`/** Is this code executing in a Bull process? */
export const isBullProcess = process.argv.some(a => a.includes('bull'))`

[2021-01-12 19:53] beardedtim commented on #1914
what caused this?

[2021-01-13 15:49] manast commented on #1951
I am not really sure what you are trying to figure out. Bull does only spawn new processes if you put your process in a separate file as explained here: https://github.com/optimalbits/bull#separate-processes

[2021-01-13 15:51] manast commented on #1909
@fib-at-isobar if the setting is indeed ```removeOnComplete = 50000``` then no more than 50k jobs will be kept in the queue. If you see more then the setting has probably the wrong value.

[2021-01-13 16:37] manast commented on #1949
I am not sure what your issue is, you just use the same name of the queue that you want to refer to.

[2021-01-13 16:38] #1234 closed

[2021-01-13 16:46] manast commented on #1881
@tsebas no, that would be a new functionality, like non-overlapping jobs. Implementation is quite straightforward, instead of adding the next repetition when the job starts you add it when it completes/fails.

[2021-01-13 23:25] suchakraborty commented on #340
For all those who are waiting on this feature, I had to implement it outside of bull for my workplace. It is possible, with some elbow grease, assuming the job interface with a few more exposed methods (to cajole the data) and a 100 line onComplete :) . This is how I did it:
I have a workflow definitions file. This is where I define what jobs need to happen in what order, and what is the job proce

[2021-01-14 10:37] d4n5h opened #1952 "Cron jobs doesn't work for single time schedule"
## Description
Cron expressions like this "25 29 12 14 JAN ? 2021" won't work even though they are valid.
I get an error: **UnhandledPromiseRejectionWarning: Error: Invalid cron expression**
## Minimal, Working Test code to reproduce the issue.
[code]

## Bull version
3.20.0
## Additional information

[2021-01-14 10:43] nmargaritis commented on #261
I also believe that this is a legit usecase. It happened to us as well to be using bull so that we avoid storing jobs locally when running on AWS nano, where memory is limited anyhow. Jobs are only for internal instance use, so when the application is scaling up and down by AWS, and as the queue name is given based on the instance, there are entries that remain forever on redis, not linked with an

[2021-01-14 15:59] gabegorelick commented on #1951
I think the request is for something like a `BULL_SANDBOX_PROCESS=1` environment variable so that arbitrary code can easily tell whether they're running in a sandbox or not.

Based on how Bull forks sandbox processes today, I think all you can do is check `argv` similar to what's described in https://github.com/OptimalBits/bull/issues/1951#issuecomment-758799444. But this isn't as reliable or stab

[2021-01-14 16:04] gabegorelick commented on #1949
Is the issue that instantiating a queue object has side effects (like creating connections to Redis) so you don't want that to happen when the module is imported?

The way I've dealt with that in the past is with something like this:
[code]

Then you're not polluting the global namespace, just your module-local one.

[2021-01-14 16:06] gabegorelick commented on #1947
Bull can't use readonly Redis instances. Try connecting to the master Redis instance.

[2021-01-14 19:58] cfey commented on #1687
I got the same problem :/
I explicitly set the concurrency to 1 and still the consumer get's invoked multiple times instead of taking jobs one by one

[2021-01-14 21:25] manast commented on #1951
@gabegorelick but that can easily be added in the processor file, just set a global variable or similar...

[2021-01-14 22:01] gabegorelick commented on #1951
I don't want to speak for what @cjdell needs, but that means you processor file can't be used when not running in a sandbox.

Take the processor example from the README:
[code]

When using a sandbox process, I can call `queue.process('/path/to/my/processor.js');` But what if I want to reuse the same processing logic without using a separate process? That would look something like
[code]

But if th

[2021-01-15 10:39] cfey commented on #1687
I tried to create a local environment on which this happens, unfortunately it's only occurring on our servers on heroku :/

[2021-01-15 14:15] cfey commented on #1687
@manast I was able to reproduce this behaviour
it seems like, when creating the consumer and calling this `queue.process(jobName, 1, jobHandler);`  needs to be handled with an `await` statement
I created multiple named jobs and consumers on the same queue, when I added `AWAIT queue.process(jobName, 1, jobHandler);` my issue was resolved
I created a small example, it's written in TS

[code]
When yo

[2021-01-15 16:17] manast commented on #1687
@cfey that is the expected behaviour since you are defining process 2 times, each with concurrency 1 so total concurrency 2. You can read more in this thread: https://github.com/OptimalBits/bull/issues/1113

[2021-01-15 16:32] cfey commented on #1687
@manast thanks for the clarification
after reading the thread, it makes a lot of sense to move the concurrency option to the queue creation 😅

[2021-01-15 19:54] tommyc38 opened #1953 "Question: Multiple Worker Instances (e.g. Multiple Docker Containers Running Video Transcoding Process)"
I am having a tough time finding any guidance on running multiple app instances all connected the he same distributed RedisDB. Below is how I was planning on setting up BullJs to run a transcoding service and simply want to know if my understanding is correct.  Forgive me in advance if this question is stupid, I don't have a lot of experience in backend architecture.  The only examples I really fo

[2021-01-15 21:37] Nytelife26 commented on #1034
I do intend to work on this. So, let me get this straight:
1. Atomic overwriting / upserting of jobs (that have not yet started to process) [would also align with [taskforces/bullmq#240](https://github.com/taskforcesh/bullmq/issues/240)]
2. Integrate delay functionality for debouncing, where all jobs of same ID queued within a certain delay will overwrite the prior before allowing it to process
3.

[2021-01-15 21:47] rogereiddir commented on #1947
i think that's what i'm doing , @gabegorelick  can you give soime code on how to do that using bull

[2021-01-15 21:55] jamesholcomb commented on #1034
Also, the `delay` specified by `queue.add(name, data, {delay: x})` would override the existing delay.

[2021-01-15 21:59] Nytelife26 commented on #1034
Ah, so, @jamesholcomb, the plan is to make overwriting jobs extend the delay as well, correct? That makes sense now I think about it.

[2021-01-15 22:03] jamesholcomb commented on #1034
That would satisfy my use case...For instance, a job is scheduled 3 months out.  A user makes a change to some job data that requires it to be moved up to tomorrow.

[2021-01-15 22:09] Nytelife26 commented on #1034
Well, it only makes sense for atomic overwriting to overwrite all properties, so that works fine. Obviously this is my first contribution to Bull, and so I am unsure of the design philosophy, but it sounds like the logical solution to me.

[2021-01-15 22:21] gabegorelick commented on #1947
The second parameter to the `Queue` constructor is a URL to the Redis instance. Make sure you pass the correct URL. See https://github.com/OptimalBits/bull/blob/06b511a5c376da553236e63f217d12cbfbbaeb97/REFERENCE.md#queue for more info.

[2021-01-15 22:25] gabegorelick commented on #1854
What version of Node.js are you running? `emitter.off` was added in Node 10.

Offending code is https://github.com/OptimalBits/bull/blob/06b511a5c376da553236e63f217d12cbfbbaeb97/lib/process/child-pool.js#L113

[2021-01-15 22:34] gabegorelick commented on #1776
If there's only 1 processor on this queue object, or you want to stop all of them, then `queue.pause(true)` should work. The `isLocal` flag tells bull to only stop this worker, but leave any others running. See https://github.com/OptimalBits/bull/blob/develop/REFERENCE.md#queuepause.

I believe stopping a specific processor function is a feature request, but I can't find the issue now.

Do you mea

[2021-01-15 22:39] gabegorelick commented on #1783
This comes up a lot:
https://github.com/OptimalBits/bull/issues/323
https://github.com/OptimalBits/bull/issues/573
https://github.com/OptimalBits/bull/issues/918
https://github.com/OptimalBits/bull/issues/1040
https://github.com/OptimalBits/bull/issues/1261
https://github.com/OptimalBits/bull/issues/1373

[2021-01-15 22:55] manast commented on #1783
I have almost completed a redis module that implements Bull/BullMQ which besides being much better it will of course work from any languange that has a redis client available. Stay tuned!

[2021-01-15 23:50] slimee opened #1954 "Catching bull errors into datadog"
Do you have some documentation pointing how to work properly with datadog?

I've implemented manual datadog span creation at the beginning of each job process.

It works well but unfortunately it does not take into account errors throwers before the process code.
For example, the "missing pointer for lock job 9494847" error raised by bull are not part of the manual datadog span created inside job

[2021-01-16 14:09] rogereiddir commented on #1947
@gabegorelick  this how set the Queue constructor

[code]

[2021-01-16 15:41] mythio commented on #1776
Yes that helped! Thanks! And yes i mean #1152. I believe there are many more functions missing in the docs, I hope they are updated soon, Thanks again!

[2021-01-16 15:41] #1776 closed

[2021-01-17 15:50] niksmac opened #1955 "How to reuse the connection in a processor file?"
## Description

Inside my processor file I want to run a `scanStream` and delete multiple keys from the same server, where bull is running. Is there a connection variable I can reuse in the processor?

## Minimal, Working Test code to reproduce the issue.

[code]

This is what I tried. Is it possible to get rid of ioredis and do this `scanStream`

## Bull version
3.20.0

[2021-01-19 13:43] osher opened #1958 "Calling queue constructor w/o a name causes a background promise rejection"
## Description
Bull Queue constructor does not require a name, however, without a name an internal promise rejects without the user being able to do anything about it.

This behavior will soon be terminal.

[code]

## Minimal, Working Test code to reproduce the issue.
#### (An easy to reproduce test case will dramatically decrease the resolution time.)
https://github.com/OptimalBits/bull/pull/1956

[2021-01-19 14:26] manast commented on #1958
Can you provide a test case?

[2021-01-19 14:39] fib-at-isobar commented on #1909
Hello @manast,
Thanks for the explanation, but it does not seem to work for us. I've hardcoded the values and it still keeps all values in the Redis.
Code is as in my previous comment, but values are hardcoded. bull@3.20.0

[2021-01-19 20:06] manast commented on #1909
@fib-at-isobar write a simple test case that demonstrates the issue and I can take a look at it.

[2021-01-20 13:37] #1949 closed

[2021-01-21 07:47] tadejstanic opened #1960 "addBulk upper limit of jobs"
I'd like to ask if there are any upper limits on the number of jobs that are added through the `addBulk` method? How this method affect Redis's performance?

[2021-01-21 08:30] #1854 closed

[2021-01-21 15:38] manast commented on #1958
Closing due to lack of feedback.

[2021-01-21 15:38] #1958 closed

[2021-01-22 02:38] rosslavery commented on #1960
Not a direct answer but I posted a similar question here https://github.com/OptimalBits/bull/issues/1929

My understanding is that it uses a redis transaction and should be more performant but unclear on any upper limit.

[2021-01-22 03:36] sn00pyd0g3 commented on #1909
It is strongly recommended to remind users of the settings in the document.

[2021-01-22 07:50] tadejstanic commented on #1960
Thx. Now, I find it a bit clearer.

[2021-01-22 07:50] #1960 closed

[2021-01-22 14:14] Aghamyr opened #1961 "Where are job queued when a job is retried after it failed ?"
No bug here, just a question as I've not found a clear answer to this in the documentation

So I have jobs put in queue with a delay and 2 retries allowed with a minute backoff, the queue is with only one concurrency , some jobs takes longer to finish so the waiting list get sometime backed up a bit.

My question is this: when an active job fails, does it goes back to delayed or to waiting ? And d

[2021-01-22 21:51] edilson opened #1962 "Bull test module"
I saw the issue #962 that proposes the creation of a test module for bull. Is there any plans for doing such module? I also tried all the solutions presented but couldn't make it run redis with jest. How could I do that?

[2021-01-24 09:04] yojeek commented on #1111
Not sure why the question was closed? At least give us repeatableJobKey when (well) repeatable job is created, so we can save it somewhere.

[2021-01-24 13:18] PixeliumTN commented on #1707
Any news regarding this request ?

[2021-01-24 14:27] jedspurg commented on #1111
I ended up copying this function into my application and storing this key in a database.

https://github.com/OptimalBits/bull/blob/develop/lib/repeatable.js#L185

[code]

[2021-01-24 19:17] manast commented on #1909
Closing this since the issue as it is suggest will not be fixed.

[2021-01-24 19:17] #1909 closed

[2021-01-24 19:18] #1961 closed

[2021-01-24 19:20] #1962 closed

[2021-01-25 02:20] TemaSM commented on #1930
@manast how about to add more detailed info (like code examples) to this section?
https://docs.bullmq.io/guide/returning-job-data#using-a-results-queue
Thanks in advance 😉

[2021-01-25 08:25] osher commented on #1958
wh...?

[2021-01-25 08:30] osher opened #1965 "Calling queue constructor w/o a name causes a background promise rejection"
## Description

## Minimal, Working Test code to reproduce the issue.
#### (An easy to reproduce test case will dramatically decrease the resolution time.)

code:
[code]
#### Expected
should either work with no problems, or throw an assertion early on during queue creation.

#### Found
[code]

There is nothing that I as a user can do to prevent this background promise rejection from happening, exc

[2021-01-25 09:18] manast commented on #1707
@PixeliumTN no plans to implement this for now, but as @gabegorelick explained you can implement this in user code.

[2021-01-25 09:21] manast commented on #1965
But you need to specify a queue name according to the documentation:
https://github.com/OptimalBits/bull/blob/develop/REFERENCE.md#queue

[2021-01-25 09:21] #1965 closed

[2021-01-25 14:49] osher commented on #1965
So you give me the RTFM?
How unkind. I'm very disappointed.

I use JS. In JS you do not have to provide arguments. It's also in the documentation of the language.

But really, can you please tell me why do you think is so wrong with communicating your expectation with also with errors?
(which are a more interactive form of communication)

[2021-01-25 14:52] osher opened #1967 "Splitting work between different nodes."
Hi.

I'm new to `bull`, I'm coming from `kue`, which declares `bull` as it's successor.

However, in `kue` I could use a node as a producer and other nodes as consummers.
I tried to do the same with `bull`, but got errors for missing job processors.

What am I missing?
How can I do the same with `bull`?

[2021-01-25 15:55] #1967 closed

[2021-01-26 17:10] DocX commented on #1618
We have the same issue

[2021-01-27 06:58] janat08 commented on #1034
I'd like to work on this. @mandast you promise to review and pay within a week?

[2021-01-27 09:54] endor opened #1969 "Doesn't parse redis url correctly"
I would expect something like this to work correctly:

[code]

because that is something that `ioredis` also supports.

There are currently two problems, as far as I can see:

1. `redisOptsFromUrl` doesn't take the TLS part of the url into account and it's just dropped.
2. The authtoken parsing is broken, because it assumes there's always a username.

[2021-01-28 07:46] shubham-bluestacks commented on #832
Hi, any progress on this?

[2021-01-29 11:12] fib-at-isobar commented on #1909
Hello,
we've managed to find the issue. I haven't realised that I put the job options on the side of worker (`queue.process`). It must be used on the insertion into the queue (so `queue.add()`). Hope it helps somebody!

[2021-01-29 15:36] TroyMorvant commented on #1746
I am seeing this in production as well.  The lack of response here is troubling.  Is there an alternative to bull that is still being maintained?

[2021-01-30 16:16] janat08 commented on #1034
Because my experience with bounties is far from ideal, and I don't have finances to manage.

[2021-01-31 20:06] stephanoparaskeva opened #1970 "Is there a way to push event to client's on front-end after a delayed job has run?"
I have a 30 minute delayed job to run, which processes data and makes a payment, saving the payment to postgres.
On completion of the job I need to push the payment success back to front-end. is this possible?

[2021-02-01 14:16] #1970 closed

[2021-02-01 21:26] serguitus commented on #1746
for the record, +1 having the same issue in production...

[2021-02-02 10:28] manast commented on #1746
Working on this issue now, I did not perceive this was a so common problem.

[2021-02-02 13:02] tnolet commented on #1746
@manast that is great to hear. Happy to provide any feedback. Luckily, we did not hit the issue on prod the last months. we are doing millions of messages per day.

[2021-02-02 14:41] manast commented on #1746
I am not sure why, but the code submitted on this issue does no longer reproduce the issue. I will try to modify it, but if somebody else has already code that reproduces it it would save some time.

[2021-02-02 20:39] dbronin commented on #1746
@manast I do not have a readily available example, but I can tell you that the easiest way for me to reproduce this issue was to simply have redis run out of memory. Thank you.

[2021-02-03 11:03] oavanruiten opened #1972 "Is the BRPOPLPUSH command executed again after BRPOPLPUSH MaxRetriesPerRequestError?"
## Description

I upgraded my Redis server to use Redis 6. This caused the Redis server to be unavailable for a short period of time.

On the application side, I started getting ECONNREFUSED errors, which is normal.

About 10 seconds after the connection was lost, I got this error:

`BRPOPLPUSH MaxRetriesPerRequestError: Reached the max retries per request limit (which is 20). Refer to "maxRetries

[2021-02-03 17:37] emaxters opened #1973 "Delayed Job Priority"
I want to know whether the delayed jobs will be added to the Front or Back in the queue once the defined interval is over.
Is there are way to add it to the end of the queue?

[2021-02-05 14:04] manast commented on #1746
Please take a look a the PR https://github.com/OptimalBits/bull/commit/c150f2e6b65a58113e621b2b5af570be3fd8666b

All tests passes and the code provided by @dobesv also works perfectly. I can merge and release ASAP.

[2021-02-06 13:20] #1746 closed

[2021-02-06 17:06] ZECTBynmo commented on #1701
@manast My suggestion would be to start up a second instance of the script with the same code. The expected behavior is:
- The job fails to be added to the queue, because the jobId is being used twice (this does not happen)
- The repeating job only executes once across the cluster, because there should be only one repeating job (the job will run twice, one on each)

[2021-02-07 16:08] danthegoodman1 commented on #811
This also works for bullmq! When using webpack you need this!

[2021-02-09 23:57] Cabritone commented on #1573
Same Problem here.
I'm using the `cron` and `endDate` but seems that is ignoring the `endDate` 💭

[code]

[2021-02-10 08:55] iosifnicolae2 commented on #1059
The proposed solution has some problems:
 - the first job will be marked as processed even though it hasn't been processed (at least this is my understanding)
 - in my case, I need a solution to process the available jobs even though I don't have enough jobs to create a batch

[code]

[2021-02-10 17:16] gilshallem opened #1975 "Advanced rate limiter"
Hi,
I'm building a website scraper.
I use different proxies to scrape the website so I need to define a rate of x requests per minute per proxy.
The only way I can think of is implementing a queue per proxy.
is there a better way?
in addition, some of the requests need to happen from a specific proxy, yet some can be called from any proxy so this solution will not work.

Thank you for the awesome

[2021-02-10 17:29] gilshallem commented on #1975
maybe if there is a way for the processor to bounce back the job manually?

[2021-02-10 18:22] kodeine commented on #1098
any work on this yet?

[2021-02-10 18:29] kodeine commented on #1098
@alolis would you be able to update your fork with latest changes in bull merged with your updates?

[2021-02-11 07:48] manast commented on #1975
You can try the groupKey option in the rate limiter: https://github.com/OptimalBits/bull/blob/develop/REFERENCE.md#queue
"  groupKey?: string; // allows grouping of jobs with the specified key from the data object passed to the Queue#add (ex. "network.handle")
"

[2021-02-13 08:40] bkniffler commented on #1951
My use case would be using the same entry file in cases where you'd build your scripts with something like webpack. Ofc you can have your webpack setup create multiple bundles (index.js, worker.js). Instead though, we could only have 1 bundle (index.js) and let that file decide what to do using an environment var (IS_BULL_SANDBOXED=true).

[code]

[2021-02-14 19:22] oavanruiten commented on #1972
Hi @manast, do you maybe have an idea? Any help is greatly appreciated!

If my questions are not clear, please let me know so I can reformulate them.

[2021-02-14 21:39] manast commented on #1972
I think this is a duplicate of this issue: https://github.com/OptimalBits/bull/issues/1746
Have you tried with the latest bull version?

[2021-02-14 21:45] oavanruiten commented on #1972
Thanks for your quick reply @manast! I do not believe this is a duplicate of that issue.

In my case I am talking about the Redis server closing the connection, not the client.

[2021-02-15 07:12] manast commented on #1972
Still, I appreciate if you can create a use-case that reproduces the issue with the latest version since I think it will work fine.

[2021-02-15 08:37] oavanruiten commented on #1972
I will create a use-case and get back to you.

[2021-02-16 17:04] manast commented on #1680
this was fixed here: https://github.com/OptimalBits/bull/commit/1c76195782fd3b03789c29799ca70859ff559a59
so closing.

[2021-02-16 17:04] #1680 closed

[2021-02-16 17:05] manast commented on #1675
This issue was resolved here https://github.com/OptimalBits/bull/commit/1c76195782fd3b03789c29799ca70859ff559a59
so closing...

[2021-02-16 17:05] #1675 closed

[2021-02-18 18:57] beardedtim commented on #1355
Me and my team are currently noticing similar behavior as this. @Gappa88 did you ever find a solution to your problem?

[2021-02-21 11:13] Gappa88 commented on #1355
I don't really remember what we have done in order to face this issue.

For sure, we got rid off the openVPN structure because created a bottleneck in communications and replaced it with ufw firewall and some custom rules and scaled down the system.

Now, after 2 years, we still have the `Missing lock` issue but it is not so frequent and we can handle it. I admit that I did't not spend any more ti

[2021-02-22 15:08] Skryabind opened #1981 "Make job counters always correct"
Hi!
Queue has a method **getJobCounts**, which returns job counters. But there is one moment - to get correct number of completed or failed jobs you shoud turn both **removeOnComplete** and **removeOnFail** to false.
I have many jobs and I don't need to store completed jobs in redis so I set removeOnComplete and removeOnFail to true, and now getJobCounts always returns 0 in completed and failed jo

[2021-02-22 15:11] Arun-N opened #1982 "failedReason: "job stalled more than allowable limit". Can I increase this limit somehow?"
Hi! What exactly is this limit? Is it based on time or some other factor? Currently I have a job that makes multiple API requests and takes a while to complete. Not sure if it's because of that, but this particular job is failing quite a lot with "job stalled more than allowable limit" as the reason.

I can't optimize the job code any further (to take less time) since it's dependent on the API cal

[2021-02-22 17:06] manast commented on #1982
The error is emitted because your job stalled and default value is 1 for the ```maxStalledCount``` option: https://github.com/OptimalBits/bull/blob/develop/REFERENCE.md#queue
You can increase it so that the job is re-run after it got stalled, however it is strange that your jobs stalls to begin with, either your processor function is not correctly written or it is consuming a lot of CPU.

[2021-02-22 17:07] #1982 closed

[2021-02-24 06:12] nvthuong1996 opened #1984 "Bull and BullMq and @types/bull don't require same ioredis version"
I try install lastest bull and bullmq and @types/bull in project.  @types/bull require @types/ioredis version 4.19.3. bullmq require version @types/ioredis latest.

This makes bull-boad lib check type  error when create interface for bull and bullmq
https://github.com/felixmosh/bull-board/blob/6f702310c91d5402b50be4b4a5dbac2e65cb03fb/src/%40types/app.ts#L19

solution:
[code]

[2021-02-25 21:16] mauricedoepke commented on #1034
@tophep @sebasmagri @shivgarg5676  @GriffinSauce

Is anyone of you maybe interested throwing some dollars into the issuehunt as well to make it more appealing for someone to add this feature?

[2021-02-26 05:46] mortyccp opened #1985 "Does it support to send message in transaction together with other redis operation?"
## Description

## Minimal, Working Test code to reproduce the issue.
#### (An easy to reproduce test case will dramatically decrease the resolution time.)

I am implementing https://microservices.io/patterns/data/transactional-outbox.html with redis and would like to know can this library send message in a transaction?

## Bull version

## Additional information

[2021-03-01 10:45] adamlounds opened #1987 "Recurrence Rule (rfc 5545, "rrule") support for repeating jobs"
## Enhancement Request

Support rrule ([rfc5545](https://tools.ietf.org/html/rfc5545#section-3.3.10)) syntax as well as cron syntax for repeating jobs

[code]

Recurrence rules are much more flexible than cron specifications, supporting things like "every monday and wednesday", or "the last thursday of the month, for five months". There's a js [library](https://github.com/jakubroztocil/rrule) to p

[2021-03-01 22:18] plakk2020 opened #1988 "Empty queues message check latency is ~500ms"
## Description
My code has multiple bull queues. The process resumes a queue, checks for messages, if none pauses the queue and resumes the next queue.

When there are messages in the queue, there is no latency. But when the queues are empty I see a latency of ~500ms, even though drainDelay is 5ms.

Does the queue.pause() invoke redisClientDisconnect() which has a promise timeout of 500ms, when th

[2021-03-01 22:26] manast commented on #1988
no, it does not.

[2021-03-01 22:30] manast commented on #1988
btw, in your case it seems more appropriate to use https://github.com/OptimalBits/bull/blob/develop/PATTERNS.md#manually-fetching-jobs

[2021-03-01 22:36] plakk2020 commented on #1988
queue.pause() does invoke whenCurrentJobsFinished() and this has redisClientDisconnect() call. But I am not sure what is the client value in pTimeout()

[2021-03-01 22:37] plakk2020 commented on #1988
I will take a look at this

[2021-03-02 07:33] manast commented on #1988
that is if you do a local pause, is that what you want?

[2021-03-02 15:18] plakk2020 commented on #1988
Yes. The worker process rotates through the multiple bull queues pausing and resuming locally to check if there are any messages. As I want the process to work on a single message at a time.

When the queues are empty, I see the 500ms latency but not when there are messages in the queue.

[2021-03-02 16:32] manast commented on #1988
when the queue is empty it establishes a blocking connection which needs to be broken when you pause. This is kind of works as designed, so probably will not be fixed...

[2021-03-02 17:29] plakk2020 commented on #1988
Thank you for the clarification.

[2021-03-02 17:29] #1988 closed

[2021-03-02 17:44] steppefox commented on #1952
@d4n5h Are you sure that expression is valid? Crontab contains only 5 params, your expression has about 7.
https://crontab.cronhub.io/
https://crontab.guru/

[2021-03-02 17:53] d4n5h commented on #1952
@steppefox yeah it's valid.
![Screenshot_20210302_195148_com.brave.browser-01.jpeg](https://user-images.githubusercontent.com/1638614/109692251-f8867300-7b90-11eb-8394-6a61751e04ac.jpeg)

[2021-03-02 18:39] manast commented on #1952
We use https://www.npmjs.com/package/cron-parser so that is the only format we support, sorry for the inconvenience.

[2021-03-02 18:39] #1952 closed

[2021-03-03 22:59] xmflsct commented on #1059
@iosifnicolae2 Thank you! Using your approach now. Hope there will be an official solution for batching.

In my use case, it is a push relay server which receives web push messages, then sending it over to mobile push services. To meet the rate limit of mobile push service, I would need to batch the incoming web push messages before sending it over.

[2021-03-04 10:24] aquiladev opened #1989 "Question: Bull repeatable job concurrency issue"
I have build repeatable job which repeats each minute. When I run it in a single instance of application, everything happen as expected. There is 1 worker per queue and 1 job per queue, so when processing is longer then 1 min, next repeat waits until current is completed.
But when I run multiple instances of applications, there is no waiting of completion of current one. Which is expected, because

[2021-03-04 22:32] andrisi opened #1991 "feature suggestion: working with batches of jobs"
Use case: I need to execute a job for each day of of a month. Lets say calculate something. I'd have 10 workers. When it's busy, the jobs would get done slowly perhaps 1-2 workers picking them, but if it's less crowded, each worker would pick jobs, so it would get done quickly. So the question is: how do I get a notification when all jobs in the batch are done? Perhaps add a batch id to all jobs a

[2021-03-04 23:06] andrisi commented on #1991
I don't find any other refrences to it, but the getJobCounts() doc says "Returns the job counts for each type specified or every list/set in the queue by default." - what list/set is this referring to?

[2021-03-05 10:53] manast commented on #1989
I will answer with the same I did on gitter for reference:
I think the only way to solve this atm is by making sure you only have one worker running.
or not using repeatable jobs, just add the next job when you are done with previous job
if it executed faster than 1 minute just add a delay compensating, if it is slower than 1 minute add it without delay.

[2021-03-05 10:53] #1989 closed

[2021-03-05 12:13] alexburke-peakon opened #1993 "Avoid null stalled event when another worker completes the job"
## Description
In production we are seeing the `stalled` event being emitted with a null job - the code doing the emit is here: https://github.com/OptimalBits/bull/blob/v3.20.1/lib/queue.js#L954. Our analysis suggests that, in the case of multiple independent worker processes, a job may stall on one worker (which proceeds to try to report it) but another worker may retry and complete the job by th

[2021-03-05 23:08] xmflsct commented on #1981
Same question here, counter now returns 0.

[2021-03-06 22:35] manast commented on #1981
getJobCounts only returns the current jobs in the different status such as completed/failed. What you are asking would be a new statistic module. I will mark this as a feature request.

[2021-03-06 22:43] manast commented on #1993
Thanks, I wrote a small comment about it. Actually we probably should not send the events in JS space but directly from the lua script itself, faster and also avoids this hazard altogether...

[2021-03-06 23:07] manast commented on #1991
Please check this documentation: https://docs.bullmq.io/guide/jobs/getters let me know if there is more information missing.

[2021-03-06 23:09] manast commented on #1991
Batches where we wait for a batch to be filled is a bit tricky (if possible at all) to implement on top of redis using lua script unless we use polling, which becomes really challenging if we have a distributed system with workers. This is one of the features that are possible with BullMQ as a redis module though: https://blog.taskforce.sh/bullmq-redis-module/

[2021-03-07 00:11] andrisi commented on #1991
Just to clarify: I don't require workers to work on batches of jobs as one. I'd just need to get a notification when the last from a set of jobs complete. Perhaps a counter per set? Sorry if this was clear before, I just thought using the word batch wasn't a good idea, nor referring to issue 751. Thanks for the replies, I'll look into them.

[2021-03-07 03:12] kodeine commented on #1786
is there any update on this? I am setting up a job id of my own but it seems i cant remove it with the job id.

Also, `startDate` and `delay` either can be used right? I want to start the cron from future date.

[2021-03-07 10:32] manast commented on #1991
Ok, then this has been discussed here: https://github.com/OptimalBits/bull/issues/340
I would love to implement it soon, but not sure when I can find a time slot to do it.

[2021-03-07 10:55] manast commented on #1786
@kodeine the way to currently remove a repeatable job is using these two methods: removeRepeatable and removeRepeatableByKey: https://github.com/OptimalBits/bull/blob/develop/REFERENCE.md#queueremoverepeatable
Regarding ```startDate``` it should work as expected.  Delay cannot be combined currently with repeatable jobs though.

[2021-03-07 13:53] andrisi commented on #1991
I think my proposal is simpler to implement, but could be used in place of your parent/child one. It would just be more work on the client side. What would be needed is just a counter per set id and then an event when it gets to 0.

[2021-03-07 14:37] talShtark commented on #845
me too

[2021-03-07 21:22] kodeine commented on #1786
@manast so the initial run will be after start date as well right? I want the initial execution to be on the start date.

[2021-03-07 21:40] manast commented on #1991
A counter is useful if you add all the jobs at the same time so that you can guarantee they are all in the queue when the counter is initialized. Since we support adding a batch already atomically, an easy addition would be to set a counter for that batch. However, events are not reliable, so it must be notified in a different way, probably a "meta" job that includes the results of all the jobs fr

[2021-03-07 21:52] manast commented on #1786
@kodeine that should work yes.

[2021-03-08 02:37] raphab3 commented on #1334
Success!

[2021-03-08 12:58] alexjeffburke commented on #1993
This issue was addressed by the merge of https://github.com/OptimalBits/bull/pull/1994 - seems I managed to input the fixed issue number wrong.

[2021-03-08 13:24] #1993 closed

[2021-03-08 13:26] alexburke-peakon commented on #1993
This issue was addressed by the merge of #1994 - seems I managed to input the fixed issue number wrong.

[2021-03-08 16:41] andrisi commented on #1991
For now I add a redis sets under a key like 'jobgroup:[group id]' containing IDs of jobs belonging to a group. This way I can add jobs later (or later then the first one gets completed). Then I remove the IDs as jobs are completed (by listening to an event) and when the set gets empty I emit a group-completed event. But it's a bit shaky I guess and you'd better do it when adding jobs to a queue or

[2021-03-08 16:43] manast commented on #1991
Ok, so in theory the same group could emit the "group-completed" event more than once, if you for example happen to add a new job to a group that has already been completed?

[2021-03-08 17:13] andrisi commented on #1991
Yes. In my case this was a side effect of me handling adding jobs one by one and using a zero-delay dummy worker. In realistic scenarios or when you add jobs in on call (there is such, right) then there would be only one group-completed event. Or (as a reqirement of mine) if you add new jobs to the group in a worker before it completes (when you need to retry something with another method for exam

[2021-03-09 06:55] dko-slapdash opened #1995 "The best way to abort the jobs running in the current process and release their locks before exiting"
Hi. I'm trying to implement a "graceful stop" sequence for a worker process which happens when e.g. a machine is stopping. The idea is to call `queue.pause(true)`, then wait for some reasonable amount of time (say, 10 seconds) letting most of the short-lived jobs to finish on their own. Then, there will always be some remaining jobs (long-lived) for which 10 seconds is not enough; for them, we can

[2021-03-09 13:13] throrin19 commented on #261
In my case, I use Bull to execute CronJob agent.

In some cases, I may have too many agents being created for the number of tasks Bull can handle simultaneously. In that case, I would like to see the jobs that have been in the queue for too long simply deleted. Normally you can do this easily with Redis by playing the `expire()` function. Why not allow it with a `JobOpts` option?

[2021-03-10 08:34] koiszzz commented on #1873
I have met the same issue. when redis server came into crash for a long time, longer than redis reconnecting  times , the job just add into the queue and  just waiting,never start

[2021-03-10 08:41] manast commented on #1873
@koiszzz I cannot find how many times ioredis reconnects before it gives up, maybe it tries to reconnect forever or maybe not, this should be investigated, however I tested extensively reconnects in latest version of Bull and could not reproduce any issue. If anybody does please post some instructions on how to reproduce it, ideally a piece of code I can run so I can take a deeper look into it.

[2021-03-10 09:02] koiszzz commented on #1873
I post an bull test project [bull-test](https://github.com/koiszzz/bull-test),
start redis server and then start the express server , browser the url : localhost:3000/add, the console will print job done.
then stop the redis server, and wait for a moment .
restart the redis server, browser the url : localhost:3000/add, you will find the job add to the queue, but then state will be stuck in 'waitin

[2021-03-10 09:26] manast commented on #1873
@koiszzz I tested your code. I guess you are testing using a redis instance inside docker? I experience a bug with ioredis reported here: https://github.com/luin/ioredis/issues/1285 where reconnect does not work if redis is running inside a docker container in MacOS at least. Your repo works well for me if I use a local redis instance but it does not work if I use a redis docker instance... So if

[2021-03-10 09:30] koiszzz commented on #1873
Thanks for replying , the redis server is installed in docker. Maybe I should install a redis server without docker for test.

[2021-03-14 07:49] greyhands2 commented on #163
@bilalesi per worker it is 3 connections

[2021-03-15 03:06] patrickshuff commented on #1941
I too am seeing this happen on our redis instances as well.  We periodically have crons that queue up thousands of jobs.    When this happens our Redis instances hit 100% CPU and we see a huge number of requests being sent to redis.  Here is set of graphs showing CPU/memory/network IO/redis commands during the CPU spikes:

<img width="1476" alt="Screen Shot 2021-03-14 at 11 05 13 PM" src="https://

[2021-03-15 08:59] manast commented on #1941
@patrickshuff most commands used by Bull are lua scripts, so it is normal that EVALSHA is the most used command. However every EVALSHA is not the same lua script.
I would like to get more information like:
- what kind of jobs are you queing, with priorities, delayed, rate limited?
- how many parallel workers are you using.
- specs of the server running Redis.

[2021-03-15 12:00] patrickshuff commented on #1941
We are queuing up thousands of jobs that hit an external API. These are rate limited to a just few per second.

Our workers autoscale up based on CPU utilization, and during this period we end up running 45. The # of commands executed (and Redis CPU) is linearly correlated to the # of workers that are running. If I only allow a few workers, I can keep Redis CPU from hitting 100%.

[2021-03-15 13:03] manast commented on #1941
@patrickshuff yes I think the problem is the rate limiter. The rate limiter will "delay" the jobs that get limited , but when so many jobs are arriving at the same time it could happen that jobs that have already been rate limited gets rate limited again and that creates a loop that requires a lot of CPU on redis side. I made some improvements on the rate limiter a very bull versions ago, but unfo

[2021-03-16 00:37] patrickshuff commented on #1941
@manast -- I was reading in other threads that increasing the `guardInterval` could help here. I'm still on the default.  I am going to push an increase from the default to `50 * 5000` and see if it helps relieve the pressure.

Is this something you expect could help?

[2021-03-16 08:50] manast commented on #1941
@patrickshuff it could help but since we do not know exactly which LUA script is the one producing the rise in CPU is difficult to say. It is an easy test so let me know how it goes.

[2021-03-17 10:47] karanraina13 opened #1996 "Vulnerability Found: @lodash"
## Description
Snyk is detecting a High Severity vulnerability related to lodash in bull.
However, the vulnerability has been resolved in the latest lodash release @ v4.17.21.
could you please update the dependecy version in bull package as well?

## Minimal, Working Test code to reproduce the issue.
#### (An easy to reproduce test case will dramatically decrease the resolution time.)

## Bull ver

[2021-03-18 15:15] #1996 closed

[2021-03-19 02:05] bowenbowensun commented on #1969
What is your workaround to use Bull with TLS? I, too, am trying to support TLS which is required by Heroku Redis. So far has no luck.

[2021-03-19 13:21] manast commented on #1969
@bowenbowensun try with this:
[code]

let me know if it does not work for you.

[2021-03-19 15:31] bowenbowensun commented on #1969
@manast Thanks a lot. I was able to add another option 'rejectUnauthorized: false' to get it working. According to stackOverflow, the certificate made by this connection is self-signed. I wander how it works to get the certificate(public key) signed by a Certificate Authority. Who would be the Certificate Authority here? The Heroku Redis server?

[2021-03-19 16:22] marcbachmann commented on #1445
There's a bug in ioredis which triggered that error on parallel execution of scripts before they are loaded and every minute when the cache is cleared in ioredis.
This gets fixed here https://github.com/luin/ioredis/issues/1303

I guess this issue can get closed after the fix gets merged.

[2021-03-22 13:09] marcbachmann commented on #1445
And the fix is released in [`4.24.3`](https://github.com/luin/ioredis/blob/master/Changelog.md#4243-2021-03-21)

[2021-03-22 22:15] davedodea opened #2000 "Subsequent jobs not being added after the first"
## Description
I have a Node/Express application that allows users to make a POST with fields in the request body: `name, url, and interval`.
- The above fields are then passed to `queue.add`.
- The processing function responsible makes a request to the specified `url`, at the specified `interval` and logs the response.

The issue is that the first call I make will create a job and process it OK.

[2021-03-23 08:03] manast commented on #2000
Please isolate the case without any express code and reproducible so we can take a look at it.

[2021-03-24 01:04] koiszzz opened #2002 "bull add to many master.js to memory"
## Description
I have an project which use bull to manage list of http request. While job processing , node_modules/bull/lib/process/master.js will add to memory and dosen't realease. Is there has some way to debug it ?
## Minimal, Working Test code to reproduce the issue.
#### (An easy to reproduce test case will dramatically decrease the resolution time.)

## Bull version
v 3.20.0
## Additional

[2021-03-24 07:25] manast commented on #2002
Please provide reproducible code that demonstrates the issue so that we can look into it.

[2021-03-24 09:18] abdatta opened #2003 "Progress emitter throws error if jobId has comma in it"
I'm getting an error when I set a jobId that has a comma in it.
[code]
On following the error message, I end up on this line
https://github.com/OptimalBits/bull/blob/4177e57f5a167e89cd6de08ac19cc755757fc158/lib/queue.js#L404

I see the code tried to extract the jobId using the location of the first comma, but since the jobId itself has a comma in it, it fails the extract the full jobId, and the re

[2021-03-24 09:54] manast commented on #2003
I was not aware of this limitation myself, but after examining the code it seems like it is going to be impossible to fix other than renaming the ids so that they do not include commas...

[2021-03-24 09:55] manast commented on #2003
I will see if there is any possibility improving the lua code that actually pubs the progress event.

[2021-03-24 10:06] abdatta commented on #2003
@manast  As a quickfix, can we replace `indexOf` with `lastIndexOf` at this line https://github.com/OptimalBits/bull/blob/4177e57f5a167e89cd6de08ac19cc755757fc158/lib/queue.js#L401

I found this line here, https://github.com/OptimalBits/bull/blob/4177e57f5a167e89cd6de08ac19cc755757fc158/lib/scripts.js#L100 and it seems we only pass `job.id + ',' + progress`, so since `progress` can never contain c

[2021-03-24 11:10] manast commented on #2003
but progress can be a json object so it can indeed include commas...

[2021-03-24 11:14] abdatta commented on #2003
Which is the scenario when progress can be a json object? Can you please help me find it?

[2021-03-24 11:18] manast commented on #2003
you can send a complete object as progress

[2021-03-24 11:28] abdatta commented on #2003
Oh okay, I didn't know that.

Then can we escape commas by passing the entire thing as a stringified json?
https://github.com/OptimalBits/bull/blob/4177e57f5a167e89cd6de08ac19cc755757fc158/lib/scripts.js#L100

For example,
[code]

[2021-03-24 13:30] manast commented on #2003
Let me take a deeper look at this later today and i will give you an answer

[2021-03-24 14:03] abdatta commented on #2003
Thank you for looking into this 😀

[2021-03-24 14:50] manast commented on #2003
Take a look at the PR, I wrote it so that we are still backwards compatible with the old way of sending the data: https://github.com/OptimalBits/bull/pull/2004

[2021-03-24 16:51] davedodea commented on #2000
Please see the following simple extraction, `bull.js` which adds new jobs and processes the queue.

[code]

As mentioned previously, if I run, i.e. with: `nodemon bull.js` I will get, as expected:
[code]

However, if I change the URL where I do `httpQueue.add` to:
`httpQueue.add({ url: 'https://microsoft.com' }, options);` , that new job is not added to Redis.

To be clear, I would expect to now s

[2021-03-24 17:45] manast commented on #2000
ok. This is because "repeat" works a bit awkward. You need to either change the repeat object or to provide a unique jobId, otherwise the second repeatable job is considered same as the first one and just ignored.

[2021-03-24 17:45] #2003 closed

[2021-03-24 17:57] davedodea commented on #2000
Ok, thanks - can you point me in the direction of the relevant docs where this is stated?

[2021-03-24 18:07] manast commented on #2000
Check in the Repeatable section: https://optimalbits.github.io/bull/

[2021-03-24 18:15] davedodea commented on #2000
Thanks for the assistance @manast - appreciate your time 👍

[2021-03-24 18:15] #2000 closed

[2021-03-25 07:07] timussharma commented on #1597
Same Issue I am Getting

[2021-03-25 07:08] timussharma commented on #1597
@ankitjena

[2021-03-26 02:15] wdh-1025 opened #2005 "Redis Cluster, Can't add the job to the failed queue"
In the environment of Redis cluster,Can't add the job to the failed queue,Job will hold the lock for a long time until the Job times out!

## Description

[code]

## Bull version

## 3.22.0

[2021-03-26 05:48] amitav13 commented on #1857
Is there a way to update the delay on a scheduled job? Currrently `Job.update` only lets you update the job `data`.

[2021-03-26 06:29] manast commented on #2005
You must not use "done" and async at the same time in your process functions. Furthermore if you still have issues provide a complete reproducible case so we can look into it.

[2021-03-26 06:31] manast commented on #1857
@amitav13 no, not possible atm.

[2021-03-26 06:38] wdh-1025 commented on #2005
Thanks for the reply, but this still doesn't seem to solve my confusion！
[code]

[2021-03-26 06:49] manast commented on #2005
A couple of things, did this same example work in non cluster redis? and secondly, how do you know the job did not end in the failed status?

[2021-03-26 07:04] wdh-1025 commented on #2005
It can work normally on non-cluster!
The job holds the lock for a long time after the error is thrown, and it is not added to the failed queue until a long time later (job stalled more than allowable limit)

[2021-03-26 07:09] manast commented on #2005
ok, then you need to define the prefix for the queue like this: "{myPrefix}", default is "bull" which is nt compatible with cluster: https://github.com/OptimalBits/bull/blob/develop/PATTERNS.md#redis-cluster

[2021-03-26 07:14] wdh-1025 commented on #2005
As in the above case, I have defined the prefix, but still cannot achieve the expected effect，So I don't know if this is a framework compatibility issue. Is it possible to fix it in the future?

[2021-03-26 07:22] manast commented on #2005
oh yes sorry, I am blind this morning. What is your redis cluster setup?

[2021-03-26 07:29] wdh-1025 commented on #2005
I am not quite sure what you mean, Because my Redis is a purchased cloud service.
Redis Configuration(Redis 5.0 standard edition, dual copy, 2G cluster edition (2 shards))!

[2021-03-26 07:39] gurbaj5124871 commented on #758
Is this issue resolved by updating the bull and ioredis because it seemed to fix it for me, should this issue be closed and resolved?

[2021-03-26 07:51] manast commented on #2005
I need some setup in order to test it myself... is this in RedisLabs or where?

[2021-03-26 07:53] manast commented on #758
@gurbaj5124871  I am not 100% sure. Maybe somebody else from this thread could verify it before we close.

[2021-03-26 08:00] wdh-1025 commented on #2005
The Redis service I purchased from [ALiYun](https://www.aliyun.com/)

[2021-03-26 08:01] manast commented on #2005
Ok, I will try to reproduce this in a local setup. However, if you do not need the cluster setup for other things than Bull then you could also switch to non cluster mode, since there are no advantages in using cluster with Bull.

[2021-03-26 08:04] amitav13 commented on #1857
Would something like this be a workaround?
[code]

[2021-03-26 08:05] wdh-1025 commented on #2005
Yes, but due to special reasons, I cannot switch to a non-clustered state. I look forward to making progress as soon as possible. Thanks again!

[2021-03-26 08:53] manast commented on #1857
@amitav13 it will work most of the time but it is not robust, many edge cases can happen here, for example, the delayed job maybe is already running, or your process crashes between the call to removeJob and queue.add so you end without any job, etc.

[2021-03-26 12:18] amitav13 commented on #1857
Agreed, I'm new to bull so I imagine there are a lot of scenarios not covered in that snippet. Hope we can get a more robust one directly from the lib soon :)

Till then, I'll leave my updated snippet here for anyone else looking:
[code]

[2021-03-27 15:18] wbw20 opened #2006 "Can't Override jobId on Recurring Jobs"
Thank you for your work on this library.

## Description
I am trying to override the `jobId` of a recurring job, but it seems to be ignored in favor of the default Bull-generated id.

Here is a script which demonstrates what I am talking about:

[code]

When I run this, I get the following output:

[code]

I would have expected to see my custom ids in the output instead of the default Bull-generat

[2021-03-29 15:43] givorra-ls commented on #1873
Lol.... I had the same issue, I was reading your comments and doing some tests. I realised that when running redis via docker, the redis data has no persistence and is therefore deleted when the container is stopped and restarted... The "solution" is to start redis via docker-compose using a volume :)

[2021-03-30 07:21] manast commented on #2006
The jobId you provide is used to generate the repeat id, but every repetition needs to have a unique id, otherwise there would not be any repetitions at all since job ids must be unique and trying to add two jobs with the same id results in the second job to be ignored.

[2021-04-03 23:29] wbw20 commented on #2006
I see. So you are saying that recurring jobs with custom ids is simply not supported by design?

[2021-04-04 13:55] talaltoukan opened #2008 "Using bull with ioredis?"
I saw [this](https://github.com/OptimalBits/bull/issues/1406#issuecomment-518838620) comment on another issue, and since I'm using ioredis with bull I was wondering what this refers to. Why is ioredis incompatible with bull?

[2021-04-06 08:58] seelts commented on #2006
I have the exact same issue.
I want to have a job with the specific id so that I can find it later and update it's data.

[2021-04-06 13:17] manast commented on #2008
This is supposed to work now with the latest versions of redis. Did you encounter any issues?

[2021-04-06 13:30] talaltoukan commented on #2008
No I didn't, I just wanted to confirm. Thanks!

[2021-04-06 13:30] #2008 closed

[2021-04-07 20:39] blankenshipz commented on #1995
@manast I came here to ask a similar question; I have a setup where the state of my tasks is being managed by a separate application from my workers (listening to the event stream) and I have several of my worker application running in parallel - if one of my workers is stopped or crashes during the execution of a job does it automatically get reqeueued? I'm running Bull `3.20.1`

[2021-04-07 21:27] npahucki commented on #1502
Any updates on this? We have the same issue, after some time running, delayed jobs randomly disappear. We are also using Redis on ElasticCache. I don't see any evictions either.

[2021-04-07 21:32] manast commented on #1502
@npahucki as long as the issue cannot be reproduced there is no possibility for us to make any progress in resolving it...

[2021-04-08 04:00] koiszzz commented on #2002
I have test in my temp project. here is the [link](https://github.com/koiszzz/bull-test).
It seems that bull doesn't release process when job done while using `Task.process('taskNane', filePath);`

[2021-04-08 07:59] manast commented on #2002
@koiszzz no, the processes are not released after every job, a process is reused for all the jobs within a given concurrency factor. if you have concurrency 10, then there will always be 10 processes running.

[2021-04-08 09:13] vdkkia commented on #709
I could handle the issue with the following code:

[code]

[2021-04-08 10:05] derN3rd commented on #709
I wouldn't recommend this, as this will clear all queues on the redis (or at least all that have the bull prefix, which is on default config).
Also `KEYS` is having a complexity of O(N) which will block the whole redis for quite some time (even more if you have large queues).

With 3.21.0 there was a function added called queue.obliterate which will basically remove the whole queue and keys for it

[2021-04-08 10:11] vdkkia commented on #709
But, the downside with the obliterate function is that it doesn't remove the active jobs.

[2021-04-08 10:14] derN3rd commented on #709
You can't stop active jobs on queue without custom code for that. But you can pass queue.obliterate({ force: true }) to `Use force = true to force obliteration even with active jobs in the queue`

[2021-04-08 10:34] manast commented on #1995
@blankenshipz https://docs.bullmq.io/guide/jobs/stalled

[2021-04-08 19:36] ealcantara22 opened #2009 "Queston: Is it possible to unit test named job proccess handler calls with jest?"
## Description
Hello, I would like to know if its possible to test named job processor calls after call the queue `add` method using jest. Also, an example of how to accomplish this would be great.
## Minimal, Working Test code to reproduce the issue.
Looking to accomplish something like:

[code]

[code]

The response always is:
[code]

## Bull version
 3.20.1
## Additional information
I've alread

[2021-04-08 21:18] #2009 closed

[2021-04-09 01:43] koiszzz commented on #2002
And now project some times the server will consume all memory, how to advoid this? Or It there some way to close the master.js process? @manast

[2021-04-09 06:13] manast commented on #2002
@koiszzz they should not keep growing but keep at a static proportional to your concurrency factor. What is your concurrency factor?

[2021-04-09 07:17] koiszzz commented on #2002
I have an B/S server. Customers use browser to info server do some heavy job. Some times many customers create that job at the same time

[2021-04-09 07:47] manast commented on #2002
@koiszzz the amount of jobs is not important, only the amount of workers and concurrency factor for every worker.

[2021-04-09 07:50] manast commented on #2002
@koiszzz btw, I took a look at your test repo. The code LGTM. How do you conclude the processes are growing indefinitely, can you help me test it?

[2021-04-09 08:52] koiszzz commented on #2002
cause that in my production server, the number of processes is much more than the concurrency defined in code.  After I reproduce the problem in test  , I will send message to you. Thx @manast .

[2021-04-13 07:43] koiszzz commented on #2002
hi @manast . I have update my test project. It seems that when I start another job in some job , It will create a brand new master.js and server never reuse it. just clone the project and run it , then broswer localhost:3000/add several times, you will see.

[2021-04-13 21:02] manast commented on #2002
@koiszzz the bug is in your code. You are creating new processors everytime a new child process is created and that creates an infinite loop every time you process a child job new processes are created:
https://github.com/koiszzz/bull-test/blob/main/routes/processes/childJob.js#L1

[2021-04-13 21:03] #2002 closed

[2021-04-14 00:05] koiszzz commented on #2002
What's the right way to do when I want to start a new job while previous job done ? @manast

[2021-04-14 07:04] manast commented on #2002
you are asking the wrong question. The problem is that inside your new process you are defining new bull.process functions, and for every new function you define you are creating new process that in turn ... yeah it never ends.

[2021-04-14 08:41] koiszzz commented on #2002
After re-reading the REFERENCE.md , I found that I have used the process.js as a wrong way. Thx for replying . @manast

[2021-04-14 20:34] dimatretyak opened #2011 "Repeat task execution"
## Description
Hello. I have a task to parse information about items on a schedule. Please tell me which option is more correct (or maybe I'm doing everything wrong).

## Algorithm
1. I have two queues: `schedulerQueue` and `parserQueue`
2. Adding work to the schedulerQueue to get a list of items to parse (for example, `fetch-parse-queue`)
3. Working in `schedulerQueue` getting the elements for pa

[2021-04-17 06:44] nanhupatar opened #2012 "how to clean all the jobs in queue？"
bull version v3.22.0

`queue..obliterate({ force: true })` was not working，

[2021-04-17 06:45] manast commented on #2012
Can you please provide the code that demonstrates that it does not work?

[2021-04-17 06:57] nanhupatar commented on #2012
ok。before i change the cron from `*/3 * * * * *`to `*/4 * * * * *`,i want clean all the jobs in queue `bus:accessTokenSchedule`。

[code]

but, when i use getRepeatableJobs ,i got 2 jobs

[code]

[2021-04-17 06:59] nanhupatar commented on #2012
i found a similar issue  [Empty and clean jobs](https://github.com/OptimalBits/bull/issues/709)

[2021-04-17 07:42] manast commented on #2012
I will look into this ASAP, thanks for reporting.

[2021-04-19 11:15] #2012 closed

[2021-04-20 08:55] wangkunmeng opened #2014 "when every great than a day this while wrong"
https://github.com/OptimalBits/bull/blob/2bc0b71637eedea06d24b4bc97e4f5b740aa912a/lib/repeatable.js#L203

[2021-04-20 21:28] manast commented on #2014
why?

[2021-04-21 12:37] swayam18 opened #2015 "[Bug] Delayed jobs get stuck in delayed queue if Redis is busy"
## Description

When Redis is "busy running a script" the jobs in a queue get stuck in the delayed state unless a new job is added to the queue or the process is restarted. Upon investigation, the culprit is the following line:

https://github.com/OptimalBits/bull/blob/edfbd163991c212dd6548875c22f2745f897ae28/lib/queue.js#L899

If this command ever fails, the recursion breaks and `updateDelayTimer

[2021-04-22 10:07] Theo-Le-Donne opened #2016 "Obliterate not working properly"
## Description
I try to implement the obliterate method but i get a strange behavior.

Basically i ave a batch of jobs that are used to periodically execute requests, and i want a "reset" method, that removes all jobs and recreate them. I was doing this "manually" using some `pause()`, `empty()`, `moveToCompleted()`, but obliterate seems to be the perfect fit.

Problem is that obliterate seems to

[2021-04-22 12:15] manast commented on #2016
thanks for the report. I cannot see anything that would cause such a behaviour. Would you mind to write a test case that demonstrates that this actually happens? for example, this is one test for the obliterate function:
[code]

[2021-04-22 12:38] Theo-Le-Donne commented on #2016
Thanks for the reply !
Here is a failing test running on a on higher number of jobs:

[code]

![Capture d’écran 2021-04-22 à 14 34 53](https://user-images.githubusercontent.com/22345405/115715376-5a38b180-a378-11eb-9dee-a541a955cf82.png)

[2021-04-22 12:42] rimiti commented on #2016
We've the same issue. This function doesn't work properly when you queues have a lot of jobs.

[2021-04-22 14:56] Theo-Le-Donne commented on #2016
Also fyi i added a PR on DefinitelyTyped to add type definition for `obliterate()`

https://github.com/DefinitelyTyped/DefinitelyTyped/pull/52510

[2021-04-22 15:51] manast commented on #2016
I found the issue, I am working on a fix

[2021-04-22 15:54] Theo-Le-Donne commented on #2016
Great ! Found it too i think, `maxCount` at 1000

[2021-04-22 16:22] FigaCZ opened #2017 "Completed jobs are not removed"
## Description

I have a simple queue

[code]

I am createing job like this

[code]

Unfortunatelly completed jobs hangs in Redis.

BULL-REPL | bull.prod-pdf> stats

| (index)        | Values           |
| ------------- |-------------:|
| waiting     | 0 |
| active     | 0  |
| completed | 3013  |
| failed     | 0|
| delayed     | 0 |
| paused     | 0 |

## Bull version
3.22.1

Is this issue or my

[2021-04-22 16:58] manast commented on #2017
probably a mistake... this functionality is stable and covered by unit tests.

[2021-04-23 05:13] swayam18 commented on #2015
I could get it to reliably reproduce with 40,000 jobs on my machine and verified that the solution indeed works. Any feedback will be appreciated

[2021-04-23 08:52] evelyn-f-king commented on #114
@janober I tried the same thing, but it appears that if you update a job's process in the queue, the job does not become aware of that change. Anyone found out a convenient way to even just signal the process that it should be terminated?

[2021-04-23 11:09] wangkunmeng commented on #2014
sorry，I misunderstood。

[2021-04-23 11:09] #2014 closed

[2021-04-23 12:14] Theo-Le-Donne commented on #2016
Hey, just wanted to know, should we expect a fix soon or do i focus on a workaround for now ? Thanks

[2021-04-23 12:47] ludwigschubi opened #2019 "Cannot find tsc-compiled processor module"
## Description

I am trying to use processors as described in the readme:
[code]

However, my processor module e.g. `src/processors/worker.ts` is written in typescript and before execution, is compiled to `lib/processors/worker.js`

Therefore when adding the processor to the queue, I am using the compiled path:
[code]

When adding a job to the queue during execution this throws an error: `Cannot f

[2021-04-23 13:34] ludwigschubi commented on #2019
Solved this by using an absolute path for specifying the process module

[2021-04-23 13:34] #2019 closed

[2021-04-23 13:56] #2016 closed

[2021-04-23 14:32] manast commented on #2016
:tada: This issue has been resolved in version 3.22.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/bull/v/3.22.2)
- [GitHub release](https://github.com/OptimalBits/bull/releases/tag/v3.22.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-23 15:50] manast commented on #114
After https://docs.bullmq.io/guide/jobs/flows this is the next major feature I want to add to Bull/BullMQ

[2021-04-23 15:53] manast commented on #2015
@swayam18 thanks for the report and the solution proposal, I will verify it and release a fix asap.

[2021-04-23 16:49] #2015 closed

[2021-04-23 16:50] manast commented on #2015
:tada: This issue has been resolved in version 3.22.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/bull/v/3.22.3)
- [GitHub release](https://github.com/OptimalBits/bull/releases/tag/v3.22.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-23 17:24] janober commented on #114
Interesting @evelyn-f-king it seems to be working fine for us. Here the code we use:
https://github.com/n8n-io/n8n/blob/HEAD/packages/cli/commands/worker.ts#L229-L241

[2021-04-26 00:04] wazirsoft opened #2023 "Different queues with one job per worker"
I am having four different queues listening and running separate operations as typical queues do. Currently if each queue get one job all these four jobs would start processing at once and just on a single worker. I don't want to do this as each queue is resource intensive.

I can't merge all these four jobs into single queue to fix this concurrency issue. The reason is, I am using Arena and would

[2021-04-26 08:41] #2023 closed

[2021-04-26 18:14] pvogel1967 opened #2025 "Questions / Best Practices / *Absolute* rate limiter?"
## Description

Hi, I'm embarking on a project to move some of our processing into queued tasks rather than doing them synchronously with an API request and I'm looking for some best practices or at least a discussion of tradeoffs to consider as I design our approach.

First of all -- # of queues vs. named jobs within a queue?  We have a variety of events that occur within our system that require

[2021-04-27 06:36] mandaputtra commented on #1924
I also get this, Where do you put that code? On start of your app?

[2021-04-27 14:07] andrewda commented on #1529
We're still seeing this on production occasionally, with all our processes named. Have there been any developments here, or has anyone figured out how to circumvent the issue? Does adding a processor for `__default__` really work? It's difficult to test any "solution" when I have no idea how to reproduce the issue.

[2021-04-27 20:16] manast commented on #2025
See my answers below

named jobs are no different from standard jobs, so from a design point of view it does not make any difference, its just a convenient feature. Normally you should have a manageable number of queues though.

In general CPU for the redis instance should not very high, typical max at 20%, but this can increase if you have a lot of delayed jobs (in the 100k order of magnitude). A

[2021-04-27 20:16] #2025 closed

[2021-04-27 20:29] manast commented on #1529
@andrewburgess not sure why you did thumb me down, but the error you are getting is the reason this feature has been removed from bullmq. You are probably adding a job without specifying a name and you do have workers that do not handle the unnamed job so when that job is fetched by that worker it does not know what to do with it and hence you get the error.

[2021-04-27 20:37] gabegorelick commented on #1529
I can't speak for @andrewburgess, but a lot of people (including myself) have experienced this issue despite the fact that we most definitely do not enqueue any jobs without names. It's some kind of weird race condition in Bull, or something like that.

[2021-04-27 21:14] manast commented on #1529
@gabegorelick provide a proof then :).

[2021-04-27 21:18] gabegorelick commented on #1529
Believe me, if I could provide a reproducible, reliable, minimal test case, I'd already have a fix up.

[2021-04-27 21:52] papandreou opened #2029 "TypeError: Cannot read property 'message' of undefined in Job#moveToFailed"
(carried over from https://github.com/OptimalBits/bull/pull/2027)

We've seen this error show up in production a couple of times:

[code]

It seems to happen while the server instance is shutting down or after an uncaught exception, so maybe there's a method somewhere (or ioredis) that's returning a promise that gets rejected with `undefined`.

I haven't been able to recreate the specific circumst

[2021-04-27 22:51] andrewburgess commented on #1529
In the immortal words of Shaggy, [It Wasn't Me](https://open.spotify.com/track/0OaunKfsxkgBvPv68jBbmm)

[2021-04-28 04:38] manast commented on #1529
@gabegorelick even without a reproducible test case, some more info would help to at least start looking at it. For example, what information can you gather about this particular jobs? could you add extra data to the job data so that it is easier to see a pattern, are this jobs special in any way, why is the name missing if the name property is created in redis at the moment of the job creation?,

[2021-04-28 14:55] yairk opened #2030 "Removing repeatable jobs by data passed in queue.add"
If I understand correctly, repeatable jobs are created via `queue.add()` by passing the `repeat` option as described e.g. [here](https://docs.bullmq.io/guide/jobs/repeatable).

When calling [getRepeatableJobs](https://github.com/taskforcesh/bullmq/blob/master/docs/gitbook/api/bullmq.queue.getrepeatablejobs.md), however, all of the data that was passed to `queue.add()` is not returned. Instead, I o

[2021-04-28 16:14] tjhiggins opened #2031 "getJobLogs pagination reversed"
## Description
Implementing a UI over the bull job logs and noticed that the log pagination is reversed. I'm not sure if this is intentional, but its certainly confusing and makes implementation difficult when trying to paginate or live log stream.

## Minimal, Working Test code to reproduce the issue.

This is a simple example that illustrates the problem.
[code]

## Bull version
v3.22.4

[2021-04-28 17:47] ldco2016 opened #2032 "Package exports for '/app/node_modules/uuid' do not define a valid '.' target"
I needed to implement BullJS into my project. I have a microservice called expiration that utilizes BullJS to publish an event when an order is expired:

    import Queue from 'bull';

    interface Payload {
      orderId: string;
    }

    const expirationQueue = new Queue<Payload>('order:expiration', {
      redis: {
        host: process.env.REDIS_HOST,
      },
    });

    expirationQueue.p

[2021-04-28 20:03] manast commented on #2030
The ergonomics of repeatable jobs are not very nice atm, however can't you use the "name" field and correlate using that?

[2021-04-28 20:11] manast commented on #2031
Actually I do not remember if it was intentional or not, but yes it should not be reversed.

[2021-04-28 20:16] manast commented on #2032
I have no idea what causes that error, most probably not bull related. Try to isolate and simplify until you can corner the issue.

[2021-04-28 21:09] ldco2016 commented on #2032
@manast , I know when I remove this:

[code]

from `onMessage()` the error goes away and I get my events from this service console logging.

[2021-04-29 05:25] yairk commented on #2030
@manast thank you for the response! I could do that, yes - it's just that currently I'm using different `name` values for different jobs. I wanted to give all of them the same `type` (e.g. `SystemScheduled`) and then be able to cancel all repeatable jobs of type `SystemScheduled`.

Are there short-term plans for improving the ergonomics of repeatable jobs?

[2021-04-29 08:19] bruun opened #2033 "moveToDelayed contains duplicate lock GET"
## Description
While digging into some (probably unrelated) issue with missing locks for failed jobs that needs to be moved to "delayed", I took a look inside `moveToDelayed-3.lua` and noticed there are two GET's for the lock:

[code]

The corresponding lock check in `moveToFinished-7.lua` does not fetch the lock twice, which is why I'm wondering if this might be unintentional?

Also, the document

[2021-04-29 13:38] #2011 closed

[2021-04-29 14:57] zxpectre opened #2034 "How to change job name in process() and immediately retry that job"
Hi all. As question says, how to change job name inside process() and immediately retry (re-schedule to run as soon as posible on any instance) that job to execute the process() registered for the second name?

I need to replace agenda for bull in my proyect and I need to accomplish this functionality.

Thnx!

[2021-04-29 16:56] xorbis commented on #494
Did you end up for a solution to count() jobs in a queue by they name?
I'm using NestJs Queue.

[2021-04-29 17:31] aalex commented on #1900
I confirm this issue.

[2021-04-29 18:19] #2034 closed

[2021-04-29 18:23] manast commented on #1900
Although I agree it is an inconsistent behaviour there are several workarounds for this so it is not very high prioritized.

[2021-04-30 02:18] tjhiggins commented on #1950
@manast wanted to bump this one since as mentioned the docs seem to be incorrect at least for sandboxed processes
https://github.com/OptimalBits/bull/blob/v3.22.4/REFERENCE.md#events
[code]
throws error `TypeError: job_promise.cancel is not a function`

Also would love to know the recommended way to kill processes.

[2021-04-30 15:30] gabegorelick commented on #1529
@manast I understand. Unfortunately I can't really provide any more information. If I ever figure out the issue, I'll be sure to post an update. Until then, if you prefer to close the issue then I understand.

[2021-04-30 16:34] #1529 closed

[2021-05-02 11:10] gigantedocil commented on #890
Hi, I'm having issues in two specific situations:

- If I start the apps that try to create the queue and connect to Redis and Redis is not available at that time, the queues will never work even if Redis becomes available afterwards.
- If I start the apps that try to create the queue and connect to Redis and Redis is available at that time but afterwards Redis becomes unavailable and longer down

[2021-05-03 11:16] manast commented on #890
@gigantedocil I have test this recently and I could not reproduce any connection issues. Could you just provide some code snippet (not a full repo), that isolates the issue so that I can test it?

[2021-05-03 18:23] ctrlaltdylan commented on #2017
Cleared jobs are not removed automatically.

I'm using the bull admin dashboard to clear completed jobs through a web GUI.

However I'm trying to automate this with the `Queue.clear()` function.

I've tried `queueName.clear(0, 'completed');` but it's not taking any effect on the queues at all.

Would love to cron job this to remove successfully completed jobs on a schedule because the completed jo

[2021-05-03 19:44] manast commented on #2017
We have several unit tests that check for remove on complete and they are all passing, if you can write a test that does not pass then I can look into it: https://github.com/OptimalBits/bull/blob/develop/test/test_queue.js#L455

[2021-05-04 04:11] SK-CSE opened #2039 "how to remove a delayed job from queue ?"
Hi, I am new to Bull and my use case is to run a job after 10 sec, for that, I am using the below code
[code]
after adding it to the queue, now after a few sec let's say 4 sec, i want to remove the job from the queue as it is no longer required due to some condition, how can I achieve it. I know there is job.remove(). but how to use it for a given jobId. can someone please help me with it.

[2021-05-04 11:32] SK-CSE commented on #2039
closing it, it seems there was a syntax error on my code while fetching the job.

[2021-05-04 11:32] #2039 closed

[2021-05-05 12:20] antoniusostermann commented on #573
@n1ru4l Any news on this?

[2021-05-05 12:24] n1ru4l commented on #573
@antoniusostermann Well it has been running in production for over one year now, but have not had time yet to plan or discuss open-sourcing it internally.

[2021-05-05 15:54] manast commented on #573
@antoniusostermann I am also working on this: https://github.com/taskforcesh/bullmq-redis
since it is a redis module it would be language agnostic... I need people to start evaluating it though so if this suits your needs please give it a go!.

[2021-05-06 05:13] n1ru4l commented on #573
@manast Amazon Elasticache, unfortunately, does not support Redis modules, so this will probably not be a solution for us until support lands. 😔

[2021-05-06 05:36] adamreisnz commented on #1300
(1 + 1 + 5 + 5) * 5 = ~~48~~ 60

[2021-05-06 07:20] manast commented on #573
@n1ru4l unfortunately not, and probably they never will. However there are many other Redis providers, that also runs their instances in AWS that supports it, hopefully that will be good enough for most users...

[2021-05-07 12:00] chenop commented on #965
So how do I clean the waiting jobs?

[2021-05-07 18:58] svet93 opened #2041 "Failed stalled jobs don't fire global:failed event"
The issue is that today when a job stalls more than the allowed number of times, it gets moved to failed, but the event doesn't get published. We noticed that because we were running a job that would start other child jobs and use the .finished() function in order to know when the work is done. However, if a job stalled, it never ended in the global:failed handler so the finished function never re

[2021-05-08 03:50] adamreisnz commented on #789
This appears to be still an issue in the new `bullmq` repo.

[code]

[2021-05-08 08:31] manast commented on #789
It is better you open a new issue with the steps to reproduce it. "Missing lock for job" is a legit error that can happen, so without knowing the context it is impossible to decide if it is an issue or not...

[2021-05-08 21:51] OliveiraCleidson opened #2042 "How to create sub queues"
Hello everyone, I will try to explain the use case and thanks for reading this issue.

I have a 'send message' job, but to send a message I need a client, so I want to specify which client will do this job for. However, if the client is already sending a message, I want the message to remain in the queue while client 1 processes the job, without affecting the other clients, if a message arrives fo

[2021-05-09 09:00] #2042 closed

[2021-05-09 22:43] andrisi commented on #1991
https://docs.bullmq.io/guide/jobs/flows thanks!

[2021-05-09 22:43] #1991 closed

[2021-05-12 19:10] m7x333 opened #2045 "Error: Connection is closed after close()"
## Description
hello,
[code]
[code]
with userIdsToProcess is about of 200k records sometimes this happening:
[code]

seems like connection is closed with some jobs still wait for add to queue
is any recommendation for proper connection closing, may be i need to wait somehow?

## Minimal, Working Test code to reproduce the issue.
#### (An easy to reproduce test case will dramatically decrease the r

[2021-05-16 09:17] manast commented on #2031
yes, I think the rationale was that often times you are interested in the newest logs and you browse backwards in time. So I think the solution to support both cases (as it works now and streaming logs), would be to add an "asc" parameter as we have in the other getters, by default would be false, and passing true will provide the functionality you are requesting.

[2021-05-17 01:27] tjhiggins commented on #2031
@manast I'm fine with updating, but what do you think about this comment?
https://github.com/taskforcesh/bullmq/pull/538/files#r633169826

I'd tech be a breaking change, but if the default behavior is truly descending then we should fix the existing logic.

[2021-05-17 07:56] manast commented on #2031
In my comment here https://github.com/taskforcesh/bullmq/pull/538#issuecomment-842097788 I wrote that I think ASC should be default since current one is actually ASC (f you call the API without start, end params), so that would probably the less "breaking change", since it is not documented the expected order anyway.

[2021-05-17 08:42] manast commented on #1731
fixed with https://github.com/taskforcesh/bullmq/pull/544

[2021-05-17 08:42] #1731 closed

[2021-05-17 10:23] manast commented on #2045
you are not awaiting the call to ```addFetchFollowers``` so you close the connection before the jobs are actually added.
If you are going to add a lot of jobs I recommend you use Promise.all or batch in order to get better performance.

[2021-05-17 10:23] #2045 closed

[2021-05-17 16:25] #2031 closed

[2021-05-17 16:26] manast commented on #2031
:tada: This issue has been resolved in version 3.22.6 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/bull/v/3.22.6)
- [GitHub release](https://github.com/OptimalBits/bull/releases/tag/v3.22.6)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-05-20 08:37] HugoPoi commented on #1481
This should be in upper case with some blinking in the documentation.

[2021-05-20 11:42] Niek commented on #1415
This happens when there's a sync call taking all CPU. You either need to increase the `stalledInterval` or (much better) write your code in such a way that it doesn't block the main thread. See also: https://docs.bullmq.io/guide/workers/stalled-jobs

[2021-05-20 11:47] vdkkia commented on #1019
I have the same problem when I use recurrent jobs using Cron:

[code]
![image](https://user-images.githubusercontent.com/4618481/118973447-f8b53400-b971-11eb-8325-9da24b10c435.png)

[2021-05-20 17:15] misos1 commented on #1415
No, there is no sync call taking all cpu in my example. There is no high cpu load. Redis is not overloaded. There is probably some bug in the bull. To properly run my example you need to wait some minute until it prints "exiting" and gracefully exits. Output is still exactly the same with the newest bull 3.22.6.

@guidodizi

It does not make any difference when I change line with `queue.process...

[2021-05-20 17:29] manast commented on #1019
@vdkkia  the process is kept alive in case you add more jobs to the queue...

[2021-05-20 17:35] vdkkia commented on #1019
@manast Is there a way to force it to create the process at schedule time and terminate it when job is finished?

[2021-05-20 18:17] manast commented on #1019
No. why would you like to do that?

[2021-05-21 06:28] henjue opened #2046 "How to get the remaining time"
If delay in job options is set to 10s, how can I get the remaining time (7S) after 3S

[2021-05-21 08:09] #2046 closed

[2021-05-23 15:38] m7x333 opened #2049 "bull:queue:stalled redis key meaning"
## Description
constantly noticed bull:queue:stalled redis key with some already finished jobs ids.
this key live about several second after all jobs in this queue was processed and then disappear.
we didn't notices any stalled job errors.
out workers need about 30 sec per job to process.
also following options a used:
[code]

please explain what bull:queue:stalled actually mean?

## Minimal, Work

[2021-05-23 19:47] manast commented on #2049
https://github.com/optimalbits/bull#important-notes

[2021-05-23 19:47] #2049 closed

[2021-05-24 17:53] m7x333 commented on #2049
hello, thank you for response but from notes above not clear what bull:queue:stalled redis key actually mean, we didn't notice stalled errors but constantly see bull:queue:stalled filed with some random finished job ids. could you provide some info how this key work please?

[2021-05-24 18:42] manast commented on #2049
The stalled key is used internally for implementing the stalled jobs mechanism. It is not useful to know about it as user of the library.

[2021-05-26 14:52] nicholaswmin opened #2050 "Queue.obliterate does not remove job logs"
## Description

I expect that [`Queue.obliterate`](https://github.com/OptimalBits/bull/blob/develop/REFERENCE.md#queueobliterate) will remove everything about a job, *including it's previous logs*.
Instead, adding a job with the same data (i think) causes the logs to accumulate.

## MCVE

Run the below example *3 times* and look at the logs in Arena. It shows *3 log lines* instead of *1*.
I expect

[2021-05-26 22:21] kingjerod opened #2051 "Anyway to put current job to the front of FIFO queue?"
I can't figure out how to keep jobs in a FIFO queue at the front if they fail. If I have this in the queue:

1. A
2. B
3. C

If B fails, I want it to go back to the front of the queue, maybe with a delay before retry? I don't want it to put B into the failed queue and process C. Essentially this would block the queue until B gets processed. This is how AWS SQS FIFO queues operate.

It looks like i

[2021-05-27 07:23] MursalinAraf opened #2053 "ReplyError: ERR unknown command 'script'"

[2021-05-27 16:29] alxyuu opened #2054 "experiencing an unreasonably long time to add new jobs"
## Description

Occasionally, I will see extremely long times for jobs to be processed. The job seems to be stuck on the producing side rather than the processor side, since the job does not even show up when looking through bull-board. In addition, traces from our API producer show extremely long redis evalsha1 spans:
![image](https://user-images.githubusercontent.com/98154/119861830-7088de80-bed

[2021-05-28 20:52] vansham-gortnm opened #2055 "How to remove erring repeatable jobs?"
## Description

I have a repeatable job that has the cron parameters set to `'* * * * * *'`.  Now let's say the consumer is throwing an error every time it repeats. But I need to remove it from the queue entirely. If I try to use the `jobId` of the failed repeatable job it doesn't stop the recurring because I suppose the `jobId` of every repeated job is different. I try to supply my own `jobId` wh

[2021-05-29 03:58] Jageen commented on #1671
Tips:
When you decide to change cronjob frequency it implies that your future jobs are invalidated so,
1] Delete old one using [queueremoverepeatable](https://github.com/OptimalBits/bull/blob/HEAD/REFERENCE.md#queueremoverepeatable)
2] Create new one with new cronjob frequencies :) using [add](https://github.com/OptimalBits/bull/blob/HEAD/REFERENCE.md#queueremoverepeatable)

[2021-05-29 04:04] Jageen commented on #2055
Can you give more information like,
from where you are calling  `removeRepeatable` ?
Asking because If it is calling from job it self might not work.

[2021-05-29 04:08] Jageen commented on #2051
Have you tried `lifo: boolean` option ?

[code]
https://github.com/OptimalBits/bull/blob/HEAD/REFERENCE.md#queueadd

[2021-05-29 07:53] vansham-gortnm commented on #2055
I am calling it in the `global:failed` event.

I haven't tried `removeRepeatableByKey` as for now, we are not maintaining the key of the parent job.

[2021-05-30 05:16] snaptravel-eng commented on #1941
We are also seeing a similar issue. @patrickshuff did increasing the guardInterval help resolve this? Thanks

[2021-05-30 05:38] kingjerod commented on #2051
How does LIFO help? I do want the queue to be FIFO, but I don't want anything but the first job to be processed. If it fails, it gets put back into the front of the queue and no other jobs behind it are processed.

[2021-05-31 01:24] Jageen commented on #2051
@kingjerod sorry I misunderstood your problem, I am deleting my comment so no one else get confused.

[2021-05-31 01:37] Jageen commented on #2051
By above mentioned method your queue will be FIFO, but when your job get failed, you can add it again with `lifo:true`
which will put job into front of the queue (i.e will execute first).

If even after adding failed job B into front of your queue C executed first.
may be default delay for newly created jobs and 0 delay in failed job might help.

[2021-05-31 07:39] manast commented on #2051
@kingjerod if you want a similar functionality as SQS you should look at this pattern: https://github.com/OptimalBits/bull/blob/develop/PATTERNS.md#manually-fetching-jobs
then you can just fetch the next job when you see fit.  Here you can find more information for the newer BullMQ https://docs.bullmq.io/patterns/manually-fetching-jobs
Please close if this resolves your issue.

[2021-05-31 07:57] manast commented on #1941
@snaptravel-eng since the causes of such a spike can depend on many factors it would be useful if you could share more about your specific situation. Like what Bull features and settings are you using, what is the amount of jobs arriving when this happen, and so on.

[2021-05-31 08:07] manast commented on #2055
Does this work:

[code]

doesn't it?

[2021-05-31 08:39] manast commented on #2054
This is most likely an issue in user code. Adding jobs is a very simple call to a LUA script. In your case if I had to guess, the connection to Redis has been probably lost or something. Make sure that you have correct listeners to error events and that you are logging all exceptions produced by your service and maybe you can find the issue.

[2021-05-31 09:13] #2053 closed

[2021-05-31 10:43] #2050 closed

[2021-05-31 10:44] manast commented on #2050
:tada: This issue has been resolved in version 3.22.7 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/bull/v/3.22.7)
- [GitHub release](https://github.com/OptimalBits/bull/releases/tag/v3.22.7)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-05-31 11:59] nicholaswmin commented on #2050
Amazing, thanks!

[2021-05-31 19:14] nlevchuk commented on #1113
Maybe someone finds this alternative useful https://docs.bullmq.io/bull-3.x-migration/compatibility-class. BullMQ doesn't solve the issue above but it looks more logical in case of setting concurrency for queue via Worker class not via a named job

[2021-05-31 20:06] kingjerod commented on #2051
@manast Thanks for the link, I actually did give that a try. That API doesn't seem to work properly at all. Even a basic get job, move to completed and get the next job will skip multiple jobs in the queue. The `const (nextJobData, nextJobId)` that is suppose to be returned doesn't exist, those functions just return 0.  Here is my test script, and the output:

[code]

This is the output. I'm also

[2021-05-31 20:40] vansham-gortnm commented on #2055
@manast  Yeah it does! Thanks a lot!

[2021-06-01 09:16] manast commented on #2051
@kingjerod The following code works for me, however I had to disable the limiter, which is not working for manual jobs for some reason ( I will look into it):
[code]

[2021-06-01 20:00] kingjerod commented on #2051
That code works for me. With the limiter fixed would it match the FIFO pattern I'm looking for? With this code it does A->B (fail) -> C -> D -> B (fail) -> B (fail).

[2021-06-01 20:15] manast commented on #2051
@kingjerod but will you have only one worker at all times? if that is the case then why using the attempts feature? if not, then you will get concurrency...

[2021-06-01 20:19] kingjerod commented on #2051
Yes, only one worker. Ideally it would work correctly even with multiple workers, only 1 worker would be able to grab a job from the queue and process it at a time. Concurrency for my particular case would be always be 1, since I don't want any jobs but the one at the front being processed.  Attempts would still be used, say for example I want the job attempted 5 times before it gives up on it and

[2021-06-01 20:25] manast commented on #2051
you should try with a custom backoff strategy that does not delay the next attempt then, see if that works, let me know please.

[2021-06-01 21:01] kingjerod commented on #2051
It does not help. I tried this:

[code]

This results in A -> B (fail) -> C -> D -> B(fail) -> B(fail).

If I change the strategy to `return 1` it does not retry B at all, just stops after D.

[2021-06-02 16:42] miwnwski commented on #1873
I encountered this error and have been investigating, I'll share our findings here - maybe it helps bull queue. As far as I can understand, when the client reconnects, `Queue#processJobs` is not run. As far as I can tell, `Queue.prototype.process` calls `Queue#start` which calls `Queue#run` which calls `Queue#processJobs` which enters the queue in the forever loop state by throwing promises.

The

[2021-06-03 08:32] manast commented on #1873
This sounds like a good solution actually, we just need to make sure that the old "loop" is not running when the "ready" event is fired by ioredis, so basically we should "cancel" previous loop proactively when starting the new one.

[2021-06-03 10:01] tarunbatra commented on #1873
Will pausing and resume the local queue ensure there are no competing "loops" running in the worker?
[code]
It appears to work for me at least in local.

[2021-06-03 14:38] m7x333 opened #2059 "finished jobs with run time less than lockDuration marked as stalled"
## Description
hello, in rare cases we got finished jobs with run time less than lockDuration marked as stalled
![image](https://user-images.githubusercontent.com/2481627/120662129-8d02b900-c491-11eb-9a7a-6a62525922af.png)
![image](https://user-images.githubusercontent.com/2481627/120662257-a7d52d80-c491-11eb-98ee-dae59252f023.png)
![image](https://user-images.githubusercontent.com/2481627/1206624

[2021-06-03 18:06] andrisi commented on #1991
@manast do the options passed to FlowProducer.add() apply to children or I need to set the opts property of each job separately? Like the attempts/backoff ones.

[2021-06-03 19:11] #2055 closed

[2021-06-03 20:46] gielow commented on #1955
Hi,

If I understood your question correctly you want a factory for the client.
Mind that in my example I'm using processors.
[code]

[2021-06-04 15:45] zachlevy opened #2061 "Enhancement: Adding Failed Body for extended error objects"
I'm sure a lot of projects, including a couple of mine, use extended Error objects

A simple example would be
[code]

https://github.com/goldbergyoni/nodebestpractices/blob/master/sections/errorhandling/useonlythebuiltinerror.md#use-only-the-built-in-error-object

In bull, when saving an job processing attempt, it stores the stack trace and the error message, it would be great to store any extende

[2021-06-05 08:03] tranphuoctien commented on #1018
You must retry each job after get all jobs failed.
I'm using Nestjs this is example:
[code]

[2021-06-05 21:14] vansham-gortnm opened #2062 "Adding jobs to the queue from within a consumer!"
## Description

@manast  How does bulljs exactly behave when we try to add new jobs to the queue from within the consumer of that queue? In my opinion, the new jobs should wait but they kinda start executing concurrently from what I see.

[code]

[2021-06-07 11:03] chongma commented on #1502
My delayed jobs are disappearing also.  I am watching them with bull dashboard.  i am trying to delay for 24 hours.  none of my long delay jobs ever get completed.  do i need to set a max timeout somewhere?

items also disappear from the completed queue which i am not as worried about.

[2021-06-07 11:45] chongma commented on #1502
never mind i think my redis installation is having problems with directory permissions

[2021-06-07 11:59] manast commented on #2059
Not if it finished correctly, when a job has moved to finished status it cannot be stalled.

[2021-06-07 12:00] manast commented on #1991
@andrisi the opts must be per job.

[2021-06-07 12:03] hrasekj commented on #2017
My guess is, FigaCZ is creating multiple named jobs on the same queue.

[code]

The `secondPdfGeneration` job have different options, without `removeOnComplete`, so they stuck up in redis.

I had similar problem when i configured `defaultJobOptions` on consumer instance of Bull queue.

[2021-06-07 18:03] manast commented on #2062
They are queued as any other job. Your code on the other hand is wrong, it should be like this:
[code]

[2021-06-07 18:03] #2062 closed

[2021-06-07 18:09] manast commented on #1502
@chongma I hope you have set ```maxmemory-policy: noeviction``` otherwise all kind of strange issues can happen since redis will delete keys when the memory starts to become full.

[2021-06-07 20:06] vansham-gortnm commented on #2062
But, the thing is, when I do this -

[code]

Why does the new job start executing right away without waiting for the current job to finish?
And what if I really wanted to insert a new job in the middle of the consumer function?

[2021-06-07 20:37] m7x333 commented on #2059
so it's not clear how job get marked as completed (bull:streams:completed) and filed (bull:streams:filed)  simultaneously.

is that possible?:
1. job started processing
2. job marked as stalled, bull:streams:filed created for this job
3. job finished successfully, bull:streams:completed created for this job, return value (returnvalue key) is assigned

[2021-06-08 07:41] chongma commented on #1502
@manast thank you. i just ran `redis-cli info` inside the docker container and `maxmemory_policy:noeviction` seems to be the default.

my problem was that for some reason redis was looking for the database in `/etc`.  a lot of comments said that redis can get hacked by a bot.  i didn't need to expose the port outside docker so i closed the port and redeployed the container and now it is looking ba

[2021-06-08 12:58] miwnwski commented on #1873
@manast How would you approach this? Is there something we can check today (without monkey patching the lib) for an existing running loop?

[2021-06-08 17:58] gabrieltomionardes commented on #1873
I have the same issue using heroku, when it restart all queues get stuck in waiting.

[2021-06-08 18:34] alxyuu commented on #2054
Hi @manast, I have added additional logging in both reconnectOnError for ioredis as well as queue.on('error', ...), but have not received any notable errors outside of `NOSCRIPT No matching script. Please use EVAL.` from ioredis, which I believe is expected. Is there anywhere else errors could be emitted from?

For reference, this is how I create the queues:

[code]

I am also using encryption in

[2021-06-08 21:47] michgboxy2 opened #2063 "All my jobs regardless of the status gets deleted/wiped off after 15 minutes. Is there a reason why this is happpening?"
## Description

## Minimal, Working Test code to reproduce the issue.
#### (An easy to reproduce test case will dramatically decrease the resolution time.)

## Bull version

## Additional information

[2021-06-08 21:50] michgboxy2 opened #2064 "I was able to make a connection to my clustered ElasticCache redis without the normal settings. Is there any draw back to this approach?"
## Description

## Minimal, Working Test code to reproduce the issue.
#### (An easy to reproduce test case will dramatically decrease the resolution time.)

## Bull version

## Additional information

[2021-06-09 05:40] #2064 closed

[2021-06-09 05:41] manast commented on #2063
For issues please keep the title short and provide code that reproduces the issue.

[2021-06-09 05:41] #2063 closed

[2021-06-09 06:00] manast commented on #1873
@miwnwski yeah it is a bit tricky, you need to somehow refactor the "run" method so that it can be cancellable https://github.com/OptimalBits/bull/blob/develop/lib/queue.js#L864
I could do it myself but I have a lot in my plate right now so it will take some time...

[2021-06-09 06:05] #1445 closed

[2021-06-09 06:06] manast commented on #1445
:tada: This issue has been resolved in version 3.22.8 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/bull/v/3.22.8)
- [GitHub release](https://github.com/OptimalBits/bull/releases/tag/v3.22.8)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-06-09 21:31] manast commented on #2054
In theory the NOSCRIPT error should not happen anymore in the latest release: https://github.com/OptimalBits/bull/issues/1445
could you try to see if it makes any difference?

[2021-06-09 21:41] manast commented on #2059
what do you mean with bull:streams:filed? there is no key "filed" in bull.

[2021-06-09 21:44] manast commented on #2062
I doubt it. The job will finish very fast (since it is not waiting for queue.add to complete), and then the new job will be processed.

[2021-06-10 14:55] croossin commented on #2030
I am also having trouble working around repeatable jobs.  I simply want to cancel particular repeatable jobs by some sort of known ID.  It seems that the APIs make it quite challenging to do so.  Why can't we simply call something like `job.remove()` and it knows to remove that particular job?

@yairk Were you able to curate some sort of solution?

[2021-06-10 14:57] croossin commented on #2030
When I call `getRepeatableJobs` this is the array that is returned:
[code]

It seems weird that none of the information is passed through? However, the job object passed into the process function holds a lot of valuable information:

[code]

Why can we not simply remove by said `jobId` in the `opts`? cc @manast

[2021-06-10 15:03] gielow commented on #2017
I think you need to pass these options while creating the Queue itself, not while adding the job.

const queue = new Queue(
    'my-queue-name',
    {
      createClient: function (type) {
        switch (type) {
          case 'client':
            return client;
          case 'subscriber':
            return subscriber;
          case 'bclient':
            return bclient;
          default:

[2021-06-10 15:12] alxyuu commented on #2054
Hi @manast, I still receive the NOSCRIPT errors -- 3 when the server starts up (presumably from the client, bclient, and subscriber) and 1 on the first (not subsequent) job add and 1 on the first (not subsequent) job completion.

bull: 3.22.8
ioredis: 4.27.5

That being said, it doesn't seem like NOSCRIPT itself is causing any issues. Here is an example of a job I am adding, which seems fairly sta

[2021-06-10 18:21] manast commented on #2054
My experience with elasticache has always been pretty good, but never use cluster mode, just a main instance with replication. I do not think encryption is the cause of this, since I have been using it everywhere else without any issues.

[2021-06-10 18:37] yairk commented on #2030
@croossin unfortunately I was unable to come up with a decent solution other than correlation based on `name` as suggested by @manast.

[2021-06-11 00:39] ShawnPavel opened #2068 "Rate Limiting and Multiple Node Instances"
## Description
I have a bull queue that I use to make HTTP requests to a rate limited endpoint. This works great when I'm only running one instance of the process. However, if I run multiple instances I hit the rate limit due to both processes attempting to execute up to the set limit.

Any help with this would be greatly appreciated.

## Bull version
3.19.0

## Additional information

I create th

[2021-06-11 18:13] manast commented on #2068
The rate limiter is independent on the number of workers you have. If that is not the case it would be a bug so you are welcome to provide a test case that reproduces it.

[2021-06-11 18:59] ShawnPavel commented on #2068
Hey manast, I did some more testing and was not able to reproduce with a simple example.

[2021-06-11 18:59] #2068 closed

[2021-06-11 19:19] m7x333 commented on #2059
on my screens from the first post:
bull:streams:filed
bull:streams:completed

they created by bull

[2021-06-11 21:46] manast commented on #2059
But "filed" as a string does not even exist in the whole codebase... are you sure it is created by bull and not another tool, maybe some UI or something?

[2021-06-11 21:48] manast commented on #2059
wait, you mean "failed" right?

[2021-06-11 21:49] manast commented on #2059
anyway, it should not be possible for a job to be in failed and completed status at the same time and I have never heard anybody experiencing this issue... if you could reproduce it then I can look into it.

[2021-06-12 10:29] #2006 closed

[2021-06-12 11:52] m7x333 commented on #2059
ahh, sorry I mean failed of course.
in our case we got same jobs ids on bull:streams:failed and bull:streams:completed simultaneously
but the job itself seems is marked as failed.

[2021-06-12 12:53] manast commented on #2059
@m7x333 how do you conclude the job has been marked as stalled?

[2021-06-12 21:31] m7x333 commented on #2059
we got stalled exception from:
[code]
also redis job key contains:
[code]

[2021-06-12 21:44] m7x333 commented on #2059
also could you check attached screenshot from my first post, they contains full redis output for:
bull:steams:2190628
bull:streams:failed
bull:streams:completed

where job with id 2190628 exists on bull:streams:failed and bull:streams:completed simultaneously
also bull:steams:2190628
time between processedOn and finishedOn is about 2 minutes which less than lockDuration(5min), returnvalue key also

[2021-06-14 18:20] amehta-plume opened #2070 "Recommended approach for handling database connections in separate processes"
## Description

My use case is as follows - I have a NestJS application which has the need to repeatedly poll an API and update the state of a database based on the response of that API. I am using NestJS bull https://www.npmjs.com/package/@nestjs/bull for this to have a separate process to handle this task.

The problem I am facing is that, as it is a separate process, I have no access to things

[2021-06-16 21:14] langal commented on #1334
If this helps anyone,  I had my concurrency set as an environment variable - which I forgot to parse into an Integer....and was then passed as the first argument into "process"....which then gave the processor a name like ("8") instead of the default '__default__'.

I do generally prefer named parameters.

[2021-06-17 06:33] manast commented on #2070
Why are you so concerned about creating a new connection for every process? unless you have a huge amount of concurrency this should never be a problem. Remember, processes are reused for every job, only concurrency determines the amount of parallel processes open at any given time.

[2021-06-18 16:27] JVMartin opened #2072 "Workers stop processing jobs - zombies"
I have been running Bull in production Kubernetes HPA setups, processing tens of millions of jobs per day.

Fairly regularly (at least once or twice a month), all of the workers in the entire system (for instance, while the HPA is set to 5 replicas) will just go silent at the same time. No errors, no resource consumption issues, no apparent memory leaks or issues of any kind. They just stop proces

[2021-06-18 16:47] ajubin commented on #925
Is it possible to check health via `await queue.client.ping();` ?

My need is a bit different though, I'm looking to implement a health-check system as in Nest, but there's nothing for bull

[2021-06-19 01:45] rosslavery commented on #2072
Just to say we had a similar issue on a very similar configuration (GKE + Memorystore). We haven't had it happen in quite a while and I honestly don't remember what changed to fix it. For us though the underlying cause was the Bull .lua scripts failing when Redis would start throwing:
`BUSY Redis is busy running a script. You can only call SCRIPT KILL or SHUTDOWN NOSAVE.`

At that point we had to

[2021-06-19 12:12] manast commented on #2072
@JVMartin One thing to look is to check if the workers are actually connected to Redis or if they may have lost connection (that would explain why they do not continue processing jobs). You can use redis CLIENT LIST command for some low level output (https://redis.io/commands/client-list), and/or also use the getWorkers api in the Queue class: https://github.com/OptimalBits/bull/blob/edfbd163991c2

[2021-06-19 12:14] manast commented on #925
@ajubin can you elaborate what do you mean with "health" in this context?

[2021-06-19 12:40] manast commented on #2072
Basically what is most likely happening is that the workers are loosing the connection to redis and unable to reconnect for some reason (or exhausted all the reconnection attempts, check ioredis documentation for this), also make sure you have error listeners correctly setup on the workers so that you may not miss some error that could explain this behaviour.

[2021-06-19 23:00] JVMartin commented on #2072
@rosslavery Thanks for taking the time to share your story, I'm glad you got it resolved. I have set up similar health checks, which I'll document below.

@manast Thank you for the suggestions. I will play around with `.getWorkers()` and see if I can use it to strengthen our health checks.

To anyone who is curious, here is how I implemented working health checks.. however, this only works for sys

[2021-06-20 07:04] manast commented on #2072
Thanks for the workaround. My two cents here is that it is important to emphasise this solution is a workaround and the underlying problem has not been identified, i.e., why do the workers in this particular setup stop processing jobs. As mentioned above my bet would be on some kind of hidden connection error to redis.

[2021-06-20 07:04] #2072 closed

[2021-06-20 18:27] nilooy commented on #83
i got success with this one, i added the setTimeout to see last log, i have dynamically added cron job that repeats every 4 secs,
[code]

[2021-06-21 06:04] manast commented on #83
@nilooy that seems like the same functionality we already have when using the "removeOnComplete" option https://docs.bullmq.io/guide/jobs/fifo#default-job-options

[2021-06-21 15:05] ajubin commented on #925
Well, after some thought I'm not really sure how relevant it is.

my app use postgres with typeorm and a queue. It runs on a kubernetes cluster.

To check liveliness, i have an endpoint `/healthz` that returns a 200 if everything is ok.

I had a problem with my db clients which were stucked (no call to the db were made). But my service didn't restart as health check was ok.

My countermeasure: che

[2021-06-21 18:30] IAlshawabkeh commented on #1899
Hello @manast,
Is there any updates regarding this?
I am facing the same issue; I have a queue with ~7 million completed jobs, tried queue.clean() without a limit and ended up with all data getting wiped out from redis affected all other queues.
I have tried iterating over and passing a limit eg: 5000 jobs but after a while it resulted in the same behaviour as before.

Thanks in advance!

[2021-06-21 22:34] dphaener commented on #1783
Anyone here still needing to push jobs to Bull from another language, check this out: https://github.com/bitfinexcom/caron. I have this running next to my Node service and am easily able to push items onto a Redis list, which is then popped from Redis by caron and then enqueued for the Bull workers.

[2021-06-22 05:51] manast commented on #1899
@IAlshawabkeh is there are any piece of code that can help me reproduce the issue?

[2021-06-22 09:24] hisabimbola opened #2074 "Bull using not cleaning up set causing huge memory usage"
## Description
We are using bull queue and a fast processing jobs. We noticed that there is a key "wait:added" that is running into gigs of data of us. I feel like this is not been cleaned up.

I wonder if this is a known issue and how to clean it up or avoid the build up
## Minimal, Working Test code to reproduce the issue.
#### (An easy to reproduce test case will dramatically decrease the resol

[2021-06-22 09:40] manast commented on #2074
What kind of data is inside that key? reason I am asking is that such key is not used by bull...

[2021-06-22 09:41] manast commented on #2074
oh sorry, it is actually used by the rate limiter system. You are using the rate limiter right?

[2021-06-22 09:43] hisabimbola commented on #2074
@manast, no we're not using rate limiter... is it enabled by default?

[2021-06-22 09:43] manast commented on #2074
Sorry, I was mistaken by a comment in the source code... I am looking into this now.

[2021-06-22 09:48] manast commented on #2074
I could only find one place where bull is actually writing to a key "added", which is in the "reprocess" lua script used by "retry", I will remove this code since it is obsolete must be something that has hanged around from older versions, however that could barely explain your case unless you are using "retry" massively, are you?

[2021-06-22 09:51] hisabimbola commented on #2074
Yes, we are massively retrying jobs (usually 1-5 times but we could retry up to 200 times for some jobs). We fail early and as could have jobs that could not get the resource lock and this situation happens a lot for us.

Is there any negatively impact of this approach?

[2021-06-22 09:51] manast commented on #2074
no, but it would explain the issue :)

[2021-06-22 09:53] hisabimbola commented on #2074
As a quick fix for now, can we just delete the key or is it used anywhere?

[2021-06-22 09:53] #2074 closed

[2021-06-22 09:54] manast commented on #2074
yes you can delete it, and a new release is coming that do not create that key anymore so you can upgrade in a couple of minutes.

[2021-06-22 09:55] manast commented on #2074
:tada: This issue has been resolved in version 3.22.9 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/bull/v/3.22.9)
- [GitHub release](https://github.com/OptimalBits/bull/releases/tag/v3.22.9)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-06-22 09:56] hisabimbola commented on #2074
Thanks a lot for the fast response and quick fix @manast  🙏🏾 🙇🏾 ❤️

[2021-06-22 14:01] evilbuck opened #2076 "survey for how much someone will pay is collecting bad data"
You're asking how much someone will pay for a course. You're guaranteed to get bad data. Put up a split test that actually charges for a future course. (You can choose to immediately void the charge). This will be more accurate. Right now, your conversion numbers will be much higher than if you actually charged, and you'll see results of a higher dollar amount because people answer more positively

[2021-06-22 16:05] DocX commented on #2072
+1 Happened to us just today. No logs, no errors, etc. just stopped processing jobs. Restarting the worker solved it.

+1 Having some easy way to "ping" specific worker. Perhaps `Queue.start()` could return some UUID identifier of the worker, then we could have something like `Queue.ping(workerUUID, timeout) => Promise<boolean>`. It could be implemented as job in the queue with some special markin

[2021-06-22 19:06] manast commented on #2072
@DocX do you have listeners attached to the worker instance listening for the "error" event?

[2021-06-22 20:14] manast commented on #2076
Thanks for the feedback. You are correct in what you are saying. So in what you propose I would get a lower boundary and the real number would be somewhere in between since paying for a non existing course will for sure convert much less than one that you can get right away.

[2021-06-22 21:16] alxyuu commented on #2054
some combination of scheduling instances to be replaced every 24 hours and increasing the elasticache size to cache.t3.small seems to have abated the issue, hard to tell which though. it's possible the fact that the redis instances were replaced during the size upgrade also helped.

[2021-06-22 21:16] #2054 closed

[2021-06-23 15:07] DocX commented on #2072
We did not have. We will add it and will see if this issue happens again, what was the error.

[2021-06-23 16:26] ebelyaev opened #2077 "Question: is there a way to determine if a job has exhausted all retries"
## Description

Is there a way to determine if a job has exhausted all retries.

## Bull version

3.22.8

## Additional information

[2021-06-23 20:02] #2077 closed

[2021-06-24 12:22] Bazsi96 commented on #1875
Hi everybody!

I have exactly the same problem.
Has it been solved?

Thanks!
Blaze!

[2021-06-24 15:00] evilbuck commented on #2076
You might get a lower number than if the course is already available. There are so many other factors to purchasing decisions and human purchasing behavior; it doesn't always follow reason. Especially for us engineer minded folk that are more analytical. It's more emotion that determines your conversion. Availability of the product when you purchase is only one variable. Think of how many people w

[2021-06-24 17:14] manast commented on #2076
Wow. Thanks for the detailed response, really helpful.

[2021-06-27 19:53] nazmulfahim opened #2081 "Reusing redisclient"
I am using a server less functions and bull with it. I have 3 queues and each only processing. I noticed every time my function gets called bull create a lot of connections. so I want to use only 1 redisclient from redis library and and pass that client to all bull queues so whatever the bull queues does it should do on that connection. I am not using any special code other than the documentation

[2021-06-28 10:18] nguyenvudao opened #2082 "Job is being dropped when bounceBack set to true with rate limit"
## Description
I want to use the rate limit and keep the order of the job so I think the order would not be messed up if we keep it in a waiting queue.
The problem is that if the queue reaches a limitation, there is no job added to the waiting queue but saved into Redis.

## Minimal, Working Test code to reproduce the issue.
[code]
And the result is:

[code]

## Bull version
3.22.9
## Additional i

[2021-06-28 12:15] nazmulfahim commented on #2081
Hello Everyone. This issue is fixed. I looked at similar issues and applied their solutions and couldn't solve my problem. But then I noticed I missed updated documentation. where the code slightly change. to reference.

[code]
The Above is working code. I struggled with the below code

[code]

Also to note the working code still doesn't work with redis library. I needed to install redisio and the

[2021-06-28 12:16] #2081 closed

[2021-06-29 14:43] younes-io commented on #1005
Why is it so hard to remove a repeatable job ?? I tried all suggested solutions here, and none of them worked. I'm using the latest version of the library..

[2021-06-29 17:58] Sparksx commented on #924
up

[2021-07-01 05:00] nekocode opened #2083 "Unexpected deletion of the keyPrefix option"
## Description

In latest code, the instantiation of queue will deleted `keyPrefix` property of the options object which we passed to the second function parameter:

[code]

It causes that we will loss the `keyPrefix` if we use one options instance to initialize multiple queues.

I think we should use a deep cloned options object to make sure the passed one will not be changed.

## Minimal, Workin

[2021-07-01 09:54] #2083 closed

[2021-07-01 09:55] manast commented on #2083
:tada: This issue has been resolved in version 3.22.10 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/bull/v/3.22.10)
- [GitHub release](https://github.com/OptimalBits/bull/releases/tag/v3.22.10)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-07-08 05:48] vanthome commented on #1415
@misos1 was this issue now solved for you or not?

[2021-07-08 09:30] manast commented on #1415
it is still there, I am able to reproduce it, will try to fix is asap.

[2021-07-08 09:32] vanthome commented on #1415
Ahh, we are also suffering from this btw.

[2021-07-08 09:33] manast commented on #1415
@vanthome in what context? as this is reported it happens when closing a queue.

[2021-07-08 09:49] vanthome commented on #1415
oh, I just saw it... no. In our case it's related to `bull.remove()` when we want to remove completed jobs, we run into `Could not remove job repeat:393fadd48d6f8e0e1c87913ce6fb8ab8:1625661360000`

[2021-07-08 10:01] loris commented on #1415
Not sure if related, but could give more hints, on our end, we see once in a while (here its 13 times in 7 days), error `Missing lock for job repeat:...:... failed`.
FYI, the following repeat jobs are from different queues and have different handlers, but they are all very lightweight in term of workload (doing some fast mongo query every minute to check for any work to enqueue in bull). But, they

[2021-07-08 10:37] #1415 closed

[2021-07-08 10:38] manast commented on #1415
:tada: This issue has been resolved in version 3.22.11 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/bull/v/3.22.11)
- [GitHub release](https://github.com/OptimalBits/bull/releases/tag/v3.22.11)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-07-08 10:38] manast commented on #1415
If you can create a separate issue with reproducible code I can look into it. By the way, why don't you use "removeOnComplete" ?

[2021-07-08 10:44] vanthome commented on #1415
We will try to tweak the `lockDuration`.

[2021-07-08 10:48] manast commented on #1415
@vanthome just to be clear, the error you are getting is probably a bug in Bull, tweaking the lockDuration may hide the bug but not resolve it. So if you manage to reproduce it or gain more insight please share it in a new issue.

[2021-07-08 14:47] mydylan commented on #1005
@younes-io Same for me. Already spent few days but without success. Nothing are working for me.

[2021-07-08 14:49] manast commented on #1005
Can you post an example where the remove fails?

[2021-07-09 03:50] anhnhatuit commented on #1873
I have the same issue using GCP. Any quick solution about that.
Thank a lot for help.

[2021-07-09 10:50] batrudinych commented on #1873
Faced the same issue using AWS Elasticache. Looks like there was a connection interruption or some kind of a switch. No error logs or failed jobs, discovered the issue by missing data in the database.

[2021-07-11 10:37] ezain501 commented on #1701
@manast

Running the script second time, should not create the cron job again.

[2021-07-12 04:19] anhnhatuit commented on #1766
Hi,
Anyone have experienced to resolve this issue? Can you give me solution?  I'm facing similar this issue. the duration time between added time and process started is too long. It's impact to process speed.

Thanks

[2021-07-12 13:32] amitav13 commented on #1857
I still hope we can get this directly from bull!

[2021-07-12 14:45] n1ru4l commented on #1752
@stale no

[2021-07-12 15:28] #1984 closed

[2021-07-12 16:10] lukepolo commented on #1908
Making this ticket active, I can re-test with the newest versions.

[2021-07-12 17:48] #1699 closed

[2021-07-12 19:35] #1051 closed

[2021-07-12 19:47] #1547 closed

[2021-07-12 19:56] manast commented on #1566
This is supported in BullMQ flows: https://docs.bullmq.io/guide/jobs/flows

[2021-07-12 19:56] #1566 closed

[2021-07-12 21:56] #315 closed

[2021-07-12 21:59] #1015 closed

[2021-07-13 07:15] tomgrossman commented on #1600
it is an open issue :thinking:

[2021-07-13 07:32] manast commented on #1093
For the record, calling ```theQueue.pause()``` will also pause repeatable jobs since they are just delayed jobs as any other.

[2021-07-13 07:32] #1093 closed

[2021-07-13 08:28] #1313 closed

[2021-07-13 08:30] manast commented on #1345
You are correct in that the naming is incorrect, however it will never return false. Changing it now would imply a breaking change which is too much to ask for so small benefit. Currently no plans to release any new breaking changes on Bull.

[2021-07-13 08:30] #1345 closed

[2021-07-13 08:31] #1349 closed

[2021-07-13 08:34] #1368 closed

[2021-07-13 08:39] #1379 closed

[2021-07-13 09:18] manast commented on #1413
@misos1 do not worry, I won't close issues that are legitimate bugs.

[2021-07-13 10:04] manast commented on #1600
@tomgrossman you are right and I am fixing it right now, sorry that it took so long time.

[2021-07-13 11:52] #1600 closed

[2021-07-13 11:53] manast commented on #1600
:tada: This issue has been resolved in version 3.22.12 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/bull/v/3.22.12)
- [GitHub release](https://github.com/OptimalBits/bull/releases/tag/v3.22.12)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-07-13 12:14] cleytonb commented on #1909
Hi,

I just got the same problem in my production server affecting several systems of my company.  And still, when I look at the documentation I can't see a BIG WARNING about this. (which seems to be absolutely necessary)...

[2021-07-13 13:33] #1388 closed

[2021-07-13 13:35] #1410 closed

[2021-07-13 13:37] #1406 closed

[2021-07-13 14:07] #1421 closed

[2021-07-13 14:19] #1436 closed

[2021-07-13 14:24] manast commented on #1437
This has been implemented recently: https://github.com/OptimalBits/bull/blob/develop/REFERENCE.md#queueobliterate

[2021-07-13 14:24] #1437 closed

[2021-07-13 14:35] #1459 closed

[2021-07-13 14:36] #1501 closed

[2021-07-13 14:43] manast commented on #1492
For the record, it could be the redis instance was wrongly configured, the max memory policy should be set to "noeviction" https://redis.io/topics/lru-cache

[2021-07-13 14:43] #1492 closed

[2021-07-13 14:45] manast commented on #1562
https://github.com/OptimalBits/bull/blob/develop/REFERENCE.md#queueaddBulk

[2021-07-13 14:45] #1562 closed

[2021-07-13 14:50] #1450 closed

[2021-07-13 14:56] manast commented on #1303
I am going to close this one since no specific code that reproduces the issue is provided. If relevant please create a new issue.

[2021-07-13 14:56] #1303 closed

[2021-07-13 14:58] #1581 closed

[2021-07-13 15:01] #1589 closed

[2021-07-13 15:01] #1583 closed

[2021-07-13 15:03] manast commented on #1194
Keeping this open for a little while if somebody have more insights or reproducible code that we can look into.

[2021-07-13 15:05] manast commented on #1604
Corrected now.

[2021-07-13 15:05] #1604 closed

[2021-07-13 15:06] #1610 closed

[2021-07-13 15:06] #1611 closed

[2021-07-13 15:11] #1279 closed

[2021-07-13 15:12] #1608 closed

[2021-07-13 15:12] manast commented on #1279
:tada: This issue has been resolved in version 3.23.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/bull/v/3.23.0)
- [GitHub release](https://github.com/OptimalBits/bull/releases/tag/v3.23.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-07-13 15:14] #1626 closed

[2021-07-13 15:17] #1617 closed

[2021-07-13 15:20] manast commented on #1487
In current design the only way to get the position of a job is by traversing the list key in redis, this can be done iteratively but it is a slow operation. Since I haven't notice a lot of interest in this feature I will close it for now. PRs would be accepted though.

[2021-07-13 15:20] #1487 closed

[2021-07-13 15:26] #1643 closed

[2021-07-13 15:28] manast commented on #1649
I will close this issue as the question is not related to Bull itself but how to write a job that fulfil some external requirements.

[2021-07-13 15:28] #1649 closed

[2021-07-13 15:31] manast commented on #1386
@entrptaher in reality the call to ```isReady``` should not be needed, this is actually a bug in that inside ```getJob``` it should check if the queue is ready before trying to do its thing.

[2021-07-13 15:34] manast commented on #1525
calling ```isReady``` should not be needed so it would be interesting to know why you are calling it in the first place...

[2021-07-13 15:38] #1658 closed

[2021-07-13 15:40] manast commented on #1647
Closing as duplicated of #1546

[2021-07-13 15:40] #1647 closed

[2021-07-13 15:40] #1642 closed

[2021-07-13 15:42] manast commented on #1656
Closing since there are means to perform the requested operation using current apis.

[2021-07-13 15:42] #1656 closed

[2021-07-13 15:44] #1632 closed

[2021-07-13 15:50] manast commented on #1667
The new obliterate method should do what you want: https://github.com/OptimalBits/bull/blob/develop/REFERENCE.md#queueobliterate

[2021-07-13 15:50] #1667 closed

[2021-07-13 15:52] #1682 closed

[2021-07-13 15:52] #1590 closed

[2021-07-13 16:14] manast commented on #1187
I will leave this one as an enhancement, it would be a new method to change the concurrency setting of a queue.

[2021-07-13 16:22] #1231 closed

[2021-07-13 16:29] #1394 closed

[2021-07-13 16:30] #1708 closed

[2021-07-13 16:32] #1681 closed

[2021-07-13 16:33] #1717 closed

[2021-07-13 16:37] #1721 closed

[2021-07-13 16:39] #1723 closed

[2021-07-13 16:40] manast commented on #1740
Closing since we have upgraded ioredis some time ago.

[2021-07-13 16:40] #1740 closed

[2021-07-13 16:43] #1724 closed

[2021-07-13 16:57] #1765 closed

[2021-07-13 20:11] #1655 closed

[2021-07-13 20:21] manast commented on #1908
@lukepolo there are big changes the issue is still there but please confirm and if so I can take a look at it.

[2021-07-13 20:24] manast commented on #1743
The jobs are repeated at the intersection of ```startDate```  and the cron expression, in other words it will repeat honouring the cron expression *after* the given ```startDate```.

[2021-07-13 20:24] #1743 closed

[2021-07-13 22:49] manast commented on #1202
@DavideViolante I have rechecked the code many times and I really cannot find any change that would cause the issue. With a reproducible test case there would be a chance otherwise I do not really know what else to do.

[2021-07-13 22:53] #1798 closed

[2021-07-13 22:58] #1134 closed

[2021-07-13 22:59] #1795 closed

[2021-07-13 22:59] #1809 closed

[2021-07-13 23:00] #1808 closed

[2021-07-13 23:01] #1810 closed

[2021-07-13 23:02] #1813 closed

[2021-07-13 23:03] #1824 closed

[2021-07-13 23:04] #1826 closed

[2021-07-13 23:07] #1830 closed

[2021-07-13 23:12] manast commented on #1842
Currently completed jobs cannot be moved back to wait or failed.

[2021-07-13 23:12] #1842 closed

[2021-07-14 07:32] manast commented on #1845
Closing since it works as designed, if ```endDate``` has already passed no job is added to the queue, the above case works if ```endDate``` is a future date.

[2021-07-14 07:32] #1845 closed

[2021-07-14 07:33] #1849 closed

[2021-07-14 08:03] #1688 closed

[2021-07-14 08:15] #1864 closed

[2021-07-14 08:18] manast commented on #1752
Currently I do not have a solution for these kind of requirements in plain javascript, as a Redis module I have one on the writeboard, but I know modules are problematic since not everybody is able to use them.

[2021-07-14 08:53] DavideViolante commented on #1202
I'm not working in that company anymore, I really cannot reproduce it again.
Anyway I can provide some code portions that might give you some hints to reproduce it:
[code]

[code]

Then create many many jobs (even 50k or more) in this queue. The jobs should get for some seconds to get completed. The jobs should be processed as 20 concurrently.
Then monitor the memory of the process that is running

[2021-07-14 09:00] #1863 closed

[2021-07-14 09:09] manast commented on #1860
closing since this has been fixed a while ago.

[2021-07-14 09:09] #1860 closed

[2021-07-14 09:09] #1877 closed

[2021-07-14 09:10] #1878 closed

[2021-07-14 09:21] #1657 closed

[2021-07-14 09:22] manast commented on #1323
Closing since we have the obliterate method now https://github.com/OptimalBits/bull/blob/develop/REFERENCE.md#queueobliterate

[2021-07-14 09:22] #1323 closed

[2021-07-14 09:23] #1891 closed

[2021-07-14 09:24] #1901 closed

[2021-07-14 09:26] #1476 closed

[2021-07-14 11:16] RodolfoSilva commented on #1323
![image](https://user-images.githubusercontent.com/1703020/125613211-80badc03-82d5-4d5a-b4d3-2c693dc8b513.png)

[2021-07-14 14:14] manast commented on #1906
This could be a bug that has been fixed already since as far as I can tell, the completed/failed event are published regardless of the settings in removeOnComplete/Fail.
Create a new issue if this is not the case with code that demonstrates the issue.

[2021-07-14 14:14] #1906 closed

[2021-07-14 14:15] #1913 closed

[2021-07-14 14:20] #1925 closed

[2021-07-14 14:36] manast commented on #1304
@tnolet not sure if you are aware but this issue has been addressed some time ago https://github.com/OptimalBits/bull/pull/1974

Let me know if that is not the case.

[2021-07-15 07:59] manast commented on #1603
Any changes now will be a breaking change for many so despite the current limitations and inconveniencies I think it is better to leave it as is. In BullMQ this has been addressed properly.

[2021-07-15 07:59] #1603 closed

[2021-07-15 08:00] manast commented on #1603
(of course if somebody wants to contribute with a PR that can solve the issues in a non-breaking manner I will happily merge it)

[2021-07-15 08:01] #1341 closed

[2021-07-15 08:05] #1946 closed

[2021-07-15 08:28] tnolet commented on #1304
@manast I was not aware of this. Thanks for mentioning and fixing this! I will remove my thumbs down.

[2021-07-15 08:39] #1953 closed

[2021-07-15 09:24] #1947 closed

[2021-07-15 09:24] #1687 closed

[2021-07-15 09:31] #1707 closed

[2021-07-15 09:32] #1954 closed

[2021-07-15 09:36] manast commented on #1973
It is late to answer this now but just for documentation purposes: the jobs will be moved to the FRONT of the queue, so that they are processed as fast as possible after the delay time has passed.

[2021-07-15 09:36] #1973 closed

[2021-07-15 09:37] #1975 closed

[2021-07-15 09:41] #1969 closed

[2021-07-15 10:40] #1852 closed

[2021-07-15 10:41] manast commented on #1852
:tada: This issue has been resolved in version 3.23.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/bull/v/3.23.1)
- [GitHub release](https://github.com/OptimalBits/bull/releases/tag/v3.23.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-07-15 11:07] #2029 closed

[2021-07-15 11:08] manast commented on #2029
:tada: This issue has been resolved in version 3.23.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/bull/v/3.23.2)
- [GitHub release](https://github.com/OptimalBits/bull/releases/tag/v3.23.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-07-15 12:13] #2033 closed

[2021-07-15 12:14] manast commented on #2033
:tada: This issue has been resolved in version 3.23.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/bull/v/3.23.3)
- [GitHub release](https://github.com/OptimalBits/bull/releases/tag/v3.23.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-07-16 11:11] #1573 closed

[2021-07-16 11:12] manast commented on #1573
:tada: This issue has been resolved in version 3.25.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/bull/v/3.25.2)
- [GitHub release](https://github.com/OptimalBits/bull/releases/tag/v3.25.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-07-16 13:46] #1665 closed

[2021-07-16 14:10] manast commented on #1665
:tada: This issue has been resolved in version 3.26.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/bull/v/3.26.0)
- [GitHub release](https://github.com/OptimalBits/bull/releases/tag/v3.26.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-07-16 14:11] manast commented on #2030
I made a small change where the repeat key is also stored in the Job returned by queue##add (or when getting any repeatable job for that matter), I know it is not a great solution but maybe it makes it easier for you: https://github.com/OptimalBits/bull/pull/2106

[2021-07-16 14:20] croossin commented on #2030
@manast Great - Is [this](https://github.com/OptimalBits/bull/pull/2106/files#diff-6269a4217141bc6fd747b87032c8f248c977cfd8b2f0d0d7d1ba04af62ba229aR537) an example of how to remove a repeatable job by said key? If not, do you mind showing us an example?

[2021-07-16 18:08] manast commented on #2030
Yes, that the example, you just use ```job.opts.repeat.key``` to remove the repeatable job.

[2021-07-18 05:54] yoferen commented on #168
@manast just want to make sure, using job.update to update the job data, if we retry that job so basically it will use the updated data right?

[2021-07-19 12:01] alucky4eg opened #2108 "queue.process() - concurrency incorrect"
## Description
queue.process('name', concurrency) - concurrency stacks up for all queue.

why do not use limiter here? this setting is the same with limiter.max

## Minimal, Working Test code to reproduce the issue.
[code]

## Bull version
3.26.0

## Additional information
i think this property should affect only process, not all queue

[2021-07-19 13:56] #1881 closed

[2021-07-19 13:56] #1972 closed

[2021-07-19 13:56] #1355 closed

[2021-07-19 13:56] #1985 closed

[2021-07-19 13:56] #1786 closed

[2021-07-19 13:56] #1924 closed

[2021-07-19 13:56] #2032 closed

[2021-07-19 14:56] #1666 closed

[2021-07-19 14:56] #1865 closed

[2021-07-19 14:56] #1769 closed

[2021-07-19 14:56] #1880 closed

[2021-07-19 14:56] #1778 closed

[2021-07-19 14:56] #1898 closed

[2021-07-19 14:56] #1306 closed

[2021-07-19 14:56] #1327 closed

[2021-07-19 14:56] #1931 closed

[2021-07-19 14:56] #1939 closed

[2021-07-19 15:56] #1785 closed

[2021-07-19 15:56] #1760 closed

[2021-07-19 15:56] #1299 closed

[2021-07-19 15:56] #1837 closed

[2021-07-19 15:56] #1841 closed

[2021-07-19 15:56] #1843 closed

[2021-07-19 15:56] #1847 closed

[2021-07-19 15:56] #1861 closed

[2021-07-19 17:56] #1698 closed

[2021-07-19 17:56] #1700 closed

[2021-07-19 17:56] #1702 closed

[2021-07-19 17:56] #1709 closed

[2021-07-19 17:56] #1711 closed

[2021-07-19 17:56] #1734 closed

[2021-07-19 17:56] #1737 closed

[2021-07-19 17:56] #1744 closed

[2021-07-19 17:56] #1756 closed

[2021-07-19 17:56] #1762 closed

[2021-07-19 17:56] #1784 closed

[2021-07-19 18:56] #1627 closed

[2021-07-19 18:56] #1634 closed

[2021-07-19 18:56] #1340 closed

[2021-07-19 18:56] #1571 closed

[2021-07-19 18:56] #1640 closed

[2021-07-19 18:56] #1650 closed

[2021-07-19 18:56] #1663 closed

[2021-07-19 18:56] #1679 closed

[2021-07-19 18:56] #1673 closed

[2021-07-19 19:38] #1480 closed

[2021-07-19 19:38] #1524 closed

[2021-07-19 19:38] #1526 closed

[2021-07-19 19:38] #1527 closed

[2021-07-19 19:38] #1528 closed

[2021-07-19 19:38] #1539 closed

[2021-07-19 19:38] #1442 closed

[2021-07-19 19:38] #1515 closed

[2021-07-19 19:38] #1551 closed

[2021-07-19 19:38] #1560 closed

[2021-07-19 19:38] #1565 closed

[2021-07-19 19:38] #1569 closed

[2021-07-19 19:38] #1572 closed

[2021-07-19 19:38] #1567 closed

[2021-07-19 19:38] #1326 closed

[2021-07-19 19:38] #1568 closed

[2021-07-19 19:38] #1540 closed

[2021-07-19 20:49] #1310 closed

[2021-07-19 20:49] #1314 closed

[2021-07-19 20:49] #1060 closed

[2021-07-19 20:49] #1348 closed

[2021-07-19 20:49] #1350 closed

[2021-07-19 20:49] #1420 closed

[2021-07-19 20:49] #923 closed

[2021-07-19 20:49] #1384 closed

[2021-07-19 20:49] #1430 closed

[2021-07-19 20:49] #1416 closed

[2021-07-19 20:49] #1280 closed

[2021-07-19 21:40] sibelius commented on #2017
is there a command to remove completed jobs manually?

[2021-07-19 21:49] #640 closed

[2021-07-19 21:49] #733 closed

[2021-07-19 21:49] #1030 closed

[2021-07-19 21:49] #1076 closed

[2021-07-19 21:49] #1108 closed

[2021-07-19 21:49] #1143 closed

[2021-07-19 21:49] #1170 closed

[2021-07-19 21:49] #1189 closed

[2021-07-19 21:49] #949 closed

[2021-07-19 21:49] #1227 closed

[2021-07-19 21:49] #1232 closed

[2021-07-19 21:49] #1246 closed

[2021-07-19 21:49] #1169 closed

[2021-07-19 21:49] #1255 closed

[2021-07-19 21:49] #1253 closed

[2021-07-19 21:49] #1273 closed

[2021-07-19 21:49] #1264 closed

[2021-07-19 21:49] #1288 closed

[2021-07-19 21:49] #1233 closed

[2021-07-20 02:59] haipengz commented on #1019
Same issue here.
![Snipaste_2021-07-20_10-50-53](https://user-images.githubusercontent.com/11665321/126254542-ac8e15c5-4a2f-4745-a554-ecc608ee0382.jpg)
Because the processes use a lot of memory.
If there is a way to terminate the processes when the jobs are done, it could save us a lot of memory.
Well, it's not a big issue when we are running the application on a server that has a large amount of

[2021-07-20 07:17] epretha opened #2109 "Question: How does sorting work with getJobs function"
Hi,
     When we call the `getJobs` to get a list of completed jobs, on a queue, will the jobs be first retrieved from the completed list and then sorted or vice versa ?

Say we have a queue with 5000 completed jobs. I want to get the latest 2 completed jobs i.e. [job#5000, job#4999] . So which one of the following calls will give the correct list of jobs in the above given order ?

`getJobs(['com

[2021-07-20 07:40] musqdp opened #2110 "Question: How to specify redis database number?"
`const videoQueue = new Queue('video transcoding', 'redis://127.0.0.1:6379?db=5');`

When I entered the database number in the url, bull ignored and began to use the database number 0

[2021-07-20 09:00] manast commented on #2110
Use this:
```redis://127.0.0.1:6379/5```

[2021-07-20 09:02] #2109 closed

[2021-07-20 12:13] #2110 closed

[2021-07-21 08:13] manast commented on #1019
@haipengz there should not be any zombie processes, processes are reused by the workers so there should not be more processes than your concurrency factor. So there will be no memory gains in killing the processes only a slower performance since creating a new process for every job is a time consuming task.

[2021-07-21 08:50] manast commented on #2108
This is the intended behaviour even if it feels unnatural, there are no plans to change it for the time being: https://github.com/OptimalBits/bull/blob/develop/REFERENCE.md#queueprocess

[2021-07-21 08:50] #2108 closed

[2021-07-21 09:52] manast commented on #168
@yoferen yes.

[2021-07-21 15:29] bricemaurin opened #2112 "Question: Multiple Rate Limit ?"
Hey Bull Team 👋
Thanks for the awesome work you've done with Bull, this is by far the best JS queue out there.

We implemented it and can't seem to find the answer about a specific point in the doc. I hope someone will be able to point me to the right spec / code to better understand this.

We use a rate limited api that has both a per minute, per hour and per day limit. How to implement that usin

[2021-07-21 16:23] daveteu opened #2113 "What permission needed for ACL?"
[code]

I've used the above for ACL but something seems to missing and the workers are not processing. There are no errors too. Using only `+@all` will get the workers working however.

[2021-07-21 16:40] #2112 closed

[2021-07-21 16:50] #2113 closed

[2021-07-23 08:51] aste-mikkok opened #2115 "'removed' event inconsistent parameter"
According to REFERENCE.md:
[code]

In job.js this event is emited with job id here:

[code]

And with the full Job object here:

[code]

[2021-07-25 04:42] stage88 opened #2116 "Error: connect ECONNREFUSED 127.0.0.1:6379 when using: new Queue('my-queue', {redis: 'redis://redis:6379'})"
## Description

I think this change here https://github.com/OptimalBits/bull/commit/2a295691b88318ff64beaa7b83e03487854a7fe4#diff-afa7a0a70da4b0fa42349adcdb862c6f079f980b4051ca651d929290f34a29c7L280 has broken the ability to connect using:
[code]

I have upgraded from 3.22.11 to 3.26.0 and now I get Error: connect ECONNREFUSED 127.0.0.1:6379.

Anyway, I've updated my code to use:
[code]

## Minima

[2021-07-25 19:01] namli commented on #1766
To reproduce problem:  Kill\Restart worker process during they open(put to active state) job. I'm my case this happens when pm2(with --watch) or nodemon handle a watcher and restart in case updated source code.
I find just one solution remove key with job from redis manually and remove a job by id from "bull:updateRssSource:active" as well manually.

[2021-07-25 20:18] manast commented on #1766
@namli that is working as designed. If a worker "dies" while processing a job, the job will be in active state until it is considered stuck and either moved back to wait or failed depending on your options.

[2021-07-25 20:19] #1766 closed

[2021-07-27 06:54] F3WS commented on #2116
I hit this problem using redis on heroku so I'm not sure if their solution will help you but it may, it involves adding the following tls object to the options:

`const queue = new Queue('my-queue', process.env.REDIS_URL, {
  redis: { tls: { rejectUnauthorized: false } },
})`

Refs:
https://help.heroku.com/HC0F8CUS/redis-connection-issues
https://devcenter.heroku.com/articles/heroku-redis#connecti

[2021-07-27 07:00] F3WS commented on #2116
I hit this problem using redis on heroku so I'm not sure if their solution will help you but it may, it involves adding the following tls object to the options:

`const queue = new Queue('my-queue', process.env.REDIS_URL, { redis: { tls: { rejectUnauthorized: false } }, })`

Refs:
https://help.heroku.com/HC0F8CUS/redis-connection-issues
https://devcenter.heroku.com/articles/heroku-redis#connecting

[2021-07-27 07:43] manast commented on #2116
No, the problem seems to be a fix that has actually created a breaking change, I am looking into it now.

[2021-07-27 08:19] manast commented on #2116
@stage88 actually after studying this a bit more, even though the previous version worked, it was undocumented and not really supported, i.e. sending a string with redis options attached to it, even if possible to do with javascript it is not a good pattern. I could not find any such example in Bull's documentation either, so I am going to close this issue now.

[2021-07-27 08:19] #2116 closed

[2021-07-27 10:27] stage88 commented on #2116
All good thanks @manast, it was an easy fix. I think my opts where leftover when I migrated from Kue.

[2021-07-28 09:24] ales-albert-kilbergr opened #2118 "Queue cannot be created with redis config as string"
## Description

Queue object cannot be created with `options.redis` as string any more. Which has been possible in version `3.23.0`

## Minimal, Working Test code to reproduce the issue.
The change causing the change of behavior lays here:

https://github.com/OptimalBits/bull/compare/v3.23.3...v3.25.0 in `Queue.js` line 280

![Screenshot 2021-07-28 110242](https://user-images.githubusercontent.com

[2021-07-28 09:25] ales-albert-kilbergr commented on #2118
[https://github.com/nestjs/bull/issues/869](url)

[2021-07-28 10:47] manast commented on #2118
This was actually an undocumented feature that should not be possible in the first place, please see this: https://github.com/OptimalBits/bull/issues/2116
But if there are external llibraries depending on bull that use this approach it may be worth fixing it.

[2021-07-28 21:07] eliotik commented on #2118
Not only external libraries can be a problem but how do you suppose to split url provisioned to environment to host, port, password, username?

[2021-07-28 22:06] manast commented on #2118
@eliotik you just pass the "host" option like you do in ioredis: https://github.com/luin/ioredis/blob/master/API.md#new-redisport-host-options

[2021-07-28 22:07] manast commented on #2118
@eliotik or well, maybe I do not understand what you mean... you can either pass the url as a string and/or you pass an options object with whatever options you need. What you cannot do is passing a string with options attached to it, which imho seems like an antipattern to me.

[2021-07-29 02:05] eliotik commented on #2118
not exactly. `host` is url where redis is located, like `boomboom.com`.
what you actually use is a fully loaded parametrized url:
`redis://username:yourfancypassword@host:port/dbid`
so you cannot just take this string and define it as a value for `host`, or you can? :)

[2021-07-29 06:56] manast commented on #2118
@eliotik I think you are misunderstanding the issue. You can still do:  ```new Queue(queueName, 'redis://username:yourfancypassword@host:port/dbid', otherRedisOpts);```

[2021-07-30 13:56] StefanCenusa opened #2120 "Queue is missing redis username support from url"
## Description

Queue doesn't parse the username out of the redis url. Of course, username could be passed with redis options, but I think it would be nice to parse/get all the information from the url string if possible.

[code]
https://github.com/OptimalBits/bull/blob/develop/lib/queue.js#L305

A simple solution would be:

[code]

Should I open a PR for this change?

## Bull version
3.27.0

[2021-07-30 15:10] manast commented on #2120
Support for users is a new feature in redis so that is why it has not been implemented in Bull yet, you are welcome to submit a PR.

[2021-07-30 18:11] LamSkills commented on #1664
I still get this error but I find a (maybe ?) cleaner solution to fix that annoying warning by using Promise.

### Solution

[code]

### Result

If Redis instance is not started, instead of getting a `UnhandledPromiseRejectionWarning`, you will get an error in your console with my example :

![github-bull-fix-unhandled](https://user-images.githubusercontent.com/26470211/127651014-903064fa-5178-49b

[2021-08-02 10:51] kietheros opened #2121 "Limit the number of items processed in a unit of time for each named job"
## Description
My system:
 - Producers: get list of items from many data sources and push to queue. Producer is very simple.
 - Workers: get item from queue, load data of item from data source and process them.

I have 100 data sources, some producers and a lot of workers.

I need to limit the number of items processed in a unit of time for each data source.
Example: each data source has a lot of

[2021-08-03 05:09] adamreisnz commented on #479
Hello, it has been 4+ years since this ticket was opened. Is there any progress on its implementation?

[2021-08-04 05:05] #1671 closed

[2021-08-04 18:42] #2121 closed

[2021-08-05 08:54] StefanCenusa commented on #2120
@manast Thanks for your quick reply. I've submitted a PR for this change.

[2021-08-06 08:36] #1941 closed

[2021-08-06 12:15] #1955 closed

[2021-08-06 14:08] Arun-KumarH opened #2126 "Inform bull about job completed status for repeatable job using `moveToCompleted` not working"
## Description
We want to inform `bull` using `job.moveToCompleted` instead of using `done()` job call back.
I have an example below where I create a repeatable job every second and the job gets executed first time and its moved to completed state, the second time it just hangs in `waiting` state in bull-board and the job is never executed.

https://github.com/OptimalBits/bull/blob/develop/lib/que

[2021-08-06 14:54] Arun-KumarH commented on #2126
When I remove the `done` from process and pass the second param to `moveToCompleted` ignoreLock as true, then the jobs don't get stuck and get executed every second.

[2021-08-06 14:54] #2126 closed

[2021-08-07 15:24] kietheros opened #2127 "removeJobs took 30 minutes to finish"
## Description
I have a queue

    const queue = new Bull('queue', '', {
        redis: {
           ...
        },
        limiter: {
            max: 5,
            duration: 10000,
            groupKey: 'sourceId'
        },
    });

    Job data {
         file: '..',
         sourceId: '..'
    }

I have 300 sources, each source has 10k -> 30k job data. Now, I have pushed 3 million jobs into

[2021-08-07 21:27] manast commented on #2127
How many jobs were there in the queue that took 30 minutes to be removed?
Btw, are you aware of the "removeOnComple" option?

[2021-08-07 22:10] #2051 closed

[2021-08-08 04:03] kietheros commented on #2127
I push 3M jobs into the queue with removeOnComplete and removeOnFail.  My workers is slow, it only can process 12 jobs/s.
The worker processes jobs of each source to do finding some data. If found, don't need to process remaining jobs of that source.

In my test, a source (id: "abc") has 30k jobs, workers have only processed 300 jobs of this source and have found the result, remaining jobs still ~

[2021-08-08 07:16] manast commented on #2127
I think you should consider using the queue method "empty" (https://github.com/OptimalBits/bull/blob/develop/REFERENCE.md#queueempty) for your use case, so it will just clean the jobs that are in the wait list, but of course for this to work you need to use a different queue for every "source". Otherwise it will be as you say, it need to scan the whole Redis key space until it finds the keys that

[2021-08-08 07:17] manast commented on #2127
Btw, it would just need to scan it once so only 2.5M checks not 30 * 2.5M.

[2021-08-08 07:42] kietheros commented on #2127
I have 300 sources, each source has the same kind of jobs.
If using a different queue for each source: 300 queues, each queue has N workers with rate limiter.
There are 300 * N workers, but my server only should run with 16 workers in parallel. Using this design, I can't adjust concurrency level for overall system.

[2021-08-08 08:53] manast commented on #2127
In that case it is going to be difficult to make it much faster than it is now. One thing you can try is using the internal method "getRanges" (you will need to check the source code to understand how it should be called), and get the "waiting" job ids in batches, maybe a couple of hundred per batch (since getRanges supports pagination), and then just remove the jobs that matches the pattern manua

[2021-08-08 09:44] kietheros commented on #2127
I intent to change code as below.
The crawler gets list of items from a source (lightweight, JSON array), and push items into a `crawl-queue` of each source.
A process will pop items from all `crawl-queue`, and push them to `process-queue`. I will try to adjust speed of pushing jobs to keep `process-queue` small.

[2021-08-08 12:49] kietheros opened #2128 "Place delayed jobs at the end of the waiting list"
## Description
I have a queue with rate limiter

    limiter: {
        max: 5,
        duration: 10000,
        groupKey: 'sourceId'
    }

    // add 20 jobs with sourceId 'Z'
    for (let i = 0; i < 20; i++) {
        await queue.add({
            sourceId: 'Z'
        }, {
            jobId: `Z:${i+1}`
        });
    }

    // add 100 jobs with sourceId 'A', 'B', 'C', 'D', 'E'
    for (let i

[2021-08-10 05:16] kietheros commented on #2128
@manast
Might I take a moment of your time to ask a small question !!!

In above test case, why delayed jobs are placed at the left of waiting list, and will not be processed immediately, because workers pop jobs from the right of waiting list.

However, docs says:

[2021-08-10 08:13] manast commented on #2128
When a delayed job is moved back to the wait list it is placed to the head of the list, i.e. it will be next to be processed... of course if other delayed jobs are moved to the wait list after the first one then they will move the first one back in the queue.

[2021-08-10 08:13] #2128 closed

[2021-08-10 09:52] #2127 closed

[2021-08-10 11:59] kietheros opened #2131 "Delayed jobs are moved back to the left of wait list instead of the right as in docs"
## Minimal, Working Test code to reproduce the issue.
#### (An easy to reproduce test case will dramatically decrease the resolution time.)
Here is minimal test code

        async function sleep(time) {
            return new Promise(r => {
                setTimeout(() => r(), time);
            });
        }

        const queue = new Bull('queue', 'redis://127.0.0.1:6379', {
            limite

[2021-08-10 16:32] manast commented on #2131
The results seems correct to me. Since A-E jobs are not rate limited they will be processed than the rate limited jobs, not sure if I am missing something.

[2021-08-10 16:38] manast commented on #2131
However I am seeing that we are using LPUSH for delayed jobs: https://github.com/OptimalBits/bull/blob/develop/lib/commands/updateDelaySet-6.lua#L45
I will take a look into this...

[2021-08-10 17:54] zacksinclair commented on #1899
I experience the same issue today.

Called clean('completed') on a couple queues with about a million completed jobs in total and ALL redis keys were deleted, which was... significantly bad.

I haven't had a chance to try and create a reproduction, but the situation/code was really straight forward:

Queue A with a million completed jobs
Queue B with 200k completed jobs

queueA.clean(0, 'completed

[2021-08-10 19:11] manast commented on #1899
It is pretty weird, how can this happen? If you check the code here: https://github.com/OptimalBits/bull/blob/develop/lib/commands/cleanJobsInSet-3.lua
it is first getting all the jobIds inside the set that you provide (completed for the given queue), then iterates every jobId and removes all data related to that job.

[2021-08-10 19:18] manast commented on #1899
Hmm, what setting do you have on your redis instance for ```maxmemory-policy```?
Just a theory, but say you have it configured as a cache, and when deleting that many jobs at once, since the script is accumulating all the jobIds in a table (that is returned by the script), the memory could reach a limit that makes redis remove data. Of course you should have the policy set to "noeviction" when usi

[2021-08-10 21:08] zacksinclair commented on #1899
I appreciate the quick response!

I read through all the code and yeah, don't see how its possible at the Node application layer or LUA script levels. Seems more likely an infrastructure or Redis config issue.

I think you're on to something with regard to maxmemory-policy.

Ours is volatile-lru right now. I'll look into swapping to noeviction.

[code]

My understanding from that is that volatile-

[2021-08-10 21:26] manast commented on #1899
Yes, ```volatile-lru``` should not remove keys that have no expire set, which in the case of Bull is only the rate-limiter keys and the lock keys. So it does not explain the behaviour.

[2021-08-10 21:32] manast commented on #1899
We could do an experiment, if we set up a redis instance with low memory, with just a couple of megabytes, and add jobs until getting close to memory limit and then try to clean all waiting jobs, then we can maybe reproduce the issue. Which redis version are you using?

[2021-08-10 21:49] nephew92 commented on #615
same error when I define more than 8 processors to the same queue
[code]
bull version: 3.18.0

[2021-08-10 22:28] zacksinclair commented on #1899
We're using 6.0.5

I've gotta go handle some other stuff here but will come back to this!

[2021-08-11 11:53] manast commented on #615
@nekocode it is not an error, it is a warning (unnecessary in my opinion) coming from NodeJS, you can get rid of it with ```setMaxListeners``` https://nodejs.org/api/events.html#events_emitter_setmaxlisteners_n

[2021-08-11 15:55] nephew92 commented on #615
use `setMaxListeners` it's not working for me:
[code]
even this way the warning keeps.

I've tried these two approach and them was worked:
https://github.com/OptimalBits/bull/issues/1494#issuecomment-538771360
https://github.com/OptimalBits/bull/issues/1494#issue-502934110

but I guess it's not the usual way, speacially because I can not use promise neither timeout on my Queue project:

[2021-08-11 18:25] manast commented on #615
You should do: ```EventEmitter.defaultMaxListeners(10000)```

[2021-08-12 17:23] railsfactory-sivamanikandan commented on #1945
@olivinesguerra Facing same issue. Did you found any solution ?

[2021-08-14 08:37] #1502 closed

[2021-08-16 16:59] alolis commented on #1098
@kodeine, my apologies for the very long delay in replying. I was trying to find some time to write everything more clearly and...well, you know what they say about time!

So, you can find the latest approach [here](https://www.alexanderlolis.com/riding-the-bull#removing-an-active-job-in-sandboxed-environments).

Let me know if you have any further questions.

[2021-08-16 17:01] alolis commented on #1113
I took some time to write for the updated approach we have been using regarding this. It's more complex but it definitely works. You can check it out [here](https://www.alexanderlolis.com/riding-the-bull#per-user-per-queue-concurrency-granularity).

[2021-08-16 17:50] alolis commented on #1950
@LeoRuspini, you can also try [this](https://www.alexanderlolis.com/riding-the-bull#removing-an-active-job-in-sandboxed-environments). Works like a charm for me.

[2021-08-18 01:51] dtboy1995 commented on #2072
+1 Happened to us every day. No logs, no errors, etc. just stopped processing jobs. Restarting the app solved it.

[2021-08-18 10:13] manast commented on #2072
@dtboy1995 there is no point in reopening if there is no way to reproduce it...

[2021-08-18 16:57] phips28 commented on #1487
We are currently also looking for such a feature.
Our Queue processes only one job at a time, and for UI/Monitoring we would like to have a function to get the queue position by jobId.
@jonathan-fielding how do you do this with getWaiting? just call this on the queue and then use the array position?
Any other workarounds to get this at the moment?

[2021-08-19 08:59] alolis commented on #2061
@zachlevy, this is definitely something useful. In the meanwhile, you can check [this](https://www.alexanderlolis.com/riding-the-bull#using-a-custom-error-object) out as an alternative approach. Works very nicely for me.

@manast, I have another proposal for this. Instead of introducing a new property, you could also do the following [here](https://github.com/OptimalBits/bull/blob/v3.28.1/lib/job.

[2021-08-19 15:11] manast commented on #1487
nope, getWaiting() is the only method we have for now.

[2021-08-19 15:51] phips28 commented on #1487
This is my little hacker function:

[code]

We never have more than 1k jobs in a queue. So that is ok. Also no performance issues.