[2016-06-16 10:26] #299 closed

[2016-06-16 10:28] manast commented on #297
@MySidesTheyAreGone @abacaj Could you please confirm that this issue is still present in 1.0.0-rc3 ?

[2016-06-16 10:35] manast commented on #297
By the way, just to clarify: a job gets locked as long as a worker is working on it and it has not kept the event loop busy for more than 5 seconds (not configurable at the time). Meaning that if there is some kind of hazard condition that produces the error above when calling clean, normally, calling clean after 5 seconds should make the error go away. So in this code:
[code]
Change the last line

[2016-06-16 10:53] manast commented on #297
@chuym I am considering also the following case: Lets say that a job stalls the event loop more than 5 seconds, this will lead to another worker starting the same job as well. After a while the first worker continues working, and eventually completes the work. The second worker would also continue working effectively leading to two (or in practice more) completed jobs... A way to mitigate this is

[2016-06-16 11:09] MySidesTheyAreGone commented on #297
Happily, I can't confirm anything since I'm on a beach in the middle of the ocean :D

[2016-06-16 11:29] tjsail33 commented on #299
Hey @manast, sorry for the lack of instant response, but I was essentially sleeping for 80% of the time that passed between comments.

The answer is that yes, there were multiple active events for the same job. Here's what the output looked like:

[code]
It was processing the same job twice simultaneously.

[2016-06-16 11:33] manast commented on #299
what I see strange here is that the job got stalled to begin with. It should not happen if the event loop has not been blocked. Any chance you could post the whole process function? also, do you have any other code running on the same node process? Did you also try with the latest version 1.0.0-rc3 ?

[2016-06-16 16:06] tjsail33 commented on #299
Unfortunately I can't share the rest of the process function due to IP restrictions at work. This was the only job that we had running at the time, and there was nothing else being done by the node process other than process these files. I am not able to try with the latest version, as we were unfortunately forced to rewrite using another library due to time constraints. Sorry this isn't terribly

[2016-06-16 16:23] manast opened #308 "Create better logic for lock handling"
Currently we have an hazard regarding job locks. It could happen that a worker working on a job, for some reason is not able to renew a lock on the job he is working on in time. When this happens the stalled jobs mechanism takes over and starts to process the same job on another worker. If the first worker has not really stalled, but its just being slow processing, the queue may end completing twi

[2016-06-16 18:17] abacaj commented on #297
Will test, and update here. :)

[2016-06-16 18:20] chuym commented on #299
[code]

@tjsail33 I'm assuming that `Part N` are reports on progress, how come that from `Part 2` it jumped to `Part 4`? Did it not report `Part 3` or am I missing something?

[2016-06-16 18:31] chuym commented on #308
Is this issue to track the fix for that reported hazard or is this for tracking a bigger improvement on job locking overall? If the later, what are your ideas on improving it?

[2016-06-16 18:36] manast commented on #308
the later because I don't understand yet what is causing the reported issue.
One of the possible fixes could be to check if the current worker still has the lock on the job on ```handleComplete```. I am also thinking that the current token mechanism is not good enough since we have one token per queue, we would need instead one per job that has started, so that we can distinguish which worker is a

[2016-06-16 18:42] manast commented on #308
a problem with the approach above is that it could happen that a job that never manage to renew the token in the time specified could potentially always loose the lock when arriving at the ```handleComplete``` so that the job will be stalled for ever and processed for ever... not good.

[2016-06-16 19:01] tjsail33 commented on #299
@chuym Sorry, was a typo. Corrected it. All parts were correctly reported.

[2016-06-16 20:47] chuym commented on #308
How about revamping the stalled job feature? Bull should be able to give clients the interface needed to detect a potential stuck job and let the client decide what to do, having Bull be opinionated about what to do with these jobs is risky and a source of potential issues.

My thoughts is about allowing a `ttl` option for jobs, so if a job has taken longer than `ttl` time to finish, then emit a s

[2016-06-16 21:21] manast commented on #308
Ok, I understand your points. The thing with process stalled jobs is that it has grow a little bit out of hand. In the beginning I needed this functionality so that jobs that were not finalised before the queue was closed for some reason would start automatically the next time the queue was started. In fact it is the only real use case I actually care about. If a job stalls because of a bad implem

[2016-06-16 22:13] manast commented on #308
Btw, take a look at this code (regarding atomic getting stalled jobs): https://github.com/OptimalBits/bull/commit/5429778459f48e63422bb1845b1290c323890ef9
I dont think we need to do a releaseLock in the case of failure, since time will unlock it anyway... would make the code simpler, what do you think?

[2016-06-16 22:52] chuym commented on #308
This line:
`+      'if redis.call("sismember", KEYS[1], ARGV[1]) then',`\
should be `if not` right? otherwise it would be processing completed jobs, also it should check if there is a lock first

Other than that, the lock will certainly be released naturally, the problem with that is that it will remain locked and a periodic `Queue#clean` won't be able to remove these until the lock expires. I've

[2016-06-17 09:52] manast commented on #308
thanks for the catch, it was late yesterday and the unit tests were passing :)
Regarding releasing the lock in case of an exception of processJobs should not affect performance so much since it only happens in cases of errors which should be very seldom, so I think it is worth to keep the code clean in this case.

[2016-06-17 10:34] viveksatasiya commented on #308
Hello,

I have this similar issue in my current project. I am using this library for uploading pdf files to aws s3 bucket and file size of every pdf is around 5 MB. I am using npm s3 for uploading files with bull.

I am using concurrency 1. When I create a job for upload on pdf file, It will start uploading a file and I start reporting progress of upload but suddenly after some time stalled event

[2016-06-17 18:09] nathanmarks opened #309 "API documentation question/suggestion"
Originally I thought the undocumented methods were to be considered private -- however I see them referenced a lot when searching through other issues as if they are public.

Is the documentation just incomplete and these methods are safe to use? (for eg, `queue.getJobs()` which I am using directly to get `paused` jobs, or any of the other `getXXX` methods for that matter).

There's also undocumen

[2016-06-17 18:49] chuym commented on #308
@viveksatasiya I think what you are running into is this one: https://github.com/OptimalBits/bull/issues/299 - This task is tracked to address the scenario you are experiencing.

[2016-06-17 19:12] manast commented on #308
@viveksatasiya if you can post that reproduces this issue it would be really helpful.

[2016-06-20 04:55] viveksatasiya commented on #308
@chuym yes you are correct but the solution is not there so I have posted here.

@manast here is my code.

[test.js.zip](https://github.com/OptimalBits/bull/files/322731/test.js.zip)

Job goes in stalled mode When I try to upload file greater than 2 MB and queue will add that job as new job. You can reproduce using this file.

Tell me if you need more information.

Thanks.

[2016-06-20 10:52] manast commented on #308
@viveksatasiya thanks for the code, I can reproduce the issue now, I will start debugging and find the root cause of this once and for all.

[2016-06-20 11:48] viveksatasiya commented on #308
Ok thanks. :+1:

[2016-06-20 12:34] manast commented on #308
@chuym interestingly I have found quite severe errors regarding the locking mechanism... strange this is not causing much more trouble in other scenarios.

[2016-06-20 13:15] manast commented on #308
I release 1.0.0-rc4 please check with this new version.

[2016-06-20 16:59] evanhuang8 commented on #301
Are you sure you have the permission to access the remote redis from your local server? The EC2 security group might be blocking your traffic

[2016-06-20 17:04] chuym commented on #309
Yeah I'm familiar with jsdoc and I find it pretty a nice way to keep documentation since it lives together with the code. All in for it.

[2016-06-20 17:13] chuym commented on #308
Nice, is there a unit test that you can add that check for it? This is the commit that fixes the issue, right? https://github.com/OptimalBits/bull/commit/8a9e4559cbd87c77668e974fb95c996d767be248

[2016-06-20 17:15] chuym commented on #299
@tjsail33 : @manast Opened a second issue to track this: https://github.com/OptimalBits/bull/issues/308 and is fixed on 1.0rc4, could you help us by testing out your upload process against 1.0rc4?
Thanks!

[2016-06-21 04:28] viveksatasiya commented on #308
Ok thanks. let me check and get back to you.

[2016-06-21 04:57] viveksatasiya commented on #308
The problem has gone!! Thanks a lot. Now it is working fine. I have checked a new version with multiple files size varying between 2 MB to 5 MB but every job run successfully.

Again Thanks a lot.

Appreciated!! :+1:

[2016-06-21 06:00] deepakmani commented on #301
Thanks for the reply.

The issue seems to be related to this:https://github.com/NodeRedis/node_redis/issues/1035

After bull was upgrade node_redis 2.6.2 I have not seen this issue again.

-Deepak

[2016-06-21 08:28] manast commented on #297
@abacaj if you are kind enough to test the latest version rc4, the duplication issue should be gone and hopefully even the initial issue you reported as well.

[2016-06-21 08:35] #304 closed

[2016-06-21 08:37] manast commented on #298
this issue should be fixed by now, reopen if not.

[2016-06-21 08:37] #298 closed

[2016-06-21 08:39] #2 closed

[2016-06-21 08:40] manast commented on #8
retry has been implemented since some time ago so I will close this.

[2016-06-21 08:40] #8 closed

[2016-06-21 08:46] manast commented on #21
This has been fixed for some time ago.

[2016-06-21 08:46] #21 closed

[2016-06-21 08:47] manast commented on #13
promises are well established and understood today so I will close this.

[2016-06-21 08:47] #13 closed

[2016-06-21 08:48] manast commented on #109
I don't think this issue happens anymore, so please reopen if needed.

[2016-06-21 08:48] #109 closed

[2016-06-21 08:50] manast commented on #288
@igorissen what is the status of this? are you still experience the issue with the latest versions of bull?

[2016-06-21 08:52] #83 closed

[2016-06-21 08:53] manast commented on #92
cleant has been improved quite a bit since this issue was reported so I will close it for now.

[2016-06-21 08:53] #92 closed

[2016-06-21 09:12] #242 closed

[2016-06-21 09:20] #132 closed

[2016-06-21 09:21] manast commented on #144
as current version we should be memory leak free.

[2016-06-21 09:21] #144 closed

[2016-06-21 09:22] #147 closed

[2016-06-21 09:24] #156 closed

[2016-06-21 09:29] #234 closed

[2016-06-21 09:53] #219 closed

[2016-06-21 15:24] abacaj commented on #297
@manast looking good my friend. No duplication - haven't noticed the locking issue as of yet.

Will keep you posted if I see anything else.

[2016-06-21 16:11] manast commented on #297
good. We are very close to release 1.0.

[2016-06-21 16:18] manast commented on #297
can you post a minimal example code that reproduces the attempts issue? you can check here for inspiration: https://github.com/OptimalBits/bull/blob/master/test/test_queue.js#L1196

[2016-06-21 17:47] abacaj commented on #297
Must of been me, seems like it is operating correctly - i.e once the _job fails it is not re-attempted._

I also see more consistent behavior when running multiple instances of the consumer (processor) instance compared to previous RC versions.

[2016-06-21 18:38] abacaj commented on #306
[code]

[2016-06-21 21:35] #308 closed

[2016-06-22 13:41] #301 closed

[2016-06-22 21:12] #297 closed

[2016-06-23 10:19] dan335 opened #312 "Unhandled rejection Error: Cannot clean unkown queue type"
I'm getting this error when running this.

[code]

Started happening after 1.0

[2016-06-23 10:36] manast commented on #312
you should use 'wait'. This was a bug in previous versions of bull.

[2016-06-23 10:36] #312 closed

[2016-06-23 10:38] dan335 commented on #312
Ok, thanks.  The readme still says waiting.

[2016-06-23 20:41] chuym opened #313 "New jobs are not processed immediately if there are many stalled jobs to reprocess"
This issue is the result of some stress testing I've been conducting.
Steps to reproduce:
1. Have thousands of stalled jobs in the queue 30k+
2. Have a queue that publishes new jobs every 1ms (a setInterval to publish a dummy job is enough)
3. Have some process that simulates some job (a timeout that takes ~50ms to finish is enough)
4. Jobs will pileup until all stalled jobs are finished up proces

[2016-06-23 21:46] manast commented on #313
hmm. If a job has been stalled, wouldn't be reasonable that it is processed *before* other jobs in the queue? if so, this should not be a wrong behaviour.

[2016-06-23 22:08] chuym commented on #313
Hmm it could be, but regardless, that is currently not the case. If there is a single stalled job, new jobs will be processed fine by an ongoing queue, so this means that there will be new jobs completed before the stuck job process. Bull doesn't pause processing because a job stalled. Note that this issue affects new queues connected to an instance with many stalled jobs.

No it isn't. Processing

[2016-06-23 22:12] manast commented on #313
So it means that instead of process the jobs it would be probably better to move the job to the wait queue in a LIFO fashion... by doing that the jobs will be processed all the same.

[2016-06-23 22:16] chuym commented on #313
Yeah, you've mentioned about moving it out from active. It could either moved to `failed` or `wait`. However it may be a bit confusing, these jobs are not really explicitly failing so they shouldn't be on `failed`, nor they are in `wait` because currently that implies it is a new job.

Perhaps a new list named `stalled` ?

[2016-06-23 22:17] manast commented on #313
seems to me that what we need is a lua script that is executed periodically doing the following:
- get max N active jobs starting from the end of the active list (the end should have the oldest jobs).
- check one by one if: a) they are stalled (not locked), b) they have reached their TTL (if any specified).
- If we have auto stalled jobs processing -> move job to wait as LIFO, otherwise move to th

[2016-06-23 22:18] manast commented on #313
introducing a new list type will increase the degrees of freedom so to speak, making the code more complex. I would prefer to use existing mechanism as much as possible...

[2016-06-23 22:21] manast commented on #313
its important to note that stalled jobs are produced by one of two circumstances: the worker dies for some reason, the workers event loop is kept busy for more than 5 seconds. These two situations can be considered bugs in the client code. On the other hand, jobs being timeout via a defined TTL is just a client code constraint for jobs that take too much time to complete.

[2016-06-23 22:22] manast commented on #313
late here, Im gonna hit bed now...

[2016-06-23 23:18] chuym commented on #313
Yeah, pros and cons. It will make easier for a new user to see what's going on by looking at the code at the cost of making the whole queue more complex. However repurposing an existing mechanism comes with its own problems. I'll leave the design decision to you

[2016-06-24 21:49] xdc0 opened #315 "Invalid options are stored in a job options property"
Any option passed to a Job is stored as a job option, even if it's unrecognized by Bull.

This is a minor issue, but Bull should probably filter out unknown options.

Interestingly, there are test cases that rely on Bull's ability for storing any option to pass: https://github.com/OptimalBits/bull/blob/master/test/test_job.js#L56 so I'm not sure if this is actually a feature.

[2016-06-27 07:49] jozsi opened #316 "attemptsMade not incrementing for completed jobs"
Using version `0.7`, `job.attemptsMade` was being incremented for completed jobs as well. On version `1.0`, it looks like it's only incremented for failed jobs.

[2016-06-27 09:03] igorissen commented on #288
Hi @manast,

I just saw, through [versioneye](https://www.versioneye.com/), that you've updated your lib. I still encounter this issue but it's rare. I have been using bull@1.0.0-rc1 until now.

Can you give me 2 weeks of testing with the bull@1.0.0 ?

After that if I don't encounter this issue I'll close it.

[2016-06-28 21:53] chuym commented on #313
I just upgraded to Bull 1.0 and this hit bad. Bull effectively stopped processing new jobs because there were some jobs that got stalled during the upgrade. These jobs take a significant amount of time and newly added jobs were being pilled up without processing because the Queue was processing one at a time. The only way to mitigate this is by throwing more parallel queues during this phase.

As

[2016-06-29 13:12] manast commented on #313
is this a problem just because processStalledJobs does not care about the concurrency setting?

[2016-06-29 13:15] manast commented on #313
if that is the case, we should be able to resolve it easily by using map instead of each and the concurrency setting: http://bluebirdjs.com/docs/api/promise.map.html
On this line:
https://github.com/OptimalBits/bull/blob/master/lib/queue.js#L487

[2016-06-29 13:16] manast commented on #313
(or moving stalled jobs to the wait queue which will then kick the same processing code as normal jobs).

[2016-07-02 12:51] deepakmani opened #317 "Job status set as completed before done is called randomly"
When running jobs on bull@1.0.0-rc4, I see that randomly jobs were set to "completed" before done was being called.  Can you try this code?

The worker enqueues with 2 setIntervals and the process function just makes a call to a website and outputs the state if the progress is < 100 and state is completed.

Worker

[code]

test.js

[code]

-Deepak

[2016-07-02 13:43] manast commented on #317
Please try first with 1.0.0. And please check once more that what you describe is happening, it is really hard to believe :).

[2016-07-03 10:11] deepakmani commented on #317
I tried the above code using the command node test_worker.js a few times after you posted (edited with full code).
One time it was fine another time of running the same code it printed out this console.log indicating state was completed before done was called (progress was 100 ). This issue maybe due to concurrency because its happening randomly.
One more thing is when jobs are Timedout, they stil

[2016-07-07 09:44] #288 closed

[2016-07-12 15:23] #306 closed

[2016-07-13 21:10] tshelburne commented on #305
This hit me today, and took quite a while to figure out - is there any reason to use a custom configuration parameter name, particularly given that Bull explicitly suggests passing configuration that matches `node-redis`? It would be just as easy to use the `redisOptions.prefix` instead of `redisOptions.keyPrefix`, and accomplish all the same goals.

[2016-07-19 21:51] chuym opened #320 "Non existent jobs are kept in failed state"
There is a current condition where jobs are being kept in `failed` state, but the job doesn't exist anymore:

This is what I get when tapping into redis

[code]

The job is created with default options.

[2016-07-20 00:08] chuym commented on #320
I wonder if there is an error being masked away because we are doing nothing with`moveToSet`

[2016-07-20 00:52] chuym opened #321 "Time manager should check for hash collisions"
https://github.com/OptimalBits/bull/blob/master/lib/timer-manager.js#L86

Could leave some orphaned timeout references

[2016-07-20 15:55] chuym commented on #321
I'm not sure if it's related but it looks like failed jobs remain locked and their lock is renewed constantly.

[2016-07-20 16:02] chuym commented on #321
it should be pretty safe to rely on uuid v4 uniqueness, but I'm definitely noticing long lived lock renewers for failed jobs.

[2016-07-20 16:26] chuym commented on #321
Going to reopen issue with possible deadlock on failed jobs

[2016-07-20 16:26] #321 closed

[2016-07-20 16:36] chuym opened #322 "Possible deadlock on Failed jobs"
I'm noticing that several failed jobs remain locked.
Monitoring the TTL of the lock, I notice that it renews exactly at `LOCK_RENEW_TIME / 2`

The only place where such lock happens is in: https://github.com/OptimalBits/bull/blob/master/lib/queue.js#L570

By inspecting the logic, I think there is a race condition that is causing a deadlock to take place:
1. A job starts being processed and a lock

[2016-07-23 15:06] xogeny opened #323 "Client libraries"
I was wondering...are there Bull client libraries for other languages?  In particular, what I was interested in was using something like this for microservices like architectures where different services might be provided in different languages (_e.g.,_ GoLang, Java, Scala, _etc._).

I didn't see any sign that there are even unofficial client libraries for these platforms.  For the moment, I'm onl

[2016-07-25 19:36] chuym commented on #323
Most operations are done as redis LUA scripts `/lib/scripts.js` and my understanding is that the tendency is to move all operations as lua scripts eventually, so that should make it straightforward to implement libraries in other languages that work under the Bull scheme.

[2016-07-25 19:42] xdc0 opened #324 "Queue.pause doesn't accurately wait for active jobs to complete when pausing locally"
When there are running multiple queues on parallel and attempt to pause one locally by calling `Queue.pause(true)` it will wait until _all_ currently active jobs finishes processing, instead for waiting until _locally_ active jobs finishes processing.

[2016-07-25 19:46] chuym commented on #324
One quick idea is to do this:

1. Bull should store the max concurrency setting passed to `Queue#process` as a private property
2. If `Queue#pause` is pausing globally, continue using the current implementation, if `Queue#pause` is pausing locally, then Bull should:
  a. Stop processing new jobs and stop processing stalled jobs
  b. Subtract `Queue#processing` from `MAX_CONCURRENCY`
    * If 0, th

[2016-07-26 15:19] innovative1 opened #325 "Create queue with redis URL fails"
According to the documentation, creating a queue with a single connection string should work:
`Queue(queueName, redisConnectionString, [redisOpts])`.

Where:     `redisConnectionString {String} A connection string containing the redis server host, port and (optional) authentication.`

However, when I do something like this, I get the error below:
 `var emailQueue = Queue('email-queue', 'redis://lo

[2016-07-27 13:57] pavloo commented on #325
@innovative1 confirmed, having the same bug

[2016-07-27 17:04] rgrocha commented on #114
I'm also interested in this feature.
I think aborting a job should be handled by the job itself, like checking a job.state or job.aborted property and react to it accordly, so you can shutdown gracefully.

A problem I've found here is how to get access to the job started on another thread on the same queue. Think on a nodejs cluster on the same machine.

[2016-07-29 09:05] kurokochin commented on #325
+1 confirmed, having the same bug too plsss fix it soon as soon as possible plsssssss

[2016-07-29 09:41] pavloo commented on #325
@innovative1 @kurokochin I found workaround: try passing empty object as the last argument to `Queue(` call, eg. :

[code]

[2016-07-31 20:25] manast commented on #114
@rgrocha I guess one possible way would be to emit an abort event that the job itself can subscribe to. The event must be sent to all worker instances to guarantee that it has been delivered to the one processing the job.

[2016-07-31 20:36] manast commented on #323
There is actually an implementation in F# https://github.com/fsprojects/oxen

[2016-08-01 15:30] rgrocha commented on #114
@manast, It works like a charm!
I was already using a "broadcast" messaging system for other things and it was just a matter or adding a new message type and add/remove the job listener to the process itself inside the jobQueue.process() function.

Thank you so much!

[2016-08-01 18:16] chuym opened #327 "Queue#run fires a processStalledJobs loop when concurrency is 0"
I noticed this with my use case, where the concurrency value is set through an environment variable, this way you can have a service running on many instances with configurable concurrency values on each of them. A simple way to prevent a worker from processing jobs is by setting concurrency to `0` when it's needed.

However, setting the concurrency value to 0 by calling `queue.process(0, myJobHan

[2016-08-01 18:19] chuym commented on #327
While I can argue that calling `Queue#process` with 0 concurrency is an anti-pattern, it should have tighter constraints, either explicitly throw when setting concurrency as a non positive integer value, or return early when `concurrency <= 0` so it doesn't do any process at all.

[2016-08-02 15:51] evanhuang8 opened #328 "Jobs stuck in active"
I have been having this issue with my queues for 2-3 months now, basically, some job will get stuck in the `active` queue, and I only have 1 worker, hence jobs in the `wait` queue pile up. I have to constantly check the status of the queue and restart when it happens.

My question is, shouldn't the worker kill the stuck jobs, or at least try to move them to `failed` and continue to run other jobs?

[2016-08-02 22:54] manast commented on #328
but what means stuck in this context? did the worker hang when processing the job? Because if that is the case I guess the worker is not able to process anything else, and since you only have one worker it will stop processing more jobs. To fix this it will be needed some kind of fibers or threads that can be killed if they take too much time to process a job...

[2016-08-02 23:08] evanhuang8 commented on #328
Stuck means there are the same 5 jobs in the `active` queue forever, and the `wait` queue keeps piling up.

Weird thing is that, if I restart the worker frequent enough (say if i restart it daily), it will run days without issues. On the flip side, if I just leave it alone, after 10-15 days or so the issue described will happen. I suspect maybe there is something with memory leak as well?

But yes

[2016-08-03 08:02] manast commented on #328
But the stucked jobs, in which state are they? have they been completed?

[2016-08-03 16:01] manast commented on #328
but then we cannot discard the the error is in your worker code that is not actually completing the job?

[2016-08-03 18:15] evanhuang8 commented on #328
It's possible, but I really doubt it, mainly because it will run days without hiccups, and the tasks are run quite frequently

[2016-08-04 18:08] afrozl opened #329 "rate limiting?"
Is it possible to limit a job (keyed on an argument) to only run x times a period? does bull have a plugin framework so commonly used functions can be shared across jobs?

[2016-08-05 10:01] manast commented on #328
yes but I mean, if the job is left in the active state, it means it has never completed or failed, so your code maybe did not finalize for some reason.

[2016-08-07 02:43] TomKaltz opened #330 "job cancellation"
So lets say my job spawns another process as in video transcoding.  Is there a way for my job to become aware of removal from the queue while in-flight?  Something similar to the onCancel callback of the cancellation feature in bluebird?

pseudocode...

[code]

[2016-08-09 07:18] twang2218 opened #331 "How to processing multiple jobs in a batch?"
Assuming we have many jobs of insert data to a database in the queue, instead of process each jobs one by one, which is not very efficient, I expect to be able to grab multiple jobs, and insert those data to database in one go by using database's bulk insert command. How can I do that?

Is there anyway to fetch all jobs(or a given number of jobs) from queue, process them and then mark them as done

[2016-08-10 15:14] black-snow opened #332 "Redis dependency hidden"
*IMHO* you should be able to see at a first glance that a **redis server is required** in order for bull to work . *ATM* this info is hidden in the sentence *"Note that you need a redis version higher or equal than 2.8.11 for bull to work properly."* that looks more like an unimportant comment below the actual installation step(s).

*IMHO* the *install* section should rather look like this:

    #

[2016-08-12 10:33] manast commented on #332
I think you are being a bit unfair. The title of the project says: A NodeJS persistent job and message queue based on Redis. In the Features it says "Robust design based on Redis", and finally on the first example you can see a connection to a redis database: ```var videoQueue = Queue('video transcoding', 6379, '127.0.0.1');
[code]

[2016-08-12 10:33] #332 closed

[2016-08-12 12:18] black-snow commented on #332
This wasn't meant to be a complaint but rather an improvement to the docs.

*"Based on Redis"* does not imply that I need to have a Redis db set up and running. Redis could also be shipped with the project / be built-in. *"Based on the unreal enigne"* doesn't imply that I need to install the unreal engine (manually) before I can install the game.

Also pointing to the Redis install guide / docs wo

[2016-08-12 20:13] Bersam opened #333 "Cleaning Unhandled rejection Error"
I have multiple job queues, got big as 10K items in each. Also I have a cron job that at first pause a queue then it tries to clean completed jobs and resume queue again, but I get this error randomly, here's part of code: [https://gist.github.com/Bersam/c46148decf0acf4b8544a66f13f11bcd](clean.js)

[code]

[2016-08-12 21:15] ekristen commented on #290
+1

[2016-08-12 21:15] ekristen commented on #287
Any idea if this will get implemented? I could really use concurrency on priority queues. Thanks.

[2016-08-13 17:51] manast commented on #290
This is a bit more difficult to do with the current design than what I would like. I will keep it in the backlog as a nice to have feature.

[2016-08-13 17:54] manast commented on #287
This function should not be so difficult to implement, its just a matter of passing the concurrency parameter to the underlying queues when instantiating a priority queue. So a PR for this would be welcomed :)

[2016-08-13 17:54] ekristen commented on #290
Sounds great. FWIW I would much rather see concurrency on priority queues first.

Thanks for the great work.

Sent from my iPhone

[2016-08-17 22:23] GeoffreyPlitt opened #334 "List all queues?"
Is there a function to list all queues?

[2016-08-18 07:59] albertjan commented on #334
No there isn't but you could query redis though. Something like `KEYS bull:*:id`.

[2016-08-18 22:39] grantcarthew commented on #330
Hi @TomKaltz and @manast,

I saw your issue here whilst I was building a Queue base on RethinkDB.
I added this function to my Queue using a property of the error object.

[Read more about it here](https://github.com/grantcarthew/node-rethinkdb-job-queue/wiki/Queue.process)

Just giving you ideas.

[2016-08-18 23:05] pricj004 commented on #132
I'd like to reopen this. We have a situation at Mixmax where we have a very high volume of jobs, and we need a concurrency-safe way of ensuring there's only ever one job of a certain type for each user at any given time.

If we could pass `jobId` as a job option, then override it at https://github.com/OptimalBits/bull/blob/master/lib/scripts.js#L81, we could pass in the `userId`.

Happy to do a PR

[2016-08-19 01:59] xihuanhh opened #336 "How to check the actually same job"
hi, i just met this problem，i add a job to the queue and run it. then i stop the node process,
when i run the same code next time, i happened that the same job exec twice, i know the job was stored in the redis,it will be load from the redis and execute.
so the question is  how can i check the same job to avoid this situation when the queue start process jobs. thanks!

[2016-08-19 02:14] pricj004 commented on #132
As above, see #335

[2016-08-22 23:28] zoell commented on #329
I am also interested in this. Have you ever find a solution with bull or any other library?

[2016-08-22 23:37] bradvogel commented on #329
Have you seen https://github.com/OptimalBits/bull/pull/335 that just got merged? You can give the job a unique key and a delay, so if you add a job with that same id that is currently queued, it won't do anything. So basically throttling. cc @pricj004

[2016-08-23 18:53] GeoffreyPlitt commented on #256
+1

[2016-08-23 18:56] GeoffreyPlitt commented on #334
This worked, thanks.

[2016-08-23 18:56] #334 closed

[2016-08-23 18:57] GeoffreyPlitt commented on #125
Duplicate of #256

[2016-08-23 20:34] dotmilk commented on #125
Perhaps you meant that the other way around.

[2016-08-24 17:39] GeoffreyPlitt opened #338 "Counts of completed jobs?"
Hi,

How do I get a count of finished jobs on a particular queue?

[2016-08-25 08:50] manast commented on #125
I guess this is a legitimate feature, but I have some reservations regarding this use of asynchronous combined with queue programming. The reason is that the main use of the queue is to actually de-couple the client from the worker. In your example above this is no longer the case on the surface, but behind the curtains the queue is working independently of the client process, meaning that if the

[2016-08-25 08:52] manast commented on #256
I am already working on a solution for this. Expect a few days before completion.

[2016-08-25 20:44] GeoffreyPlitt commented on #125
Yeah but what if I want to run something that's very short, but it needs
different libs than I have on the web server? That's a situation I have
right now.

Also KUE which inspired Bull, has these events, so if people find Bull
after they get tired of KUE's bugs, they might be expecting these events.

On Thu, Aug 25, 2016 at 1:50 AM, Manuel Astudillo <notifications@github.com>
wrote:

--
http://ww

[2016-08-25 21:14] manast commented on #125
I have started a new lib that I am going to use to solve this issue: https://github.com/OptimalBits/disturbed
and of course also to support for distributed events, which is a quite necessary feature.

[2016-08-25 22:02] manast commented on #331
sorry but I do not understand the question. Can you rephrase or provide some code to clarify?

[2016-08-28 16:48] NoiLe commented on #259
hi @andrewtamura , I've encountered the same issue, did you find out the root cause?

[2016-08-28 18:55] bradvogel commented on #259
I believe this issue is just caused by a failure to connect to Redis.

[2016-08-29 08:20] #125 closed

[2016-08-29 08:48] manast opened #340 "[PROPOSAL] Chained jobs"
I have been working in designing a new feature for Bull that I feel would be really useful for model more complex systems, where there are many specialized queues working together to generate some results.

I would like to present my design here so that you can help me design it and together make a solution that works really well, and at the same time not bloating the current APIs unnecessarily.

[2016-08-29 08:57] manast commented on #340
The basic idea is that we introduce two new properties in the job data, ```children``` and ```parent```. The former will keep track of all the jobs that needs to be completed before the current job can be decided to be completed or failed. The ```parent```is used so that a job knows that he needs to update the children property of its parent when completed.

Here some pseudocode:
[code]
We introdu

[2016-08-29 21:22] bradvogel commented on #338
This should help: https://github.com/OptimalBits/bull/blob/master/lib/queue.js#L717

[2016-09-01 06:51] bradvogel commented on #260
I bet this can be closed now

[2016-09-01 07:10] #260 closed

[2016-09-01 07:10] #331 closed

[2016-09-01 07:12] manast commented on #327
can you provide more information regarding the issue in ```processStalledJobs```where it also processes fresh jobs?

[2016-09-01 07:24] bradvogel commented on #327
It's the issue described here: https://github.com/OptimalBits/bull/pull/257. So `processStalledJobs` is actually processing fresh jobs quite a bit.

[2016-09-01 22:39] chuym commented on #340
Nice proposal! It would also be useful to register children jobs depending on the state of the parent job, for example, if the job succeeded, then I want `jobB` and `jobC` to run, and if it fails, I want `jobD` to run.
Also, it'd be nice to add to the interface an option to whether the parent should wait for children to finish or not, maybe some of the jobs are more like "fire-and-forget"

[2016-09-02 11:40] manast commented on #340
I can add the failed suggestion, fits nicely in the design.
Regarding the "fire-and-forget" functionality, I think you can get already today by just adding jobs in your process function.

[2016-09-05 14:40] Bersam opened #342 "Queue.prototype.getWaiting() returns empty list if Queue is paused"
I need to get a list of all jobs currently in the queue. I have found Queue.prototype.getWaiting(). But it returns an empty list if the queue is paused.

[2016-09-05 20:05] manast commented on #342
I think that is a bug, this is because pause works by renaming the waiting queue, and getWaiting probably do not consider it. It should be just a matter of checking if the queue is paused (check if the renamed queue is there, if so return that, otherwise return the normal waiting queue.

[2016-09-08 05:42] TomKaltz commented on #114
+1

[2016-09-10 04:08] TomKaltz commented on #114
@manast could your global events feature be used for this?

[2016-09-10 08:09] manast commented on #114
@TomKaltz I guess so. But we will also need some way to mark a job as aborted. Either put them in a special "aborted" queue, or failed with a special "reason". The former seems like a more robust approach.

[2016-09-10 23:54] TomKaltz commented on #114
Can "Aborted" be just another status or should it be attributed with
failure?

[2016-09-12 16:09] barczaG opened #345 "Cluster support? Use stand alone in production?"
Hello,

I've seen there is PR about this topic but is it on the roadmap ? https://github.com/OptimalBits/bull/pull/188

My other question that is it safe to use stand alone deployment of redis in production mode?
Thanks!

[2016-09-12 16:52] manast commented on #345
problem is that redis.io does not work so well with bull. In my test it was not as stable as node redis, so until node redis does not support cluster there is not so much I can do.

[2016-09-12 17:46] jamesk-au opened #346 "Connect to Redis using a unix socket"
The [`node_redis`](https://github.com/NodeRedis/node_redis) documentation provides that the following arguments may be used to create a Redis client:

Currently, the [`Queue`](https://github.com/OptimalBits/bull/blob/master/lib/queue.js#L54) constructor does not appear to provide any way of creating a Redis client using a socket.

One way to implement this might be to check whether the `redisConne

[2016-09-12 19:20] Bersam opened #347 "PriorityQueue Run 2-3 times more than Normal Queue"
I've notice that PriorityQueue run 2-3 times more than Normal Queue, depend on jobs in each queue.
I need priorityQueue to run one job per time.

[2016-09-12 21:30] Bersam commented on #347
Seems Bull runs one job from each of 5 priortity level, in those case i've got multiple jobs in 2 or 3 levels. is it possible to force it to run only one job at time? no matter how many jobs are in each level or queue.

[2016-09-13 06:59] manast commented on #347
I think the priority queue is a bit buggy currently, it should not run concurrent jobs unless you use the concurrent flag, it should run one job at a time in priority order, a different behaviour than this should be regarded as a bug.

[2016-09-13 08:15] Bersam commented on #347
@manast I've written a script that reproduces this behavior. it seems multiple resume action makes this buggy result, I'm not sure and I'm trying to test more cases that occur in my application to find out what leads to this.
https://gist.github.com/Bersam/0a6138959ded1be332b1b12d857eefcd

[2016-09-13 09:05] Bersam commented on #347
I believe this line causing problem.
https://github.com/OptimalBits/bull/blob/master/lib/priority-queue.js#L183
handler is true, and rerunning run function results in unwanted concurrency...

[2016-09-13 17:31] cosmonova opened #348 "The events for queue are not working."
I'm trying to handle the "completed" event but looks like it's not working:

var queue = Queue('crawler', 6379, '127.0.0.1');
queue.on('completed', function(job, result){
    console.log( "Queue completed job:" );
});

Perhaps I'm doing something wrong but the method is not triggered.

Thanks.

[2016-09-13 17:44] bradvogel commented on #348
Note that `completed` is only available locally on the server that processed the job. Is your 'crawler' event being processed elsewhere?

[2016-09-13 18:51] TomKaltz commented on #92
I still don't understand how to delete a whole queue.  Even after cleaning all jobs from my queue it still shows up in Toureiro.  What am I missing?

[2016-09-13 19:01] manast commented on #92
@TomKaltz can you open a new issue with some example code?

[2016-09-14 05:13] cosmonova commented on #348
Yes, I'm trying to get the event on the server that publishes the jobs, but I guess this is not possible.

[2016-09-14 08:08] manast commented on #348
@cosmonova of course it is possible. There are unit tests that covers this scenario. Please provide a complete example code where this can be reproduced and we will look into it.

[2016-09-14 12:34] cosmonova commented on #348
so I have a controller which is deployed on one server with the following code:

`var queue = Queue('crawler', 6379, '127.0.0.1');`
`queue.add( {endpoint: '1234'} );`
`queue.on('completed', function(job, result){`
`       console.log( "Queue completed job: ", job.data );`
`})`

and the processor which runs on a different server:

`var queue = Queue('crawler', 6379, '127.0.0.1');`
`queue.process(fu

[2016-09-14 12:52] manast commented on #348
That example code should work using the master branch, since we have distributed events now, it is not released yet since it needs a bit more time to mature.

[2016-09-14 13:10] cosmonova commented on #348
Thanks,

I'll give it a try from the master branch.

[2016-09-19 16:08] nrempel commented on #293
I'm also, seeing something similar. I will try to create a minimal reproduction of the issue when I have time.

[2016-09-19 18:35] cosmonova commented on #348
tried master branch without luck.

[2016-09-23 09:53] fiws opened #350 "get local events"
Hi,
is it currently possible to get failed, completed, started, etc … job events for a local process only?

[2016-09-23 10:34] manast commented on #350
we have support for global events on master branch.

[2016-09-23 14:27] fiws commented on #350
I know, but I'm specifically looking for **local** events only.

I would like to log failures, but have a cluster of processes. If I use global events, the error will get logged multiple times.

[2016-09-27 14:21] nickbradley opened #351 "Custom jobId"
How can I check if a job is in the queue when using custom jobIds?

[code]

adds the job with `opts.jobId` set to `"abc"` but doesn't change `jobId`.

If I try to check if the job is queued using

[code]

I get `"no job"`.

[2016-09-28 09:48] igorissen commented on #333
Same issue here in production `node v5.9.1` (should upgrade to latest node version) and `"bull": "^1.0.0"`.

[code]

[2016-09-30 03:21] tuananh commented on #331
@manast the question is as clear as it gets. he wants to pickup jobs in batch so that he can insert them into database at once using bulk insert.

[2016-10-01 14:27] woodardj opened #352 "How can I pull a single job out of the Failed set to retry (without its ID)"
Bull is working great, but we have a few jobs that had errors in their handlers, and now we have quite a few things in the Failed queue. (30k) I'd like to write some code that will pull off just a few at a time and re-enqueue to be taken care of by the corrected handler, but I'm getting crashes using getJobs and a range, I assume because Failed is a set and it's doing the 'range' limiting in softw

[2016-10-03 23:31] #352 closed

[2016-10-08 07:12] Bersam opened #353 "attempts option doesn't working in normal queue"
I've added attempts as an option to my jobs and I can confirm that it's recognized as it's filled in attempts in redis, but for each job that failed, it only do that job for once. (using normal queue)

[["attempts","5"],["delay","0"],["opts",{"priority":"critical","attempts":5}],["progress","0"],["data",{}],["attemptsMade","1"],["timestamp","1475909499776"],["stacktrace","[\"Error: reach end of so

[2016-10-08 08:49] manast commented on #353
thats weird, did you manage to get the test that checks for the attempts functionality to pass?
https://github.com/OptimalBits/bull/blob/master/test/test_queue.js#L1214

[2016-10-10 06:43] bradvogel opened #354 "Removing completed jobs automatically & atomically"
It's our desire to remove jobs automatically upon completion. My understanding of the Bull API is that we should do this by listening to the `completed` event on the queue and call `job.remove()`, like this:

[code]

However, we're finding that some completed jobs aren't getting removed. The likely reason for this is that the server is occasionally being killed right after the job is moved to "com

[2016-10-10 07:53] manast commented on #354
do you have any chance to test with master to see if it works better with the distributed events?
An atomic remove may be an interesting feature and not difficult to implement either.

[2016-10-12 18:28] bradvogel opened #356 "Jobs get double processed (if removed immediately upon completion)"
There exists a situation where a job can get processed a second time by the `processStalledJobs` periodic cleanup job. This only happens when jobs are removed upon completion by the worker that processed them (a common pattern - see #354).

We only discovered this because we saw `Error: Missing Job xx when trying to move from active to completed` show up in our server logs that is running a high-v

[2016-10-12 18:44] bradvogel commented on #354
Not yet. Will test though. I think we should internalize removal through a new `removeOnComplete` job option, pending the outcome of bug https://github.com/OptimalBits/bull/issues/356 which might affect this.

[2016-10-12 18:59] manast commented on #356
I have not check the source code yet, but if the job is removed and moved out from the completed queue atomically, wouldn't it be enough to check if the job still exists? that would be a O(1) operation.

[2016-10-12 19:11] bradvogel commented on #356
Yes, that would work too. I see now that job data is removed upon completion. It does however leave open the opportunity that if the job is failed (and its job data is left around), it'll get automatically double processed.

[2016-10-12 22:10] bradvogel commented on #356
Though I suppose we could have it check that the job key exists and also that it's not in the failed set. Are there any other states it could be in if the job key exists?

[2016-10-13 09:05] manast commented on #356
it could be delayed...

[2016-10-14 00:47] doublerebel commented on #345
FWIW I've been using Bull in production with Redis Sentinel and [RedisHappy](https://github.com/mdevilliers/redishappy) and it works quite well.  Even without RedisHappy, Redis master/slave configuration is very stable -- it's the underlying infrastructure (backups, uptime) that I would worry about.

[2016-10-14 00:52] doublerebel commented on #338
@GeoffreyPlitt you can use [el-borracho-stats](https://github.com/nextorigin/el-borracho-stats), it will save stats in Redis in basically the same format as Sidekiq.  All it takes to use it, [is to initialize it with a Bull queue instance](https://github.com/nextorigin/el-borracho/blob/83931199a44ab09b846153b0b3e405379466cea1/helpers/job-creator.coffee#L19).  I have some docs coming soon, but feel

[2016-10-14 00:56] doublerebel commented on #330
I think this is probably a dupe of #114 ?  I agree cancel/abort is a useful feature, but it's possible to implement through events as noted there.

[2016-10-14 01:12] GeoffreyPlitt commented on #338
Cool, will check it out!

[2016-10-15 02:05] bradvogel commented on #258
Addressed in https://github.com/OptimalBits/bull/pull/358/files

[2016-10-15 02:08] bradvogel commented on #356
Created https://github.com/OptimalBits/bull/pull/358 and confirmed that it fixes this.

[2016-10-15 18:22] spiritinlife commented on #351
If you are using latest Release v1.0.0 i believe it is not yet supported. The pr #335 although merged to master is not yet released.
I believe the problem here is that the Readme says that it is supported.
Not sure though cause i am new to bull :P

[2016-10-15 18:58] bradvogel commented on #354
Fixed in https://github.com/OptimalBits/bull/pull/361/files

[2016-10-17 10:26] aniruddha-chakraborty opened #362 "Add a rate limiter so that the queue does not process more than N jobs per second."

[2016-10-17 12:18] manast commented on #362
Do you mean a setting for the max number of jobs to process per second? (since the minimun is determined by the jobs complexity and the underlying performance of the queue, redis latency, etc).

[2016-10-17 12:32] #354 closed

[2016-10-17 16:33] aniruddha-chakraborty commented on #362
Yes! exactly i was talking about max number of jobs to process per second. for example my sms api provider strictly said that they will NOT allow more than 10 sms request.

[2016-10-17 17:13] manast commented on #362
It may be possible to implement a rate limiter following the patterns explained here: http://redis.io/commands/INCR

Also it is important to decide if the rate limiter is per queue or global (using redis it should be possible to make global as well).

[2016-10-17 23:13] bradvogel commented on #327
Fixed in https://github.com/OptimalBits/bull/pull/359

[2016-10-19 02:29] bradvogel opened #363 "method to permanently fail a job"
Feature request: a method on the job, such as `job.fail()` that can be called inside the job handler to move a job to failed (bypassing any more job attempts).

Use case:
We're creating jobs using the `attempts` property, like this:

[code]

So jobs are automatically retried if an error is returned from the handler. However, there are circumstances in which the job handler might encounter a perman

[2016-10-19 08:32] manast commented on #363
Looks good to me.

[2016-10-20 12:16] prashaantt opened #365 "Restart processing after crash or restart"
I'm trying out bull and have been able to figure out most things, except how to auto-resume processing after the node process is shutdown. I would like to pick up from where the queue was just before the shutdown and begin processing/re-trying jobs that were queued from the old process, in addition of course to processing new jobs when they occur. Basically, something like this:

[code]

I know th

[2016-10-20 12:44] manast commented on #365
you don't need to do anything, the queue will continue to process the jobs that were not completed before the process ended.

[2016-10-20 12:44] #365 closed

[2016-10-20 14:02] prashaantt commented on #365
Great, and sorry for the bother. I looked at the tests and have been able to myself reproduce pending jobs being executed after restart. But I've not been able to make it retry failed jobs after restart. Am I still missing something?

[2016-10-20 14:40] prashaantt commented on #365
Never mind, I got it. I was manually simulating the `job.retry()` upon each failure instead of using the built-in `attempts` and `backoff` options to get the feature automatically.

[2016-10-23 18:58] doublerebel commented on #246
It's possible to share a connection for all the queue.client and queue.bclient, and another connection for all queue.eclient (subscriber connection).  Subscriber connections can only subscribe, trying to share those connections with a non-subscribing connection results in the error:
[code]
Relevant:
http://stackoverflow.com/questions/22668244/should-i-use-separate-connections-for-pub-and-sub-with-

[2016-10-25 22:26] tomasgvivo opened #366 "Concurrency ignored when the application is restarted"
In my application, I have a Queue with concurrency 1.
If I create 2 jobs, one will be active an the other one will be waiting until the first one gets completed.
BUT if I restart the application (using forever), and I chech the status of the jobs, both jobs will be active.

(sorry for my bad english)

[2016-10-25 22:59] bradvogel commented on #366
Assuming that you're restarting the queue process while it's processing the first job, then the job will become 'stalled'. PR https://github.com/OptimalBits/bull/pull/359 will fix this by putting the stuck job back in the wait queue, and concurrency will be be respected.

[2016-10-26 07:31] manast commented on #366
fixed in #359

[2016-10-26 07:31] #366 closed

[2016-11-02 23:41] jeffreywescott commented on #99
Isn't this handled with `attempts` and `delay`? I think this issue is no longer valid.

[2016-11-03 22:50] emhagman commented on #287
@manast Any idea if this has been implemented or if I should submit a PR?

[2016-11-06 22:58] manast commented on #287
the code for priority queue needs some extra love after so many changes on the standard queue. So please feel free to make improvements regarding concurrency. I can help you if you need hints or info.

[2016-11-07 19:37] cpitt opened #367 "Failed Attempt event"
While I find Bull to be a great improvement over Kue, one thing that I find myself missing from Kue is the differentiation of `failed` and `failed attempt` events. Currently my workaround is to
[code]

I realize that having different events for `failed` and `failed attempt` would be a breaking change and would need to wait until the next minor or even major release, but in the mean time it might b

[2016-11-07 20:08] manast commented on #367
wouldn't be possible to add an extra argument to the event callback with lets say say a boolean ``ìsFailedAttempt```telling you what you need to know? such a change would not be a breaking change, not sure if it solves your specific requirement though.

[2016-11-07 22:14] cpitt commented on #367
Yeah that would work as well! Having just migrated from Kue I was approaching the problem from that context.

The only real argument I could see for a separate event is that it would be somewhat cleaner in that you wouldn't have to make any conditional checks in the failed handler to determine whether it was an attempt failure or an overall failure. However, this slight advantage is subjective and

[2016-11-08 08:33] xycloud opened #368 "please make a new npm publish"
need feauture 'removeOnComplete', please make a new npm publish

[2016-11-08 08:37] bradvogel commented on #368
Please add a changelog to the readme too

[2016-11-08 20:33] manast commented on #368
sorry for the delay, we got a new family member this Thursday and I have been unable to do any work on this project. I will update as soon as I can fix some of the tests that are failing.

[2016-11-08 20:52] bradvogel commented on #368
@manast Created a WIP changelog for 1.1.0 here: https://github.com/OptimalBits/bull/pull/369

[2016-11-09 00:57] bradvogel commented on #356
Closed per PR

[2016-11-09 00:57] #356 closed

[2016-11-09 01:07] xycloud commented on #368
@manast congratulations : )

[2016-11-09 12:28] rmeja commented on #368
I'm also waiting for this new release but I understand the situation. So let's be patient. :wink:

[2016-11-09 21:49] #368 closed

[2016-11-09 21:52] manast commented on #351
This works since version 1.1.0

[2016-11-09 21:52] #351 closed

[2016-11-09 21:53] manast commented on #348
please try with version 1.1.0

[2016-11-09 21:53] bradvogel opened #370 "Jobs can be processed and left in the `wait` state"
@manast Following the discussion in https://github.com/OptimalBits/bull/pull/359, I found a hazard that I think we should address before releasing a new version: a job can be processed an still left in wait. Here's how:

| Time | Process A | Process B |
| --- | --- | --- |
| 1 | In the regular Bull run loop of Process A, getNextJob moves a job from `wait` to `active` |  |
| 2 |  | In Process B, `m

[2016-11-09 21:56] bradvogel commented on #370
To fix this, what if `takeLock` takes a parameter (perhaps `ensureActive`) to ensure that the job is in the active state? Then `processJob` would use that parameter - so it can only ever keep a lock while the job is in `active` - while other uses of the lock (eg `job.remove` is called) can acquire the lock in any state.

[2016-11-09 23:26] manast commented on #370
I would need to check the code but is there any reason to allow locking a job that it is not in the active set? If now, then we can just have that constraint in takeLock, it could fail the same way it does when trying to get a lock on a already locked job...

[2016-11-09 23:48] bradvogel opened #371 ""Unexpected token u in JSON at position 0" while processing job"
I'm noticing that some of our jobs are "corrupted" and the queue is throwing the following error when trying to process them:

[code]

In inspecting the job in redis using `hgetall bull:test:1` I can see that only `attemptsMade`, `stacktrace`, and `failedReason` keys are present in the job data.

This leads me to believe that a job failed (and `_saveAttempt` was called) _after_ the job data had be

[2016-11-09 23:54] bradvogel commented on #370
`job.remove()` tries to get the lock before removing, and I assume we still want to be able to call `remove()` on jobs that aren't in the active queue

[2016-11-10 01:46] xycloud opened #372 "removeOnComplete inefficient"
[code]

but when job complete, job info still exists in redis

[2016-11-10 01:47] bradvogel commented on #372
What version of Bull?

[2016-11-10 01:50] xycloud commented on #372
"bull": "^1.1.0",

[2016-11-10 02:18] bradvogel commented on #372
I tested and it works for me. Are you sure your job just isn't taking more than 2sec and is being failed? Can you try removing `timeout: 2000`?

[2016-11-10 05:54] xycloud commented on #372
still inefficient, even only option removeOnComplete remained

[2016-11-10 05:59] xycloud commented on #372
[code]

I make a debug, and found job is a non-null object, but job.toData() is undefined, is that normal?

[2016-11-10 06:13] bradvogel commented on #372
Can you post a complete code sample?

[2016-11-10 07:30] xycloud commented on #372
[code]

[2016-11-10 08:02] bradvogel commented on #372
What is `task.dingding.add`? Shouldn't that be `task.add()`? Also, what redis command are you running where you see the job still around after completing successfully?

[2016-11-10 08:11] xycloud commented on #372
@bradvogel typo....    and i see three keys. task:job-mq:id    task:job-mq.completed  task:job-mq:1

[2016-11-10 08:21] bradvogel commented on #372
ok, and what's in `task:job-mq.completed` ?

[2016-11-10 08:22] xycloud commented on #372
its a set, where holds the completed task id

[2016-11-10 08:32] bradvogel commented on #372
ok, I still can't reproduce. Can you push a small node project that reproduces this?

[2016-11-10 08:33] xycloud commented on #372
what's the redis verison you are using?

[2016-11-10 09:21] manast commented on #371
we can implement the moveToFailed by just using the new move function (observer there are some todos related to it): https://github.com/OptimalBits/bull/blob/master/lib/scripts.js#L139
I am not sure how the job specific lock token would work, please elaborate a bit more.

[2016-11-10 10:37] liquorvicar opened #373 "Create queue with separate port and host throws error"
Since the release of 1.1.0, creating a queue with a separate port and hostname like this:
[code]
fails with an error: `Error: Expected an object as redis option`

Is this an intended change? In which case, the docs needs to be updated. Or is this a bug?

[2016-11-10 11:44] fiws commented on #350
So, i think with https://github.com/OptimalBits/bull/commit/d55ad1c8f44f86be9b4e9f4fa9a3fc8a16c6e02d I now get all events on all workers.
This is a pain to work with, since we now log all errors ⨉ number of workers.

That's also quite the breaking change. I don't see how this has gone through as a minor...

[2016-11-10 15:09] cosmonova commented on #348
yes it works now. thank you.

[2016-11-10 15:32] #348 closed

[2016-11-10 16:31] bradvogel commented on #350
Agree. This should have been opt in or a v2.0 release.

[2016-11-10 16:32] bradvogel commented on #372
v3.2

[2016-11-11 01:15] bradvogel commented on #373
The docs need to be updated, and the release should probably be bumped to v2:

[code]

[2016-11-11 02:09] xycloud commented on #372
me too, so strange, I quit,  I will take 'job.remove' as a workaround

[2016-11-11 02:12] xycloud commented on #373
just read the simply source code

[2016-11-11 08:05] manast commented on #350
my fault. I always thought of local events as a limitation and not a feature. I will try to make a patch to maintain backwards compatibility and at the same time support for global events.

[2016-11-11 08:10] manast commented on #373
I have missed this breaking change. I think we should keep the old way to instantiate the queue.

[2016-11-11 08:59] liquorvicar commented on #373
@manast I may have time to submit a PR over the next few days if that would help...

@xycloud That is really not a helpful comment.

[2016-11-11 11:07] manast commented on #373
hmm, I checked the code and tested it and your example above works as with older versions. No exceptions thrown unless you passed the port argument as string.

[2016-11-11 11:08] manast commented on #373
This is the code that throws that exception:
https://github.com/OptimalBits/bull/blob/master/lib/queue.js#L76-L77

[2016-11-11 13:50] ferronrsmith opened #374 "failedReason not serialised by toData"
Is there a reasons why failedReason is not a part of the `job.toData` method ?

[2016-11-11 13:53] #374 closed

[2016-11-11 17:35] shane-walker commented on #373
It seems to me that the better way to test this would be to perform a URL test on the variable rather than checking if it is a string. Anyone that loads variables from the environment would run into this issue.

[2016-11-11 21:20] doublerebel commented on #371
Interesting, the fix in #275 also exists in #188, fixing the root of this bug may be necessary for the ioredis transition.

[2016-11-11 21:55] bradvogel commented on #371
Commented in that PR (https://github.com/OptimalBits/bull/pull/188/files#r87665167). That code isn't necessary for moving to ioredis.

[2016-11-11 22:07] rmeja opened #376 "maybe too much broadcast"
Since version 1.1.0, the following code ...
[code]
gives this :
[code]

Is there a new way to stop the broadcast to all workers or is it just a bug to fix ?

By the way, the new function removeOnComplete works perfectly and is very appreciated. :wink:

[2016-11-11 22:10] bradvogel commented on #372
https://github.com/OptimalBits/bull/issues/376 seems to indicate that that `removeOnComplete` is working for others.

[2016-11-11 23:19] manast commented on #376
I will add some kind of backwards compatibility fix as soon as I can.

[2016-11-12 02:26] doublerebel commented on #371
Thanks @bradvogel .  I've also noticed that in several of the test runs, the cluster [double-processes a job](https://travis-ci.org/nextorigin/bull/jobs/175246126#L503).  Perhaps that also is due to the lock issue you have described?

[2016-11-12 02:31] bradvogel commented on #371
The only known situation in which a job can get double processed is if it's original worker doesn't renew the job lock (due to a crash or event loop stall). In this case the 'stalled' event gets emitted by the new worker that picks up that job.

If you have a 100% repro case where you see a job get double processed, can you see if the 'stalled' event is emitted?

[2016-11-13 00:37] doublerebel commented on #371
I was able to create a repeatable case where the jobs are double processed, and the stalled event is not emitted.  Thanks for the heads up to check and make sure stalled was not the case.  Here is the test case, but the failure also exists in several of my past builds and in OptimalBits/bull master builds also.
https://travis-ci.org/nextorigin/bull/builds/175392452

As described in http://redis.io

[2016-11-13 03:17] bradvogel commented on #371
Great find and test case! I checked out your code and verified this is another instance of https://github.com/OptimalBits/bull/issues/370

What's happening is that two workers are finding out about the same job at the same time via `getNextJob`. One worker is taking the lock, processing the job, and moving it to `completed` before the second worker can even try to get the lock. When the second wor

[2016-11-13 03:21] bradvogel commented on #370
#371 describes a more dangerous case: a job can get double processed because a worker is allowed to take the lock while the job is in `completed`, cc @doublerebel

[2016-11-13 03:53] doublerebel commented on #370
@bradvogel I think I understand how this could happen, do you have a test case to reproduce this issue?  It doesn't seem to be covered by the test suite.

Also is there a reason not to lock a job from leaving wait until failed/complete?  Rather than releasing the lock between the move to active and when processing starts.

[2016-11-13 04:37] bradvogel commented on #258
just fyi: I asked if this is supported in Redis 3.2. Unfortunately it is not: https://twitter.com/BradVogel/status/791189530548195328

[2016-11-13 04:42] bradvogel commented on #370
I don't have a test case yet. It's a bit difficult to write since this is a subtle race condition. Your test case in https://github.com/OptimalBits/bull/issues/371#issuecomment-260158407 should cover it though.

We can't lock the job atomically while it's being moved from wait to active. We use the Redis operation `brpoplpush` to move the job, but due to redis limitations (described in https://git

[2016-11-13 17:27] liquorvicar commented on #373
@manast Yes, you're right, it only breaks if you pass the port in as a string. But it is still technically a breaking change as it worked fine before (as @shane-walker says anyone using an env var directly would hit this issue). Given JS's looseness with types, it probably should accept a string for the port?

[2016-11-13 19:59] manast commented on #371
@doublerebel keep in mind that redlock is only needed when running redis as a cluster. If you only have one instance of redis, redlock is overkill. Maybe we should have two locking algos and only use redlock when needed.

[2016-11-13 20:12] manast commented on #373
I can add a parseInt(port) == port, and use that to determine if it is a valid port or not. That should do it, what do you think?

[2016-11-13 20:45] bradvogel commented on #370
https://github.com/OptimalBits/bull/pull/377

[2016-11-13 20:46] bradvogel commented on #371
Filed PR https://github.com/OptimalBits/bull/pull/377 to address the broken test in https://github.com/OptimalBits/bull/issues/371#issuecomment-260158407.

Though this issue should be kept open since `moveToFailed` still needs to be made atomic.

[2016-11-13 20:51] bradvogel commented on #373
Could you instead do `if (arguments.length === 2)`? That would be easier to read in code.

[2016-11-14 00:43] doublerebel commented on #370
Ok, I was able to reliably reproduce this bug.  I have fixed this test case by creating a single atomic operation including the commands to check the active list, set the lock, and set the lockAcquired counter.
https://travis-ci.org/nextorigin/bull/builds/175582853

Still a bit more work to get the rest of the tests passing but major progress 👍

[2016-11-14 01:12] bradvogel commented on #370
Sound great. File a PR (even if still a work in progress) so we can take a look.

[2016-11-14 01:33] xycloud commented on #376
@rmeja could you please show me your source code about using `removeOnComplete `

[2016-11-14 03:33] doublerebel commented on #370
@bradvogel Can do, filed as #379.

[2016-11-14 07:12] rmeja commented on #372
as requested by @xycloud , here is my source code : https://github.com/istex/sisyphe/blob/master/src/chain-job-queue.js#L90

[2016-11-14 12:11] liquorvicar commented on #373
@manast I created a PR that fixes this. Would welcome comments.

[2016-11-14 12:56] overflowz opened #381 "Stateless workaround?"
Hey! I'm trying to make bull queue stateless but having no idea how to.
Imagine a game, where timer starts and if user didn't do any action, delayed queue does it for him.

Let's say, User has 20 seconds to make a move, if within 20 seconds he does nothing, then queue should handle this. So there's few commands we'll need to use.

1) when we set up queue.
`Queue(game_id).add({ action: 'move' }, {

[2016-11-14 13:53] manast commented on #381
I am not sure what you mean with connections, could you elaborate a bit more on your question?

[2016-11-14 14:44] overflowz commented on #381
Sure! by default, constructor creates new redis client.
So if I do something like:

[code]

These two open two connections and in redis-cli monitor it shows up this (without processing):
[code]

which goes in loop. without having an actual instance of Queue, I can't make this messages to stop (because connections are still alive and they're doing it's job).

I'd like to apologize for my English an

[2016-11-14 17:54] doublerebel commented on #327
Looks like #359 was merged so this can be closed?

[2016-11-14 18:10] doublerebel commented on #362
Looks like this is a dupe of #329

[2016-11-14 18:11] doublerebel commented on #262
Looks like #264 is merged, so this can be closed?

[2016-11-14 18:16] doublerebel commented on #153
Related #323 Client libraries (in other languages) for Bull

[2016-11-14 18:17] doublerebel commented on #114
Related #363 , method to permanently fail a job

[2016-11-14 18:31] doublerebel commented on #58
It looks like now there are only 4 places run is called:
* [queue.js#L332](https://github.com/OptimalBits/bull/blob/7a891205d3810dac90b0c46fe975ab6bef78b528/lib/queue.js#L332)
Logs error to console

* [queue.js#L343](https://github.com/OptimalBits/bull/blob/7a891205d3810dac90b0c46fe975ab6bef78b528/lib/queue.js#L343)
Logs error to console, and rethrows to be caught by a Promise handler for queue.pr

[2016-11-14 19:45] manast commented on #381
sorry, but that is not supported.

[2016-11-14 19:52] #381 closed

[2016-11-16 01:24] xycloud opened #382 "gracefully shutdown the queue when process be killed"
how to gracefully shutdown the queue when process is being killed or exit unexpected, any code?

[2016-11-16 02:26] bradvogel commented on #382
Just this should work: `queue.pause(true /* Local */ ).then(() => process.exit(1))`

[2016-11-16 02:27] bradvogel commented on #382
There might actually be a bug in it currently where it doesn't return. Let me know if it works for you.

[2016-11-16 04:23] gilr00y opened #383 "Mocha as a deployment dependency."
Hi hi,
Is there a reason `mocha` is included in deployment `dependencies` as well as `devDependencies`(and at different versions)? If not I'm happy to PR.

[2016-11-16 04:31] bradvogel commented on #383
Definitely a bug..

[2016-11-16 12:14] rmeja commented on #376
Something has changed because, now, I have this :
[code]
I suspect a change in the disturbed package. Am I right ?

[2016-11-16 12:42] #373 closed

[2016-11-16 12:49] manast commented on #383
fixed in https://github.com/OptimalBits/bull/commit/125c5638c1a908c094af04fc14f192d3f1923026

[2016-11-16 12:49] #383 closed

[2016-11-16 12:51] manast commented on #376
fixed in https://github.com/OptimalBits/bull/commit/d983a4d5a144ee24c0b12b292315e990abea2aa3
please upgrade to 1.1.2

[2016-11-16 12:51] #376 closed

[2016-11-16 12:54] rmeja commented on #376
Thanks, you save my day. :+1:

[2016-11-16 13:07] #185 closed

[2016-11-16 13:07] #370 closed

[2016-11-17 20:47] gswalden opened #384 "Broken constructor pattern from recent commit"
This commit https://github.com/OptimalBits/bull/commit/1f2d1bcba4993b1b38dc101b553e988523749c43 broke the alternative Queue constructor (from the README) `Queue(queueName, redisConnectionString, [redisOpts])`, as adding the `redisOpts` argument will cause `arguments.length === 3`, and which causes the later call to `redis.clientClient()` to break with `TypeError: Unknown type of connection in crea

[2016-11-17 20:49] gswalden commented on #384
Example of break:
[code]

[2016-11-18 14:15] blacksonic opened #385 "Queue.add returns same jobId after consecutive calls"
When calling ```Queue.add``` and logging the ```jobId``` in the returned Promise, it returns the same id within the same process. It caches the first one, but in the background it creates newer jobs, but the counter remains the same.

It can be experienced from version 1.1.0
Node version is 4.4.7

[2016-11-21 08:53] manast commented on #385
could you please provide a small example code that reproduces this problem?

[2016-11-21 08:55] manast commented on #384
thanks for the report and sorry for the mistake. It will be fixed asap.

[2016-11-21 10:09] blacksonic commented on #385
Seems like it is somewhere within our application, because on a brand new project it works...and we encounter it only during testing.

This sample works like a charm.
[code]

Just an idea: should the readme examples be transformed to use Promises instead of callbacks? It is not intentional, that the library can be used in a way i show in this short code snippet.

[2016-11-21 10:33] manast commented on #385
Could it be that you are specifying a ```customId``` somewhere that is overriding the standard job id counter?

[2016-11-21 11:53] blacksonic commented on #385
I see that sometimes the clock is stubbed with Sinon, maybe it breaks something.

[2016-11-21 12:54] blacksonic commented on #385
Jobs never got to active state...cleaning up the queue before every test run resolved the issue.

[2016-11-22 10:04] blacksonic commented on #385
Reopening it because it broke our production application also...same job ids everywhere.

[2016-11-22 10:17] manast commented on #385
If you are not specifying a custom id, I cannot understand how you can get the same job id when you add new jobs. The script that ads a job atomically increases the job counter. What id are they receiving? 1 or some other random number?

[2016-11-22 10:24] blacksonic commented on #385
Other random number.
And couldn't locate the commit to blame, because since https://github.com/OptimalBits/bull/commit/d55ad1c8f44f86be9b4e9f4fa9a3fc8a16c6e02d commit the code was completely broken until version 1.1.0 ... failing builds and broken code...no chance to checkout specific commits to install and test

[2016-11-22 10:33] manast commented on #385
what does the job id counter has for value in your redis instance?, should be like this:
```bull:myqueuename:id```

[2016-11-22 10:38] blacksonic commented on #385
The job is counter gets increased, it is correct, but the application is malfunctioning.

We are caching the instance of ```new Queue()``` for job creation, can this cause the problem?

[2016-11-22 10:54] manast commented on #385
you need to be able to isolate the problem so that It can be reproduced, otherwise we cannot really do so much...

[2016-11-22 10:56] manast commented on #385
This is the code that adds a job, maybe it gives you a hint:
https://github.com/OptimalBits/bull/blob/master/lib/scripts.js#L73-L140

[2016-11-22 12:48] blacksonic commented on #385
@manast Found the issue: ```toJson``` method on the job modifies the input options object here https://github.com/OptimalBits/bull/blob/master/lib/job.js#L100 .
Which is a big problem, because it is the same ```options``` reference we give in when adding a new job item.

[2016-11-22 12:59] blacksonic commented on #385
Here is the fix https://github.com/OptimalBits/bull/pull/386

[2016-11-22 13:29] manast commented on #385
Good catch!

[2016-11-22 13:30] #385 closed

[2016-11-22 13:33] manast commented on #372
Since this issue cannot be reproduced and we have not got more feedback from reporter I will close it.

[2016-11-22 13:33] #372 closed

[2016-11-22 13:33] manast commented on #382
Closed due to lack of feedback.

[2016-11-22 13:33] #382 closed

[2016-11-22 13:34] manast commented on #353
closed due to lack of feedback.

[2016-11-22 13:34] #353 closed

[2016-11-22 13:35] manast commented on #350
fixed in disturbed: d983a4d5a144ee24c0b12b292315e990abea2aa3

[2016-11-22 13:35] #350 closed

[2016-11-22 13:37] manast commented on #346
Makes sense performance wise, but it is still an edge case since normally redis will run in a separate machine or container than the worker process. We can keep it as a potential enhancement since it is not difficult to fix. PR welcome.

[2016-11-22 13:37] #345 closed

[2016-11-22 13:39] #338 closed

[2016-11-22 13:41] manast commented on #336
This is the normal behaviour in bull. When the queue starts checks if there are stalled jobs and process them. But when a job is completed, it should never start it again. We had some edge cases in previous versions, but in 1.2.0 it is all fixed.

[2016-11-22 13:41] #336 closed

[2016-11-22 13:43] manast commented on #328
Close due to lack of feedback.

[2016-11-22 13:43] #328 closed

[2016-11-22 13:43] #327 closed

[2016-11-22 13:44] fiws opened #387 "mention that data.jobId now is a String"
`data.jobId` was a Number before v1.1.0.

This was a breaking change for us.
You could describe that as an edge case, but imo this should at least be in the changelog.

[2016-11-22 13:44] #323 closed

[2016-11-22 13:45] manast commented on #320
Is this issue still happening in 1.2.0 ?

[2016-11-22 13:47] manast commented on #24
Will close. This can be implemented at the client side.

[2016-11-22 13:47] #24 closed

[2016-11-22 13:47] #29 closed

[2016-11-22 13:50] manast commented on #99
This has been fixed some time ago with ```attempts``` option.

[2016-11-22 13:50] #99 closed

[2016-11-22 13:52] manast commented on #120
Lets the discussion continue here: https://github.com/OptimalBits/bull/issues/340

[2016-11-22 13:52] #120 closed

[2016-11-22 13:53] manast commented on #126
will close due to lack of traction.

[2016-11-22 13:53] #126 closed

[2016-11-22 13:54] #106 closed

[2016-11-22 13:55] manast commented on #128
closed due to lack of interest.

[2016-11-22 13:55] #128 closed

[2016-11-22 13:55] #152 closed

[2016-11-22 13:56] #153 closed

[2016-11-22 13:57] manast commented on #163
seems unrelated to bull. Will close.

[2016-11-22 13:57] #163 closed

[2016-11-22 13:59] manast commented on #224
This is fixed by now.

[2016-11-22 13:59] #224 closed

[2016-11-22 14:02] manast commented on #293
closed due to lack of feedback.

[2016-11-22 14:02] #293 closed

[2016-11-22 14:24] manast opened #388 "Improve priority queue"
Currently, the priority queue implementation is based on several bull queues. This implementation is both complex, low performant and difficult to maintain.
I am proposing an extension to the standard bull queue, where the jobs are added to the wait list in order. This will make the addJob a bit slower when using priority queues, but vastly bette and simpler than the current priority queue impleme

[2016-11-22 14:42] #278 closed

[2016-11-22 14:43] #199 closed

[2016-11-22 14:44] #161 closed

[2016-11-22 14:45] manast commented on #313
This issue should have been resolved in version 1.1.0.

[2016-11-22 14:45] #313 closed

[2016-11-22 14:45] manast commented on #292
close due to lack of feedback.

[2016-11-22 14:45] #292 closed

[2016-11-22 14:48] #317 closed

[2016-11-22 18:28] chuym commented on #320
Not anymore, closing

[2016-11-22 18:28] #320 closed

[2016-11-22 19:35] haynzz opened #389 "Listening to events from a non-worker?"
I was wondering if there was a way to "subscribe" to queue/job events from a process that has no worker running?

I have a Web-Server where the user can trigger an Update of a CSV-Data-file which takes a while. I have a worker running that executes that job. So I have two processes running:
- Server
- Worker

Both processes have access to a node Module `ExportApp` I created that actually is the co

[2016-11-22 20:15] manast commented on #389
normally you will have a bull queue acting as a receiver of the progress event or whatever. I usually also use the *Returning job completions* pattern as described in the README.

[2016-11-22 21:40] haynzz commented on #389
Now that I read it it totally makes sense to communicate between processes via a queue.
But it still feels like overhead when I just want to observe - let's say - the currently active job's progress.
Is there any realtime UI for bull queues that does not use redis directly to observe the queue?

[2016-11-23 07:49] manast commented on #389
redis is being used for inter process communication, so no, you cannot do it without redis.

[2016-11-23 08:14] #262 closed

[2016-11-23 08:15] #265 closed

[2016-11-23 12:40] neofreko opened #391 "TypeError: client.infoAsync is not a function"
Updating to `1.1.2` triggers the following error

[code]

`master` has fixed this, which has `package.json` version `1.1.2`. But what getting pulled from npm still has `client.infoAsync` instead of `client.info`. More confusion, latest release were tagged with `1.1.1`.

[2016-11-23 13:00] neofreko commented on #391
I was wrong. `master` still trigger similar issue:
[code]
I reverted to bull@1.0.0 which does not have the aforementioned issue.

[2016-11-23 13:43] manast commented on #391
When does this happen?

[2016-11-23 16:54] doublerebel commented on #389
@haynzz It's possible to use node's native IPC to manually trigger events across processes, but in Bull there's no guarantee that the bull queue server and the workers are even on the same computer/instance.  That's why Bull keeps the job state in Redis.  Bull does use Disturbed module to listen to distributed events using Redis in the same manner as Node IPC, so you should be able to [receive the

[2016-11-23 17:38] haynzz commented on #389
@doublerebel Thanks for the suggestion. I now totally get why the Events that are emitted by the worker process itself do not reach any other process that tried to subscribe to them with `queue.on(...)`.
But as I am thinking about it... I have a connection to the queue. Shouldn't it be observing changes there and emit events? I mean from the process that does not receive the events I am also able

[2016-11-23 20:05] manast commented on #389
The global events are quite new and I did not document them yet. Just listen to any event and add a true flag as third parameter:
[code]

[2016-11-24 11:33] neofreko commented on #391
It happens when I try to create new Queue

[2016-11-24 20:28] manast commented on #391
so why are the tests passing?

[2016-11-25 07:51] manast opened #392 "[Discussion] Threads support"
I am considering the idea of adding support for threads in bull. The rationale is that we would avoid the problem where you have a heavy process function that holds the event loop too long time preventing the worker to update the LOCK and risking that another worker starts working on that same job.
I would like to start a discussion about pros/cons. At a basic level we could provide examples in th

[2016-11-25 10:08] manast commented on #391
We have tests for instantiating the queue, and the call to infoAsync on 1.1.2 and info on master is working properly on these tests. So please if you can write a test case that I can use for reproducing the bug we can fix it afterwards.

[2016-11-25 12:12] manast commented on #333
We believe this issue has been resolved. Please reopen if not.

[2016-11-25 12:12] #333 closed

[2016-11-25 12:15] manast commented on #325
This seems to be fixed, there is a passing unit test for it: https://github.com/OptimalBits/bull/blob/master/test/test_queue.js#L153-L169

[2016-11-25 12:15] #325 closed

[2016-11-25 12:16] manast commented on #322
Could this be fixed in 1.1.2 after improvements in stalled jobs or otherwise in master after @doublerebel improvements?

[2016-11-25 12:16] #283 closed

[2016-11-25 12:17] manast commented on #273
Is this issue resolved in 1.1.2 or master?

[2016-11-25 12:21] #389 closed

[2016-11-25 12:25] manast commented on #329
Closing due to be a duplicate of #362

[2016-11-25 12:25] #329 closed

[2016-11-25 12:27] manast commented on #330
duplicate #363

[2016-11-25 12:27] #330 closed

[2016-11-25 12:28] manast commented on #114
duplicates #363

[2016-11-25 21:22] bradvogel commented on #392
We use Fibers all throughout our codebase and even wrote a blog post about them: https://mixmax.com/blog/node-fibers-using-synchronize-js. The downside is that it's a very large native dependency, which could cause problems for some deployments.

I'd probably just make it a recommendation to wrap the worker callback in a new fiber (this is what do fwiw), as opposed to internalizing it in this proj

[2016-11-25 21:54] #342 closed

[2016-11-25 21:54] #384 closed

[2016-11-25 22:09] bradvogel commented on #391
Are you passing a redis instance to the constructor using createClient? If so, you'll have to pass an ioredis instance now.

[2016-11-26 05:31] wearhere commented on #392
@manast, I wonder if perhaps you are under the impression that fibers execute in parallel like threads. Unfortunately they do not—fiber B may start before fiber A completes, but only if A yields; they share the event loop. They're just an alternative to callbacks and promises for scheduling work on the loop.

So, if a heavy process function never yields, fiberizing it wouldn't help. And, the proce

[2016-11-26 16:28] floolean opened #394 "Job events on different machines"
Hi,
I would like to see following scenario:

- Machine1 creates jobs
- Machine2 processes jobs
- Machine1 listens for job events like 'completed', 'failed', 'progress' and so on.

Is this possible?
Thanks

[2016-11-26 20:44] manast commented on #392
You are right. I was confused thinking fibers where similar to webworkers. I found this other package instead: https://github.com/audreyt/node-webworker-threads

[2016-11-26 20:45] manast commented on #394
Listen to the event like this:
[code]

[2016-11-28 13:03] matylla opened #396 "Support for Redis Sentinel"
Hi there,

Now that `ioredis` is the default client in `bull` I think it would be a very good idea to support Redis Sentinel. Unfortunately the [current Redis config](https://github.com/OptimalBits/bull/blob/master/lib/queue.js#L67) does not support Sentinel.

As I was digging through #379 (especially [this comment](https://github.com/OptimalBits/bull/pull/379#issuecomment-260675547)) I learned th

[2016-11-28 15:29] manast commented on #396
Although not properly documented, you can pass as redis options your own createClient function: https://github.com/OptimalBits/bull/blob/master/lib/queue.js#L95-L103

regarding the lock, since we are using redlock, it should work pretty well with a redis cluster as well.

[2016-11-28 19:23] matylla commented on #396
@manast thanks for pointing me to right direction. Just to verify: `createClient` needs to return Redis client, like so?

[code]

[2016-11-28 20:25] manast commented on #396
that should work, but I am noticing that the code handling that stinks a bit, so you may need to write it like this:
[code]

[2016-11-29 02:52] doublerebel commented on #396
@matylla You are quite right reading the tradeoff between Redis Sentinel and other types of Redis clustering, but Bull should support both now.  I was guessing that the common case for failover/cluster is Sentinel but I was hoping for some more user input before making a recommendation.  I use `createClient` option in the way **manast** describes, please give it a try with Sentinel and let us know

[2016-11-29 08:35] igorissen opened #397 "Error: Unable to renew nonexisting lock"
Hi,

It is the 2nd time I'm having this issue in production after upgrading to the latest version `"bull": "^2.0.0"`. I'm still using node `v4.6.0`.

[code]

[2016-11-29 09:34] matylla commented on #396
@manast @doublerebel Constructor mentioned by @manast seems to work as expected. Closing this ticket for now. I will update it once I'm done with initial failover tests. Thank you for your help.

[2016-11-29 09:34] #396 closed

[2016-11-29 12:14] floolean commented on #394
sadly, that doesn't seem to work. Any option I need to set maybe?

[2016-11-29 13:30] manast commented on #394
write a test case so that we can reproduce it.

[2016-11-29 14:13] floolean commented on #394
**This it the code of Machine1:**

`var queue           = require('bull');
var testQueue = queue('test',6379,'some.remote.redis', {password:'password'});

testQueue.on('completed', function(job, result){
    console.log('JOB ' + job.jobId + ' completed with result: ' + JSON.stringify(result) );
    createJob();
}, true);

testQueue.on('active', function(job, jobPromise){
    console.log('JOB ' + r

[2016-11-29 15:06] doublerebel commented on #387
Very likely could be my refactor that went into 2.0.0.

There is now a 1.1.3 release that may not have this issue for you, can you try it?

I think we should stay consistent with id as a number. I am working on a fix for 2.x today.

[2016-11-29 16:03] cklmercer commented on #397
Having the same issue here. Haven't had any luck trying to figure it out.

[2016-11-29 21:19] emhagman commented on #397
Having a similar issue as well!

[2016-11-29 21:33] bradvogel commented on #397
ping @doublerebel

[2016-11-29 22:44] doublerebel commented on #397
@bradvogel on it.

@igorissen @cklmercer @emhagman Can you give me some more details about your setup?  That will help me pinpoint the best solution.

* Is Bull being used with NodeJS cluster?
* How many concurrent workers are processing jobs?
* Does the error crash Bull, or do you just see it in the logs?
* Do any of these errors coincide with failed jobs?

### Explanation:
In 2.0.0 we catch more

[2016-11-29 22:48] doublerebel commented on #289
Hi @zlanka , the promise error handling has been improved in version 2.0.0.  Is this still an issue for you?

[2016-11-30 00:13] cklmercer commented on #397
@doublerebel Thank you for your reply. It's reassuring to know the cause behind that particular error message.

 Regarding the primary error, here's some of those details you asked for...

I have tried my particular code both with and without the `cluster` module, both throw the same error.

The error appears at seemingly random times. Sometimes it's happens on the 1st job, sometimes it's 50 jobs

[2016-11-30 08:51] igorissen commented on #397
@doublerebel

- Is Bull being used with NodeJS cluster?

Using PM2 to manage all processes in fork mode `-x`.

- How many concurrent workers are processing jobs?

Using only 1 concurrent worker for all queues.

- Does the error crash Bull, or do you just see it in the logs?

Yes, Bull is crashing I have 4 errors in Rollbar and 4 restarts for one queue process.

- Do any of these errors coincide wi

[2016-11-30 12:11] floolean commented on #394
Does redis need any special setup to work in this scenario?

[2016-11-30 16:15] emhagman commented on #397
- Is Bull being used with NodeJS cluster?
Using `cluster` module with two workers on my local machine (inside Docker w/ Node 6.6.0)

- How many concurrent workers are processing jobs?
Using 1 concurrent worker for all queues.

- Does the error crash Bull, or do you just see it in the logs?
No Bull is not crashing.

- Do any of these errors coincide with failed jobs?
Yes, every time this happens it

[2016-11-30 16:50] doublerebel commented on #397
Thanks all for the feedback, that's a great help.  I'll take a look at this right away.

[2016-11-30 16:59] emhagman commented on #397
@doublerebel Thank you!

[2016-12-01 04:45] doublerebel commented on #397
@emhagman in your case:
[code]
 it may be a normal job failure.  The error is caught, the job is failed and retries.  It sounds like something may be blocking the event loop (high CPU use?) or slowing redis communication (high redis usage?), because either one of those situations could cause the lock to expire before redis recieves and processes a renew request.  Does that sound plausible?  If not

[2016-12-01 07:33] manast commented on #397
@doublerebel
Regarding error when lock has already expired. Could we just get the lock anyways? I mean, the only problem is if some other worker did "steal" the lock from the first worker that is processing the job. So if the lock expired it could just log a warning ("Locked expired, process too slow?"), and just take the lock again and continue working.

Regarding the second error, cant we just c

[2016-12-01 10:46] hiddestokvis commented on #397
I am having the same problem: ```Error: unable to renew nonexisting lock```
It was actually happening quite often, as a temporary solution I did this:

/lib/queue.js 643
[code]

[2016-12-02 10:41] floolean commented on #394
I tested both npm modules redis and ioredis, both work with pub/sub on my redis instance. I have no idea whats going wrong, please help.

Thank you!

[2016-12-03 00:17] doublerebel commented on #397
@manast I think you're correct about @emhagman 's case.  Perhaps we should raise a warning event or provide an option for the user to add their own logging, as in #58?  I'd like to separate that case from the original nonexisting lock error here.

In the original case, if @hiddestokvis and @floolean are satisfied with just catching the error, then it should be an easy fix to clear the timer right

[2016-12-03 17:44] floolean opened #400 "RPC pattern possible?"
I have one job which is composed of several sub-jobs. I want to control success or failure of the parent job inside the parent execution itself, i.e.:

- master job "media.generate" is created.
- the function of the "media.generate" worker creates three temporary jobs, lets say "media.generate.image.{somereference}", "media.generate.sound.{somereference}" and  "media.generate.video.{somereference}

[2016-12-04 21:44] jamesjjk opened #401 "mixing getJobCountByTypes including paused yields 0"
We are in the process of replacing Kue with Bull and so far so good. However we noticed whilst implementing repeatable jobs that when we yield getJobCountsByType and include 'paused' the result yields 0 whilst there are delayed and active jobs present.

[code]

[code]

[2016-12-05 08:19] #397 closed

[2016-12-05 14:47] jamesjjk opened #402 "Job.prototype.finished contains error in promise"
The promise returned from the finished will currently never complete if running multiple jobs in a queue. The problem lies in the conditionals encapsulated but the completed, failed events (pub sub) they should include removing the listeners and clearing the timer, the correct code should look more like the below:

Currently the code is:

[code]

(Happy to commit a PR, awesome project btw!!)

[cod

[2016-12-05 14:55] jamesjjk opened #403 "PriorityQueue.getDelayed throws error"
PriorityQueue.getDelayed throws error. "this" in the genericGetter is undefined. There seems to be a scoping error when calling the genericGetter functions.

[2016-12-05 20:29] manast commented on #403
yes, the priority queue is currently now well supported, thats why I created this issue: https://github.com/OptimalBits/bull/issues/388

[2016-12-05 20:29] manast commented on #403
I may have time to resolve it during xmas...

[2016-12-05 21:08] jamesjjk commented on #403
@manast Thanks! great work on Bull though, way more performant then Kue and a lot simpler then AMPQ equivalent solutions.

[2016-12-05 21:31] doublerebel commented on #400
`queue.process` returns a promise that is resolved when the queue is closed.  There's an example [in the test case for 397](https://github.com/OptimalBits/bull/blob/c1b42a022fe69a150561c75449e23689687477ea/test/test_queue.js#L737).  A function could be attached to the job finished event, to close the queue if there are no more waiting or active jobs.

[2016-12-05 23:00] jamesjjk commented on #402
@manast Would you accept a PR for the above issue?

[2016-12-05 23:06] jamesjjk commented on #402
https://github.com/jamesjjk/bull/commit/22fc3ad488ca42dc43f898bfc65c0cde74db2f21

[2016-12-06 08:47] #402 closed

[2016-12-06 08:50] manast commented on #401
hmm, when you are getting the count for paused jobs, is the queue actually paused?
Because when the queue is paused, it renames the wait queue so that the redis client that is processing jobs will pause the processing (globally), until the queue is resumed. So what I suspect it that getJobCountByType is not taking this fact into consideration, and returning 0 for wait when the queue is paused-

[2016-12-06 09:40] jamesjjk commented on #401
@manast I didn't have the queue actually paused, and there were delayed, waiting, and active items available. However the count always returned 0 once I included paused literal.

[2016-12-06 11:39] manast commented on #401
ok, I will write a unit test to see if I can reproduce it.

[2016-12-06 11:45] jamesjjk commented on #402
@manast There seems to be another error in the conditionals. I think this may be related to the type conversion of jobId from INT to STRING. I checked the typeof values the conditionals are comparing in
and noted that they differ, they would have to be both converted to string in order to get a truthy.

[code]

Possible solutions, your thoughts?

[code]

[2016-12-06 11:47] manast commented on #402
using '==' should be enough.

[2016-12-06 11:52] jamesjjk commented on #402
@manast Would you not prefer to coerse the types first? rather then ==

[2016-12-06 12:27] manast commented on #402
well its more explicit so I guess it is better to coerce.

[2016-12-06 12:34] jamesjjk commented on #402
PR on its way. https://github.com/OptimalBits/bull/pull/405

[2016-12-06 20:25] jamesjjk opened #406 "Jobs with custom id and delay show as stuck"
It seems jobs with a custom id and delay get a stuck state, however the seem to work properly. Any ideas? Happy to test/pr.

[2016-12-06 20:34] manast commented on #406
hmm, can you provide a test case?

[2016-12-06 20:38] jamesjjk commented on #406
I have added various different jobs to a queue, some of these jobs I add a jobId as a custom unique string - which I can then use to atomically repeat the job at specific intervals (i.e. a delay).

The problem seems to be that a delayed job with a custom jobId shows a stuck state (it does however repeat as intended).

I checked the code and came across this, notably it does not check for customJob

[2016-12-06 21:07] jamesjjk commented on #406
I realise its little todo with the isDelayed method, however simply adding a job with customId and delay should reproduce the problem.

[2016-12-07 17:59] doublerebel commented on #406
The customJobId is turned into the jobId at job creation and does not survive past being an option.  It seems more this is related to #387 .  There are still some places that [plain jobId is returned as a number](https://github.com/OptimalBits/bull/commit/333d007f49571383cb682c71ffd6f208e8ee5b07#diff-6c5bd8371f6ad4b9acf7b619733429e2R100), the mismatch [broke some of my related tests too](https://t

[2016-12-07 18:57] brandonmp opened #408 "Can jobs be added in bulk?"
I have a process which generates 100k+ jobs for my queue, and adding them 1-at-a-time is a lot of i/o overhead. this snip:

[code]

took several minutes to complete with a `redis` server on `redislabs.com`

Is there a way to construct the jobs locally and add to `redis` in bulk?

[2016-12-07 19:07] jamesjjk commented on #406
@doublerebel Great if there is any data I can provide, let me know.

[2016-12-07 19:30] manast commented on #408
There is no way to do this with bull, but should not be very difficult to implement as an addBulk operation, where an array of jobs is sent to redis in one atomic operation, that would increase the performance in at least one order of magnitude:
https://github.com/OptimalBits/bull/blob/master/lib/scripts.js#L73

[2016-12-08 16:22] igorissen opened #409 "[Question] Why sometines jobs are stuck in pending state?"
Hi,

I currently have an issue, with jobs getting stuck in a pending state for several queues. I need to restart processes linked to the queues.

Any idea why this happens ?

I'm using `bull: v2.0.0` and `node: v4.6.0` in production. Also `pm2` as process manager and `Matador` as bull UI.

[2016-12-08 18:36] manast commented on #409
You will need to describe your use-case and problem a bit more detailed. Also, what do you mean with pending state?

[2016-12-09 14:43] igorissen commented on #409
@manast Here is a screenshot taken now

![matador-bull-ui](https://i.imgsafe.org/ac1e1c6ee9.png)

I have checked all logs associated with all queues and I have no error message.
I ask this question to find if I'm doing something wrong.

Thanks.

[2016-12-09 16:05] brandonmp opened #411 "How do I manage the redis space bull uses?"
I've been running a bull queue w/ ~180k jobs for part of the last 24 hrs, but the space in my redis instance it consumes is only going up. here's the chart from my `redislabs` instance:

![image](https://cloud.githubusercontent.com/assets/14139991/21055154/4fad7638-bdfe-11e6-9aaa-7acee29a4b2c.png)

The 2 big spikes are when I added ~120k and ~60k jobs, and the flat spots are when the queue wasn't

[2016-12-09 16:18] manast commented on #409
ok, so pending must mean that they are in the wait list. So as far as I can see, the only the first queue looks suspicious right?, on the rest of the queues there are active jobs, so the pending is just describing how many items there are waiting to be processed.

[2016-12-09 16:49] igorissen commented on #409
@manast I agree, the first look suspicious. But I have still this issue with 1 job in active state with nothing in the log and many jobs in wait list. What can cause the job to be in active state and not being processed ?

Here is an example of my worker

[code]

I log many things here `// do something here and call deferred.resolve() or deferred.reject(err)`, but when I check my log nothing and a

[2016-12-09 16:58] emhagman opened #412 "Properly debugging `job stalled more than allowable limit`"
Hi!

I have a job that simply spins up an Amazon lambda function and awaits the return of the response. I  thought that stalled jobs only had to do when there was too much CPU work occurring on the main thread and so I am confused as to why my job would be stalling.

Would you mind explaining the different ways a job could be stalled? I think I am missing something as far as how the job stalling w

[2016-12-09 17:38] bradvogel commented on #412
Does it happen for all jobs? Or only some?

A job can only get stalled if bull isn't able to renew the lock (which it does internally). This only happens if the entire node event loop gets behind due to high CPU (and setInterval isn't run).

[2016-12-09 18:18] doublerebel commented on #411
Once Redis has used memory, it tends not to free it but reserves it for future use.  There are some good notes [on the Redis website under Memory Optimization](https://redis.io/topics/memory-optimization):

[2016-12-09 18:35] brandonmp commented on #411
Wow, that's great to know, thanks @doublerebel . That explains why my storage consumption isn't decreasing as I `done()` jobs, but I'm still left wondering why the consumption is steadily _growing_

[2016-12-09 18:41] doublerebel commented on #411
I've always been able to leave my redis alone until actually receiving errors, the RSS memory reported by the OS does not have a direct relationship with the data stored in redis.  Have you received any memory-related errors from redis?

What is the output of `INFO memory` (the memory section of the INFO command)?

[2016-12-09 19:07] brandonmp commented on #411
(closing b/c doesn't appear to be `bull`-related, but still interested in hearing others' thoughts

[2016-12-09 19:07] #411 closed

[2016-12-09 20:14] emhagman commented on #412
Only for this one job type at the moment. This job used to do a lot more work but now all of that has been moved off the server to Amazon Lambda so I find it odd that now that it does no work on the the server with bull, it stalls.

[2016-12-12 06:23] sloops77 commented on #411
hi brandon, we are also seeing unexpectedly high usage on redislabs. How does aws compare?

[2016-12-12 19:18] yawhide opened #413 "Unable to renew nonexisting lock, crashes nodejs"
Hello,

Just starting playing with this library. I have a simple setup:
1) one process adds a job
2) a second process processes a job, calls jobDone in a setTimeout of randomly 1-5s, then when .on('completed') gets called, it re-adds the same job (so essentially creating an infinite loop of that specific job) _and_ adds a job to a third queue.
3) a third process processes the third queue just does

[2016-12-13 19:32] bradvogel commented on #371
To be clear on what I think is happening here:
1. job begins being processed by consumer 1
1. consumer 1 is working slowly and fails to renew lock
1. job becomes "stalled"
1. consumer 2 picks up job
1. consumer 2 finishes job successfully, key is removed from redis and job queues (since it uses removeOnComplete:true)
1. consumer 1 tries to finish the job  and fail it (let's just say it failed for

[2016-12-14 06:39] bradvogel commented on #371
We're working on a PR by the way.

[2016-12-14 11:59] orecus commented on #362
This is exactly what I was hoping to se in Bull. I'm working on an application where being able to rate limit (x requests per x seconds) for each of my queues is needed.

Looking forward to this functionality!

[2016-12-15 07:58] manast opened #414 "Emit a 'slow' o similar event when the waiting time in the queue is too long"
We could compute some kind of moving average, when the average after x seconds is larger than a given y setting, the ```slow``` event could be emitted and this would help clients to spin more workers to guarantee a given performance.

Note, this is a suggestion, there may be other better approaches.

[2016-12-15 13:49] jamesjjk commented on #413
@yawhide Facing exactly the same problem. Again related to re-queing a previous job after it has been completed, this is an intermittent failure. May I ask are you using a custom job id?

[2016-12-15 13:53] jamesjjk commented on #413
@yawhide https://github.com/OptimalBits/bull/issues/397 This seems to fix it.

[2016-12-16 02:28] bradvogel commented on #412
Any update on this?

[2016-12-19 14:40] n3trino opened #416 "-OOM command not allowed when used memory > 'maxmemory'."
1|wover    | ReplyError: ERR Error running script (call to f_bed0f540aaab40cb5b63c076c00c75504e27424b): @user_script:1: @user_script: 1: -OOM command not allowed when used memory > 'maxmemory'.
1|wover    |     at JavascriptReplyParser.returnError (/home/apiUser/wover-backend/node_modules/ioredis/lib/redis/parser.js:25:25)
1|wover    |     at JavascriptReplyParser.run (/home/apiUser/wover-backend/

[2016-12-19 15:25] n3trino commented on #412
Started getting the same error too.

[2016-12-19 20:21] bradvogel commented on #412
@n3trino does it happen for all job types, or only some? Are you seeing high CPU when the job is running (that might cause it to fail to renew the timer)?

[2016-12-20 08:17] yakiang opened #419 "getJobCountByTypes returns only the number of the first type"
https://github.com/OptimalBits/bull/blob/master/lib/queue.js#L794

[2016-12-20 15:14] GoNode5 commented on #401
[code]
results in:
failed count 28
paused/delayed /failed jobcount: 0
jobcount: 28

[2016-12-20 17:25] alanclarke opened #422 "redisOpts.keyPrefix option is broken"
[code]

![screen shot 2016-12-08 at 12 30 57](https://cloud.githubusercontent.com/assets/640611/21010130/56359baa-bd42-11e6-84dc-d4fed703b6c1.png)
[code]

[2016-12-20 17:26] alanclarke commented on #422
pr: https://github.com/OptimalBits/bull/pull/417

[2016-12-21 09:24] GoNode5 commented on #363
I would propose a fatal queue, for permanent failures where jobs are moved after x attempts and delays

[2016-12-21 09:38] GoNode5 opened #423 "fatal queue"
I would propose a fatal queue, for permanent failures where jobs are moved after x attempts and delays.
Failed is more a retry/delay function. Not sure you could set the max attempts per queue. 0 attempt could mean move directly to fatal, after failure (done(Error())

[2016-12-21 19:09] bradvogel commented on #423
`Failed` is already the permanent failure queue. Delayed jobs wait in the `delayed` queue.

[2016-12-21 20:36] igorissen commented on #409
Fixed my issue by increasing the pool size of mongoose. So not related to bull. Sorry about that.

[2016-12-21 20:36] #409 closed

[2016-12-21 20:48] manast commented on #423
@GoNode5 why did you belive that retried jobs were stored temporarily in the failed queue?

[2016-12-21 23:09] GoNode5 commented on #423
To reschedule a job, it first have to be in the failed queue. I'am sending outbound mails. Sometimes mail has a wrong structure, so there is no point of 'auto' reschedule I do reQueue(all failed jobs). But I don't want to lose any message whatsoever. (done(Error(),fatal) could move the job to a permanent failed that needs manual attention.

[2016-12-21 23:16] bradvogel commented on #423
So are you waiting for email job to fail, then examining the reason why (eg wrong structure), modifying the job data to fix the structure, and then reenqueuing? If so, how about using the `backoff` parameter to let Bull auto-retry it, and before a job fails, edit the job data and save?

[2016-12-21 23:30] GoNode5 commented on #423
With email > 99% its a internet failure (no internet/service not reachable/dns). So auto retry/delay is in order with failed/retry. It will be send out. In a special case internet is down for hours (happens once a year), all the failed jobs should be resend again... no problem.
1% is wrong by structure/json somehow. These need manual attention, no point to reschedule auto retry etc... But they sta

[2016-12-22 03:31] bradvogel commented on #423
If I were you, I'd use Bull's exponential backoff feature so the emails retry over many hours. But if you can distinguish a "wrong structure" failure from an "internet connection" failure in code, you can prevent "wrong structure" from retrying by calling `job.markUnrecoverable()` (when https://github.com/OptimalBits/bull/pull/418 merged), and you should also `throw new Error('invalid format')` to

[2016-12-22 07:53] GoNode5 commented on #423
By job.markUnrecoverable() you already show that there can be 'special' jobs in failed. These jobs should not stay in the failed queue in my view...  But I don't seem to convince so let's carry on. Thank for your time and comments

[2016-12-22 08:51] manast commented on #416
I have no idea what this can be. But it seems like a limitation with redis. We should then document that maxmemory can not be used with bull.

[2016-12-22 10:36] manast commented on #423
What about creating a different queue for handling these jobs? Just remove it from the main queue and create it in the other queue. You will loos atomicity, but maybe thats ok. If the case becomes very common we could have a special atomic method ```moveToQueue``` that atomically does this for you.

[2016-12-22 11:43] GoNode5 commented on #423
@manast I prefer 1q but I'll go that way yes thanks. MoveToQueue would be great to.

[2016-12-22 14:10] jamesjjk commented on #406
@doublerebel Did you manage to find the error with your test?

[2016-12-23 00:58] v4l3r10 commented on #394
Same problem, same workflow.

[2016-12-23 10:41] #423 closed

[2016-12-28 15:26] n3trino opened #424 "LockError question"
I have a queue that is used to send apple push notification using [node-apn](https://github.com/node-apn/node-apn).

In the process function we are using concurrency like this:

[code]

If we send multiple requests to the queue we get this error:

`Error renewing lock LockError: Exceeded 0 attempts to lock the resource "bull:APN Sandbox Queue:170:lock".`

Also the queue has lock renew time set to

[2016-12-28 16:01] manast commented on #424
@doublerebel do you have any hint why this could happen?

@n3trino btw, you do not need to use the ```done``` callback, you can just return the promised returned by ```apnSandboxService.send```

[2016-12-29 22:41] n3trino commented on #424
@manast what does the **Error renewing lock LockError: Exceeded 0 attempts to lock the resource** means?

[2016-12-30 14:47] n3trino commented on #424
@manast i found out why it leaves the jobs active. It has to do with node-apn and not bull itself.

[2016-12-30 14:47] #424 closed

[2017-01-03 04:48] ryanmills commented on #413
+1 Receiving this error:

[code]

[2017-01-03 04:53] ryanmills commented on #397
+1 Receiving this error -- Is there a new npm version with this fix?

[code]

[2017-01-03 04:56] ryanmills commented on #362
+1 for rate limiting number of jobs being executed concurrently

[2017-01-03 05:50] blazindoritos commented on #413
This is the error I get:

`/<root>/node_modules/bull/lib/scripts.js:314
      throw new Error('Unable to renew nonexisting lock');
      ^

Error: Unable to renew nonexisting lock
    at Object.takeLock (/<root>/node_modules/bull/lib/scripts.js:314:13)
    at Job.takeLock (/<root>/node_modules/bull/lib/job.js:127:18)
    at lockRenewer (/<root>/node_modules/bull/lib/queue.js:644:16)
    at Timeout

[2017-01-03 09:57] prdn commented on #413
+1 happening to me too
[code]

[2017-01-03 10:15] prdn opened #426 "redis script cache gets bloated after update to bull 2.0"
Hello,

I'm experiencing a growing Lua script cache after updating to bull-2.0
After 20 days of uptime my redis Lua cache grown up to 15GB

Anyone experiencing same issue?

Thanks

[2017-01-03 10:41] manast commented on #426
can you check what entries are there in the cache? there must be a spurious entry that is for some reason not being reused but created every time it is used.

[2017-01-03 11:13] ryanmills commented on #413
Also receiving:

`Error: Unable to renew nonexisting lock at Object.scripts.takeLock (/node_modules/bull/lib/scripts.js:314:13)
    at Job.takeLock (/node_modules/bull/lib/job.js:127:18)
    at lockRenewer (/node_modules/bull/lib/queue.js:644:16)
    at Timeout.<anonymous> (/node_modules/bull/lib/timer-manager.js:80:5)
    at Timeout.ontimeout (timers.js:336:34)
    at tryOnTimeout (timers.js:224:

[2017-01-03 16:44] prdn commented on #426
@manast I've added some console logs to the script caching function in `lib/scripts.js`. The hashes seem all the same.
Just to be sure that we are on the same, the value that is growing fast is `used_memory_lua`
Reverting to v1.1.3 is working fine.

Do you have a preferred way to analyse the redis lua script cache?

[2017-01-03 17:34] prdn commented on #426
@manast can it be that `_retryAtOnce` is using directly `eval` and not caching the script and using `evalsha` so it is accumulating the same script again and again every time there is a retry?

[2017-01-03 19:36] manast commented on #426
eval is not caching the script, so don't think that is the reason of the problem. I am not aware of any other command in redis besides LOAD that caches scripts. So if you have time you could put a console.log just before calling load, and you should be able to see which script is being cached continuously: https://redis.io/commands/script-load

[2017-01-03 23:30] prdn commented on #426
You're right. I added a console.log in my dev environment.
It looks everything normal but just a nodejs process (concurrency = 5) is bloating my redis instance.
On production I need to revert to 1.1.3. The main change seems moving to ioredis and that looks good. I will try to spend a bit of time on it in next days, since it's crucial for me to maintain `bull` as a dependency.

Thanks for helping

[2017-01-04 12:27] manast commented on #426
The major new thing in 2.0 is the redlock algo, I would bet that is the root of the problem. @doublerebel  any ideas?

[2017-01-04 23:59] GeoffreyPlitt opened #427 "Error: connect ETIMEDOUT, unusable stacktrace, redis conn params seem fine"
Hello,

I'm using Bull in a program that works fine for a while, and then we get these mystery errors from deep in your library. I've attached ```on('error', ...)``` handlers which don't seem to help, and the stacktraces below don't help either.

The redis connection string I'm providing works fine for everything else using it, and is not the issue.

----> Any help in how I can get more debug info

[2017-01-06 23:48] zekenie commented on #413
Throw my hat in here as well, I am having this error as well. The one thing that's complicating my setup is that I'm using the same redis connection for two purposes. One is for Bull, the other is a socket.io adapter so that my worker processes can essentially emit events to sent out by my http servers. Not sure if this is relevant.

[2017-01-07 00:22] prdn commented on #426
I think you're right @manast
Is there an easy way to test the previous locking system?
Otherwise will set up a branch for it

[2017-01-07 21:54] manast commented on #426
when the old locking system was replaced by redlock many other changes where performed, so it is not easy to replace it, and I do not think it is a good idea either. I will investigate when I have some time why the script cache is increasing, there could be an issue in the redlock dependency as well: https://github.com/mike-marcacci/node-redlock

[2017-01-08 11:50] manast commented on #426
I have analised the code, and I cannot see anything in redlock or in bull that would currently cache a lot of scripts. In redlock it is actually running eval directly (which is not so performant, I would like to improve this in the future), and in bull, the code related to lock is not using any scripts it is relayed to redlock. If you put a console log here https://github.com/OptimalBits/bull/blob

[2017-01-08 12:04] manast commented on #426
From redis documentation https://redis.io/commands/eval
[code]

[2017-01-08 12:52] prdn commented on #426
@manast well my redis db that is around 1GB reached 15GB of memory, that's a pretty big overhead in my opinion and it is a risk on a production environment since there is no clear limit for it.

I think I found the issue:
https://github.com/OptimalBits/bull/blob/f1ea81c0e9a950f47d5aa39a2bc5ff82cb573355/lib/scripts.js#L328
Here you call redlock passing a variable locking Lua script.
This is probabl

[2017-01-08 20:45] manast commented on #426
without checking redlock, I guess that line is there because it is not currently possible to specify extra keys to be used by redlock. That would certainly need a change in redlock as well, to be merged and released before we can fix it in bull...

[2017-01-08 20:59] prdn commented on #426
Sounds good. At least it seems the explanation of what I'm seeing. I'll see if I can prepare something for graylog.
I think that any real use of bull-2.0 in production will end up in causing troubles. I'm handling around 1 million jobs per day and with the current cache grow I reach 15GB in 3 days.

Thanks for this awesome lib btw, I truly like it

[2017-01-08 21:20] manast commented on #426
Even if the 15Gb is scary, it may not be a problem if redis just reuse that memory when needed. I checked redis.conf file but unfortunately there is no setting to limit the max amount of lua cache. Maybe https://github.com/antirez could give some explanation about this behaviour.

[2017-01-08 22:08] prdn commented on #426
I agree that it would not be scary if there was a recycle of the memory. I checked for that parameter as well.
From here https://redis.io/commands/eval
```The reason why scripts can be cached for long time is that it is unlikely for a well written application to have enough different scripts to cause memory problems. Every script is conceptually like the implementation of a new command, and even a

[2017-01-12 18:02] jwerle commented on #397
+1 (bump)
we're receiving the same error as well.
when will a new version of the module be published to npm?

[2017-01-12 22:10] #363 closed

[2017-01-14 22:49] #371 closed

[2017-01-15 04:16] bradvogel commented on #413
The "Exceeded 0 attempts to lock the resource" issue is happening when running the unit tests for me. So this should be pretty easy to track down. @doublerebel could you help take a look?

[2017-01-16 13:19] oliverwoodings commented on #394
I'm also seeing the same behaviour.

Node 6.2
Bull 2.1.0

[2017-01-16 14:22] oliverwoodings commented on #394
I did some digging and have found the issue:

-  By design, distributed events are emitted with the name of the queue attached i.e. a progress event for a queue called `foo` would be emitted as `progress@foo` around the distributed system.
- In order for consumers to be able to subscribe to the events without the name suffix, it looks like the queue is meant to automatically subscribe to the distr

[2017-01-17 17:28] jcald1 opened #432 "Documentation issue"
In the message queue pattern, I believe the console statements:
`console.log("Received message", msg);`

should be:
`console.log("Received message", msg.data);`

Better yet, the "msg" should probably be renamed to "job", since the object type is "Job".

[2017-01-17 17:28] gblock0 commented on #426
We are seeing this as well, our `used_memory_lua` was at `1118090240`. Our backend locks up and once we run `script flush` things start working again.

[2017-01-17 18:38] GeoffreyPlitt opened #433 "OOM command not allowed when used memory > maxmemory"
I'm getting an error I don't quite understand. My guess is that I need to upgrade the memory for Redis. Is that right?

  message: 'ERR Error running script (call to f_d5e879576feacc56627a3618fd6e20d53efe58de): @user_script:1: @user_script: 1: -OOM command not allowed when used memory > \'maxmemory\'.   ',
Jan 17 10:15:43 stardust-backend app/changes_enqueuer.1:    command:
Jan 17 10:15:43 stardus

[2017-01-17 18:40] GeoffreyPlitt commented on #433
Would cleaning queues resolve this?

[2017-01-17 18:43] GeoffreyPlitt commented on #433
Also wondering if tasks are automatically cleared on completion, or if a huge amount of completed tasks build up in redis

[2017-01-17 18:58] bradvogel commented on #433
You might be running into https://github.com/OptimalBits/bull/issues/426

[2017-01-17 20:37] GeoffreyPlitt commented on #433
Thanks! Looks like exactly the same, I'll subscribe to #426.

[2017-01-17 20:37] #433 closed

[2017-01-17 20:48] joeandrews commented on #426
I think we have fixed this on our pull request.  https://github.com/OptimalBits/bull/blob/f1ea81c0e9a950f47d5aa39a2bc5ff82cb573355/lib/scripts.js#L328 was creating a new script for every single job ID. 10,000 jobs, results in 10,000 scripts in the script cache and hence this issue.

[2017-01-17 21:16] gblock0 commented on #246
@manast is this in 2.0+?

[2017-01-18 03:36] jcald1 opened #435 "Warning: a promise was created in a handler at...but was not returned from it"
I'm seeing the warnings below when running the following code.  I'm running Node v6.9.2 using bull v2.1.0 on Ubuntu 14.04.
[code]

Output:
[code]

[2017-01-18 16:20] InstanceOfMichael commented on #412
Is it possible to increase the allowable limit for specific queues?

[2017-01-18 18:49] #435 closed

[2017-01-19 18:26] jcald1 opened #436 "SyntaxError: In strict mode code, functions can only be declared at top level or immediately within another function."
In bull v 2.1.0 , I'm getting the following strict mode error.  It looks like some functions are declared in an if/else block in job.js starting at line 364.

[code]

[2017-01-19 19:12] manast commented on #436
Interesting. I wonder why the unit tests are going through.

[2017-01-19 20:09] jcald1 commented on #436
It may have something to do with the Node version. I got the error with Node v0.12.7 on Red Hat 6.8, but not on Node 6.8 on Ubuntu 14.04.5.

[2017-01-20 12:35] askdesigners commented on #413
Chiming in to say I get the same issue. Running redis in a DO droplet and running my 2 apps locally.

[2017-01-20 13:36] manast commented on #413
seems like @doublerebel has left ut in the cold :).
I will try to find some time to debug this, unfortunately I am on a very busy period right now.

[2017-01-20 15:02] bradvogel commented on #413
I think we should consider reverting the ioredis and redlock work. I just don't see the benefit. We're still checking for locks inside of lua scripts (because we still need to), completely defeating the purpose of the redlock algorithm.

[2017-01-20 16:12] manast commented on #413
The problem is that together with the ioredis we have many other improvements, for instance the unit tests run properly everytime now.

[2017-01-20 16:13] manast commented on #413
So the question is how much work would it be to remove only redlock, or make it optional, and use the old locking mechanism.

[2017-01-20 16:14] manast commented on #413
In any case, cheaper must be to analyze why this error happens and at least mitigate it so that the exeception is handled properly. I will try as soon as I can.

[2017-01-20 16:15] askdesigners commented on #413
If it helps, I've noticed that this locking issue causes jobs to run twice on my remote redis server (digital ocean), but works properly when local... I assume that's what's causing it. i don't get this error locally. Is there some redis config that might be screwing with things?

[2017-01-20 16:19] askdesigners commented on #413
Ok actually I've tracked my own issue down to renamed commands in the redis config file. The node-redis docs are really unclear on how to set those up in the library and I've probably done it wrong.

[2017-01-21 12:51] kinghadi opened #437 "Error renewing lock LockError: Exceeded 0 attempts to lock the resource"
When I'm using `bull`, the following message shows on the screen:

    Error renewing lock LockError: Exceeded 0 attempts to lock the resource "bull:removeTemNonces:1:lock"

**Code for creating the job**
[code]

**Code for processing the job**
[code]
I searched the error but I couldn't find anything.

[2017-01-21 16:11] GeoffreyPlitt commented on #437
I'm also getting this constantly.

[2017-01-21 17:15] jeltok commented on #426
We experience this issue as well with about 600k jobs a day. We use Redis 3.0.7 on Ubuntu 14.04

After 7 days of use Redis memory is arounf 8GB - data is less than 1GB, rest is reported as Lua scripts cache.

[2017-01-24 13:23] oliverwoodings commented on #394
@manast any thoughts on this?

[2017-01-24 20:14] woodardj opened #439 "Using fewer client connections?"
I get the rationale listed in issue #161 for why Bull uses three connections per queue, but this is becoming problematic for us as we have more and more dynos added to our infrastructure (we're running on Heroku), as with a priority queue in place we are rapidly hitting higher and higher tiers of Redis costs.

So I'm looking for ways to decrease our 'client connection' load.

We know for sure that

[2017-01-24 20:34] manast commented on #439
With the new priority queue implementation the number of connections will be reduced dramatically. It requires however a few days work, and I am quite busy at the moment, but it is high in the priority list: https://github.com/OptimalBits/bull/issues/388

[2017-01-24 21:33] woodardj commented on #439
Oh rad, thanks @manast! Will this require a key schema change when upgrading? i.e., will we need to run workers in parallel to finish old jobs as we start working jobs from the new queue? Or will it be a seamless upgrade?

[2017-01-24 21:59] manast commented on #439
I am afraid this will not be a backwards compatible upgrade from redis schema perspective, since we move from multiple queues to a single one.

[2017-01-25 08:43] igorissen commented on #437
Check issue #413

[2017-01-25 17:16] lipsumar opened #440 "[Question] How to best approach listing jobs ?"
Hi there,

I'm surprised not to find a method such as `Queue.listJobs()` that would allow me to retrieve the current list of jobs (preferably along with their status).

Other queuing solutions also don't seem to provide this, so I'm wondering if I'm not on a very wrong path.

I'm aware of UIs to display the state of the queue, I'm using one, but here I simply want to give a feedback to my users ab

[2017-01-26 08:59] manast commented on #440
In fact there are methods to list the jobs, unfortunately we have not been so good att documenting these methods, check this: https://github.com/OptimalBits/bull/blob/master/lib/queue.js#L832-L854

[2017-01-26 10:34] lipsumar commented on #440
Awesome! I'll do a PR soon for the docs

[2017-01-26 21:48] raminious commented on #413
getting this error too

[code]

[2017-01-26 22:58] raminious opened #441 "Unable to renew nonexisting lock on job fail"
Same as #413 I'm getting this error

[code]

My sample code that reproduces this error:

[code]

QA:
use cluster: no
node version: v6.6.0
bull version: 2.1.0 (latest)
redis version: redis-cli 3.2.3
os: mac osx el capitan

![bull](https://cloud.githubusercontent.com/assets/334716/22362211/3d685e5e-e476-11e6-9b8f-37f7b836b76f.gif)

[2017-01-27 13:39] fiws commented on #440
Those methods are very useful.
But is there a way to get the last x jobs ordered by date? I think this is the most common use case for Queue Dashboards

[2017-01-29 21:08] manast commented on #440
@fiws that is not possible currently. If your queue is not very large you can of course do this client side. Otherwise a lua script would be more efficient, but redis is not really designed for this kind of queries on list, so it is not going to be very performant.

[2017-01-30 16:38] raminious commented on #441
@manast I'm so sorry for direct ping, but can you give an estimate when fix coming ?

[2017-01-30 19:50] manast commented on #441
@raminious let me check that code, see if I can reproduce it.

[2017-01-30 22:55] manast commented on #441
I could reproduce the issue. Although I do not know yet the cause, at least I catch the error now so that the queue can continue working. I release a patch version 2.1.1. I will try to find the underlying cause in the following days.

[2017-01-31 04:32] jf commented on #412
Is it possible for somebody to explain what this limit is? Is it a limit on time for a worker/job? If a worker/job takes too long, will this be triggered?

[2017-01-31 08:53] raminious commented on #441
@manast Thanks for 2.1.1 release, I keep this issue open since you find the underlying cause. 👍

[2017-01-31 12:45] PyroSA commented on #436
Same issue tripped my staging server.

Bull 1.0.0 works on node 0.12.15.
Bull 1.1.0 and upwards give the strict mode error.

[2017-01-31 14:17] manast commented on #436
0.12 is not supported anymore. Nevertheless, I think this issue is not present on latest 2.1.1 version either.

[2017-02-03 08:17] prdn commented on #426
Any update on this issue?
Thanks

[2017-02-03 09:01] manast commented on #426
we have a PR that solves this issue but there is another issue with that PR that needs to be resolved before it can be merged.

[2017-02-06 14:49] AlexSenchenko opened #442 "How to be approached with long-running jobs"
Hi @manast,

How to be with  long running jobs and general approach?
My case is following:
I have a job that read data from MS SQL and push it to ElasticSearch. 1.5m records - takes about 10-15 min. But some times a I have messages that `job stalled more than allowable limit` and job is hanging.

[2017-02-06 20:36] manast commented on #442
Basically you should either divide the job in smaller chunks so that you can return to the event loop in a timely manner giving bull a chance to update the jobs lock, or you could use a thread that is created within the process function that does not lock the event loop.
Please let me know if you make this work.

[2017-02-07 06:18] AlexSenchenko commented on #442
Well, what do you mean under

In terms of bull?
You mean that job created only per 1 worker?

[2017-02-07 07:39] manast commented on #442
https://nodesource.com/blog/understanding-the-nodejs-event-loop/

[2017-02-07 08:55] AlexSenchenko commented on #442
It's used thread created with process function. I also used `job.progress` to keep it responsive - but I see that this is not helped - jobs became stalled.

[2017-02-07 09:38] manast commented on #442
If could you write a minimal exempel code doing some dummy process that reproduces this issue I can take a deeper look at it.

[2017-02-07 11:15] AlexSenchenko commented on #442
App.js in separate package
[code]

Job Args here:
[code]

Job process is here:
[code]

[code]

[2017-02-08 15:50] AlexSenchenko commented on #442
So, question is how to indicate that job is running and not stalling? Using of job.progress can be solution here?

[2017-02-08 17:12] manast commented on #442
What I need is a minimal example that I can run and that reproduces your stall problem.
job.progress will not change anything, it is just a matter of not keeping the event loop busy for too long time. But there could be a bug in bull, if you can reproduce the behaviour you are seeing in a super simple example, then I can debug it.

[2017-02-09 19:26] blazedd commented on #346
You can get around this functionality by passing `null` into both the port and hostname:

[code]

I'd also like to comment that this really something I would consider and edge case scenario. It might not be for your your specific work, but with Docker and network defined storage this is still a very likely setup.

[2017-02-09 20:01] nitzanav opened #443 "How to enqueue of a job purely from redis for nginx"
Hi,

I wish to create jobs directly from nginx using a redis [module for nginx](https://github.com/openresty/redis2-nginx-module).

I am looking for something similar to what [sidekiq wik](https://github.com/mperham/sidekiq/wiki/FAQ#how-do-i-push-a-job-to-sidekiq-without-ruby)i provides.

Can someone assist in listing the redis operations to be done?

[2017-02-10 12:45] AlexSenchenko opened #444 "Jobs waiting but not active"
Hi,

After deploying to server I see through Toureiro interface that 7 jobs in waiting state.
But I don't see that it became active. What can be the reason? May be need some trigger?

[2017-02-11 10:01] raminious commented on #441
@manast any good news buddy ?

[2017-02-11 23:24] jeltok commented on #411
Can it be related to https://github.com/OptimalBits/bull/issues/426 ?

[2017-02-12 14:16] alecl commented on #442
@AlexSenchenko I would enable the command line node option to print a stack trace on sync code.

https://nodejs.org/api/cli.html#cli_trace_sync_io

Then you can see if one of the modules you're using is tying up the event loop or it's something in Bull.

[2017-02-13 08:01] manast commented on #444
The jobs are processed as they are added to the queue. Maybe the queue does not have a correct connection to redis.

[2017-02-13 09:47] #441 closed

[2017-02-13 09:55] manast commented on #413
By fixing #441 I think I may also fixed this issue. It was a race condition when stopping the lock renewal timmer, where it was possible that the renewal was called even after the timmer was cleaned. I will make a new release very soon, great if you could verify that it solves your use cases.

[2017-02-13 10:30] manast commented on #422
The PR has a review that needs to be addressed before we can merge it.

[2017-02-13 10:38] manast commented on #413
Please check if you still get this issue with version 2.1.2

[2017-02-13 14:14] AlexSenchenko commented on #442
@alecl  thanks!

[2017-02-13 14:14] #442 closed

[2017-02-14 20:11] wellcaffeinated opened #445 "Bluebird warning from bull constructor"
Hi I can't silence this warning, but I've tracked it down to the bull constructor. When I comment out the call `bull( 'queue', config.redisURL )`, the warning disappears. Unfortunately the warning doesn't provide much information. But hopefully one of you can find the statement that's missing a `return null;`

[2017-02-14 20:17] manast commented on #445
In which version of bull did you get this issue?

[2017-02-14 22:49] wellcaffeinated commented on #445
3.10.3

On Tue, Feb 14, 2017 at 3:17 PM Manuel Astudillo <notifications@github.com>
wrote:

[2017-02-15 06:50] manast commented on #445
latest version is 2.1.2 ...

[2017-02-15 09:28] AlexSenchenko commented on #444
"bull": "2.1.1"
Well redis installed on same machine. Delay may be - but some times it takes 10-20 minutes or even run only from restart.

I saw from  `Toureiro` tool - that: 0 in Active - 0, Waiting - 7

How such behaviour can be tracked - any tips?

[2017-02-15 13:32] manast commented on #444
Can you create a simple example that reproduces the issue?

[2017-02-15 15:04] wellcaffeinated commented on #445
Oops! I typed the wrong command to get the version (that's my npm version).
I'm using bull 2.1.2

[2017-02-16 00:36] josephwarrick opened #446 "locally pausing a queue does not work when there are multiple active workers"
[code]

will never resolve if there is more than one simultaneously active node process working on jobs.

This means that if we try to do
[code]
our queue will stop processing jobs, but will never close.

This is happening because:

Suppose queueA and queueB are two separate node processes working on the same queue. Suppose they are each processing one job.

If we call `queueA.pause(true)`, queueA

[2017-02-16 00:46] josephwarrick opened #447 "Jobs can sometimes be processed after a queue is paused locally."
Jobs can sometimes be processed after a queue is paused locally.

This happens because we wait up to five seconds for a job to become available when we try to get the next job.

This is the sequence of events when this happens:

The queue [does](https://github.com/OptimalBits/bull/blob/v2.1.2/lib/queue.js#L754) `queue.bclient.brpoplpush` to get the next job, but none are available yet.

We locally

[2017-02-16 08:51] mwielbut opened #449 "add removeOnFailed flag"
Bull currently supports a removeOnComplete flag for each job that frees up space when a job completes. It would be great to also have a removeOnFailed flag to automatically do the same when a job has exhausted all attempts.

*Workaround is to call remove manually on the final failure or run clean('failed') periodically.

[2017-02-16 21:46] #446 closed

[2017-02-16 21:46] #447 closed

[2017-02-17 05:22] pine opened #450 "Error processing job: SyntaxError: Unexpected token u in JSON at position 0"
Hello. I use this library.

I found this errors. Could not know how to solve?

[code]

[code]

Thank you.

[2017-02-17 06:51] manast commented on #450
Please provide an example that reproduces the bug and also in which version of bull you are getting it.

[2017-02-17 07:35] pine commented on #450
The reproduction code is currently creating.

bull version is `2.1.2`.
And `Queue##count()` returns `0`, but the keys are left.

[code]

[2017-02-17 10:01] MatthD opened #451 "Make variables setable"
Hello,

I found here that many people seems to have a lot of problem due to long time jobs.

I discover when I changed some varible to increase their timeout (+ other things) I won' have those problem anymore

I had to edited this file [Queue]( https://github.com/OptimalBits/bull/blob/master/lib/queue.js)

I setted the variable this way for my long jobs:

`CLIENT_CLOSE_TIMEOUT_MS = 60000;
 POLLING

[2017-02-19 03:50] alecl opened #453 "failedReason and stacktrace not in Queue.on('failed') and on('error') not triggering"
Seems like these should be there given there's interested in the failures if you're handling the failed event, no? If I call Queue.getJob these two fields are there.

Also, I was surprised that Queue.on('error') doesn't get triggered whether I throw an error inside process or pass an error object to the callback. Looking at the code seems this even is mainly for Redis connection errors and not job

[2017-02-19 23:10] jahraphael commented on #450
I encountered a similar problem on a project where I was using Bull. It occurred for me both in the 1.x and 2.x series. I ended up sticking to 1.x and patched `fromData` to no longer crash if it reads bad data from the queue. Instead it will drop the item and keep processing.

I have not tried to root-cause what is going on, so YMMV... but this is what I had done: https://github.com/jahraphael/bul

[2017-02-20 09:14] manast commented on #450
yes, whatever the underlying cause of this, it should not kill the process, just catch the error and report it.

[2017-02-20 20:15] manast commented on #450
@If I put a ```throw Error()``` in ```Job.fromData``` the error is handled in the unit tests in version 2.1.2. I am wondering if you get this unhandled exception in an older versions of bull only?

[2017-02-20 20:50] woodardj commented on #439
Thanks @manast — do you have a recommended upgrade path (we are currently on 1.1.3, so I guess this question applies to 2.x as well), since we can't run multiple npm package versions side by side, the upgraded version won't be able to work jobs off of the old queue.

[2017-02-21 05:24] jahraphael commented on #450
I will try updating to 2.x in the project where I was having this problem and let it run on one of my production instances.

[2017-02-21 21:32] manast commented on #439
I guess that you will need to stop adding jobs until all are processed and then start the new queue. :)

[2017-02-22 05:26] jahraphael commented on #450
I let this ran for a bit today and noticed a lot of the original error message that pine mentioned. However, it looks like in 2.1.2 the process is not crashing, which is great!

The direct cause of the error above is that for some reason the job is that for some reason the data in the queue for that job is actually the string "undefined", which gives the above error when `JSON.parse` is called on

[2017-02-22 08:51] manast commented on #450
@jahraphael yes. What i wondering is why the exception is not handled in the reporter code. Locally I cannot reproduce that unhandled exception, for example always throwing an error in the same place as the JSON.parse call.

[2017-02-23 10:32] manast commented on #453
when errors are thrown inside a process they are catched and the job is considered to have failed, this is by design. I agree that failedReason and probably stacktrace should also be available when a job has failed.

[2017-02-24 05:40] JohnWMay opened #455 "Help with retrying a failed job?"
Hello,

I am working with bull queues. I cannot figure out how to retry a failed job. I have job.retry() in the test_jobs.js file, but I can't get that to work, and don't see it in the code. I am also just starting to look at Promises.

Will you please help me retry a failed job?

[2017-02-24 08:33] manast commented on #455
Can you provide some test code that is not working?

[2017-02-24 14:44] JohnWMay commented on #455
Yes, here is some:

This:

/*
 * To change this license header, choose License Headers in Project Properties.
 * To change this template file, choose Tools | Templates
 * and open the template in the editor.
 */
//var Job = require('Job');
var Queue = require("bull");
var util = require("util");
var Promise = require("bluebird");
var myQueue = Queue("MyQueue");

myQueue.on('error', function(error)

[2017-02-25 00:15] manast commented on #455
Why can't you use the backoff option in the add job options?
[code]

[2017-02-25 17:11] jeltok commented on #426
That's how the memory on my Redis instance (that supports Bull) looks like. We are running about 1 million messages a day through the Bull queues. The server has 16 GB of memory, and looses about 3GB a day to Lua cache.
Running SCRIPT FLUSH command any other day helps, but is a hustle. Other than that, Bull works just great for us.
Hope this issue will be fixed soon.

![image](https://cloud.github

[2017-02-27 09:44] manast commented on #388
Update:
I have now a working prototype for the new priority queue. The code is much more simpler than before and does not require any extra queues or connections to redis. What is missing is different strategies as we had in the old implementation, for example exponential and square. Currently the strategy is that jobs with higher priority will be processed faster than jobs with lower priority. No

[2017-02-27 22:38] manast commented on #426
@jeltok a fix for this issue is the next thing in my list.

[2017-02-28 05:30] manast commented on #403
A new pull request for the re-implementation of priority queues:
https://github.com/OptimalBits/bull/pull/456

[2017-02-28 05:34] manast commented on #439
The pull request: https://github.com/OptimalBits/bull/pull/456

Basically I will keep the old priority queue as deprecated. With the new priority implementation you get a new option when adding jobs to a queue (priority), which inserts the job in the wait list at the proper slot so that higher priorities (highest will be 1, and decrease as the priority value decreases). The only feature missing so

[2017-02-28 11:10] tinybug commented on #388
I'd love to try what you have now.😊

[2017-02-28 14:36] manast commented on #388
https://github.com/OptimalBits/bull/pull/456

[2017-02-28 14:36] manast commented on #388
I will merge it tonight if nobody complains...

[2017-02-28 20:29] #388 closed

[2017-02-28 20:29] #439 closed

[2017-02-28 20:29] #403 closed

[2017-03-01 15:00] guischdi opened #457 "Multi Instance Concurrency"
### My setup
I have a multi instance application maintaining a bull job queue. All application instances off course use the same Redis instance. I configured bull to run a maximum number of 1 concurrent job. But this means that 1 job can be running concurrently PER INSTANCE of the application. So if I'm running two instances of the application, two jobs can be running in parallel.

### My usecase

[2017-03-01 20:19] manast commented on #426
@jeltok can you please verify that the issue is resolved with bull 2.2.0 so that we can close it?

[2017-03-01 20:22] #419 closed

[2017-03-01 20:27] engvik commented on #426
Looks like we're still seeing the issue. Upgraded from 1.1.3 to 2.2.0 today. Have kept an eye on the `used_memory_lua` field and it's been steadily increasing since the upgrade. Flushing the scripts from the redis instance drops the usage down to normal.

![redis](https://cloud.githubusercontent.com/assets/851595/23479608/5710f712-fec5-11e6-82e6-7949dc3fc411.png)

[2017-03-01 20:29] manast commented on #426
hmm, ok, I will need to dig more into it.

[2017-03-01 20:34] engvik commented on #426
Thanks! Just switched from kue, and other than this it's been working great! Let me know if you need anything :smile:

[2017-03-01 20:37] manast opened #459 "Store all jobs data as JSON inside a global HSET"
There is one standing issue with current implementation where we need to create redis keys inside LUA scripts. One of the problems with this is that it breaks redis recommendations and it would be impossible to use the queues in a clustered setup. The only reason the jobs are stores as HSETs is so that the progress of a job can be updated without needing to serialize the whole job.
So instead we c

[2017-03-02 03:45] joewittcov opened #461 "How to create Redis.Cluster in 2.2.0"
Prior to 2.2.0, I was able to create a Redis.Cluster using the createClient in the Redis options.  Can someone explain or send me an example of how to do this with the changes in 2.2.0.

[2017-03-02 08:14] manast opened #462 "Add unit test for custom "createClient""
So that we do not make this mistake again that has to be fixed after release: https://github.com/OptimalBits/bull/pull/460

[2017-03-02 08:14] manast commented on #461
We have fixed this, hold on for a 2.2.1 release very soon: https://github.com/OptimalBits/bull/pull/460

[2017-03-02 08:22] #461 closed

[2017-03-02 08:38] #457 closed

[2017-03-02 08:38] #455 closed

[2017-03-02 08:40] #450 closed

[2017-03-02 08:40] #444 closed

[2017-03-02 08:41] #413 closed

[2017-03-02 08:41] #437 closed

[2017-03-02 08:41] #436 closed

[2017-03-02 08:42] #401 closed

[2017-03-02 08:45] manast commented on #445
Could you please provide a small code snippet that reproduces this issue?

[2017-03-02 08:50] PyroSA commented on #436
Thanks. It's a low priority project, but will upgrade bull when I look at it again.

[2017-03-02 09:27] manast commented on #427
Have you got more info regarding this issue since you reported it?

[2017-03-02 09:28] guischdi commented on #457
Yes, we could handle it like this with only 1 worker process. But we want to have redundancy. In case one application instance dies, there should still be a worker to handle the jobs. Any solution for this?

[2017-03-02 09:29] manast commented on #347
From bull version 2.2.0, priority queues are implemented in a simpler and more efficient way, this issue should not exist anymore.

[2017-03-02 09:29] #347 closed

[2017-03-02 09:29] manast commented on #391
Will close this now, reopen if needed.

[2017-03-02 09:29] #391 closed

[2017-03-02 10:59] manast commented on #457
Ok, so it is more like a failover scenario than pure redundancy. I would say that the solution is to have a mechanism to quickly launch a new worker if one dies. Having more than one will always imply concurrency (besides redundancy).

[2017-03-02 11:39] guischdi commented on #457
Ok. Thx. So a global concurrency is not possible with bull. My second question was, if it would be possible that this is a new feature of bull?

[2017-03-02 12:31] manast commented on #457
probably not because it is really hard to implement a distributed system that works as a single instance, somehow it defeats the point if I understand your case correctly...

[2017-03-02 14:46] jeltok commented on #426
I have installed version 2.2.0 yesterday. Unfortunately it does not improve the issue with Lua cache by much.

![image](https://cloud.githubusercontent.com/assets/1056801/23511978/101c2abc-ff2d-11e6-92f0-e7700719c23f.png)

[2017-03-02 15:06] manast commented on #426
@jeltok I would say nothing at all :).  I will try to do a deeper analysis.

[2017-03-02 15:35] wellcaffeinated commented on #445
False alarm.
Turns out it was in my code, however for some reason the error only showed up when I initialized bull. :/

[2017-03-02 15:35] #445 closed

[2017-03-02 16:02] joeandrews commented on #426
@manast @jeltok I have some time today will try to look into it further as well.

Joe

[2017-03-03 23:11] woodardj commented on #439
Thanks @manast ! Just getting around to implementing now — what is the default priority? I've changed all my 'criticals' to 1 and all my 'lows' to 5, but the new docs don't say what happens when priority isn't set.

[2017-03-04 09:56] manast commented on #439
A job without priority (or priority 0) will be added as last element in the queue, so it can be considered to have infinity priority value so to speak.

[2017-03-06 19:55] woodardj commented on #439
Got it — sorry to be a pest, I just want to make sure that I understand what will be happening.

With the new implementation, if my queue includes 100 high-importance tasks (p:0, with jobIDs 1-100, for example), then I cause two more tasks to be enqueued in Bull. One of which has p:0 (jobID 101), the other which has p:50 (jobID 102), what order do these new tasks go off, and when relative to the e

[2017-03-06 20:25] manast commented on #439
No. priority 0 is the same as not having any priority, so it ends last in the queue and executes last (unless you use lifo then it is the oposite). p:50 will be executed earlier that the others that have priority 0. Priority 0 is a special case, it is not a valid priority. You should use priorities 1 to MAX_INT, where 1 is highest priority and MAX_INT least.

[2017-03-06 20:28] woodardj commented on #439
Sorry, I misspoke/mistyped. I mean p:1 in the question:

With the new implementation, if my queue includes 100 high-importance tasks (p:1, with jobIDs 1-100, for example), then I cause two more tasks to be enqueued in Bull. One of which has p:1 (jobID 101), the other which has p:50 (jobID 102), what order do these new tasks go off, and when relative to the existing p:1 tasks?

[2017-03-06 20:52] manast commented on #439
in that case p:50 will be the last task, and jobId 101 will be next last.

[2017-03-06 20:53] manast commented on #439
btw, we are a bit short in tests that only tests priorities, so feel welcome to write a test for that given scenario :)

[2017-03-08 00:28] darbio commented on #70
Did this go anywhere? I have a requirement for this at the moment which I am currently fulfilling using [NRP](https://github.com/louischatriot/node-redis-pubsub) 'fanning out' to bull job queues.

The NRP 'topic' queue is listened to (or not) by (a) process(es) which knows what that when it receives a certain type of event, it creates 'x' jobs on pre-determined bull queues.

![Architecture](http:/

[2017-03-08 01:33] darbio commented on #70
I put up a simple repo with an example of what I am doing at the moment (sans DB persistence for the events published to the topic). Hope it helps someone somewhere:

https://github.com/darbio/redis-topic-queues

[2017-03-08 07:59] manast commented on #70
So one thing that strikes me is why can't you use an extra queue for sending and receiving the events? The worker for such a queue would basically do the same as you are doing on the domains event listener: https://github.com/darbio/redis-topic-queues/blob/master/eventSubscriber.js#L22
But the difference will be that no events will be lost if any of the services goes down...

[2017-03-08 10:05] darbio commented on #70
Because the event subscriber uses a pattern match to catch all the events ('domain.events.*'). Can bull do this too?

[2017-03-08 10:28] manast commented on #70
No it can't. But can't the publisher just add to a queue all the events that start with domain.events instead of emitting an event?

[2017-03-08 11:32] manast commented on #426
Ok, I have created a custom bull-redlock package and fixed one last issue. The queue works pretty well now without leaks. I will make a new release in the following hours.

[2017-03-08 11:44] alecl commented on #453
@manast Any chance failedReason and stacktrace can be added to the failed event in this upcoming release?

[2017-03-08 12:31] manast commented on #453
It will need to go in the next release since the memory leak is a high prio issue that needs resolution.

[2017-03-08 12:35] #426 closed

[2017-03-08 12:40] #244 closed

[2017-03-08 15:22] manast commented on #322
As far as I can see the race condition is still there. I will try to find a solution for this.

[2017-03-08 20:31] darbio commented on #70
I'll have a play today. The way I can see it happening is how you described:

Domain events go to a queue called 'domain.events' which listens for all events. The attached worker process then works in the same way.

Should work - I'll update the example.

[2017-03-08 23:19] darbio commented on #70
Updated the example repo. It no longer uses NRP and only uses Bull to provide the topic. Thanks for the peer review @manast 👍

[2017-03-09 14:54] jeltok commented on #426
Thanks a lot!!! Looks much better now :-)

![image](https://cloud.githubusercontent.com/assets/1056801/23755464/68158a48-04ae-11e7-9c84-4b03059d5227.png)

[2017-03-09 15:03] mdemri opened #463 "Too many ZREMs since upgrading to 2.2.2"
We've got hundreds of ZREM commands in bull objects..
Since we've upgraded to 2.2.2 (from 2.1.2)

9074997.036956 [0 52.19.113.23:49904] "zrem" "bull:stlr:s:campaigns:inbox:priority" "249"
9074997.036956 [0 52.19.113.23:49904] "zrem" "bull:stlr:s:campaigns:inbox:priority" "249"
9074997.036956 [0 52.19.113.23:49904] "zrem" "bull:stlr:s:campaigns:inbox:priority" "250"
9074997.036956 [0 52.19.113.23:4

[2017-03-09 15:12] sloops77 commented on #463
HI - i work with mdemri.
More info:
* We dont use priority queues at all
* Looks related to the code in queue.js:804

[2017-03-09 15:15] manast commented on #463
It is correct that we issue an extra zrem, since it is currently impossible to know if jobs have priorities or not we just remove them, this should not affect performance in any way since the zset is empty.

[2017-03-09 15:21] sloops77 commented on #463
it seems to have made our redis instance perform poorly

<img width="1123" alt="screen shot 2017-03-09 at 17 19 14" src="https://cloud.githubusercontent.com/assets/4784403/23756564/c470f83e-04ec-11e7-8735-d32c4d6aa682.png">
<img width="1162" alt="screen shot 2017-03-09 at 17 19 06" src="https://cloud.githubusercontent.com/assets/4784403/23756565/c475be8c-04ec-11e7-86e5-0fc777c19ffc.png">

[2017-03-09 16:21] manast commented on #463
hmm, in that case it cannot come from https://github.com/OptimalBits/bull/blob/master/lib/queue.js#L804 since that is just issued as a command, not inside any script.

[2017-03-09 17:47] mdemri commented on #463
I've downgraded bull to 2.12 and this issue stopped happening

[2017-03-09 22:29] ryanmills commented on #463
Hey @sloops77 -- What are you using to generate those redis performance graphs?

[2017-03-09 22:31] ryanmills commented on #451
+1 on ability to customize options including long job timeouts

[2017-03-10 08:41] sloops77 commented on #463
http://www.redisgreen.net/

[2017-03-10 08:52] manast commented on #463
@mdemri I just wondering, are you getting more ZREM calls than jobs processed? because it should be 1 ZREM call per job that starts to be processed by the queue. That should be normal and not create any major performance impact.

[2017-03-11 14:31] manast commented on #190
I think the best solution is to keep the elements in a ZSET instead with the jobId or the timestamp as score. Then we get the best of two worlds. We can check in O(1) if a job is in a given set, and we can also return the elements in ranges to support pagination, etc.

[2017-03-12 14:05] mdemri commented on #463
@manast I'm pretty sure i have more ZREMs than jobs processed.

The ZREMs made the difference between working environment and non working environment (2.2.2 vs 2.1.2)

[2017-03-12 15:48] alecl commented on #427
@manast It would be handy to be able to attach handlers for ioredis events like error and reconnecting for example. I suspect there are cases where a Redis error can occur but it doesn't go into the Bull errors handler. I'm running into something like that that but having trouble repeating it enough to figure it out.

[2017-03-12 15:57] manast commented on #463
@mdemri can you get the full ZREM command including its parameters that is being issued so many times?

[2017-03-12 18:19] manast opened #464 "[Feature] Support for defining names for jobs"
It should be useful to be able to name jobs, this is particularly good if a queue is  being used for different types of jobs, such as a media processor.

[2017-03-12 20:16] manast commented on #463
@mdemri ok I assume they are these ones:
[code]
These ZREMs can only be executed once per job, unless the job is failing and being retried. At least by examining the code and also I am not able to reproduce it myself. If you could write a simple test that reproduces it I can take a deeper look at it.

[2017-03-12 20:39] manast commented on #394
The proposal I have is that we remove the last parameter "isGlobal", and instead global events will be prefixed with 'global:'. So if you listen to 'global:completed' you listen to all completed events in that queue, but if you only listen to 'completed' you will only receive the events for that worker. What do you think?

[2017-03-12 20:57] oliverwoodings commented on #394
Would a node that created an event emit both a non global and a global
event?

On 12 Mar 2017 20:39, "Manuel Astudillo" <notifications@github.com> wrote:

[2017-03-12 22:49] manast commented on #394
Yes, the workers will always emit global events. This could be configured in the future to save resources if not needed.

[2017-03-13 07:34] #394 closed

[2017-03-13 20:24] manast commented on #273
This issue seems to have been fixed some time ago. Reopen if you can still reproduce it.

[2017-03-13 20:24] #273 closed

[2017-03-13 21:29] #449 closed

[2017-03-13 21:36] manast commented on #453
Actually, I am seeing that the event 'failed' is returning both the job and the error object that was thrown when the job failed. This error includes the "reason" and the stacktrace. Is it there any other thing you need?

[2017-03-14 02:56] ianstormtaylor opened #465 "support for async/await?"
Right now it seems like `async/await` is supported for use in `process()`, but if an `await`'d function throws an error, then the whole thing errors with:

[code]

Am I doing something wrong, or is this a bug?

[2017-03-14 07:48] manast commented on #465
Can you provide code that reproduces the error?

[2017-03-14 15:42] manast commented on #453
Please reopen if needed.

[2017-03-14 15:42] #453 closed

[2017-03-14 18:09] manast commented on #465
I will take a look at it anyways, I want to understand the reason for the warning

[2017-03-15 12:47] raminious commented on #465
@ianstormtaylor
please change
[code]

to

[code]
and check again.
I experienced this issue with babel.

[2017-03-15 20:04] #465 closed

[2017-03-15 22:46] ianstormtaylor commented on #465
@raminious I'm not sure what you mean, did you mean to say "think" instead of "doubt"?

[2017-03-16 00:07] ianstormtaylor commented on #246
Just ran into this same issue on Heroku. Is this already in the current version? If not, any idea when it will land? I can't tell if it already did or not because the past issues about it are all closed?

Or is there a workaround? I feel like this means I need use Kue instead... which is sad.

[2017-03-16 03:26] alecl commented on #453
Confirmed. This is fine.

[2017-03-16 10:34] manast commented on #246
@ianstormtaylor I can work on a fix but I need to know what is the requirement. Is it to be able to reuse the same redis connection for different queues, meaning that you have several workers in the same nodejs process reusing connection, or is it to reduce the number of connections used for every worker?
Reusing clients should not be very difficult to fix, on the other hand reducing connections i

[2017-03-16 10:34] raminious commented on #465
@ianstormtaylor I doubt it, because I'm not sure 100%.
Btw please see this  eslint-plugin-babel/issues/8 for more information

[2017-03-16 12:07] alecl opened #466 "bug in keyprefix support"
If I add a keyPrefix in the redis options the jobs are named correctly but the key prefix is doubled for the queues and other keys. I am trying to use a keyPrefix to have multiple non-production environments on the same redis server via a keyPrefix to distinguish them. I cannot use different database id's in redis as RedisLabs doesn't support that.

[code]

**Redis Keys**
[code]

[2017-03-16 12:55] manast commented on #466
Check this out: https://github.com/OptimalBits/bull/issues/305
There is a workaround for this, it was a bug introduced with the upgrade to ioredis.

[2017-03-16 18:50] ianstormtaylor commented on #246
Hey @manast, thanks for the reply!

From what I understand, reusing the same Redis connection for different queues would solve the problem. It sounds like that would mean that all queues created in a node process only ever take up 3 connections—2 would be even better!

Right now Heroku (and presumably other PaaS) limits the amount of connections that Redis can open based on your plan type:

[code]

[2017-03-16 18:52] n3trino opened #467 "High memory usage"
Hello i am using bull with node v6.9.1 and pm2 v.2.4.2. When i upgraded to latest bull version (2.2.3) i saw that memory usage went to 1.5Gb in a development server which most of the time is idle. I reverted bull to version 2.1.2 and the problem disappeared.

Can you please let me know what you need from my side to find out why this happens?

[2017-03-16 19:44] ianstormtaylor commented on #246
@manast also I just realized that the problem cascades, because of the way [Toureiro](https://github.com/Epharmix/Toureiro/blob/master/lib/models/job.js#L14) is architected, whenever you view a job in the interface is opens up more connections, so there's yet another multiplier! Right now trying to visit the Toureiro interface crashes my Heroku Redis instance.

[2017-03-16 19:51] manast commented on #246
@ianstormtaylor ok I see where you are going. Currently, and I mean theoretically, you could reuse 2 of the three connections. 1 connection is being used in block mode, which means it cannot be reused. This means that you will always need at least 1 connection per worker and then 2 connections that can be reused by the other workers assuming that they are in the same nodejs process. I will work a

[2017-03-16 19:55] manast commented on #467
1.5Gb sounds like quite a lot. We had a memory leak that was fixed in 2.2.3. see this issue: https://github.com/OptimalBits/bull/issues/426
But this was a leak making the memory usage grow over time. How is your scenario? does the memory usage grow immediately when the queue starts? can you make a reproducible test for this?

[2017-03-16 20:24] ianstormtaylor commented on #246
@manast just to make sure I understand. As I see it right now the system requires:

- `3 connections` per queue.

And it sounds like with the changes, the lowest it can get to is:

- `2 connections` per process.
- `1 connection` per queue.

Is that true?

Such that my situation would go from being `3 + 3 + 3 + 3 + 3*n = 21`, to `3 + 3 + 2 + n = 13`?

[2017-03-16 20:35] manast commented on #246
I think you got the math right :). You can now update to vesion 2.2.4 and try the connection reuse to see if theory matches practice.
Example:
[code]

[2017-03-16 21:15] ianstormtaylor commented on #246
Thanks @manast for the quick fix! That definitely helped! Locally, it reduced my usage from `26` to `18` connections. (Slightly different environment from staging/production, but good!)

Is that the theoretical minimum? Or did you say that it's possible to reduce the `2 connections` required per process to one?

Also, I was researching Kue and came across this thread: https://github.com/Automattic

[2017-03-16 21:17] ianstormtaylor commented on #246
Although sadly I think Toureiro is still going to be unusable, since it's architected in a pretty bad way that means every time you change queues in the interface you're opening more connections, and currently it does no pooling.

[2017-03-16 21:28] manast commented on #246
Maybe https://github.com/ShaneK/Matador works better for you.

Regarding reducing even more the number of connections. I have a fix planed that will reduce one connection when you use a pure worker (i.e. a worker only using the process method). So that will mean 1 connection per process and 1 per queue.

[2017-03-17 09:06] n3trino commented on #467
Same here the memory grows over time. I will try the 2.2.4 version and i will let you know

[2017-03-17 11:35] manast commented on #467
can you write a minimal piece of code that reproduces this so that I can check it locally?

[2017-03-17 11:38] alecl commented on #466
I'm not sure I understand the workaround. I've tried both keyPrefix and prefix and the rest is the same.

[2017-03-17 13:47] n3trino commented on #467
@manast it will try so as i am not expert in nodejs. One interesting thing, the issue appears on v6.10.0 nodejs. I installed v7 nodejs and i think the problem disappeared.

[2017-03-17 18:46] #466 closed

[2017-03-17 18:49] manast commented on #467
@n3trino that is really strange actually...

[2017-03-17 18:55] manast commented on #246
I will close this issue since I considered it fixed, reopen if needed.

[2017-03-17 18:55] #246 closed

[2017-03-19 12:15] n3trino commented on #467
@manast I managed to get memory heap snapshots. I couldn't figure out what's wrong. You can [downloaded them](https://www.dropbox.com/s/7z5jmhgz3vx41da/memoryheap.zip?dl=0) from here and maybe you can figure out.

[2017-03-20 22:54] manast commented on #462
Fixed 1c2c1d43374b9b2cb7e9bb9fad7a29c12c8c7a79

[2017-03-20 22:54] #462 closed

[2017-03-21 00:01] lpgeiger opened #468 "DOCS: any benchmarks?"
I see an interesting claim about being the fastest queue. :)
Here's the only benchmark I could find: https://github.com/LewisJEllis/bee-queue/issues/50
Would be nice to compare to Kue and Bee-queue.

The latter has some benchmarks that seem out of date: https://github.com/LewisJEllis/bee-queue/tree/master/benchmark

[2017-03-21 06:56] LegNeato commented on #465
FWIW I am using bull with async/await and haven't seen any issues. Also using arrow functions

[2017-03-21 07:53] manast commented on #468
They are out of date, and where not updated after my request, but at least they do not claim being the fastest anymore :). I may add a benchmark that can be kept up-to-date to guarantee that the performance is not lost as we add/improve features un bull.

[2017-03-21 09:36] n3trino commented on #467
@manast did have a chance to see the memory heapshots? if so, did you figure out what wrong?

[2017-03-21 10:55] jahraphael opened #469 "Error processing job: Error: Missing Job 2649944 when trying to move from active to undefined"
Hi there,

I'm running Bull across about 30 containers each running a single queue consumer process with `concurrency` = 2, and I seem to encounter an occasional problem where my logs start to get spammed with the error message below.

It seems like a lot of job processing still proceeds, but these errors continue for some period of time (hours?), then things will subside again.

Error message:

[

[2017-03-21 11:02] jahraphael commented on #469
I just noticed a bug where our main control instance was still on a very old version of Bull, so I am going to close this issue for now while I re-test after fixing this. If it occurs again I will raise the issue again.

[2017-03-21 11:02] #469 closed

[2017-03-21 11:48] manast commented on #469
Please let me know if the issue happens again with the newer bull worker.

[2017-03-21 11:59] manast commented on #467
I checked the snapshots but I could not get any valuable information. Best would be to get a minimal test case that reproduces the issue, so I can try to find where the root of the leak is.

[2017-03-21 13:26] keyscores commented on #468
As a suggestion you could take the benchmark code at bee-queue and run it
on your CI server after the unit tests are run. It would be a good way to
make profiling Bull's performance open to the community.

[2017-03-21 16:20] manast commented on #252
I would like to revisit this feature. Basically I think a cron like behaviour is quite useful, and the patten explained above would work, but it is limited to just one client controlling the crons, and it lacks robustness in the case of failure.
I would like to propose a feature that is scalable, i.e. you can have many workers configured according to a cron job, so if any dies, the cron jobs will

[2017-03-22 08:30] manast commented on #340
Note to self: Although internally this will be implemented as parent-child relationship, I think the API should expose this functionality as a process that is divided in steps.

[2017-03-23 00:07] grantcarthew commented on #340
Hi @manast.

I've been lurking on your project for a while now since I built [rethinkdb-job-queue](https://www.npmjs.com/package/rethinkdb-job-queue). I'm also watching [Kue](https://github.com/Automattic/kue) and [bee-queue](https://github.com/LewisJEllis/bee-queue). I've picked up some ideas from you and the others.

I have had a couple of people ask about complex job processing and documented m

[2017-03-24 09:09] manast commented on #464
This can be done by allowing defining multiple process functions for a given queue. It could even be done without breaking backwards compatibility:
[code]

[2017-03-24 09:13] manast commented on #422
Fixed in 03834c580d72031fd46d1db8498da10309dee029

[2017-03-24 09:13] #422 closed

[2017-03-24 09:14] manast commented on #287
Priorities are now supported on the standard queue and the priority queue since been deprecated.

[2017-03-24 09:14] #287 closed

[2017-03-24 09:23] manast commented on #252
Pseudocode:

1) define a repeatable job with ```queue.schedule(period, callback)```
2) check if schedule unique key exists.
  2a) if  key does *not* exist, create schedule key with expiration time ```next(period)``` add job to the queue as LIFO (so it starts as quickly as possible).
  2b) if key does exists, get its TTL and set a timer that ends after TTL (or a bit earlier to compensate for latenc

[2017-03-27 22:41] zhaohanweng commented on #412
are the jobs properly resolved? eg. called jobDone()? or Promise.resolve() at the end of process?

[2017-03-28 12:02] n3trino commented on #408
@manast any plan to implement this? I think it would be very helpful addition.

[2017-03-28 12:05] n3trino commented on #467
@manast i figure out that running my node app + bull in development environment it creates this high memory/cpu situation. In production environment it works like a charm. Is there anything special happening in Bull when it runs at development environment?

[2017-03-28 12:08] NikosEfthias opened #470 "Cannot convert object to primitive value error"
node version `7.7.2`
bull version `2.2.5`
redis version `Redis 3.2.8 (00000000/0) 64 bit`
code sample
[code]
![](https://ww3.sinaimg.cn/large/006tNbRwgy1fe2t7ng6luj31c00f8myc.jpg)

So this is the situation i dont think i am doing something wrong actually it is the exact same situation as in the examples given in the readme. q is a string above you can check console log before it fails.

[2017-03-28 13:03] NikosEfthias commented on #470
i used the wrong constant it is totally my mistake i used q instead of id in the example above

[2017-03-28 13:03] #470 closed

[2017-03-28 13:17] NikosEfthias opened #471 "queue works only one time when used with another queue for dublex communication"
i have a server and socket when user connects ws server opens a new queue to receive and another queue to send response back and on the api side one queue sends job to the socket server and waits for the reply then send the response to the user back. However this scenario works only once , when i send request second time it just hangs untill timeout
here is my socket server

[code]

[code]

[2017-03-28 14:25] manast commented on #467
There is nothing different that I am aware of, at least in bull's code.

[2017-03-28 14:52] manast commented on #471
I am not sure what the problem could be, but in this case:
[code]
if *msg.data.id != corrId* the job will never be processed and the queue will not advance. Furthermore If you want to create a new queue per request I recommend you that you reuse the connection to  redis, you can find information on how to do that in the README.

[2017-03-28 16:04] NikosEfthias commented on #471
@manast this is for just test purpose thats why i dont that much care about reusing connections here i especially did == rather than != because there has to be a spawner of every request and that should handle the done-reply .

There's one part i dont quite understand with the structure though, This structure i made works nice with event based aproach because all the event handlers are run in ever

[2017-03-28 18:28] NikosEfthias commented on #471
for horizontal scaling nginx with iphash ensures that the same user will hit the same instance always so on that im totally relying on nginx and uuid @manast

[2017-03-29 01:24] ferronrsmith opened #473 "Removing active/running jobs"
Tried using the following to remove an active job. Is there a better way to do this ? I am still seeing the job in redis

[code]

[2017-03-29 06:26] manast commented on #473
The code seems to be correct. If you can write a test case that fails I can look into it.

[2017-03-29 07:05] NikosEfthias opened #474 "queue processor doe not lock on multi connections"
[code]

I have a code looks like this so for the same user `q["id"]` the queue should be processed only by one processor however if the user is connected from 2 tabs in the browser it starts to process 2 jobs at a time
![](https://ww2.sinaimg.cn/large/006tNbRwgy1fe3q2rvx5fj31kw07gmzp.jpg)
as you can see in the photo there are 3 users connected and it processes 3 at a time instead of serializing th

[2017-03-29 07:12] manast commented on #474
you seem to be using a queue per user. Queues are independent from each other and therefore executes in parallel.

[2017-03-29 07:13] NikosEfthias commented on #474
is there any locking mechanism that I can implement such as `queue.isProcessing` or `queue.isLocked` in order to prevent the other processors

[2017-03-29 07:15] ferronrsmith commented on #473
Ok will do

[2017-03-29 07:19] NikosEfthias commented on #400
#474 please check this out im trying to implement something similar to rpc

[2017-03-29 07:19] manast commented on #474
The only way to guarantee order is having just one queue. Your alternatives are waiting till the named process function support is merged or that you define one large process function that “switches” behaviour depending on some job.data property that you define when adding jobs to the queue.

[2017-03-29 07:25] NikosEfthias commented on #474
i found my way out by creating a local locks array if the id is already in there the process function is not run and i clean it up in the end of the queue or error

[2017-03-29 07:25] #474 closed

[2017-03-29 07:39] NikosEfthias commented on #474
here is the pattern i used
[code]

[2017-03-29 08:34] manast commented on #474
instead of an array for locks I would suggest to use a object, since the current test (O(n)) can become slow if you have many clients...

[2017-03-29 08:40] NikosEfthias commented on #474
I see, thank you now I'm upgrading array to an object.

[2017-03-29 08:47] NikosEfthias commented on #474
before i made a similar task runner in series. I used redis lists to do tasks (`rpush and lpop`) in my code i was registering a processor with a global lock and on every request a new processor was checking whether an active processor is working on the queue at the moment if not it started processing otherwise it was just returning. So in my case i was checking queue status on every request  but i

[2017-03-29 08:49] NikosEfthias commented on #474
I asked this because I noticed that completed event is fired for every single item in the queue so, I cannot rely on that in order to remove the lock in the current scenario the lock is always on but is something happens with the processor will the bull make sure it continues processing or will it just stop ?

[2017-03-29 09:05] manast commented on #474
it will work as long as there is a connection to redis, it will handle autoconnects automatically, etc.

[2017-03-29 09:06] NikosEfthias commented on #474
i see. So can i assume that removing lock on error is safe ?

[2017-03-29 09:07] manast commented on #474
you need to close the queue if you do not want to keep a redis connection for ever.

[2017-03-29 09:09] NikosEfthias commented on #474
i have actually ever-lasting redis connections in my project so i dont think this might be an issue

[2017-03-29 09:27] wal-jawad1 opened #475 "Unable to connect to heroku-redis with redisconfigs.What do I do to get it work."

[2017-03-29 09:29] NikosEfthias opened #476 "Error renewing lock LockError"
`Error renewing lock LockError: Cannot extend lock on resource "bull:58bd19a64df47434492932a0:4:lock" because the lock has already expired.`
i get following error when i run queue with couple of async tasks

[2017-03-29 09:36] NikosEfthias commented on #476
and also the error event is not fired here

[2017-03-29 09:52] manast commented on #475
Can you paste the code you are using for connecting?

[2017-03-29 09:53] manast commented on #476
This happens if you are running a long sync task that is keeping the event loop busy. Your alternatives are to divide the task in smaller chunks or use a thread library where the sync code is run.

[2017-03-29 10:01] NikosEfthias commented on #476
but in the test example i was using timeout which delayed the done callback 3 seconds and i didnt get thie error not its just a couple hundred ms and its giving me this error

[2017-03-29 10:02] wal-jawad1 commented on #475
@manast Here is my code

[code]

[2017-03-29 10:08] manast commented on #476
A timeout does not keep the event loop busy. But you should at least being able to keep the event busy for 5 seconds (although not recommended), which the the lock default duration. Can you post your process function or a small code example that reproduces the issue isolated?

[2017-03-29 10:19] manast commented on #475
Try with this instead:
[code]

[2017-03-29 10:24] wal-jawad1 commented on #475
Tried with this but getting errors on heroku it always links redis with localhost even env variable is showing correct value on heroku when I log that.

[2017-03-29 10:28] NikosEfthias commented on #476
now i noticed when a debugger is attached to the process this error occurs

[2017-03-29 10:30] manast commented on #476
I wish I could reproduce it.

[2017-03-29 10:33] wal-jawad1 commented on #475
@manast Thanks it works now. :+1:

[2017-03-29 10:33] #475 closed

[2017-03-29 12:12] NikosEfthias opened #477 "in too frequent usage queue is handled from the middle"
here i am making couple of requests
![](https://ww1.sinaimg.cn/large/006tNbRwgy1fe3yxskruqj31kw0czdgw.jpg)
as you see it is handled nice in the beginning but after a while some requests just hand some others are handled instead then when it finishes its impossible to use bull anymore even if i delete the items from redis bull does not continue anymore

[2017-03-29 12:39] manast commented on #477
Please provide reproducible code so that I can help you find the issue.

[2017-03-29 12:46] manast commented on #474
instead of calling clean on every complete event, use the removeOnComplete option when adding the job: https://github.com/OptimalBits/bull#add

[2017-03-30 05:59] ferronrsmith commented on #473
It's strange that i tried to release the lock, then delete, but shows errors in my stacktrace

[code]

[2017-03-30 07:30] manast commented on #473
So it means the lock was already released before trying to remove, a (not so elegant) workaround would be:
[code]
Since you do not provide more context, I cannot say why the job would be unlocked in this particular case when you reach the remove call.

[2017-03-30 07:33] manast commented on #473
Does this happens all the time? since releasing the lock and then removing is not performed atomically, there may be another worker trying to lock the job during that small window. In which context are you tying to remove the jobs?

[2017-03-30 09:12] ferronrsmith commented on #473
yea seems to happen all the time for me. I am trying to remove a running job. What happens is there are long running jobs that might get stuck without returning a status, I wrote the above code to allow developers to kill the active job to free the queue.

[2017-03-30 09:39] manast commented on #473
why don't you try job.moveToFailed instead? You can use it giving it a reason as well:

[code]

It seems that the feature that you would like to have is some kind of TTL, where if a job takes more than the given time it is failed automatically. I will consider it for an upcoming release.

[2017-03-30 09:43] manast opened #479 "New feature. Implement Time to live (TTL) for jobs"
When adding jobs to the queue, it should be possible to define a maximum TTL. If the job takes more time to be processed than the TTL, it would be automatically failed.
A few things to consider:
- It may be useful for the job to mark that it is till working on the job properly, to get a TTL extension.
- When a job is failed by force, the queue should notify the worker so that it may have a chance

[2017-03-30 09:43] manast commented on #473
https://github.com/OptimalBits/bull/issues/479

[2017-03-30 11:32] ferronrsmith commented on #473
I do realize that then I moveToFailed, the queue doesn't automatically start pending jobs, is this expected behavior ?

[2017-03-30 19:16] manast opened #480 "[Feature] re-architecting the non-polling mechanism"
today we use the redis command *BRPOPLPUSH*, which allows us to move a job atomically from the wait list to the active list. The advantages are:
- very low latency to start processing a job (with empty queue).
- atomically move a job from one list to another.
- low CPU usage since no polling is required.

However, there are a number of disadvantages which, in my opinion are too much of a burden:
-

[2017-03-31 02:13] #473 closed

[2017-03-31 04:26] bradvogel commented on #480
Big +1 on this.

If we fix this and are finally able to move jobs from to `active` and lock them in a single atomic call (which we can't currently due to https://github.com/OptimalBits/bull/issues/258), we could:
1) greatly simplify checking for stalled jobs. This would allow us to rename `moveUnlockedJobsToWait` back to `checkForStalledJobs` since we won't have to check for Case B here: https://g

[2017-03-31 10:09] manast commented on #480
ok, then I will make it happen :D

[2017-03-31 10:14] manast opened #481 "[Feature] Implement acknowledge mechanism"
Implementing reliable job completion notifications to the producer of jobs is currently possible by using a *producer* queue where the *consumer/worker* puts the results of its processing. However requires boilerplate which should not be needed for such a common case.
Instead we can have an extra option when adding a job, ```acknowledge``` where the producer can specify a results queue, where the

[2017-03-31 10:15] manast commented on #479
Note that we have the timeout option currently, but does address the two issues mentioned above.

[2017-03-31 20:23] woodardj commented on #331
@twang2218 What did you end up doing for this? I'm looking at doing almost exactly the same — I want to pull off `n` jobs from a queue, and do a batch write (in my case to a REST API) for the data in all `n` of those jobs.

[2017-03-31 20:29] woodardj commented on #439
I can make a go of it, but am not super familiar with the environment. Will try. Thanks for building Bull!

[2017-03-31 20:49] grantcarthew commented on #331
Can't you use a parent queue to monitor a child queue? Another option would be to add all the  `n` tasks into one job?

[2017-03-31 21:18] woodardj commented on #331
@grantcarthew The tasks are coming into our service from all over the place (mobile users, web threads, etc.) so I can't really put them all into one job… until it's time to batch them out to this other service (where we're attempting to respect request rate limits). So yeah, a parent-child queue situation is where I think I've landed.

I think I'm just having a hard time getting my head around ho

[2017-03-31 21:37] bradvogel commented on #480
Awesome. What do you think about starting in a new codebase? I think the changes will be substantial enough that it's probably worth starting over fresh and copying over needed code.

[2017-03-31 22:08] manast commented on #480
yeah, it is tempting to start over, but on the other hand, so much development time has been invested already in the current codebase, that starting over would probably require a lot of extra time and effort. I prefer to do incremental improvements, cleaning and refactoring the code, but always having a product in good shape so that it can be released often. Nevertheless, for this feature I will a

[2017-04-01 00:18] jahraphael opened #482 "Error processing job: SyntaxError: Unexpected token u in JSON at position"
Hi there,

I am using Bull 2.6.5 (Redis 3.2.4) and Node 6.9.4 across about 30 containers each running a single queue consumer process with concurrency = 2.

**Problem I'm Running Into**
Over time my queues start to fill up with invalid jobs that Bull does not remove, and I start to see many `Error processing job: SyntaxError: Unexpected token u in JSON at position` errors in the logs:

[code]

Whe

[2017-04-01 03:37] tinybug opened #483 "active priority job auto move to failed when restart worker"
If there is an active priority job in a queue, then I restart the worker one or two times when the job in active state, the job will move to failed,  and the worker's code doesn't run at all. You can reproduce this in the test_queue.js, comment the flush redis code before the test.

[2017-04-01 05:50] grantcarthew commented on #331
I don't know bull queue well sorry. I just watch this queue for help and ideas for my queue: https://github.com/grantcarthew/node-rethinkdb-job-queue

[2017-04-01 09:13] manast commented on #482
Thanks for the report. The first thing I will do is be sure than when this happens the job is failed, so that we do not keep corrupt jobs in the queue. The second part, probably much more difficult is to fix the cause creating this corrupted jobs in the first place.

[2017-04-02 14:13] manast commented on #331
@woodardj the process function can only be called once, you will get an exception otherwise. The reason is that the call to this function just defines the process function for the queue, and only once can be defined at any given time.
Not sure I undertand your requirement, but is it that you want to be able to call queue.add() with an array of jobs so that they are placed faster in the queue than

[2017-04-02 18:03] DevBrent opened #484 "[Question] Lock renewals"
First of all sorry for muddying up the issue tracker, I'll be sure to help close two tickets to make up for this.

**Active & Unlocked -> Queued**
I see the code for stalled jobs and time-renewed locks. I don't see the process for checking the queue for active and unlocked jobs to migrate back into inactive/queued for another job consumer to take up.

Do you know where this code is located so I ca

[2017-04-02 18:11] DevBrent opened #485 "timmerStopped typo"
In Queue.prototype.processJob, the variable timmerStopped should be timerStopped.

[2017-04-02 19:19] manast commented on #484
here comes the answers:
**Active & Unlocked -> Queued**
https://github.com/OptimalBits/bull/blob/master/lib/queue.js#L559
And the timer is started here: _this.startMoveUnlockedJobsToWait();
**Disabling auto-lock renewal**
There is no "public" way to do this, but you can hack around it by setting the ```LOCK_RENEW_TIME``` to infinite, and calling ```moveUnlockedJobsToWait``` manually.

**Lock renew

[2017-04-03 18:48] woodardj commented on #331
@manast The opposite, sort of — I don't need to work every job as it's added, but I want to grab `n` jobs off at a time (or one at a time, and I'll just do that `n` times).

Put another way: Multiple threads/sources are calling `.add` on a queue; instead of using `.process` to register a handler for each one, I want to pop jobs off the queue manually.

I see a few undocumented methods in the code,

[2017-04-04 10:13] raminious opened #486 "timeout option not works as expected"
Hey

[code]

process file
[code]

It throws
[code]
But I expect it fails and doesn't continue after delay. am I right ?

[2017-04-04 11:00] manast commented on #486
not really. There is no way, that I am aware of, where a running function can be "cancelled". What happens is that the job is failed, but whatever is processing in the process function will continue to be executed.

In order to support real cancellation, other more advances approaches are needed, like using threads that can be killed if they exceed a given time etc. Check this issue: https://githu

[2017-04-04 11:40] #486 closed

[2017-04-04 16:00] DevBrent commented on #484
@manast my issue specifically regards the stalled job that is still running (just slowly). #308 has a similar issue, but theirs was resolved by simply not stalling meanwhile based on our legacy code quality I expect some of our jobs to stall, and I'd like to notice that and cancel execution within the job processing code.

I guess I could setup a listener on every worker monitoring for stalled job

[2017-04-04 16:06] DevBrent commented on #479
If there is any progress on notifying the worker from the queue for a graceful shutdown, I'd like to hear about that in #484 for graceful shutdown within stalled jobs.

[2017-04-04 16:12] DevBrent commented on #476
@NikosEfthias The debugger can be expected to slow down the event loop significantly, but 5 second event loop blocks sound a bit excessive. Perhaps you could delay your calls to start processing jobs by a few seconds while the server is initialized to avoid timeouts on startup.

[2017-04-04 16:15] NikosEfthias commented on #471
@manast the problem was somehow if an error is thrown it didn't run the last catch statement of the promise so instead I have added catch after every pipeline and called the done and seems that fixed the problem.

[2017-04-04 16:15] #471 closed

[2017-04-05 22:40] manast opened #487 "Improve README on instructions on how to create queues compatible with cluster"
Since we have many atomic operations that require to work on all the keys used by the queue, the only way to make a bull queue work on a clustered redis environment is to make sure every queue's keys are placed in the same node. It should be as simple as using as queue prefix ```{myprefix}``` instead of the standard ```bull```prefix:

https://redis.io/topics/cluster-spec#keys-hash-tags

[2017-04-06 01:29] jamesearl commented on #412
I've started to experience this as well, however the job doesn't truly fail. What I mean by that is, the work that I wanted to get done is finished in entirety. But because of the error (I think because of the error, anyway), the job is automatically retried, and the second run is guaranteed to error with the following:

[code]

@bradvogel my jobs do typically peg my machine's CPU. But I don't see

[2017-04-06 01:52] bradvogel commented on #412
Can you remove parts of your job processing function until you can get it run successfully? I bet some part (probably near the end of the processing function) is stalling the Javascript event loop and causing Bull's setInterval() call to renew the timer to lag.

[2017-04-06 04:39] jamesearl commented on #412
@bradvogel yep, I reorganized the work into two separate jobs that run sequentially and things are cranking along smoothly now. The CPU is much less taxed, so it seems you were exactly right about the timer latency.

Thanks!

[2017-04-06 09:42] manast opened #488 "[Feature] Support for running jobs in child processes"
Many times, processes are long and synchronous. Currently design does not allow to run these kind of processes properly due to the locking mechanism. However, we can spawn a child process where the job is run instead. If the same child process is reused for every job (and we will need as many child processes as concurrency levels), the overhead will be minimum. Also as an added benefit, if the chi

[2017-04-06 09:54] manast commented on #412
Since this issue seems to be very recurrent, I have added a new feature request that hopefully will solve this problem once and for all: #488

[2017-04-06 13:06] pvraj commented on #479
Hello,
Until this ticket is completed, is there a way you suggest I can prevent jobs that exceed the timeout from still being processed? I tried Bull because the TTL functionality was not working in Kue. Thank you!

[2017-04-06 13:45] manast commented on #479
Not really. In fact this TTL functionality could work really well after #488 is ready, since it will allow us to actually kill the process that has exceeded the TTL really forcing it to stop working. This are pretty high prioritized items so expect them to be released soon.

[2017-04-06 18:03] DevBrent commented on #484
@manast #488 is enticing, but I could effectively stop my own processing with a simple notice or ability to check job.hasLock() intermittently to confirm I'm still ok to keep processing.

The reason would be I might want to gracefully shutdown  e.g. delete temporary files and close database connections.

I don't necessarily need the memory segmentation and overhead of using IPC either. I like the

[2017-04-06 21:29] manast commented on #480
One thing to note is the following: If we aim to support redis replication, for high availability setups, we will need to keep using redlock, which by its nature cannot be atomic. Still we can solve most of the issues with the current implementation by taking the lock *before* moving the job, which is something that cannot be today with the *brpoplpush* command.
I can imagine a solution where redl

[2017-04-06 21:39] #464 closed

[2017-04-07 11:12] manast opened #490 "Images should not be able to be deleted"

[2017-04-07 11:12] #490 closed

[2017-04-11 15:14] Floby commented on #397
+1

[2017-04-11 16:52] manast commented on #397
@Floby Are you still getting this issue with version 2.2.6?

[2017-04-11 22:45] jwerle commented on #397
please and thank you :]

[2017-04-12 08:24] Floby commented on #397
Let me try

[2017-04-12 08:51] krazyjakee opened #491 "[Feature] Shallow Clean"
I would like to propose a `shallowClean` function that would delete only the values of the job in redis leaving the key intact. This is to prevent duplicate jobs from being created in the future and freeing up memory. It would help when jobs need to hold a historical record of what has been processed so that it can never be processed again in a way that isn't memory intensive.

Functionally it wil

[2017-04-12 08:56] mintzs opened #492 "Add Jobs with PHP, what is delayed "score" for?"
I've been using bull for a week now and came through the need to add jobs from my PHP server (Laravel framework). I wrote a simple class the actually works great (!) for regular and delayed jobs. I just have one lack of understanding at this time and think it might be problematic in some cases I haven't covered yet.

My question is: **what is the "score" for** in the Redis delayed set and how shou

[2017-04-12 17:47] manast commented on #492
The score is a timestamp, where the delayed job should be placed back in the queue and processed as quick as possible after that. There is a small twist to it though, since you could have several jobs placed in the same timestamp, we offset the timestamp with the job counter. You can see the lua code for this in this addJob (https://github.com/OptimalBits/bull/blob/atomic-move/lib/scripts/addJob.l

[2017-04-12 19:24] ianstormtaylor opened #494 "count() and clean() a queue by job name?"
Hey @manast,

The new "job naming" functionality looks awesome! I'd like to use it myself to limit the number of queues created and move all of my workers onto a single queue that uses job naming instead, to reduce the number of connections. Looks very promising!

Is there a way to `count()` and `clean()` by job name? (Maybe `empty()` too?)

It seems like those are the missing pieces to be able to

[2017-04-12 20:43] manast commented on #494
It is possible to implement, but if the queue has many jobs it can become slow, because it requires to examine every job before it can be counted or cleaned. Seems like the current design is not really appropriate for these kinds of operations.